Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

copyright:
  run: pnpm lint:copyright {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm biome format --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm biome lint --write {staged_files}
  stage_fixed: true

test-app: fix console errors (#1014)
  apps/test-app/app/root.tsx
  apps/test-app/app/tests/anchor/index.tsx
  apps/test-app/app/tests/chip/index.tsx
  apps/test-app/app/tests/table/index.tsx
  apps/test-app/app/~utils.tsx
  apps/test-app/public/manifest.json
Due: copyright, format, lint

word change: "geared" → "aimed" (#29)
  src/content/docs/getting-started.md
Due: none

fix inconsistency
  src/content/docs/components/TextBox.md
Due: none

Contribution guide (#30)
  CONTRIBUTING.md
  astro.config.mjs
  src/content/docs/contributing.md
Due: none

rename 13 icons (breaking)
  .changeset/lovely-crabs-glow.md
  packages/icons/icons/add-circle.svg
  packages/icons/icons/add-square.svg
  packages/icons/icons/dismiss.svg
  packages/icons/icons/minus-circle.svg
  packages/icons/icons/minus-square.svg
  packages/icons/icons/minus.svg
  packages/icons/icons/more-horizontal-circle.svg
  packages/icons/icons/more-vertical-circle.svg
  packages/icons/icons/pause-circle.svg
  packages/icons/icons/play-circle.svg
  packages/icons/icons/stop-circle.svg
  packages/icons/icons/zoom-in-circle.svg
  packages/icons/icons/zoom-out-circle.svg
Due: none

update references
  apps/test-app/app/sandbox/index.tsx
Due: copyright, format, lint

rename 13 icons (breaking) (#1015)
  .changeset/lovely-crabs-glow.md
  apps/test-app/app/sandbox/index.tsx
  packages/icons/icons/add-circle.svg
  packages/icons/icons/add-square.svg
  packages/icons/icons/dismiss.svg
  packages/icons/icons/minus-circle.svg
  packages/icons/icons/minus-square.svg
  packages/icons/icons/minus.svg
  packages/icons/icons/more-horizontal-circle.svg
  packages/icons/icons/more-vertical-circle.svg
  packages/icons/icons/pause-circle.svg
  packages/icons/icons/play-circle.svg
  packages/icons/icons/stop-circle.svg
  packages/icons/icons/zoom-in-circle.svg
  packages/icons/icons/zoom-out-circle.svg
Due: copyright, format, lint

test-app: hide `List` page
  apps/test-app/app/index.tsx
  apps/test-app/app/routes.ts
  apps/test-app/app/~meta.ts
Due: copyright, format, lint

test-app: hide `List` page (#1016)
  apps/test-app/app/index.tsx
  apps/test-app/app/routes.ts
  apps/test-app/app/~meta.ts
Due: copyright, format, lint

use subpaths in internal imports
  packages/bricks/src/Anchor.tsx
  packages/bricks/src/Description.tsx
  packages/bricks/src/Field.tsx
  packages/bricks/src/IconButton.internal.tsx
  packages/bricks/src/IconButton.tsx
  packages/bricks/src/Kbd.tsx
  packages/bricks/src/Spinner.tsx
  packages/bricks/src/index.ts
  packages/bricks/src/~utils.Dot.tsx
  packages/structures/src/TreeItem.tsx
  packages/structures/src/index.ts
Due: copyright, format, lint

Initial commit.
  apps/test-app/app/tests/select/index.tsx
  packages/bricks/src/Select.css
  packages/bricks/src/Select.tsx
Due: copyright, format, lint

aria-labelledby -> aria-describedby
  packages/bricks/src/Select.tsx
Due: copyright, format, lint

docs: fix ARIA use in Select example (#1019)
  packages/bricks/src/Select.tsx
Due: copyright, format, lint

Test images.
  apps/test-app/app/tests/select/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/select/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/select/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/select/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/select/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
Due: none

Changeset.
  .changeset/twelve-buckets-happen.md
Due: none

bump playwright in all places
  .github/workflows/CI.yaml
  apps/test-app/scripts/Dockerfile
Due: none

Select guide using new proposed structure (#32)
  src/content/docs/components/Select.md
  src/examples/Select.variants.tsx
Due: copyright, format, lint

internal: fix `pnpm run test` args
  package.json
Due: format

fix `pnpm run test` args (#1032)
  package.json
Due: format

Initial commit
  .changeset/tired-swans-pump.md
  apps/test-app/app/tests/radio/index.spec.ts-snapshot.-visual-disabled-1-chromium-linux.png
  apps/test-app/app/tests/radio/index.spec.ts-snapshot.-visual-disabled-1-firefox-linux.png
  apps/test-app/app/tests/radio/index.spec.ts-snapshot.-visual-disabled-1-webkit-linux.png
  packages/bricks/src/Checkbox.css
  packages/bricks/src/Radio.css
Due: copyright

Change items type
  .changeset/fluffy-hounds-dress.md
  packages/structures/src/ErrorRegion.tsx
Due: copyright, format, lint

Require aria-label or aria-labelledby prop
  .changeset/orange-geckos-rescue.md
  packages/structures/src/ErrorRegion.tsx
Due: copyright, format, lint

Remove TreeItem subpath
  .changeset/moody-jeans-obey.md
  packages/structures/package.json
Due: format

Omit re-defined render prop in AccordionItemHeadingProps
  packages/structures/src/AccordionItem.tsx
Due: copyright, format, lint

Omit re-defined `render` prop in `AccordionItemHeadingProps` (#1039)
  packages/structures/src/AccordionItem.tsx
Due: copyright, format, lint

Fix hover styling for indeterminate checkbox.
  packages/bricks/src/Checkbox.css
Due: copyright

Change order so aria are grouped together.
  packages/bricks/src/Checkbox.css
Due: copyright

Updated changeset
  .changeset/tired-swans-pump.md
Due: none

Use diff syntax
  .changeset/moody-jeans-obey.md
Due: none

New line in changeset
  .changeset/fluffy-hounds-dress.md
Due: none

Clarify about stability of `aria-label`
  packages/structures/src/ErrorRegion.tsx
Due: copyright, format, lint

Clarify about stability of `aria-labelledby`
  packages/structures/src/ErrorRegion.tsx
Due: copyright, format, lint

Remove `TreeItem` subpath export (#1038)
  .changeset/moody-jeans-obey.md
  packages/structures/package.json
Due: format

Change `items` type of `ErrorRegion.Root` (#1036)
  .changeset/fluffy-hounds-dress.md
  packages/structures/src/ErrorRegion.tsx
Due: copyright, format, lint

Require `aria-label` or `aria-labelledby` prop in `ErrorRegion.Root` (#1037)
  .changeset/orange-geckos-rescue.md
  packages/structures/src/ErrorRegion.tsx
Due: copyright, format, lint

Indeterminate aria cyclic toggle applies to both radio and checkbox.
  packages/bricks/src/Checkbox.css
Due: copyright

Fix `Checkbox` & `Radio` indeterminate states missing hover & disabled visual styling (#1035)
  .changeset/tired-swans-pump.md
  apps/test-app/app/tests/radio/index.spec.ts-snapshot.-visual-disabled-1-chromium-linux.png
  apps/test-app/app/tests/radio/index.spec.ts-snapshot.-visual-disabled-1-firefox-linux.png
  apps/test-app/app/tests/radio/index.spec.ts-snapshot.-visual-disabled-1-webkit-linux.png
  packages/bricks/src/Checkbox.css
  packages/bricks/src/Radio.css
Due: copyright

Radios doc (#37)
  src/content/docs/components/Radio.md
Due: none

Update visuals to match Figma using hover modifier instead of pressed modifier on checked hovered state.
  packages/bricks/src/Checkbox.css
Due: copyright

Add invalid styling to checkbox & radio
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-checkable-controls-1-chromium-linux.png
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-checkable-controls-1-firefox-linux.png
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-checkable-controls-1-webkit-linux.png
  apps/test-app/app/tests/field/index.tsx
  packages/bricks/src/Checkbox.css
Due: copyright, format, lint

Path conditions:
  copyright: any of: *.{js,ts,jsx,tsx,css,html}
  format: any of: *.{js,ts,jsx,tsx,json,jsonc}
  lint: any of: *.{js,ts,jsx,tsx}
