Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    copyright:
      glob: "*.{js,ts,jsx,tsx,css,html}"
      run: pnpm lint:copyright {staged_files} --fix
      stage_fixed: true

    format:
      glob: "*.{js,ts,jsx,tsx,json,jsonc}"
      run: pnpm biome format --write {staged_files}
      stage_fixed: true

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm biome lint --write {staged_files}
      stage_fixed: true

    prettier:
      exclude:
        - "*.{js,ts,jsx,tsx,cjs,cts,mjs,mts,json,jsonc}"
      run: pnpm exec prettier {staged_files} --ignore-unknown --write
      stage_fixed: true

Remove subcomponents
  apps/test-app/app/tests/skeleton/index.tsx
  packages/kiwi-react/src/bricks/Skeleton.tsx
Due: copyright, format, lint

Leftover
  apps/test-app/app/tests/skeleton/index.spec.ts
  packages/kiwi-react/src/bricks/Skeleton.css
  packages/kiwi-react/src/bricks/Skeleton.tsx
Due: copyright, format, lint

Leftover 1
  packages/kiwi-react/src/bricks/Skeleton.tsx
  packages/kiwi-react/src/bricks/index.ts
Due: copyright, format, lint

Leftover 2
  apps/test-app/app/tests/skeleton/index.tsx
Due: copyright, format, lint

Remove test
  apps/test-app/app/tests/skeleton/index.spec.ts
Due: copyright, format, lint

Comment
  packages/kiwi-react/src/bricks/Skeleton.tsx
Due: copyright, format, lint

re-add `icon` prop to `<Tree.Item>`
  apps/test-app/app/sandbox.tsx
  apps/test-app/app/tests/tree/index.tsx
  packages/kiwi-react/src/bricks/TreeItem.tsx
Due: copyright, format, lint

added typography to tokens
  apps/test-app/app/tokens.module.css
  apps/test-app/app/tokens.tsx
  internal/visitors.js
Due: copyright, format, lint

Update `<Badge>` to match Figma mockups (#428)
  apps/test-app/app/tests/badge/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/badge/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/badge/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  packages/kiwi-react/src/bricks/Badge.css
Due: copyright

add `data-has-popover-open` attribute to floating elements' triggers
  packages/kiwi-react/src/bricks/DropdownMenu.tsx
  packages/kiwi-react/src/bricks/Tooltip.tsx
Due: copyright, format, lint

tests
  apps/test-app/app/tests/dropdown-menu/index.spec.ts
  apps/test-app/app/tests/tooltip/index.spec.ts
Due: copyright, format, lint

conditionally render decorations
  packages/kiwi-react/src/bricks/TreeItem.tsx
Due: copyright, format, lint

re-add `icon` prop to `<Tree.Item>` (#429)
  apps/test-app/app/sandbox.tsx
  apps/test-app/app/tests/tree/index.tsx
  packages/kiwi-react/src/bricks/TreeItem.tsx
Due: copyright, format, lint

Long text
  apps/test-app/app/tests/tests.module.css
  apps/test-app/app/~utils.module.css
  apps/test-app/app/~utils.tsx
Due: copyright, format, lint

Suggestions from Mayank.
  apps/test-app/app/tests/progress-bar/index.spec.ts
  apps/test-app/app/tests/progress-bar/index.tsx
Due: copyright, format, lint

Duration and easing static variables.
  packages/kiwi-react/src/bricks/ProgressBar.css
Due: copyright

Add comments to keyframe values.
  packages/kiwi-react/src/bricks/ProgressBar.css
Due: copyright

5.0.0-alpha.9
  packages/kiwi-react/CHANGELOG.md
  packages/kiwi-react/package.json
Due: format

Change track forced-colors value
  apps/test-app/app/tests/progress-bar/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/progress-bar/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  packages/kiwi-react/src/bricks/ProgressBar.css
Due: copyright

Use transform translateX instead of translate.
  packages/kiwi-react/src/bricks/ProgressBar.css
Due: copyright

`Tree.Item`: fix actions getting stuck after click
  packages/kiwi-react/src/bricks/TreeItem.css
Due: copyright

Images
  apps/test-app/app/tests/skeleton/index.spec.ts-snapshot.-visual-1-chromium-linux.png
  apps/test-app/app/tests/skeleton/index.spec.ts-snapshot.-visual-1-firefox-linux.png
  apps/test-app/app/tests/skeleton/index.spec.ts-snapshot.-visual-1-webkit-linux.png
Due: none

fix dropdowns
  packages/kiwi-react/src/bricks/TreeItem.css
Due: copyright

indeterminate animation is static variable.
  packages/kiwi-react/src/bricks/ProgressBar.css
Due: copyright

fix focus timing issue
  packages/kiwi-react/src/bricks/TreeItem.css
Due: copyright

Slow animation after 4 seconds.
  packages/kiwi-react/src/bricks/ProgressBar.css
Due: copyright

Add pause in animation after 4 cycles.
  packages/kiwi-react/src/bricks/ProgressBar.css
Due: copyright

Fix reduced motion animation.
  packages/kiwi-react/src/bricks/ProgressBar.css
Due: copyright

Test images?
  apps/test-app/app/tests/progress-bar/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/progress-bar/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/progress-bar/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/progress-bar/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/progress-bar/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
Due: none

Add `<Skeleton>` component (#377)
  apps/test-app/app/components.ts
  apps/test-app/app/tests/skeleton/index.spec.ts
  apps/test-app/app/tests/skeleton/index.spec.ts-snapshot.-visual-1-chromium-linux.png
  apps/test-app/app/tests/skeleton/index.spec.ts-snapshot.-visual-1-firefox-linux.png
  apps/test-app/app/tests/skeleton/index.spec.ts-snapshot.-visual-1-webkit-linux.png
  apps/test-app/app/tests/skeleton/index.tsx
  packages/kiwi-react/src/bricks/Skeleton.css
  packages/kiwi-react/src/bricks/Skeleton.tsx
  packages/kiwi-react/src/bricks/index.ts
  packages/kiwi-react/src/bricks/styles.css
Due: copyright, format, lint

add `data-has-popover-open` attribute to floating component triggers (#431)
  apps/test-app/app/tests/dropdown-menu/index.spec.ts
  apps/test-app/app/tests/tooltip/index.spec.ts
  packages/kiwi-react/src/bricks/DropdownMenu.tsx
  packages/kiwi-react/src/bricks/Tooltip.tsx
Due: copyright, format, lint

Mistakes were made.
  apps/test-app/app/tests/spinner/index.tsx
Due: copyright, format, lint

rename variable + add comment
  packages/kiwi-react/src/bricks/TreeItem.css
Due: copyright

tests
  apps/test-app/app/tests/tree/index.spec.ts
Due: copyright, format, lint

`Tree.Item`: fix actions visibility behavior (#430)
  apps/test-app/app/tests/tree/index.spec.ts
  packages/kiwi-react/src/bricks/TreeItem.css
Due: copyright, format, lint

Fix Firefox.
  apps/test-app/app/tests/spinner/index.tsx
  packages/kiwi-react/src/bricks/Spinner.css
Due: copyright, format, lint

update all deps
  apps/test-app/package.json
  internal/package.json
  package.json
  packages/kiwi-react/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

Test images.
  apps/test-app/app/tests/spinner/index.spec.ts-snapshot.-visual-1-chromium-linux.png
  apps/test-app/app/tests/spinner/index.spec.ts-snapshot.-visual-1-firefox-linux.png
  apps/test-app/app/tests/spinner/index.spec.ts-snapshot.-visual-1-webkit-linux.png
Due: none

skip keyboard actions test in webkit
  apps/test-app/app/tests/tree/index.spec.ts
Due: copyright, format, lint
