Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

copyright:
  run: pnpm lint:copyright {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm biome format --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm biome lint --write {staged_files}
  stage_fixed: true

lower case
  apps/website/src/content/docs/components/composite/FileUpload.md
Due: none

Add Composite Components structure to site (#1896)
  apps/website/astro.config.mjs
  apps/website/src/components/ExamplePreview.tsx
  apps/website/src/content/docs/components/overview.md
Due: copyright, format, lint

Apply @mayank99 suggestion
  examples/composite/FileUpload.default.tsx
Due: copyright, format, lint

Cleanup
  apps/website/src/content/docs/index.md
Due: none

Remove -webkit-tap-highlight-color
  examples/composite/FileUpload.card.module.css
  examples/composite/FileUpload.card.tsx
  examples/composite/FileUpload.default.module.css
  examples/composite/FileUpload.default.tsx
Due: copyright, format, lint

Remove debugging CSS
  examples/composite/FileUpload.card.module.css
Due: copyright

fix debugMode localStorage persistence
  apps/test-app/app/~settings.tsx
Due: copyright, format, lint

update types
  apps/test-app/app/~settings.tsx
Due: copyright, format, lint

create standalone `/showcase` route in `test-app`
  apps/test-app/app/mui/mui.tsx
  apps/test-app/app/routes.ts
  apps/test-app/app/showcase.module.css
  apps/test-app/app/showcase.tsx
Due: copyright, format, lint

Fix bug
  packages/mui/src/~components/MuiSwitch.css
Due: copyright

Update docs with modifications
  apps/website/src/content/docs/components/mui/Switch.md
Due: none

Describe the type of bug fixes for maintenance mode
  notes/SUPPORT_POLICY.md
Due: none

Apply batched suggestions from code review
  apps/website/src/content/docs/components/composite/ColorPicker.md
Due: none

Add do point for alpha
  apps/website/src/content/docs/components/composite/ColorPicker.md
Due: none

Move to guides
  apps/website/src/content/docs/getting-started/develop.mdx
  apps/website/src/content/docs/guides/build-packages.mdx
Due: none

Update title
  apps/website/src/content/docs/guides/build-packages.mdx
Due: none

Revert d165609 as it did not fix the issue
  examples/composite/FileUpload.card.module.css
  examples/composite/FileUpload.card.tsx
  examples/composite/FileUpload.default.module.css
  examples/composite/FileUpload.default.tsx
Due: copyright, format, lint

Add breadcrumb buttons support
  .changeset/floppy-deserts-type.md
  .changeset/three-oranges-like.md
  apps/website/src/content/docs/components/mui/Breadcrumbs.md
  examples/mui/Breadcrumbs.button.tsx
  packages/mui/src/~components.css
  packages/mui/src/~components/MuiBreadcrumbs.css
  packages/mui/src/~components/MuiLink.css
Due: copyright, format, lint

Nest all changes under separator
  packages/mui/src/~components/MuiBreadcrumbs.css
Due: copyright

Separator min-inline-size
  packages/mui/src/~components/MuiBreadcrumbs.css
Due: copyright

Apply @mayank99 suggestion for font weight on link
  packages/mui/src/~components/MuiLink.css
Due: copyright

Soften recommendation of button vs link
  apps/website/src/content/docs/components/mui/Breadcrumbs.md
Due: none

Add breadcrumbs menu for truncation example
  apps/test-app/app/mui/Breadcrumbs.showcase.tsx
  apps/website/src/content/docs/components/mui/Breadcrumbs.md
  examples/mui/Breadcrumbs.menu.tsx
Due: copyright, format, lint

Add style guide exception to nesting rule (#1894)
  STYLEGUIDE.md
Due: none

Remove Steps
  apps/website/src/content/docs/guides/build-packages.md
Due: none

test-app: fix `debugMode` persistence (#1895)
  apps/test-app/app/~settings.tsx
Due: copyright, format, lint

Remove bolding from summary
  apps/website/src/content/docs/guides/build-packages.md
Due: none

fix heading variants in `slotProps.title.variant`
  packages/mui/src/types.ts
Due: copyright, format, lint

fix `variant` prop in `CardHeader` title
  .changeset/floppy-papayas-sin.md
  packages/mui/src/~components/MuiCard.css
  packages/mui/src/~createTheme.tsx
Due: copyright, format, lint

icons as peer
  apps/website/src/content/docs/guides/build-packages.md
Due: none

Avoid 'shared package' terminology
  apps/website/src/content/docs/guides/build-packages.md
Due: none

Continue using npm add
  apps/website/src/content/docs/guides/build-packages.md
Due: none

change component ids to simple paths
  apps/test-app/app/mui/mui.tsx
  apps/test-app/app/showcase.tsx
Due: copyright, format, lint

add `filter--filled`
  packages/icons/icons/filter.svg
  packages/icons/src/filter.ts
Due: copyright, format, lint

add `star--filled`
  packages/icons/icons/star.svg
  packages/icons/src/star.ts
Due: copyright, format, lint

add `brand-bentley-systems--filled`
  packages/icons/icons/brand-bentley-systems.svg
  packages/icons/src/brand-bentley-systems.ts
Due: copyright, format, lint

docs and changeset
  .changeset/early-seals-thank.md
  packages/icons/README.md
Due: none

add/update 3 icons
  .changeset/dull-moments-share.md
  .changeset/soft-deer-search.md
  packages/icons/icons/access-inherited.svg
  packages/icons/icons/ai-tokens.svg
  packages/icons/icons/lock-unlocked.svg
  packages/icons/src/access-inherited.ts
  packages/icons/src/ai-tokens.ts
Due: copyright, format, lint

Path conditions:
  copyright: any of: *.{js,ts,jsx,tsx,css,html}
  format: any of: *.{js,ts,jsx,tsx,json,jsonc}
  lint: any of: *.{js,ts,jsx,tsx}
