Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

copyright:
  run: pnpm lint:copyright {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm biome format --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm biome lint --write {staged_files}
  stage_fixed: true

Add error, warning, info, success colors in CSS.
  packages/mui/src/~components/MuiCircularProgress.css
  packages/mui/src/~components/MuiLinearProgress.css
Due: copyright

Change thickness to 5
  packages/mui/src/~createTheme.tsx
Due: copyright, format, lint

Use accent base color
  packages/mui/src/~components/MuiCircularProgress.css
  packages/mui/src/~components/MuiLinearProgress.css
Due: copyright

reworded table
  apps/website/src/content/docs/components/stratakit/Tree.md
Due: none

more rewording and aria-multiselectable
  apps/website/src/content/docs/components/stratakit/Tree.md
Due: none

many selectable example updated
  examples/structures/Tree.select-many.tsx
Due: copyright, format, lint

typo
  apps/website/src/content/docs/components/stratakit/Tree.md
Due: none

removed sandbox example
  apps/website/src/content/docs/components/stratakit/Tree.md
Due: none

removed reference
  apps/website/src/content/docs/components/stratakit/Tree.md
Due: none

Fix NativeSelect link
  apps/website/src/content/docs/guides/component-customization.md
Due: none

Update apps/website/src/content/docs/components/stratakit/Tree.md
  apps/website/src/content/docs/components/stratakit/Tree.md
Due: none

links for expanded, onExpandedChange, and aria-multiselectable
  apps/website/src/content/docs/components/stratakit/Tree.md
Due: none

reword of selection behaviour section
  apps/website/src/content/docs/components/stratakit/Tree.md
Due: none

reworded keyboard behaviour part
  apps/website/src/content/docs/components/stratakit/Tree.md
Due: none

Update examples
  examples/structures/Tree.select-many.module.css
  examples/structures/Tree.select-many.tsx
  examples/structures/Tree.select-one.module.css
  examples/structures/Tree.select-one.tsx
Due: copyright, format, lint

Format
  apps/website/src/content/docs/components/stratakit/Tree.md
Due: none

Update Tree.ItemAction description
  apps/website/src/content/docs/components/stratakit/Tree.md
Due: none

Rm reference to de/select-all
  apps/website/src/content/docs/components/stratakit/Tree.md
Due: none

Update selected labels
  apps/website/src/content/docs/components/stratakit/Tree.md
Due: none

Update apps/website/src/content/docs/guides/component-customization.md
  apps/website/src/content/docs/guides/component-customization.md
Due: none

creating custom icons section
  apps/website/src/content/docs/guides/component-customization.md
Due: none

Update test links
  apps/test-app/app/index.tsx
  apps/test-app/app/~navigation.tsx
Due: copyright, format, lint

include private in non-production build
  apps/test-app/app/tests/tests.tsx
Due: copyright, format, lint

remove "Creating custom icons" section
  apps/website/src/content/docs/guides/component-customization.md
Due: none

format
  apps/website/src/content/docs/guides/component-customization.md
Due: none

typo
  apps/website/src/content/docs/guides/component-customization.md
Due: none

Deprecate SvgIcon
  packages/mui/src/types.ts
Due: copyright, format, lint

Remove link that is already in the file
  packages/mui/src/types.ts
Due: copyright, format, lint

Update packages/mui/src/types.ts
  packages/mui/src/types.ts
Due: copyright, format, lint

Add changeset
  .changeset/young-worlds-report.md
Due: none

Oops, that wasn't supposed to be there
  packages/mui/src/~components/MuiLinearProgress.css
Due: copyright

Use inset-block-start, translate, and block-size instead of inset-block for track height
  packages/mui/src/~components/MuiLinearProgress.css
Due: copyright

Use strong color only for primary
  packages/mui/src/~components/MuiLinearProgress.css
Due: copyright

Use strong color only for primary (circular)
  packages/mui/src/~components/MuiCircularProgress.css
Due: copyright

Clean up buffer dashed line
  packages/mui/src/~components/MuiLinearProgress.css
Due: copyright

Use inset-block-start and block-size instead of inset-block for progress-bar2 when variant=buffer height
  packages/mui/src/~components/MuiLinearProgress.css
Due: copyright

Path conditions:
  copyright: any of: *.{js,ts,jsx,tsx,css,html}
  format: any of: *.{js,ts,jsx,tsx,json,jsonc}
  lint: any of: *.{js,ts,jsx,tsx}
