Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

copyright:
  run: pnpm lint:copyright {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm biome format --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm biome lint --write {staged_files}
  stage_fixed: true

Changeset
  .changeset/wild-mails-grin.md
Due: none

`Field.Control`: omit `children` from `render` function
  .changeset/tender-radios-chew.md
  apps/test-app/app/tests/field/index.tsx
  packages/bricks/src/Field.tsx
Due: copyright, format, lint

add 26 new icons
  .changeset/tasty-humans-peel.md
  packages/icons/icons/ai-chat-add.svg
  packages/icons/icons/ai-chat.svg
  packages/icons/icons/area-island-traffic.svg
  packages/icons/icons/area-pond.svg
  packages/icons/icons/brain.svg
  packages/icons/icons/carets-up-down.svg
  packages/icons/icons/dashboard.svg
  packages/icons/icons/dismiss-circle.svg
  packages/icons/icons/dismiss-square.svg
  packages/icons/icons/downloads-view.svg
  packages/icons/icons/license-add.svg
  packages/icons/icons/license-check-in.svg
  packages/icons/icons/license-check-out.svg
  packages/icons/icons/license-download.svg
  packages/icons/icons/license-remove.svg
  packages/icons/icons/parking-row.svg
  packages/icons/icons/password-reset.svg
  packages/icons/icons/portal-connect.svg
  packages/icons/icons/products.svg
  packages/icons/icons/subscriptions.svg
  packages/icons/icons/support.svg
  packages/icons/icons/table-rows-comfortable.svg
  packages/icons/icons/table-rows-compact.svg
  packages/icons/icons/user-active.svg
  packages/icons/icons/user-edit.svg
  packages/icons/icons/user-settings.svg
Due: none

Change :invalid to :user-invalid
  packages/bricks/src/Checkbox.css
Due: copyright

add 26 new icons (#1042)
  .changeset/tasty-humans-peel.md
  packages/icons/icons/ai-chat-add.svg
  packages/icons/icons/ai-chat.svg
  packages/icons/icons/area-island-traffic.svg
  packages/icons/icons/area-pond.svg
  packages/icons/icons/brain.svg
  packages/icons/icons/carets-up-down.svg
  packages/icons/icons/dashboard.svg
  packages/icons/icons/dismiss-circle.svg
  packages/icons/icons/dismiss-square.svg
  packages/icons/icons/downloads-view.svg
  packages/icons/icons/license-add.svg
  packages/icons/icons/license-check-in.svg
  packages/icons/icons/license-check-out.svg
  packages/icons/icons/license-download.svg
  packages/icons/icons/license-remove.svg
  packages/icons/icons/parking-row.svg
  packages/icons/icons/password-reset.svg
  packages/icons/icons/portal-connect.svg
  packages/icons/icons/products.svg
  packages/icons/icons/subscriptions.svg
  packages/icons/icons/support.svg
  packages/icons/icons/table-rows-comfortable.svg
  packages/icons/icons/table-rows-compact.svg
  packages/icons/icons/user-active.svg
  packages/icons/icons/user-edit.svg
  packages/icons/icons/user-settings.svg
Due: none

Border invalid hover removed
  packages/bricks/src/Checkbox.css
Due: copyright

`Field.Control`: omit `children` from `render` function (#1041)
  .changeset/tender-radios-chew.md
  apps/test-app/app/tests/field/index.tsx
  packages/bricks/src/Field.tsx
Due: copyright, format, lint

checked-hover uses glow-strong-hover instead of glow-base-hover.
  packages/bricks/src/Checkbox.css
Due: copyright

IconButton guide (#28)
  src/content/docs/components/IconButton.md
  src/examples/IconButton.tones.tsx
  src/examples/IconButton.toolbar.tsx
Due: copyright, format, lint

Add popover stub.
  apps/test-app/app/tests/popover/index.tsx
  apps/test-app/app/~meta.ts
  packages/bricks/src/Popover.tsx
  packages/bricks/src/index.ts
Due: copyright, format, lint

Add subpath export
  packages/bricks/package.json
Due: format

Heydon/restructure (#35)
  src/content/docs/components/Anchor.md
  src/content/docs/components/Button.md
  src/content/docs/components/Switch.md
  src/content/docs/components/TextBox.md
  src/content/docs/components/Tooltip.md
  src/examples/Anchor.default.tsx
  src/examples/Anchor.external.tsx
  src/examples/Button.icon.tsx
  src/examples/TextBox.textarea.tsx
Due: copyright, format, lint

Initial styling
  packages/bricks/src/Popover.css
  packages/bricks/src/Popover.tsx
  packages/bricks/src/styles.css
Due: copyright, format, lint

Contributing: Guide structure (#38)
  src/content/docs/contributing.md
Due: none

Update example
  apps/test-app/app/tests/popover/index.tsx
Due: copyright, format, lint

Add controlled state
  apps/test-app/app/tests/popover/index.tsx
  packages/bricks/src/Popover.tsx
Due: copyright, format, lint

Move to top-layer
  packages/bricks/src/Popover.tsx
Due: copyright, format, lint

Fix divider
  packages/bricks/src/Popover.css
Due: copyright

Popover dismiss button
  apps/test-app/app/tests/popover/index.tsx
Due: copyright, format, lint

forced-colors mark only applies when checked
  packages/bricks/src/Checkbox.css
Due: copyright

forced-colors mark text border only applies when checked
  packages/bricks/src/Checkbox.css
Due: copyright

Revert 2195679
  packages/bricks/src/Checkbox.css
Due: copyright

Initial commit.
  .changeset/fast-cats-draw.md
  packages/bricks/src/Description.css
Due: copyright

Initial commit.
  .changeset/kind-lies-marry.md
  packages/bricks/src/TextBox.css
Due: copyright

Updated changeset
  .changeset/fast-cats-draw.md
Due: none

update tokens
  .changeset/icy-flowers-start.md
  .changeset/purple-cloths-crash.md
  internal/theme-dark.json
  internal/theme-light.json
Due: format

update references
  packages/bricks/src/Button.css
  packages/bricks/src/Checkbox.css
  packages/bricks/src/Kbd.css
  packages/bricks/src/Switch.css
  packages/bricks/src/TextBox.css
  packages/bricks/src/Tooltip.css
  packages/structures/src/Dialog.css
  packages/structures/src/DropdownMenu.css
  packages/structures/src/Toolbar.css
Due: copyright

Test images.
  apps/test-app/app/tests/text-box/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/text-box/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
Due: none

update tokens (#1057)
  .changeset/icy-flowers-start.md
  .changeset/purple-cloths-crash.md
  internal/theme-dark.json
  internal/theme-light.json
  packages/bricks/src/Button.css
  packages/bricks/src/Checkbox.css
  packages/bricks/src/Kbd.css
  packages/bricks/src/Switch.css
  packages/bricks/src/TextBox.css
  packages/bricks/src/Tooltip.css
  packages/structures/src/Dialog.css
  packages/structures/src/DropdownMenu.css
  packages/structures/src/Toolbar.css
Due: copyright, format

`Icon`: construct full URL from `href`
  .changeset/perky-masks-fold.md
  packages/foundations/src/Icon.tsx
Due: copyright, format, lint

use React Compiler
  .changeset/sweet-clocks-repair.md
  apps/test-app/package.json
  apps/test-app/vite.config.ts
  internal/esbuild-plugins.js
  internal/package.json
  packages/bricks/package.json
  packages/bricks/scripts/build.js
  packages/compat/package.json
  packages/compat/scripts/build.js
  packages/foundations/package.json
  packages/foundations/scripts/build.js
  packages/structures/package.json
  packages/structures/scripts/build.js
  pnpm-lock.yaml
Due: copyright, format, lint

Checkbox doc (#36)
  src/content/docs/components/Checkbox.md
  src/examples/Checkbox.default.tsx
Due: copyright, format, lint

Add nested variant
  apps/test-app/app/tests/popover/index.tsx
Due: copyright, format, lint

`Icon`: construct full URL from `href` (#1027)
  .changeset/perky-masks-fold.md
  packages/foundations/src/Icon.tsx
Due: copyright, format, lint

use React Compiler (#1003)
  .changeset/sweet-clocks-repair.md
  apps/test-app/package.json
  apps/test-app/vite.config.ts
  internal/esbuild-plugins.js
  internal/package.json
  packages/bricks/package.json
  packages/bricks/scripts/build.js
  packages/compat/package.json
  packages/compat/scripts/build.js
  packages/foundations/package.json
  packages/foundations/scripts/build.js
  packages/structures/package.json
  packages/structures/scripts/build.js
  pnpm-lock.yaml
Due: copyright, format, lint

Add invalid styling to `Checkbox` & `Radio` (#1040)
  .changeset/wild-mails-grin.md
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-checkable-controls-1-chromium-linux.png
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-checkable-controls-1-firefox-linux.png
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-checkable-controls-1-webkit-linux.png
  apps/test-app/app/tests/field/index.tsx
  packages/bricks/src/Checkbox.css
Due: copyright, format, lint

Add `forced-colors` styling to `Field.ErrorMessage` (#1056)
  .changeset/fast-cats-draw.md
  packages/bricks/src/Description.css
Due: copyright

Fix improper `forced-colors` styling of `TextBox` (#1058)
  .changeset/kind-lies-marry.md
  apps/test-app/app/tests/text-box/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/text-box/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  packages/bricks/src/TextBox.css
Due: copyright

Portal popover.
  packages/bricks/src/Popover.tsx
Due: copyright, format, lint

Add PortalContext
  packages/bricks/src/Popover.tsx
Due: copyright, format, lint

Path conditions:
  copyright: any of: *.{js,ts,jsx,tsx,css,html}
  format: any of: *.{js,ts,jsx,tsx,json,jsonc}
  lint: any of: *.{js,ts,jsx,tsx}
