Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

copyright:
  run: pnpm lint:copyright {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm biome format --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm biome lint --write {staged_files}
  stage_fixed: true

Initial commit
  .changeset/hungry-snakes-judge.md
  apps/website/src/content/docs/components/mui/Checkbox.md
  packages/mui/src/types.ts
Due: copyright, format, lint

Change from patch to minor
  .changeset/hungry-snakes-judge.md
Due: none

Change deprecation note
  packages/mui/src/types.ts
Due: copyright, format, lint

Initial commit
  .changeset/solid-cars-peel.md
  apps/website/src/content/docs/components/mui/Radio.md
  packages/mui/src/types.ts
Due: copyright, format, lint

Change from patch to minor
  .changeset/solid-cars-peel.md
Due: none

disableRipple boolean instead of RadioProps["disableRipple"]
  packages/mui/src/types.ts
Due: copyright, format, lint

update text to fix merge conflict
  apps/website/src/content/docs/components/mui/Alert.md
Due: none

Add changset
  .changeset/goofy-birds-retire.md
Due: none

Deprecate alert color
  apps/website/src/content/docs/components/mui/Alert.md
  packages/mui/src/types.ts
Due: copyright, format, lint

Deprecate props for Switch
  .changeset/odd-hats-nail.md
  apps/website/src/content/docs/components/mui/Switch.md
  packages/mui/src/types.ts
Due: copyright, format, lint

Change SwitchOwnProps to SwitchProps
  packages/mui/src/types.ts
Due: copyright, format, lint

Changeset downgraded from minor to patch, rephrased.
  .changeset/odd-hats-nail.md
Due: none

disableRipple as undefined boolean
  packages/mui/src/types.ts
Due: copyright, format, lint

Better changeset
  .changeset/odd-hats-nail.md
Due: none

Change from patch to minor
  .changeset/odd-hats-nail.md
Due: none

Align with RadioProps
  packages/mui/src/types.ts
Due: copyright, format, lint

Rm ununsed type
  packages/mui/src/types.ts
Due: copyright, format, lint

Deprecations
  packages/mui/src/types.ts
Due: copyright, format, lint

Strikethrough inherited ButtonBase props
  packages/mui/src/types.ts
Due: copyright, format, lint

Deprecate props from autocomplete
  packages/mui/src/types.ts
Due: copyright, format, lint

Deprecate popover props
  .changeset/eleven-sides-laugh.md
  apps/website/src/content/docs/components/mui/Popover.md
  examples/mui/Popover.default.tsx
  packages/mui/src/types.ts
Due: copyright, format, lint

Deprecate table related props
  .changeset/wet-numbers-jam.md
  apps/website/src/content/docs/components/mui/Table.md
  packages/mui/src/types.ts
Due: copyright, format, lint

Deprecate TableCell.size
  .changeset/wet-numbers-jam.md
  packages/mui/src/types.ts
Due: copyright, format, lint

Update changeset
  .changeset/wet-numbers-jam.md
Due: none

Mark padding as valid
  apps/website/src/content/docs/components/mui/Table.md
  packages/mui/src/types.ts
Due: copyright, format, lint

Initial commit
  .changeset/full-mails-follow.md
  apps/website/src/content/docs/components/mui/LinearProgress.md
  packages/mui/src/types.ts
Due: copyright, format, lint

Remove CSS for info color because value is deprecated
  packages/mui/src/~components/MuiLinearProgress.css
Due: copyright

CircularProgress prop deprecation
  .changeset/seven-nails-stay.md
  .changeset/yummy-regions-pay.md
  apps/website/src/content/docs/components/mui/CircularProgress.md
  packages/mui/src/types.ts
  packages/mui/src/~components/MuiCircularProgress.css
Due: copyright, format, lint

fix lint
  apps/test-app/app/sandbox/index.tsx
  apps/test-app/app/tests/dropdown-menu/index.tsx
  apps/test-app/app/tests/icon-button/index.tsx
  apps/test-app/app/tests/progress-bar/index.tsx
  apps/test-app/app/~navigation.tsx
  apps/test-app/app/~utils.tsx
  examples/mui/Tabs.scrollable.tsx
  packages/structures/src/DropdownMenu.tsx
Due: copyright, format, lint

main ErrorRegion guidance
  apps/website/src/content/docs/components/stratakit/ErrorRegion.md
Due: none

typo
  apps/website/src/content/docs/components/stratakit/ErrorRegion.md
Due: none

removed patterns / platform bar stuff
  apps/website/astro.config.mjs
  apps/website/src/content/docs/patterns/platform-bar.md
Due: none

reverted tree changes
  apps/website/src/content/docs/components/stratakit/Tree.md
Due: none

update TextField styles
  .changeset/ready-owls-brake.md
  packages/mui/src/~components/MuiInput.css
Due: copyright

update Switch styles
  .changeset/curly-points-jam.md
  packages/bricks/src/Switch.css
  packages/mui/src/~components/MuiSwitch.css
Due: copyright

Update docs wording
  apps/website/src/content/docs/components/mui/CircularProgress.md
Due: none

update `--_MuiSwitch-track-border-color`
  .changeset/curly-points-jam.md
  packages/mui/src/~components/MuiSwitch.css
Due: copyright

Update icons table
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

Path conditions:
  copyright: any of: *.{js,ts,jsx,tsx,css,html}
  format: any of: *.{js,ts,jsx,tsx,json,jsonc}
  lint: any of: *.{js,ts,jsx,tsx}
