Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

copyright:
  run: pnpm lint:copyright {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm biome format --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm biome lint --write {staged_files}
  stage_fixed: true

WIP
  apps/test-app/app/tests/dialog/index.tsx
  apps/test-app/app/~meta.ts
  packages/structures/src/Dialog.css
  packages/structures/src/Dialog.tsx
  packages/structures/src/index.ts
  packages/structures/src/styles.css
Due: copyright, format, lint

only `onPointerDown` hack. no `useDeferredValue`
  apps/test-app/app/sandbox/index.tsx
  packages/structures/src/Tabs.css
  packages/structures/src/Tabs.tsx
Due: copyright, format, lint

Dialog.Heading
  apps/test-app/app/tests/dialog/index.tsx
  packages/structures/package.json
  packages/structures/src/Dialog.tsx
  packages/structures/src/index.ts
Due: copyright, format, lint

JS animation only. No `useDeferredValue`.
  packages/structures/src/Tabs.css
  packages/structures/src/Tabs.tsx
Due: copyright, format, lint

Remove unnecessary generic param
  packages/structures/src/TreeItem.tsx
Due: copyright, format, lint

Extract useRenderActions hook.
  packages/structures/src/TreeItem.tsx
Due: copyright, format, lint

Use React.startTransition
  packages/structures/src/TreeItem.tsx
Due: copyright, format, lint

`endIcon` as decoration
  packages/compat/src/ExpandableBlock.tsx
Due: copyright, format, lint

Add DialogDismissButton
  apps/test-app/app/tests/dialog/index.tsx
  packages/structures/src/Dialog.tsx
Due: copyright, format, lint

Close -> Dismiss and customizable label
  packages/structures/src/Dialog.css
  packages/structures/src/Dialog.tsx
Due: copyright, format, lint

Add DialogActions
  apps/test-app/app/tests/dialog/index.tsx
  packages/structures/src/Dialog.css
  packages/structures/src/Dialog.tsx
Due: copyright, format, lint

Update apps/test-app/app/tests/tree/index.spec.ts
  apps/test-app/app/tests/tree/index.spec.ts
Due: copyright, format, lint

Add `inlineActions` prop to `Tree.Item` component (#805)
  .changeset/shiny-lies-slide.md
  apps/test-app/app/sandbox/index.tsx
  apps/test-app/app/tests/tree/index.spec.ts
  apps/test-app/app/tests/tree/index.tsx
  packages/structures/src/TreeItem.tsx
Due: copyright, format, lint

Add DialogContent
  apps/test-app/app/tests/dialog/index.tsx
  packages/structures/src/Dialog.css
  packages/structures/src/Dialog.tsx
Due: copyright, format, lint

Add DialogBackdrop
  apps/test-app/app/tests/dialog/index.tsx
  packages/structures/src/Dialog.css
  packages/structures/src/Dialog.tsx
Due: copyright, format, lint

Expose full backdrop type.
  apps/test-app/app/tests/dialog/index.tsx
  packages/structures/src/Dialog.tsx
Due: copyright, format, lint

fix wireit caching for CSS
  packages/foundations/package.json
Due: format

adjust pr-labels and pr-milestone workflows
  .github/workflows/pr-labels.js
  .github/workflows/pr-milestone.js
Due: copyright, format, lint

adjust pr-labels and pr-milestone workflows (#846)
  .github/workflows/pr-labels.js
  .github/workflows/pr-milestone.js
Due: copyright, format, lint

fix wireit caching for CSS (#845)
  packages/foundations/package.json
Due: format

update hover styling
  packages/structures/src/AccordionItem.css
Due: copyright

make Tab `id` required
  .changeset/mean-weeks-retire.md
  packages/structures/src/Tabs.tsx
Due: copyright, format, lint

add/update 8 icons
  .changeset/mighty-streets-win.md
  packages/icons/icons/drone.svg
  packages/icons/icons/error.svg
  packages/icons/icons/filter.svg
  packages/icons/icons/important.svg
  packages/icons/icons/merge.svg
  packages/icons/icons/regenerate.svg
  packages/icons/icons/reschedule.svg
  packages/icons/icons/warning.svg
Due: none

Comments
  apps/test-app/app/tests/banner/index.spec.ts
  apps/test-app/app/tests/banner/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/banner/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/banner/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/banner/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/banner/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/banner/index.tsx
  packages/structures/src/Banner.tsx
Due: copyright, format, lint

Initial commit.
  .changeset/twelve-kiwis-make.md
  packages/bricks/src/Spinner.css
Due: copyright

Add modal prop
  apps/test-app/app/tests/dialog/index.tsx
  packages/structures/src/Dialog.tsx
Due: copyright, format, lint

Nested dialogs test variant
  apps/test-app/app/tests/dialog/index.tsx
Due: copyright, format, lint

Add DialogDescription
  apps/test-app/app/tests/dialog/index.tsx
  packages/structures/src/Dialog.tsx
Due: copyright, format, lint

Remove test complexity
  apps/test-app/app/tests/banner/index.spec.ts
  apps/test-app/app/tests/banner/index.tsx
Due: copyright, format, lint

Add DialogProvider
  packages/structures/src/Dialog.tsx
Due: copyright, format, lint

Add DialogDisclosure
  apps/test-app/app/tests/dialog/index.tsx
  packages/structures/src/Dialog.tsx
Due: copyright, format, lint

Remove slow keyframe
  packages/bricks/src/Spinner.css
Due: copyright

Add DialogCloseButton
  apps/test-app/app/tests/dialog/index.tsx
  packages/structures/src/Dialog.css
  packages/structures/src/Dialog.tsx
Due: copyright, format, lint

Add controlled test
  apps/test-app/app/tests/dialog/index.tsx
Due: copyright, format, lint

add changeset
  .changeset/stale-toys-sink.md
Due: none

update snapshots
  apps/test-app/app/tests/accordion-item/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/accordion-item/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/accordion-item/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/accordion-item/index.spec.ts-snapshot.-visual-focused-closed-item-1-chromium-linux.png
  apps/test-app/app/tests/accordion-item/index.spec.ts-snapshot.-visual-focused-open-item-1-chromium-linux.png
  apps/test-app/app/tests/accordion-item/index.spec.ts-snapshot.-visual-focused-open-item-1-firefox-linux.png
  apps/test-app/app/tests/accordion-item/index.spec.ts-snapshot.-visual-focused-open-item-1-webkit-linux.png
  apps/test-app/app/tests/accordion-item/index.spec.ts-snapshot.-visual-hovered-closed-item-1-chromium-linux.png
  apps/test-app/app/tests/accordion-item/index.spec.ts-snapshot.-visual-hovered-closed-item-1-webkit-linux.png
  apps/test-app/app/tests/accordion-item/index.spec.ts-snapshot.-visual-hovered-open-item-1-chromium-linux.png
  apps/test-app/app/tests/accordion-item/index.spec.ts-snapshot.-visual-hovered-open-item-1-firefox-linux.png
  apps/test-app/app/tests/accordion-item/index.spec.ts-snapshot.-visual-hovered-open-item-1-webkit-linux.png
Due: none

variable naming + add pressed state
  packages/structures/src/AccordionItem.css
Due: copyright

Update pr-labels.js
  .github/workflows/pr-labels.js
Due: copyright, format, lint

Docs
  packages/structures/src/Dialog.tsx
Due: copyright, format, lint

Use FocusableProps
  packages/structures/src/Dialog.tsx
Due: copyright, format, lint

Path conditions:
  copyright: any of: *.{js,ts,jsx,tsx,css,html}
  format: any of: *.{js,ts,jsx,tsx,json,jsonc}
  lint: any of: *.{js,ts,jsx,tsx}
