Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    copyright:
      glob: "*.{js,ts,jsx,tsx,css,html}"
      run: pnpm lint:copyright {staged_files} --fix
      stage_fixed: true

    format:
      glob: "*.{js,ts,jsx,tsx,json,jsonc}"
      run: pnpm biome format --write {staged_files}
      stage_fixed: true

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm biome lint --write {staged_files}
      stage_fixed: true

    prettier:
      exclude:
        - "*.{js,ts,jsx,tsx,cjs,cts,mjs,mts,json,jsonc}"
      run: pnpm exec prettier {staged_files} --ignore-unknown --write
      stage_fixed: true

fix `lastUpdated` link
  .github/workflows/deploy.yml
Due: none

fix button centering
  src/components/ThemeSwitcher.astro
  src/styles/overrides.css
Due: copyright

Fix ErrorRegion to set aria-labelledby on a section only when label is provided
  .changeset/ready-groups-laugh.md
  apps/test-app/app/tests/error-region/index.spec.ts
  packages/structures/src/ErrorRegion.tsx
Due: copyright, format, lint

set up examples collection
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/ExamplePreview.tsx
  src/components/ThemeProvider.astro
  src/components/ThemeSwitcher.astro
  src/content.config.ts
  src/examples/Button.default.tsx
  src/examples/Switch.default.tsx
  src/overrides.d.ts
  src/pages/examples/[example].astro
  src/pages/examples/index.astro
  tsconfig.json
Due: copyright, format, lint

Anchor (minimum viable doc) (#3)
  src/content/docs/components/Anchor.md
  src/examples/Anchor.default.tsx
Due: copyright, format, lint

`Banner`: react to `tone` changes
  .changeset/flat-forks-poke.md
  packages/structures/src/Banner.tsx
Due: copyright, format, lint

`Banner`: react to `tone` changes (#969)
  .changeset/flat-forks-poke.md
  packages/structures/src/Banner.tsx
Due: copyright, format, lint

Use prop to determine visibility.
  packages/structures/src/ErrorRegion.tsx
Due: copyright, format, lint

Warn about required aria-label and aria-labelledby props
  apps/test-app/app/tests/error-region/index.tsx
  packages/structures/src/ErrorRegion.tsx
Due: copyright, format, lint

Revert "Warn about required aria-label and aria-labelledby props"
  apps/test-app/app/tests/error-region/index.tsx
  packages/structures/src/ErrorRegion.tsx
Due: copyright, format, lint

Revert "Use prop to determine visibility."
  packages/structures/src/ErrorRegion.tsx
Due: copyright, format, lint

Remove getLabelKey util
  apps/test-app/app/compat/tabs.tsx
  packages/compat/src/Tabs.tsx
Due: copyright, format, lint

Remove `getLabelKey` util (#970)
  apps/test-app/app/compat/tabs.tsx
  packages/compat/src/Tabs.tsx
Due: copyright, format, lint

TextBox doc (#10)
  src/content/docs/components/TextBox.md
  src/examples/TextBox.input.tsx
  src/examples/TextBox.textarea.tsx
Due: copyright, format, lint

New image
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-text-controls-1-webkit-linux.png
Due: none

Fix `Field` test image (#974)
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-text-controls-1-webkit-linux.png
Due: none

strip HTML comments
  src/middleware.ts
Due: copyright, format, lint

create `::example` directive for embeds
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/ExampleEmbed.astro
  src/components/Head.astro
  src/content/docs/components/Button.md
  src/examples/Button.tones.tsx
  src/examples/Button.variants.tsx
  src/pages/examples/[example].astro
  src/styles/global.css
Due: copyright, format, lint

fix list styling
  src/styles/overrides.css
Due: copyright

consistency nits
  src/content/docs/components/Button.md
  src/content/docs/components/Switch.md
  src/content/docs/components/TextBox.md
  src/examples/Button.default.tsx
Due: copyright, format, lint

update URLs
  src/content/docs/components/Anchor.md
  src/examples/Anchor.default.tsx
Due: copyright, format, lint

Fix `ErrorRegion` when `label={undefined}` (#963)
  .changeset/ready-groups-laugh.md
  apps/test-app/app/tests/error-region/index.spec.ts
  packages/structures/src/ErrorRegion.tsx
Due: copyright, format, lint

`NavigationRail`: allow controlling expanded state
  .changeset/sharp-seas-bow.md
  .changeset/twelve-paths-yawn.md
  apps/test-app/app/tests/navigation-rail/index.spec.ts
  apps/test-app/app/tests/navigation-rail/index.tsx
  packages/structures/src/NavigationRail.tsx
Due: copyright, format, lint

fix controlled state
  apps/test-app/app/tests/navigation-rail/index.tsx
  packages/structures/src/NavigationRail.tsx
Due: copyright, format, lint

consistent attributes
  packages/structures/src/NavigationRail.css
  packages/structures/src/NavigationRail.tsx
Due: copyright, format, lint

convert lastUpdated date into commit history URL
  astro.config.mjs
  src/components/LastUpdated.astro
Due: none

update tests
  apps/test-app/app/tests/navigation-rail/index.spec.ts
  apps/test-app/app/tests/navigation-rail/index.tsx
Due: copyright, format, lint

`NavigationRail`: allow controlling expanded state (#962)
  .changeset/sharp-seas-bow.md
  .changeset/twelve-paths-yawn.md
  apps/test-app/app/tests/navigation-rail/index.spec.ts
  apps/test-app/app/tests/navigation-rail/index.tsx
  packages/structures/src/NavigationRail.css
  packages/structures/src/NavigationRail.tsx
Due: copyright, format, lint

print warning
  .changeset/four-garlics-send.md
  apps/test-app/app/tests/error-region/index.tsx
  packages/structures/src/ErrorRegion.tsx
Due: copyright, format, lint

print warning
  .changeset/lovely-snails-relax.md
  packages/structures/src/ErrorRegion.tsx
Due: copyright, format, lint

Composition guide (#16)
  astro.config.mjs
  src/components/PageTitle.astro
  src/content.config.ts
  src/content/docs/components/Anchor.md
  src/content/docs/components/Button.md
  src/content/docs/components/Switch.md
  src/content/docs/components/TextBox.md
  src/content/docs/guides/composition.md
  src/styles/overrides.css
Due: copyright, format, lint

changed figma component link for switch and button (#18)
  src/content/docs/components/Button.md
  src/content/docs/components/Switch.md
Due: none

changed figma component link for anchor and textbox (#19)
  src/content/docs/components/Anchor.md
  src/content/docs/components/TextBox.md
Due: none

remnants of #16
  src/components/Head.astro
  src/components/PageTitle.astro
  src/components/custom-elements.astro
  src/components/status-badge.astro
  src/content/docs/guides/composition.md
  src/styles/overrides.css
Due: copyright

fix typo
  packages/structures/src/ErrorRegion.tsx
Due: copyright, format, lint

Print warning if `ErrorRegion` is not labelled (#978)
  .changeset/four-garlics-send.md
  apps/test-app/app/tests/error-region/index.tsx
  packages/structures/src/ErrorRegion.tsx
Due: copyright, format, lint

revert type
  packages/structures/src/ErrorRegion.tsx
Due: copyright, format, lint

`ErrorRegion`: Use `items` prop to determine visibility (#979)
  .changeset/lovely-snails-relax.md
  packages/structures/src/ErrorRegion.tsx
Due: copyright, format, lint

add `overflow-wrap` to `Tooltip`
  .changeset/all-drinks-clean.md
  apps/test-app/app/tests/tooltip/index.spec.ts-snapshot.-visual-tooltip-content-with-a-single-line-1-chromium-linux.png
  apps/test-app/app/tests/tooltip/index.spec.ts-snapshot.-visual-tooltip-content-with-a-single-line-1-firefox-linux.png
  apps/test-app/app/tests/tooltip/index.spec.ts-snapshot.-visual-tooltip-content-with-a-single-line-1-webkit-linux.png
  apps/test-app/app/tests/tooltip/index.spec.ts-snapshot.-visual-tooltip-content-with-multiple-lines-1-chromium-linux.png
  apps/test-app/app/tests/tooltip/index.spec.ts-snapshot.-visual-tooltip-content-with-multiple-lines-1-firefox-linux.png
  apps/test-app/app/tests/tooltip/index.spec.ts-snapshot.-visual-tooltip-content-with-multiple-lines-1-webkit-linux.png
  apps/test-app/app/tests/tooltip/index.tsx
  packages/bricks/src/Tooltip.css
Due: copyright, format, lint

add `overflow-wrap` to `Tooltip` (#975)
  .changeset/all-drinks-clean.md
  apps/test-app/app/tests/tooltip/index.spec.ts-snapshot.-visual-tooltip-content-with-a-single-line-1-chromium-linux.png
  apps/test-app/app/tests/tooltip/index.spec.ts-snapshot.-visual-tooltip-content-with-a-single-line-1-firefox-linux.png
  apps/test-app/app/tests/tooltip/index.spec.ts-snapshot.-visual-tooltip-content-with-a-single-line-1-webkit-linux.png
  apps/test-app/app/tests/tooltip/index.spec.ts-snapshot.-visual-tooltip-content-with-multiple-lines-1-chromium-linux.png
  apps/test-app/app/tests/tooltip/index.spec.ts-snapshot.-visual-tooltip-content-with-multiple-lines-1-firefox-linux.png
  apps/test-app/app/tests/tooltip/index.spec.ts-snapshot.-visual-tooltip-content-with-multiple-lines-1-webkit-linux.png
  apps/test-app/app/tests/tooltip/index.tsx
  packages/bricks/src/Tooltip.css
Due: copyright, format, lint
