Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    copyright:
      glob: "*.{js,ts,jsx,tsx,css,html}"
      run: pnpm lint:copyright {staged_files} --fix
      stage_fixed: true

    format:
      glob: "*.{js,ts,jsx,tsx,json,jsonc}"
      run: pnpm biome format --write {staged_files}
      stage_fixed: true

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm biome lint --write {staged_files}
      stage_fixed: true

    prettier:
      exclude:
        - "*.{js,ts,jsx,tsx,cjs,cts,mjs,mts,json,jsonc}"
      run: pnpm exec prettier {staged_files} --ignore-unknown --write
      stage_fixed: true

remove prop drilling + add aria-label
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

add SearchboxContext and SearchboxProvider
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

Comments
  apps/test-app/app/compat/progress-linear.tsx
  packages/compat/src/ProgressLinear.tsx
Due: copyright, format, lint

Use fallback when `labels` not passed
  packages/compat/src/ProgressLinear.tsx
Due: copyright, format, lint

nit
  packages/compat/src/ProgressLinear.tsx
Due: copyright, format, lint

Fix Dockerfile (#690)
  apps/test-app/scripts/Dockerfile
Due: none

format `pnpm-lock.yaml`
  pnpm-lock.yaml
Due: none

test-app: add `devtools.json` during dev
  apps/test-app/package.json
  apps/test-app/vite.config.ts
  pnpm-lock.yaml
Due: copyright, format, lint

Change markup. Add missing rest.
  packages/compat/src/ToggleSwitch.tsx
Due: copyright, format, lint

Remove outdated comment
  apps/test-app/app/components.ts
Due: copyright, format, lint

rework `Switch` animation it works :0
  .changeset/young-cities-take.md
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-checkable-controls-1-chromium-linux.png
  packages/bricks/src/Switch.css
Due: copyright

Match v3 behavior
  apps/test-app/app/compat/toggle-switch.tsx
  packages/compat/src/ToggleSwitch.tsx
Due: copyright, format, lint

minor fix for hiding vertical overflow
  apps/test-app/app/sandbox.module.css
Due: copyright

rework `Switch` animation (#694)
  .changeset/young-cities-take.md
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-checkable-controls-1-chromium-linux.png
  packages/bricks/src/Switch.css
Due: copyright

test-app: add `vite-plugin-devtools-json` (#698)
  apps/test-app/package.json
  apps/test-app/vite.config.ts
  pnpm-lock.yaml
Due: copyright, format, lint

update foundations
  packages/bricks/CHANGELOG.md
  packages/bricks/package.json
  packages/compat/package.json
  packages/foundations/CHANGELOG.md
  packages/foundations/package.json
  pnpm-lock.yaml
Due: format

🛫
  apps/test-app/app/compat/progress-radial.tsx
  apps/test-app/app/components.ts
  packages/compat/src/ProgressRadial.tsx
  packages/compat/src/index.ts
Due: copyright, format, lint

nit
  apps/test-app/app/compat/progress-radial.tsx
  apps/test-app/app/components.ts
Due: copyright, format, lint

Remove mention of `value!==100`
  packages/compat/src/ProgressRadial.tsx
Due: copyright, format, lint

`className` and `style` on `input`
  packages/compat/src/ToggleSwitch.tsx
Due: copyright, format, lint

JSDocs
  packages/compat/src/ToggleSwitch.tsx
Due: copyright, format, lint

Changes from Figma.
  packages/bricks/src/Badge.css
  packages/bricks/src/Banner.css
  packages/bricks/src/Tooltip.css
  packages/foundations/src/~global.css
Due: copyright

Add CSS variable for selection text color.
  packages/bricks/src/Badge.css
  packages/foundations/src/~global.css
Due: copyright

Clearer JSDocs
  packages/compat/src/ToggleSwitch.tsx
Due: copyright, format, lint

Removed unnecessary fragment
  packages/compat/src/ProgressLinear.tsx
Due: copyright, format, lint

Add `ProgressLinear` compatibility component (#693)
  apps/test-app/app/compat/progress-linear.tsx
  apps/test-app/app/components.ts
  packages/compat/src/ProgressLinear.tsx
  packages/compat/src/index.ts
Due: copyright, format, lint

make `IconButton` tooltip appear on long press
  packages/bricks/src/IconButton.tsx
Due: copyright, format, lint

Use CSS variable instead of white.
  packages/foundations/src/~global.css
Due: copyright

Don't use children in alt
  apps/test-app/app/compat/progress-radial.tsx
  packages/compat/src/ProgressRadial.tsx
Due: copyright, format, lint

update scrollbar height calculation + styling adjustments
  apps/test-app/app/sandbox.module.css
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

create `@stratakit/structures` package
  CONTRIBUTING.md
  README.md
  apps/test-app/package.json
  packages/foundations/src/Root.tsx
  packages/foundations/src/~components.css
  packages/foundations/src/~components.css.ts
  packages/structures/CHANGELOG.md
  packages/structures/LICENSE.md
  packages/structures/README.md
  packages/structures/package.json
  packages/structures/scripts/build.js
  packages/structures/src/styles.css
  packages/structures/src/styles.css.ts
  packages/structures/tsconfig.json
  packages/structures/types.d.ts
  pnpm-lock.yaml
Due: copyright, format, lint

create `@stratakit/structures` package (#638)
  CONTRIBUTING.md
  README.md
  apps/test-app/package.json
  packages/foundations/src/Root.tsx
  packages/foundations/src/~components.css
  packages/foundations/src/~components.css.ts
  packages/structures/CHANGELOG.md
  packages/structures/LICENSE.md
  packages/structures/README.md
  packages/structures/package.json
  packages/structures/scripts/build.js
  packages/structures/src/styles.css
  packages/structures/src/styles.css.ts
  packages/structures/tsconfig.json
  packages/structures/types.d.ts
  pnpm-lock.yaml
Due: copyright, format, lint

changeset
  .changeset/witty-lights-buy.md
Due: none

remove deprecated `Root` and `Icon` from `@stratakit/bricks`
  .changeset/young-bugs-wear.md
  packages/bricks/src/index.ts
Due: copyright, format, lint

remove deprecated `Root` and `Icon` from `@stratakit/bricks` (#708)
  .changeset/young-bugs-wear.md
  packages/bricks/src/index.ts
Due: copyright, format, lint

remove older changelog entries
  packages/bricks/CHANGELOG.md
Due: none
