Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

copyright:
  run: pnpm lint:copyright {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm biome format --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm biome lint --write {staged_files}
  stage_fixed: true

migrate to astro 6
  apps/website/package.json
  apps/website/src/content.config.ts
  pnpm-lock.yaml
Due: copyright, format, lint

migrate to vite 8
  apps/test-app/package.json
  apps/test-app/vite.config.ts
  internal/minimal-template/package.json
  pnpm-lock.yaml
Due: copyright, format, lint

Docs
  apps/website/src/content/docs/components/mui/Table.md
Due: none

Revert forced-colors change for toggle button, align pagination
  packages/mui/src/~forced-colors.css
Due: copyright

Move render prop descr under general guidance
  apps/website/src/content/docs/components/stratakit/Toolbar.md
Due: none

Add general component description
  apps/website/src/content/docs/components/stratakit/Toolbar.md
Due: none

Simplify divider example
  examples/structures/Toolbar.divider.tsx
Due: copyright, format, lint

Move divider example up
  apps/website/src/content/docs/components/stratakit/Toolbar.md
Due: none

Add vertical example (previously called divider)
  examples/structures/Toolbar.vertical.tsx
Due: copyright, format, lint

Add orientation docs
  apps/website/src/content/docs/components/stratakit/Toolbar.md
Due: none

Document divider orientation (link to toolbar orientation)
  apps/website/src/content/docs/components/stratakit/Toolbar.md
Due: none

Link to Toolbar component page from other components
  apps/website/src/content/docs/components/mui/Button.md
  apps/website/src/content/docs/components/mui/Checkbox.md
  apps/website/src/content/docs/components/mui/Divider.md
  apps/website/src/content/docs/components/mui/IconButton.md
  apps/website/src/content/docs/components/mui/Radio.md
  apps/website/src/content/docs/components/mui/Switch.md
Due: none

Follow at least 3 controls rule
  examples/structures/Toolbar.toggle.tsx
Due: copyright, format, lint

Adjust `forced-colors` visuals for active + disabled state in `Checkbox`, `Radio`, `Switch`, & `Pagination`.
  packages/mui/src/~forced-colors.css
Due: copyright

Pagination change is happening in #1461
  packages/mui/src/~forced-colors.css
Due: copyright

Suggestions Co-authored-by: Mayank <9084735+mayank99@users.noreply.github.com>
  apps/website/src/content/docs/components/mui/Table.md
Due: none

Remove role=dialog from menu paper
  packages/mui/src/~createTheme.tsx
Due: copyright, format, lint

Move styles out of disabled & active
  packages/mui/src/~components/MuiToggleButton.css
Due: copyright

`--selected` renamed to `--active`
  packages/mui/src/~components/MuiToggleButton.css
Due: copyright

`--active` renamed to `--selected`
  packages/mui/src/~components/MuiToggleButton.css
Due: copyright

pnpm changeset
  .changeset/big-ghosts-vanish.md
Due: none

docs
  apps/website/src/content/docs/components/mui/Menu.md
Due: none

`Alert` design tweaks
  packages/mui/src/~components/MuiAlert.css
Due: copyright

Docs
  apps/website/src/content/docs/components/mui/Menu.md
Due: none

Remove aria-controls from examples
  examples/mui/Card.menu.tsx
  examples/mui/Menu.default.tsx
  examples/mui/Menu.dense.tsx
  examples/mui/Tabs.default.tsx
  examples/mui/Tabs.scrollable.tsx
Due: copyright, format, lint

minor edits and skip link section
  apps/website/src/content/docs/guides/structure.md
Due: none

negative tone removed from sentence on organization
  apps/website/src/content/docs/guides/structure.md
Due: none

Add Toolbar.menu example
  apps/website/src/content/docs/components/stratakit/Toolbar.md
  examples/structures/Toolbar.menu.tsx
Due: copyright, format, lint

Update apps/website/src/content/docs/guides/structure.md
  apps/website/src/content/docs/guides/structure.md
Due: none

heading section rewrite
  apps/website/src/content/docs/guides/structure.md
Due: none

remove iTwin reference
  apps/website/src/content/docs/guides/structure.md
Due: none

interfaces require
  apps/website/src/content/docs/guides/structure.md
Due: none

Apply suggestion from @mayank99
  apps/website/src/content/docs/guides/structure.md
Due: none

fix `Rating` size in safari
  .changeset/tough-flies-laugh.md
  packages/mui/src/~components.css
Due: copyright

fix shorthand declarations for safari
  packages/mui/src/~components.css
  packages/mui/src/~components/MuiButton.css
  packages/mui/src/~components/MuiChip.css
  packages/mui/src/~components/MuiInput.css
  packages/mui/src/~components/MuiTooltip.css
Due: copyright

Path conditions:
  copyright: any of: *.{js,ts,jsx,tsx,css,html}
  format: any of: *.{js,ts,jsx,tsx,json,jsonc}
  lint: any of: *.{js,ts,jsx,tsx}
