Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

copyright:
  run: pnpm lint:copyright {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm biome format --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm biome lint --write {staged_files}
  stage_fixed: true

create new landing page (#1853)
  apps/test-app/app/assets/SvgStrataKitLogo.tsx
  apps/test-app/app/assets/bentley-wordmark.svg
  apps/test-app/app/index.module.css
  apps/test-app/app/index.tsx
  apps/test-app/app/root.tsx
  apps/test-app/app/routes.ts
  apps/test-app/app/~navigation.layout.tsx
  apps/test-app/app/~navigation.module.css
  apps/test-app/app/~navigation.tsx
  apps/test-app/app/~settings.tsx
Due: copyright, format, lint

Add icons
  SUPPORT_POLICY.md
Due: none

Expanded foundations to cover APIs
  SUPPORT_POLICY.md
Due: none

Document 0.x policy
  SUPPORT_POLICY.md
Due: none

Link to support policy in readme
  README.md
Due: none

Testing for more data types
  apps/test-app/app/mui/DataGrid.showcase.tsx
  examples/mui/DataGrid.datatypes.tsx
Due: copyright, format, lint

Update attribute
  packages/mui/src/~components/MuiIconButton.css
  packages/mui/src/~components/MuiIconButton.tsx
Due: copyright, format, lint

More docs
  apps/website/src/content/docs/components/patterns/TransferList.md
Due: none

bump deps
  pnpm-lock.yaml
Due: none

fix `IconButton` contrast in `Snackbar`
  .changeset/fluffy-melons-hear.md
  packages/mui/src/~components.css
  packages/mui/src/~components/MuiSnackbar.css
Due: copyright

Update descriptions
  .changeset/dry-moments-sing.md
  apps/website/src/content/docs/components/mui/TextField.md
Due: none

Change required asterisk color
  .changeset/loose-keys-spend.md
  packages/mui/src/~components/MuiForm.css
Due: copyright

Move 2x md files into notes folder
  CONTRIBUTING.md
  README.md
  notes/STYLEGUIDE.md
  notes/SUPPORT_POLICY.md
Due: none

Fix typo
  CONTRIBUTING.md
Due: none

Mention internal-utils is exempt
  notes/SUPPORT_POLICY.md
Due: none

Update notes/SUPPORT_POLICY.md
  notes/SUPPORT_POLICY.md
Due: none

No maintenance period for 0.x
  notes/SUPPORT_POLICY.md
Due: none

Apply suggestion from @mayank99
  notes/SUPPORT_POLICY.md
Due: none

Pattern -> Composite component
  apps/website/astro.config.mjs
  apps/website/src/content/docs/components/composite/TransferList.md
Due: none

More pattern -> composite component renames
  apps/website/src/components/ExamplePreview.tsx
  apps/website/src/content/docs/components/composite/TransferList.md
  examples/composite/TransferList.default.tsx
Due: copyright, format, lint

Convert support policy to an H2
  README.md
Due: none

clarify breaking change support policy
  notes/SUPPORT_POLICY.md
Due: none

vertically center color
  examples/mui/DataGrid.datatypes.module.css
  examples/mui/DataGrid.datatypes.tsx
Due: copyright, format, lint

CSS Cleanup
  packages/mui/src/~components/MuiDataGrid.css
Due: copyright

Add changeset
  .changeset/brave-candies-invite.md
Due: none

update example code snippets
  apps/website/src/content/docs/getting-started/develop.mdx
  packages/bricks/src/IconButton.tsx
  packages/foundations/src/Icon.tsx
  packages/icons/README.md
  packages/mui/README.md
  packages/structures/src/Banner.tsx
Due: copyright, format, lint

add missing `wireit` dependencies to `website`
  apps/website/package.json
Due: format

add missing wireit build dependency
  packages/mui/package.json
Due: format

Remove controversial note
  apps/website/src/content/docs/components/stratakit/Icon.md
Due: none

Bump to minor instead of patch for Grid addition
  .changeset/brave-candies-invite.md
Due: none

Update overview with composite components
  apps/website/src/content/docs/index.md
Due: none

Use Input instead of TextField, introduce ColorPicker showcase, remove docs temporarily.
  apps/test-app/app/mui/ColorPicker.showcase.tsx
  apps/test-app/app/mui/mui.tsx
  apps/website/src/content/docs/components/mui/TextField.md
  examples/mui/ColorPicker.default.tsx
Due: copyright, format, lint

Fix issues with ColorPicker after switching from TextField to Input
  packages/mui/src/~components/MuiInput.css
  packages/mui/src/~createTheme.tsx
Due: copyright, format, lint

Changeset
  .changeset/dry-moments-sing.md
Due: none

Rename ghost -> icon
  apps/website/src/content/docs/components/mui/IconButton.md
  examples/mui/IconButton.variants.tsx
  packages/mui/src/types.ts
  packages/mui/src/~components/MuiIconButton.tsx
Due: copyright, format, lint

fix lockfile
  pnpm-lock.yaml
Due: none

update changelogs
  packages/icons/CHANGELOG.md
  packages/mui/CHANGELOG.md
  packages/structures/CHANGELOG.md
Due: none

add missing changelog entry
  packages/mui/CHANGELOG.md
Due: none

Add modifications
  apps/website/src/content/docs/components/mui/IconButton.md
Due: none

Path conditions:
  copyright: any of: *.{js,ts,jsx,tsx,css,html}
  format: any of: *.{js,ts,jsx,tsx,json,jsonc}
  lint: any of: *.{js,ts,jsx,tsx}
