Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    copyright:
      glob: "*.{js,ts,jsx,tsx,css,html}"
      run: pnpm lint:copyright {staged_files} --fix
      stage_fixed: true

    format:
      glob: "*.{js,ts,jsx,tsx,json,jsonc}"
      run: pnpm biome format --write {staged_files}
      stage_fixed: true

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm biome lint --write {staged_files}
      stage_fixed: true

    prettier:
      exclude:
        - "*.{js,ts,jsx,tsx,cjs,cts,mjs,mts,json,jsonc}"
      run: pnpm exec prettier {staged_files} --ignore-unknown --write
      stage_fixed: true

Update packages/mui/src/styles.css
  packages/mui/src/styles.css
Due: copyright

remove `variant="standard"` from `Alert`
  .changeset/cool-heads-grin.md
  packages/mui/src/createTheme.tsx
  packages/mui/src/types.ts
Due: copyright, format, lint

Fix minor CSS mistake
  packages/mui/src/styles.css
Due: copyright

Autocomplete padding inline end accomodates buttons
  packages/mui/src/styles.css
Due: copyright

Fix gap between icon and input text
  packages/mui/src/styles.css
Due: copyright

remove `variant="standard"` from `Alert` and change default (#1179)
  .changeset/cool-heads-grin.md
  packages/mui/src/createTheme.tsx
  packages/mui/src/types.ts
Due: copyright, format, lint

fix `IconButton` colors
  .changeset/ready-hoops-pay.md
  packages/mui/src/styles.css
Due: copyright

fix `Card` actions spacing
  .changeset/free-beans-grab.md
  packages/mui/src/styles.css
Due: copyright

Autocomplete cleanup.
  packages/mui/src/styles.css
Due: copyright

Chain-nesting under the subject
  packages/mui/src/styles.css
Due: copyright

Fix gap between autocomplete tags and input
  packages/mui/src/styles.css
Due: copyright

update `Card` actions spacing (#1175)
  .changeset/free-beans-grab.md
  packages/mui/src/styles.css
Due: copyright

fix `IconButton` colors (#1178)
  .changeset/ready-hoops-pay.md
  packages/mui/src/styles.css
Due: copyright

Style label & input elements (#1139)
  .changeset/thick-hairs-cough.md
  packages/mui/src/createTheme.tsx
  packages/mui/src/styles.css
Due: copyright, format, lint

remove extra `Slider` colors
  .changeset/violet-gifts-kick.md
  packages/mui/src/types.ts
Due: copyright, format, lint

remove extra `Slider` colors (#1176)
  .changeset/violet-gifts-kick.md
  packages/mui/src/types.ts
Due: copyright, format, lint

fix `Link` colors
  .changeset/flat-masks-mate.md
  examples/mui/Link._colors.tsx
  packages/mui/src/createTheme.tsx
Due: copyright, format, lint

fix `Link` colors (#1180)
  .changeset/flat-masks-mate.md
  examples/mui/Link._colors.tsx
  packages/mui/src/createTheme.tsx
Due: copyright, format, lint

Formatting
  packages/mui/src/styles.css
Due: copyright

Fix merge.
  packages/mui/src/styles.css
Due: copyright

Remove unnecessary increased specificity
  packages/mui/src/styles.css
Due: copyright

Remove duplicate code from merge.
  packages/mui/src/createTheme.tsx
Due: copyright, format, lint

Use :where everywhere
  packages/mui/src/styles.css
Due: copyright

Border is on the input, hide the fieldset
  packages/mui/src/styles.css
Due: copyright

Changeset
  .changeset/tiny-camels-hug.md
Due: none

fix more colors
  .changeset/light-windows-vanish.md
  packages/mui/src/styles.css
Due: copyright

Remove hover for now.
  packages/mui/src/styles.css
Due: copyright

Init
  examples/mui/TextField.icon.tsx
  packages/mui/src/styles.css
Due: copyright, format, lint

map MUI component color tokens (#1170)
  .changeset/light-windows-vanish.md
  packages/mui/src/styles.css
Due: copyright

remove `color="inherit"` from `Button` and `IconButton`
  .changeset/cozy-buttons-change.md
  .changeset/loose-taxes-see.md
  examples/mui/AppBar.default.tsx
  examples/mui/Snackbar.default.tsx
  packages/mui/src/types.ts
Due: copyright, format, lint

remove `color="inherit"` from `Button` and `IconButton` (#1177)
  .changeset/cozy-buttons-change.md
  .changeset/loose-taxes-see.md
  examples/mui/AppBar.default.tsx
  examples/mui/Snackbar.default.tsx
  packages/mui/src/types.ts
Due: copyright, format, lint

Simplify color of label
  packages/mui/src/styles.css
Due: copyright

Fix input `outline` and label `color` on focus (#1162)
  .changeset/tiny-camels-hug.md
  packages/mui/src/styles.css
Due: copyright

Fix label color issue after merge conflicts.
  packages/mui/src/styles.css
Due: copyright

Add tokens and components imports
  packages/mui/src/components.css
  packages/mui/src/styles.css
  packages/mui/src/tokens.css
Due: copyright

remove extra `color` values from form controls
  .changeset/neat-hairs-dig.md
  packages/mui/src/types.ts
Due: copyright, format, lint

remove extra `color` values from form controls (#1183)
  .changeset/neat-hairs-dig.md
  packages/mui/src/types.ts
Due: copyright, format, lint

Set layers in styles, not in separate files.
  packages/mui/src/components.css
  packages/mui/src/styles.css
  packages/mui/src/tokens.css
Due: copyright

Prefix file names with ~
  packages/mui/src/styles.css
  packages/mui/src/~components.css
  packages/mui/src/~tokens.css
Due: copyright
