Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    copyright:
      glob: "*.{js,ts,jsx,tsx,css,html}"
      run: pnpm lint:copyright {staged_files} --fix
      stage_fixed: true

    format:
      glob: "*.{js,ts,jsx,tsx,json,jsonc}"
      run: pnpm biome format --write {staged_files}
      stage_fixed: true

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm biome lint --write {staged_files}
      stage_fixed: true

    prettier:
      exclude:
        - "*.{js,ts,jsx,tsx,cjs,cts,mjs,mts,json,jsonc}"
      run: pnpm exec prettier {staged_files} --ignore-unknown --write
      stage_fixed: true

Show report
  apps/test-app/README.md
  apps/test-app/package.json
Due: format

smol refactor
  packages/mui/src/~components/MuiButton.css
Due: copyright

update Button styles
  .changeset/petite-symbols-know.md
  packages/mui/src/~components/MuiButton.css
Due: copyright

Update wording on doc
  apps/website/src/content/docs/components/mui/AppBar.md
Due: none

fix disabled border
  packages/mui/src/~components/MuiButton.css
Due: copyright

flexContainer -> appBarContent
  examples/mui/AppBar.default.module.css
  examples/mui/AppBar.default.tsx
Due: copyright, format, lint

Drop changeset for examples
  .changeset/lazy-toys-cross.md
Due: none

Add checkbox test
  apps/test-app/app/tests/mui/Checkbox.spec.stories.tsx
  apps/test-app/app/tests/mui/Checkbox.spec.ts
  apps/test-app/app/tests/mui/Checkbox.spec.ts-snapshot.-visual-dark-1-chromium-linux.png
  apps/test-app/app/tests/mui/Checkbox.spec.ts-snapshot.-visual-dark-1-firefox-linux.png
  apps/test-app/app/tests/mui/Checkbox.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/mui/Checkbox.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/mui/Checkbox.spec.ts-snapshot.-visual-light-1-chromium-linux.png
  apps/test-app/app/tests/mui/Checkbox.spec.ts-snapshot.-visual-light-1-firefox-linux.png
Due: copyright, format, lint

Add year picker scroll fade.
  packages/mui/src/~components/MuiDatePicker.css
Due: copyright

Year buttons share same styling as day buttons.
  packages/mui/src/~components/MuiDatePicker.css
Due: copyright

update elevation-level-*
  internal/theme-dark.json
Due: format

update border-neutral-* tokens
  internal/theme-dark.json
  internal/theme-light.json
Due: format

update border-page-* tokens
  internal/theme-dark.json
  internal/theme-light.json
Due: format

Changeset
  .changeset/yummy-cups-sing.md
Due: none

update border-page-base
  internal/primitives.json
  internal/theme-dark.json
Due: format

changesets
  .changeset/metal-pandas-rush.md
  .changeset/quiet-dingos-grab.md
Due: none

use `position: fixed` in `Tooltip`
  .changeset/fancy-boxes-start.md
  packages/mui/src/~createTheme.tsx
Due: copyright, format, lint

remove Emotion from peer deps
  apps/test-app/package.json
  apps/website/src/content/docs/getting-started/develop.mdx
  internal/minimal-template/package.json
  pnpm-lock.yaml
Due: format

Prepare for publishing
  .changeset/config.json
  packages/internal-utils/CHANGELOG.md
  packages/internal-utils/package.json
Due: format

Drawer to introduce portal boundary
  .changeset/shy-wings-jog.md
  apps/website/src/content/docs/components/mui/Drawer.md
  examples/mui/Drawer._comprehensive.module.css
  examples/mui/Drawer._comprehensive.tsx
  packages/mui/src/~components/MuiDrawer.tsx
  packages/mui/src/~createTheme.tsx
Due: copyright, format, lint

Add one more changeset
  .changeset/plain-ways-repair.md
  .changeset/shy-wings-jog.md
Due: none

Update docs pages
  apps/website/src/content/docs/components/mui/Autocomplete.md
  apps/website/src/content/docs/components/mui/Dialog.md
  apps/website/src/content/docs/components/mui/Drawer.md
  apps/website/src/content/docs/components/mui/Menu.md
  apps/website/src/content/docs/components/mui/Popover.md
  apps/website/src/content/docs/components/mui/Select.md
  apps/website/src/content/docs/components/mui/Tooltip.md
Due: none

getContainer -> unstable_getContainer
  packages/foundations/src/Root.internal.tsx
  packages/foundations/src/Root.tsx
  packages/mui/src/~PortalTheme.tsx
  packages/mui/src/~components/MuiDialog.tsx
  packages/mui/src/~components/MuiDrawer.tsx
  packages/mui/src/~components/MuiPopover.tsx
  packages/structures/src/Dialog.tsx
Due: copyright, format, lint

Re-use PortalContextValue
  packages/foundations/src/Root.internal.tsx
Due: copyright, format, lint

Move PortalProvider down one level
  packages/mui/src/~components/MuiPopover.tsx
Due: copyright, format, lint

Fold ~PortalTheme to Root
  packages/mui/src/Root.tsx
  packages/mui/src/~PortalTheme.tsx
Due: copyright, format, lint

Add braces around html element
  apps/website/src/content/docs/components/mui/List.md
Due: none

Deploy up to 100 PR sites
  .github/workflows/deploy-gh-pages.yaml
Due: none

Update lockfile
  pnpm-lock.yaml
Due: none

update changelogs
  packages/bricks/CHANGELOG.md
  packages/foundations/CHANGELOG.md
  packages/mui/CHANGELOG.md
  packages/structures/CHANGELOG.md
Due: none

Mention internal-utils in changelog of foundations
  packages/foundations/CHANGELOG.md
Due: none

Wording
  packages/foundations/CHANGELOG.md
Due: none

Combine changelogs of 1586 and 1770
  packages/mui/CHANGELOG.md
Due: none

update deprecation wording (#1684)
  packages/mui/src/types.ts
Due: copyright, format, lint

Reorder
  apps/website/src/content/docs/components/mui/ToggleButton.md
Due: none

Deprecations
  packages/mui/src/types.ts
Due: copyright, format, lint

Strikethrough inherited ButtonBase props
  packages/mui/src/types.ts
Due: copyright, format, lint

Explicitly document deprecated base props
  apps/website/src/content/docs/components/mui/ToggleButton.md
Due: none

Reword: deprecated to not supported
  apps/website/src/content/docs/components/mui/Button.md
  apps/website/src/content/docs/components/mui/ToggleButton.md
Due: none
