Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    copyright:
      glob: "*.{js,ts,jsx,tsx,css,html}"
      run: pnpm lint:copyright {staged_files} --fix
      stage_fixed: true

    format:
      glob: "*.{js,ts,jsx,tsx,json,jsonc}"
      run: pnpm biome format --write {staged_files}
      stage_fixed: true

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm biome lint --write {staged_files}
      stage_fixed: true

    prettier:
      exclude:
        - "*.{js,ts,jsx,tsx,cjs,cts,mjs,mts,json,jsonc}"
      run: pnpm exec prettier {staged_files} --ignore-unknown --write
      stage_fixed: true

update MUI examples to use `render` prop
  apps/test-app/app/icons.tsx
  apps/test-app/app/mui.tsx
  apps/test-app/app/root.tsx
  apps/test-app/app/tokens.tsx
  examples/mui/Accordion.actions.tsx
  examples/mui/Accordion.default.tsx
  examples/mui/AppBar.default.tsx
  examples/mui/Card.actions.tsx
  examples/mui/Card.default.tsx
  examples/mui/FormControl.error.tsx
  examples/mui/FormControl.group.tsx
  examples/mui/Table.default.tsx
  examples/mui/Table.footer.tsx
  packages/mui/src/createTheme.tsx
  packages/mui/src/types.ts
Due: copyright, format, lint

Don't use space vars for height
  packages/mui/src/~components.css
Due: copyright

Fix input height
  packages/mui/src/~components.css
Due: copyright

Native select styling (#1239)
  .changeset/silver-dragons-hunt.md
  packages/mui/src/createTheme.tsx
Due: copyright, format, lint

Toggle switch styling
  packages/mui/src/~components.css
  packages/mui/src/~forced-colors.css
Due: copyright

fix `TablePagination` alignment
  packages/mui/src/createTheme.tsx
Due: copyright, format, lint

docs: fix lastUpdated link
  apps/website/src/components/LastUpdated.astro
Due: none

docs: fix lastUpdated link (#1246)
  apps/website/src/components/LastUpdated.astro
Due: none

Rm grouping docs
  apps/website/src/content/docs/components/Switch.md
Due: none

fix `TablePagination` alignment (#1245)
  packages/mui/src/createTheme.tsx
Due: copyright, format, lint

update MUI examples to use `render` prop (#1238)
  apps/test-app/app/icons.tsx
  apps/test-app/app/mui.tsx
  apps/test-app/app/root.tsx
  apps/test-app/app/tokens.tsx
  examples/mui/Accordion.actions.tsx
  examples/mui/Accordion.default.tsx
  examples/mui/AppBar.default.tsx
  examples/mui/Card.actions.tsx
  examples/mui/Card.default.tsx
  examples/mui/FormControl.error.tsx
  examples/mui/FormControl.group.tsx
  examples/mui/Table.default.tsx
  examples/mui/Table.footer.tsx
  packages/mui/src/createTheme.tsx
  packages/mui/src/types.ts
Due: copyright, format, lint

Override MuiChip
  packages/mui/src/createTheme.tsx
  packages/mui/src/~components.tsx
Due: copyright, format, lint

Add-back `Link` docs (#1206)
  apps/website/src/content/docs/components/Link.md
Due: none

Use space variables for gaps.
  packages/mui/src/~components.css
Due: copyright

Apply suggestions from code review
  packages/mui/src/~components.css
Due: copyright

Link to `Badge` page
  apps/website/src/content/docs/components/IconButton.md
Due: none

Separate files for components CSS
  packages/mui/src/~components.css
  packages/mui/src/~components/MuiAutocomplete.css
  packages/mui/src/~components/MuiButton.css
  packages/mui/src/~components/MuiCard.css
  packages/mui/src/~components/MuiCheckbox.css
  packages/mui/src/~components/MuiForm.css
  packages/mui/src/~components/MuiInput.css
  packages/mui/src/~components/MuiTabs.css
Due: copyright

Code comment above line to prevent wrapping
  packages/mui/src/~components.css
Due: copyright

Separate files for components CSS (#1247)
  packages/mui/src/~components.css
  packages/mui/src/~components/MuiAutocomplete.css
  packages/mui/src/~components/MuiButton.css
  packages/mui/src/~components/MuiCard.css
  packages/mui/src/~components/MuiCheckbox.css
  packages/mui/src/~components/MuiForm.css
  packages/mui/src/~components/MuiInput.css
  packages/mui/src/~components/MuiTabs.css
Due: copyright

`Checkbox` & `Radio` touch target no longer consumes space (#1218)
  .changeset/fancy-trams-rush.md
  packages/mui/src/~components/MuiCheckbox.css
  packages/mui/src/~components/MuiForm.css
Due: copyright

Added small and large size for Checkbox & Radio.
  .changeset/early-knives-tan.md
  packages/mui/src/~components/MuiCheckbox.css
Due: copyright

Fix input height (#1243)
  packages/mui/src/~components/MuiInput.css
Due: copyright

fix github workflow
  .github/workflows/deploy-gh-pages.yaml
Due: none

fix test-app deployment
  apps/test-app/vite.config.ts
Due: copyright, format, lint

test-app: fix basename (#1249)
  .github/workflows/deploy-gh-pages.yaml
  apps/test-app/vite.config.ts
Due: copyright, format, lint

test-app: fix `basename` (again)
  apps/test-app/vite.config.ts
Due: copyright, format, lint

test-app: fix basename (again) (#1250)
  apps/test-app/vite.config.ts
Due: copyright, format, lint

Same hover effect as checkbox & radio
  packages/mui/src/~components/MuiSwitch.css
Due: copyright

Fix hover in forced-colors
  packages/mui/src/~forced-colors.css
Due: copyright

Changeset
  .changeset/floppy-pens-smell.md
Due: none

Minor cleanup
  packages/mui/src/~components/MuiSwitch.css
Due: copyright

WIP: use slots to fix tab order and add list semantics
  packages/mui/src/createTheme.tsx
  packages/mui/src/~components.css
  packages/mui/src/~components.tsx
Due: copyright, format, lint

Fix live examples
  apps/website/astro.config.mjs
Due: none

Add MuiChip.css
  packages/mui/src/~components.css
  packages/mui/src/~components/MuiChip.css
Due: copyright

Add Chip components
  packages/mui/src/createTheme.tsx
  packages/mui/src/~components/MuiChip.tsx
Due: copyright, format, lint

Fix label selection
  packages/mui/src/~components/MuiChip.css
Due: copyright

Handle a11y of clickable chip
  packages/mui/src/~components/MuiChip.css
  packages/mui/src/~components/MuiChip.tsx
Due: copyright, format, lint

Add more examples
  apps/test-app/app/mui.tsx
  examples/mui/Chip._clickable.tsx
  examples/mui/Chip._interactive.tsx
Due: copyright, format, lint

Fix spacing
  packages/mui/src/~components/MuiChip.css
Due: copyright
