Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

copyright:
  run: pnpm lint:copyright {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm biome format --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm biome lint --write {staged_files}
  stage_fixed: true

pnpm changeset
  .changeset/wacky-queens-move.md
Due: none

Add group to Autocomplete
  packages/mui/src/createTheme.tsx
  packages/mui/src/~components.tsx
Due: copyright, format, lint

pnpm changeset
  .changeset/thirty-crabs-admire.md
Due: none

Update page structure
  apps/website/src/content/docs/components/Button.md
Due: none

Move examples up
  apps/website/src/content/docs/components/Button.md
Due: none

Make clear indicator of `Autocomplete` visible (#1214)
  .changeset/two-balloons-bake.md
  packages/mui/src/~components.css
Due: copyright

Make clear indicator of `Autocomplete` focusable (#1213)
  .changeset/wacky-queens-move.md
  packages/mui/src/createTheme.tsx
Due: copyright, format, lint

Add docs and apiReference links
  apps/website/src/components/PageTitle.astro
  apps/website/src/content.config.ts
Due: copyright, format, lint

Rm other links
  apps/website/src/components/PageTitle.astro
  apps/website/src/content.config.ts
Due: copyright, format, lint

Rm Associated components
  apps/website/src/components/PageTitle.astro
  apps/website/src/content.config.ts
Due: copyright, format, lint

Rm status
  apps/website/src/components/PageTitle.astro
  apps/website/src/content.config.ts
Due: copyright, format, lint

Rename to documentation
  apps/website/src/components/PageTitle.astro
  apps/website/src/content.config.ts
Due: copyright, format, lint

Rm unused import
  apps/website/src/content.config.ts
Due: copyright, format, lint

Update contributing.md
  apps/website/src/content/docs/contributing.md
Due: none

Revert c2d4016
  packages/mui/src/~components.css
Due: copyright

Changeset
  .changeset/kind-hands-occur.md
Due: none

Rm status-badge
  apps/website/src/components/CustomElements.astro
  apps/website/src/components/status-badge.astro
Due: none

Init
  .changeset/fancy-trams-rush.md
  packages/mui/src/~components.css
Due: copyright

Helper text error icon uses system-colors in forced-colors
  packages/mui/src/~forced-colors.css
Due: copyright

Use component names in changeset
  .changeset/kind-hands-occur.md
Due: none

Label & helper text improvements (#1208)
  .changeset/kind-hands-occur.md
  packages/mui/src/~components.css
  packages/mui/src/~forced-colors.css
Due: copyright

Rename to muiDocs
  apps/website/src/components/PageTitle.astro
  apps/website/src/content.config.ts
  apps/website/src/content/docs/contributing.md
Due: copyright, format, lint

docs: developer starter guide
  apps/website/astro.config.mjs
  apps/website/src/content/docs/getting-started.md
  apps/website/src/content/docs/getting-started/develop.mdx
  apps/website/src/content/docs/getting-started/introduction.md
  apps/website/src/pages/index.astro
  apps/website/src/styles/overrides.css
Due: copyright

docs: developer starter guide (#1211)
  apps/website/astro.config.mjs
  apps/website/src/content/docs/getting-started.md
  apps/website/src/content/docs/getting-started/develop.mdx
  apps/website/src/content/docs/getting-started/introduction.md
  apps/website/src/pages/index.astro
  apps/website/src/styles/overrides.css
Due: copyright

add `render` prop to MUI components
  .changeset/brave-bats-act.md
  .changeset/strict-pets-attack.md
  packages/mui/package.json
  packages/mui/src/createTheme.tsx
  packages/mui/src/types.ts
  pnpm-lock.yaml
Due: copyright, format, lint

Update medium size, add small size.
  packages/mui/src/~components.css
Due: copyright

Update frontmatter fields used in component pages (#1217)
  apps/website/src/components/CustomElements.astro
  apps/website/src/components/PageTitle.astro
  apps/website/src/components/status-badge.astro
  apps/website/src/content.config.ts
  apps/website/src/content/docs/contributing.md
Due: copyright, format, lint

Add neutral alias for secondary tone.
  apps/website/src/content/docs/components/Button.md
Due: none

Move back examples below descr
  apps/website/src/content/docs/components/Button.md
Due: none

Rename tone to color and fix Contained descr
  apps/website/src/content/docs/components/Button.md
Due: none

Add links
  apps/website/src/content/docs/components/Button.md
Due: none

Keep do and don't as h2
  apps/website/src/content/docs/components/Button.md
Due: none

Add utils dep
  packages/mui/package.json
  pnpm-lock.yaml
Due: format

Make Autocomplete chip non-interactive. Add interactive dismiss button instead
  packages/mui/src/createTheme.tsx
  packages/mui/src/~components.css
  packages/mui/src/~components.tsx
Due: copyright, format, lint

pnpm changeset
  .changeset/lovely-animals-rescue.md
Due: none

Comment for data-tag-index
  packages/mui/src/~components.tsx
Due: copyright, format, lint

Add localizable dismissLabel to Chip
  packages/mui/src/types.ts
  packages/mui/src/~components.tsx
Due: copyright, format, lint

Avoid Autocomplete key event handling when tag/clear buttons are focused.
  packages/mui/src/createTheme.tsx
  packages/mui/src/~components.tsx
Due: copyright, format, lint

Avoid focusing tags with left/right arrow keys.
  packages/mui/src/createTheme.tsx
Due: copyright, format, lint

Left-align table cells
  apps/website/src/content/docs/components/Button.md
Due: none

Path conditions:
  copyright: any of: *.{js,ts,jsx,tsx,css,html}
  format: any of: *.{js,ts,jsx,tsx,json,jsonc}
  lint: any of: *.{js,ts,jsx,tsx}
