Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    copyright:
      glob: "*.{js,ts,jsx,tsx,css,html}"
      run: pnpm lint:copyright {staged_files} --fix
      stage_fixed: true

    format:
      glob: "*.{js,ts,jsx,tsx,json,jsonc}"
      run: pnpm biome format --write {staged_files}
      stage_fixed: true

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm biome lint --write {staged_files}
      stage_fixed: true

    prettier:
      exclude:
        - "*.{js,ts,jsx,tsx,cjs,cts,mjs,mts,json,jsonc}"
      run: pnpm exec prettier {staged_files} --ignore-unknown --write
      stage_fixed: true

Update snaps
  apps/test-app/app/tests/checkbox/index.spec.ts-snapshot.-visual-indeterminate-mixed-1-chromium-linux.png
  apps/test-app/app/tests/checkbox/index.spec.ts-snapshot.-visual-indeterminate-mixed-1-firefox-linux.png
  apps/test-app/app/tests/checkbox/index.spec.ts-snapshot.-visual-indeterminate-mixed-1-webkit-linux.png
Due: none

Comments
  apps/test-app/app/tests/select/index.tsx
  packages/kiwi-react/src/bricks/Select.tsx
Due: copyright, format, lint

Don't destructure aria-describedby
  packages/kiwi-react/src/bricks/Select.tsx
Due: copyright, format, lint

Fix radio styling
  packages/kiwi-react/src/bricks/Radio.css
Due: copyright

Fix tree action rendering (#267)
  apps/test-app/app/sandbox.module.css
  apps/test-app/app/tests/tree/index.tsx
  packages/kiwi-react/src/bricks/Tree.css
Due: copyright, format, lint

Visual test url
  apps/test-app/app/tests/select/index.spec.ts
  apps/test-app/app/tests/select/index.spec.ts-snapshot.-visual-1-chromium-linux.png
  apps/test-app/app/tests/select/index.spec.ts-snapshot.-visual-1-firefox-linux.png
  apps/test-app/app/tests/select/index.spec.ts-snapshot.-visual-1-webkit-linux.png
Due: copyright, format, lint

Fix mixed checkbox styling (#268)
  apps/test-app/app/tests/checkbox/index.spec.ts-snapshot.-visual-indeterminate-mixed-1-chromium-linux.png
  apps/test-app/app/tests/checkbox/index.spec.ts-snapshot.-visual-indeterminate-mixed-1-firefox-linux.png
  apps/test-app/app/tests/checkbox/index.spec.ts-snapshot.-visual-indeterminate-mixed-1-webkit-linux.png
  packages/kiwi-react/src/bricks/Checkbox.css
  packages/kiwi-react/src/bricks/Radio.css
Due: copyright

Fixing the formating.
  packages/kiwi-react/src/bricks/Icon.tsx
Due: copyright, format, lint

Removing Dismiss
  apps/test-app/app/tests/chip/index.tsx
Due: copyright, format, lint

Update packages/kiwi-react/src/bricks/Chip.tsx
  packages/kiwi-react/src/bricks/Chip.tsx
Due: copyright, format, lint

Update apps/test-app/app/tests/chip/index.spec.ts
  apps/test-app/app/tests/chip/index.spec.ts
Due: copyright, format, lint

Updating visual test images
  apps/test-app/app/tests/chip/index.spec.ts-snapshot.-visual-chips-dismiss-variants-1-chromium-linux.png
  apps/test-app/app/tests/chip/index.spec.ts-snapshot.-visual-chips-dismiss-variants-1-firefox-linux.png
  apps/test-app/app/tests/chip/index.spec.ts-snapshot.-visual-chips-dismiss-variants-1-webkit-linux.png
Due: none

changed variant name
  packages/kiwi-react/scripts/build.js
  packages/kiwi-react/src/bricks/Table.css
  packages/kiwi-react/src/bricks/Table.tsx
Due: copyright, format, lint

Trying with a negative margin on the button
  packages/kiwi-react/src/bricks/Chip.css
Due: copyright

Updated component visuals
  apps/test-app/app/tests/chip/index.spec.ts-snapshot.-visual-chips-dismiss-variants-1-chromium-linux.png
  apps/test-app/app/tests/chip/index.spec.ts-snapshot.-visual-chips-dismiss-variants-1-firefox-linux.png
  apps/test-app/app/tests/chip/index.spec.ts-snapshot.-visual-chips-dismiss-variants-1-webkit-linux.png
Due: none

Use deferred value for tree item rendering.
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

Avoid rendering of both trees when filtering.
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

Bump undici
  pnpm-lock.yaml
Due: none

Fix `pnpm audit` (#270)
  pnpm-lock.yaml
Due: none

Add `variant` prop to `HtmlSelect` (#266)
  apps/test-app/app/tests/select/index.spec.ts
  apps/test-app/app/tests/select/index.spec.ts-snapshot.-visual-1-chromium-linux.png
  apps/test-app/app/tests/select/index.spec.ts-snapshot.-visual-1-firefox-linux.png
  apps/test-app/app/tests/select/index.spec.ts-snapshot.-visual-1-webkit-linux.png
  apps/test-app/app/tests/select/index.tsx
  packages/kiwi-react/src/bricks/Select.tsx
Due: copyright, format, lint

Render EmptyState when search returns no elements.
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

WIP - in getting the spacing correct.
  packages/kiwi-react/src/bricks/Chip.css
Due: copyright

Announce search results w/o filtering.
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

Trying to get tests to pass
  apps/test-app/app/tests/button/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/button/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/button/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/button/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/button/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/button/index.spec.ts-snapshot.-visual-forced-colors-1-webkit-linux.png
  apps/test-app/app/tests/icon-button/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/icon-button/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/icon-button/index.spec.ts-snapshot.-visual-forced-colors-1-webkit-linux.png
Due: none

WIP using min-block-size
  packages/kiwi-react/src/bricks/Chip.css
Due: copyright

using margin-inline-end
  packages/kiwi-react/src/bricks/Chip.css
Due: copyright

Update visual states
  apps/test-app/app/tests/chip/index.spec.ts-snapshot.-visual-chips-dismiss-variants-1-chromium-linux.png
  apps/test-app/app/tests/chip/index.spec.ts-snapshot.-visual-chips-dismiss-variants-1-firefox-linux.png
  apps/test-app/app/tests/chip/index.spec.ts-snapshot.-visual-chips-dismiss-variants-1-webkit-linux.png
  apps/test-app/app/tests/chip/index.spec.ts-snapshot.-visual-chips-visual-variants-1-chromium-linux.png
  apps/test-app/app/tests/chip/index.spec.ts-snapshot.-visual-chips-visual-variants-1-firefox-linux.png
  apps/test-app/app/tests/chip/index.spec.ts-snapshot.-visual-chips-visual-variants-1-webkit-linux.png
Due: none

Stop propagation for expander and item actions.
  packages/kiwi-react/src/bricks/Tree.tsx
Due: copyright, format, lint

Removing old test images.
  apps/test-app/app/tests/button/index.spec.ts-snapshot.-visual-1-chromium-linux.png
  apps/test-app/app/tests/button/index.spec.ts-snapshot.-visual-1-firefox-linux.png
  apps/test-app/app/tests/button/index.spec.ts-snapshot.-visual-1-webkit-linux.png
  apps/test-app/app/tests/button/index.spec.ts-snapshot.forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/button/index.spec.ts-snapshot.forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/button/index.spec.ts-snapshot.forced-colors-1-webkit-linux.png
  apps/test-app/app/tests/icon-button/index.spec.ts-snapshot.forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/icon-button/index.spec.ts-snapshot.forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/icon-button/index.spec.ts-snapshot.forced-colors-1-webkit-linux.png
Due: none

Update list item size and spacing
  packages/kiwi-react/src/bricks/ListItem.css
Due: copyright

Update snaps
  apps/test-app/app/tests/anchor/index.spec.ts-snapshot.-visual-1-chromium-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-1-chromium-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-1-firefox-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-1-webkit-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.DropdownMenu-CheckboxItem-visual-1-chromium-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.DropdownMenu-CheckboxItem-visual-1-firefox-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.DropdownMenu-CheckboxItem-visual-1-webkit-linux.png
  apps/test-app/app/tests/list/index.spec.ts-snapshot.-visual-active-1-chromium-linux.png
  apps/test-app/app/tests/list/index.spec.ts-snapshot.-visual-active-1-firefox-linux.png
  apps/test-app/app/tests/list/index.spec.ts-snapshot.-visual-active-1-webkit-linux.png
  apps/test-app/app/tests/list/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/list/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/list/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/list/index.spec.ts-snapshot.-visual-hovered-1-chromium-linux.png
  apps/test-app/app/tests/list/index.spec.ts-snapshot.-visual-hovered-1-firefox-linux.png
  apps/test-app/app/tests/list/index.spec.ts-snapshot.-visual-hovered-1-webkit-linux.png
  apps/test-app/app/tests/list/index.spec.ts-snapshot.-visual-pressed-1-chromium-linux.png
  apps/test-app/app/tests/list/index.spec.ts-snapshot.-visual-pressed-1-firefox-linux.png
  apps/test-app/app/tests/list/index.spec.ts-snapshot.-visual-pressed-1-webkit-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-focused-item-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-focused-item-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-focused-item-1-webkit-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-hovered-item-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-hovered-item-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-hovered-item-1-webkit-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-overflow-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-overflow-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-overflow-1-webkit-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-selected-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-selected-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-selected-1-webkit-linux.png
Due: none

Update anchor snaps, but why?
  apps/test-app/app/tests/anchor/index.spec.ts-snapshot.-visual-1-chromium-linux.png
Due: none

Inline useEventHandlers
  packages/kiwi-react/src/bricks/Tree.tsx
Due: copyright, format, lint

Add roles, remove data-kiwi-variant from table cell.
  packages/kiwi-react/src/bricks/Table.css
  packages/kiwi-react/src/bricks/Table.tsx
Due: copyright, format, lint

Stop `onClick` event propagation of tree item expander and actions (#271)
  packages/kiwi-react/src/bricks/Tree.tsx
Due: copyright, format, lint

implement treeview pattern
  apps/test-app/app/tests/tree/index.spec.ts
  packages/kiwi-react/src/bricks/Tree.css
  packages/kiwi-react/src/bricks/Tree.tsx
Due: copyright, format, lint

update test images
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-focused-item-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-focused-item-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-focused-item-1-webkit-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-hovered-item-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-hovered-item-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-hovered-item-1-webkit-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-overflow-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-selected-1-firefox-linux.png
Due: none
