Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    copyright:
      glob: "*.{js,ts,jsx,tsx,css,html}"
      run: pnpm lint:copyright {staged_files} --fix
      stage_fixed: true

    format:
      glob: "*.{js,ts,jsx,tsx,json,jsonc}"
      run: pnpm biome format --write {staged_files}
      stage_fixed: true

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm biome lint --write {staged_files}
      stage_fixed: true

    prettier:
      exclude:
        - "*.{js,ts,jsx,tsx,cjs,cts,mjs,mts,json,jsonc}"
      run: pnpm exec prettier {staged_files} --ignore-unknown --write
      stage_fixed: true

Use getByText in tests
  apps/test-app/app/routes/tests/kbd/index.spec.tsx
  apps/test-app/app/routes/tests/kbd/index.tsx
Due: copyright, format, lint

migrate test-app to `react-router` v7
  .gitignore
  .vscode/settings.json
  CONTRIBUTING.md
  apps/test-app/README.md
  apps/test-app/app/root.tsx
  apps/test-app/app/routes.ts
  apps/test-app/app/routes/icons.tsx
  apps/test-app/app/routes/index.tsx
  apps/test-app/app/routes/sandbox.tsx
  apps/test-app/app/routes/tests.tsx
  apps/test-app/app/routes/tests/anchor/index.tsx
  apps/test-app/app/routes/tests/button/index.tsx
  apps/test-app/app/routes/tests/checkbox/index.tsx
  apps/test-app/app/routes/tests/divider/index.tsx
  apps/test-app/app/routes/tests/dropdown-menu/index.tsx
  apps/test-app/app/routes/tests/field/index.tsx
  apps/test-app/app/routes/tests/icon-button/index.tsx
  apps/test-app/app/routes/tests/icon/index.tsx
  apps/test-app/app/routes/tests/list/index.tsx
  apps/test-app/app/routes/tests/radio/index.tsx
  apps/test-app/app/routes/tests/switch/index.tsx
  apps/test-app/app/routes/tests/tabs/index.tsx
  apps/test-app/app/routes/tests/text-box/index.tsx
  apps/test-app/app/routes/tests/textarea/index.tsx
  apps/test-app/app/routes/tests/tooltip/index.tsx
  apps/test-app/app/routes/tests/tree/index.tsx
  apps/test-app/app/routes/tokens.tsx
  apps/test-app/package.json
  apps/test-app/react-router.config.ts
  apps/test-app/tsconfig.json
  apps/test-app/vite.config.ts
  pnpm-lock.yaml
Due: copyright, format, lint

migrate test-app to `react-router` v7 (#155)
  .gitignore
  .vscode/settings.json
  CONTRIBUTING.md
  apps/test-app/README.md
  apps/test-app/app/root.tsx
  apps/test-app/app/routes.ts
  apps/test-app/app/routes/icons.tsx
  apps/test-app/app/routes/index.tsx
  apps/test-app/app/routes/sandbox.tsx
  apps/test-app/app/routes/tests.tsx
  apps/test-app/app/routes/tests/anchor/index.tsx
  apps/test-app/app/routes/tests/button/index.tsx
  apps/test-app/app/routes/tests/checkbox/index.tsx
  apps/test-app/app/routes/tests/divider/index.tsx
  apps/test-app/app/routes/tests/dropdown-menu/index.tsx
  apps/test-app/app/routes/tests/field/index.tsx
  apps/test-app/app/routes/tests/icon-button/index.tsx
  apps/test-app/app/routes/tests/icon/index.tsx
  apps/test-app/app/routes/tests/list/index.tsx
  apps/test-app/app/routes/tests/radio/index.tsx
  apps/test-app/app/routes/tests/switch/index.tsx
  apps/test-app/app/routes/tests/tabs/index.tsx
  apps/test-app/app/routes/tests/text-box/index.tsx
  apps/test-app/app/routes/tests/textarea/index.tsx
  apps/test-app/app/routes/tests/tooltip/index.tsx
  apps/test-app/app/routes/tests/tree/index.tsx
  apps/test-app/app/routes/tokens.tsx
  apps/test-app/package.json
  apps/test-app/react-router.config.ts
  apps/test-app/tsconfig.json
  apps/test-app/vite.config.ts
  pnpm-lock.yaml
Due: copyright, format, lint

Ability to expand nodes in sandbox.
  apps/test-app/app/routes/sandbox.tsx
Due: copyright, format, lint

use non-standard icon imports for SSR
  apps/test-app/app/routes/icons.tsx
  apps/test-app/app/routes/sandbox.tsx
  apps/test-app/app/routes/tests/button/index.tsx
  apps/test-app/app/routes/tests/icon-button/index.tsx
  apps/test-app/app/routes/tests/icon/index.tsx
  apps/test-app/app/routes/tests/list/index.tsx
  apps/test-app/app/routes/tests/text-box/index.tsx
Due: copyright, format, lint

Remove unused icon.
  apps/test-app/app/routes/tests/tree/index.tsx
Due: copyright, format, lint

create .nojekyll
  .nojekyll
Due: none

Fixing import issue.
  packages/kiwi-react/src/bricks/Kbd.tsx
Due: copyright, format, lint

Update packages/kiwi-react/src/bricks/Kbd.tsx
  packages/kiwi-react/src/bricks/Kbd.tsx
Due: copyright, format, lint

renaming test file.
  apps/test-app/app/routes/tests/kbd/index.spec.ts
Due: copyright, format, lint

Workaround the icon button inside tree item.
  apps/test-app/app/routes/tests/tree/index.tsx
  packages/kiwi-react/src/bricks/Tree.css
Due: copyright, format, lint

Add tree actions to the sandbox.
  apps/test-app/app/routes/sandbox.module.css
  apps/test-app/app/routes/sandbox.tsx
Due: copyright, format, lint

Avoid shrinking the icons in a tree.
  packages/kiwi-react/src/bricks/Tree.css
Due: copyright

Reduce inline end padding.
  packages/kiwi-react/src/bricks/Tree.css
Due: copyright

Add some visual tests
  apps/test-app/app/routes/tests/tree/index.spec.ts
  apps/test-app/app/routes/tests/tree/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/routes/tests/tree/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/routes/tests/tree/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/routes/tests/tree/index.spec.ts-snapshot.-visual-overflow-1-chromium-linux.png
  apps/test-app/app/routes/tests/tree/index.spec.ts-snapshot.-visual-overflow-1-firefox-linux.png
  apps/test-app/app/routes/tests/tree/index.spec.ts-snapshot.-visual-overflow-1-webkit-linux.png
  apps/test-app/app/routes/tests/tree/index.tsx
Due: copyright, format, lint

use non-standard icon imports for SSR (#157)
  apps/test-app/app/routes/icons.tsx
  apps/test-app/app/routes/sandbox.tsx
  apps/test-app/app/routes/tests/button/index.tsx
  apps/test-app/app/routes/tests/icon-button/index.tsx
  apps/test-app/app/routes/tests/icon/index.tsx
  apps/test-app/app/routes/tests/list/index.tsx
  apps/test-app/app/routes/tests/text-box/index.tsx
Due: copyright, format, lint

prerender routes
  .github/workflows/CI.yaml
  apps/test-app/package.json
  apps/test-app/vite.config.ts
Due: copyright, format, lint

Removal of Kbd keys
  apps/test-app/app/routes/tests/kbd/index.tsx
  packages/kiwi-react/src/bricks/Kbd.tsx
  packages/kiwi-react/src/bricks/index.ts
Due: copyright, format, lint

fix tests
  .github/workflows/CI.yaml
  Dockerfile
  apps/test-app/package.json
  apps/test-app/vite.config.ts
Due: copyright, format, lint

Use to be visible.
  apps/test-app/app/routes/tests/kbd/index.spec.ts
Due: copyright, format, lint

render prop addition
  packages/kiwi-react/src/bricks/Kbd.tsx
Due: copyright, format, lint

line-height adjustment
  packages/kiwi-react/src/bricks/Kbd.css
Due: copyright

removing props spread
  packages/kiwi-react/src/bricks/Kbd.tsx
Due: copyright, format, lint

better clarity on typing of component
  packages/kiwi-react/src/bricks/Kbd.tsx
Due: copyright, format, lint

Rename Tree.Label to Tree.Content.
  apps/test-app/app/routes/sandbox.tsx
  apps/test-app/app/routes/tests/tree/index.tsx
  packages/kiwi-react/src/bricks/Tree.css
  packages/kiwi-react/src/bricks/Tree.tsx
Due: copyright, format, lint

Move TreeChevron to Tree.tsx
  packages/kiwi-react/src/bricks/Icon.css
  packages/kiwi-react/src/bricks/Icon.tsx
  packages/kiwi-react/src/bricks/Tree.css
  packages/kiwi-react/src/bricks/Tree.tsx
Due: copyright, format, lint

Remove data-kiwi-expanded
  packages/kiwi-react/src/bricks/Tree.css
  packages/kiwi-react/src/bricks/Tree.tsx
Due: copyright, format, lint

Avoid aria-hidden on expander.
  packages/kiwi-react/src/bricks/Tree.css
  packages/kiwi-react/src/bricks/Tree.tsx
Due: copyright, format, lint

Remove expander from a11y tree and make it unfocusable.
  packages/kiwi-react/src/bricks/Tree.tsx
Due: copyright, format, lint

Avoid shrinking Icon when in a flex container.
  packages/kiwi-react/src/bricks/Icon.css
Due: copyright

Remove flex-shrink workaround.
  packages/kiwi-react/src/bricks/Tree.css
Due: copyright

Remove padding-block and rely on flex alignment instead.
  packages/kiwi-react/src/bricks/ListItem.css
Due: copyright

Remove icon button workaround.
  packages/kiwi-react/src/bricks/Tree.css
Due: copyright

Avoid shrinking `Icon` when in a flex container (#159)
  packages/kiwi-react/src/bricks/Icon.css
Due: copyright

Remove `padding-block` and rely on flex alignment in `ListItem` instead (#160)
  packages/kiwi-react/src/bricks/ListItem.css
Due: copyright

prerender routes (#156)
  .github/workflows/CI.yaml
  Dockerfile
  apps/test-app/vite.config.ts
Due: copyright, format, lint

VIsual updates
  apps/test-app/app/routes/tests/kbd/index.spec.ts-snapshot.-visual-1-chromium-linux.png
  apps/test-app/app/routes/tests/kbd/index.spec.ts-snapshot.-visual-1-firefox-linux.png
  apps/test-app/app/routes/tests/kbd/index.spec.ts-snapshot.-visual-1-webkit-linux.png
Due: none

Removing Line Height.
  packages/kiwi-react/src/bricks/Kbd.css
Due: copyright

create base fixture for more reliable tests
  apps/test-app/app/root.tsx
  apps/test-app/app/routes/tests/anchor/index.spec.ts
  apps/test-app/app/routes/tests/button/index.spec.ts
  apps/test-app/app/routes/tests/checkbox/index.spec.ts
  apps/test-app/app/routes/tests/divider/index.spec.ts
  apps/test-app/app/routes/tests/dropdown-menu/index.spec.ts
  apps/test-app/app/routes/tests/field/index.spec.ts
  apps/test-app/app/routes/tests/icon-button/index.spec.ts
  apps/test-app/app/routes/tests/icon/index.spec.ts
  apps/test-app/app/routes/tests/list/index.spec.ts
  apps/test-app/app/routes/tests/radio/index.spec.ts
  apps/test-app/app/routes/tests/root/index.spec.ts
  apps/test-app/app/routes/tests/switch/index.spec.ts
  apps/test-app/app/routes/tests/tabs/index.spec.ts
  apps/test-app/app/routes/tests/text-box/index.spec.ts
  apps/test-app/app/routes/tests/textarea/index.spec.ts
  apps/test-app/app/routes/tests/tooltip/index.spec.ts
  apps/test-app/app/routes/tests/tree/index.spec.ts
  apps/test-app/package.json
  apps/test-app/playwright.config.ts
Due: copyright, format, lint

avoid FOUC by rendering empty fallback page
  apps/test-app/app/root.tsx
Due: copyright, format, lint
