Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

copyright:
  run: pnpm lint:copyright {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm biome format --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm biome lint --write {staged_files}
  stage_fixed: true

format
  pnpm-lock.yaml
Due: none

create `types.d.ts` for module augmentation (#1150)
  .changeset/gentle-keys-lead.md
  apps/test-app/tsconfig.json
  packages/mui/README.md
  packages/mui/package.json
  packages/mui/scripts/build.js
  packages/mui/src/types.ts
Due: copyright, format, lint

update changelog
  packages/mui/CHANGELOG.md
Due: none

Use image in Card
  examples/mui/Card.default.module.css
  examples/mui/Card.default.tsx
Due: copyright, format, lint

Stretch dividers
  apps/test-app/app/mui.tsx
Due: copyright, format, lint

Stretch list
  apps/test-app/app/mui.tsx
Due: copyright, format, lint

Rm TableSortLabel
  examples/mui/Table.default.tsx
Due: copyright, format, lint

Rm aria-label of Tabs.default
  examples/mui/Tabs.default.tsx
Due: copyright, format, lint

Compile w/ StrataKit types
  examples/tsconfig.json
Due: format

React to Button variant default change
  examples/mui/AppBar.default.tsx
  examples/mui/Backdrop.default.tsx
  examples/mui/Dialog.default.tsx
  examples/mui/Drawer.default.tsx
  examples/mui/Menu.default.tsx
  examples/mui/Snackbar.default.tsx
Due: copyright, format, lint

remove extra `Button` colors
  .changeset/loose-taxes-see.md
  packages/mui/src/types.ts
Due: copyright, format, lint

deprecate `TextField` `variant` prop
  .changeset/old-years-itch.md
  packages/mui/src/types.ts
Due: copyright, format, lint

Update README.md
  README.md
Due: none

Update README.md
  packages/bricks/README.md
Due: none

Update README.md
  packages/foundations/README.md
Due: none

Update README.md
  packages/icons/README.md
Due: none

Update Card example
  examples/mui/Card.default.tsx
Due: copyright, format, lint

Update Stepper example
  examples/mui/Stepper.default.tsx
Due: copyright, format, lint

update `README.md` (#1154)
  README.md
  packages/bricks/README.md
  packages/foundations/README.md
  packages/icons/README.md
Due: none

remove `TextField.variants.tsx`
  apps/test-app/app/mui.tsx
  examples/mui/TextField.variants.tsx
Due: copyright, format, lint

deprecate `TextField` `variant` prop (#1153)
  .changeset/old-years-itch.md
  apps/test-app/app/mui.tsx
  examples/mui/TextField.variants.tsx
  packages/mui/src/types.ts
Due: copyright, format, lint

update examples
  examples/mui/Button._permutations.tsx
  examples/mui/Button.colors.tsx
Due: copyright, format, lint

restore `color="inherit"`
  .changeset/loose-taxes-see.md
  packages/mui/src/types.ts
Due: copyright, format, lint

remove extra `Button` status colors (#1152)
  .changeset/loose-taxes-see.md
  examples/mui/Button._permutations.tsx
  examples/mui/Button.colors.tsx
  packages/mui/src/types.ts
Due: copyright, format, lint

Use MUI font token, heights match button exactly.
  packages/mui/src/styles.css
Due: copyright

Fix select height
  packages/mui/src/styles.css
Due: copyright

fix `disabled` button styles
  .changeset/spotty-cases-itch.md
  packages/mui/src/styles.css
Due: copyright

Typo
  packages/mui/src/styles.css
Due: copyright

fix `disabled` button styles (#1156)
  .changeset/spotty-cases-itch.md
  packages/mui/src/styles.css
Due: copyright

remove extra `IconButton` status colors
  .changeset/cozy-buttons-change.md
  examples/mui/IconButton._colors.tsx
  packages/mui/src/types.ts
Due: copyright, format, lint

remove extra `IconButton` status colors (#1158)
  .changeset/cozy-buttons-change.md
  examples/mui/IconButton._colors.tsx
  packages/mui/src/types.ts
Due: copyright, format, lint

use `describeChild` by default
  .changeset/gentle-glasses-eat.md
  examples/mui/Badge.default.tsx
  examples/mui/Fab.default.tsx
  examples/mui/IconButton._colors.tsx
  examples/mui/IconButton.default.tsx
  examples/mui/Snackbar.default.tsx
  examples/mui/ToggleButton.default.tsx
  examples/mui/Tooltip.default.tsx
  packages/mui/src/createTheme.tsx
  packages/mui/src/types.ts
Due: copyright, format, lint

Remove padding from input & select, use min-block-size and line-height instead
  packages/mui/src/styles.css
Due: copyright

Use align-content instead of line-height for vertical centering.
  packages/mui/src/styles.css
Due: copyright

update `Dialog` actions spacing
  .changeset/modern-dolls-smash.md
  packages/mui/src/styles.css
Due: copyright

use primary color for primary action
  examples/mui/Dialog.default.tsx
Due: copyright, format, lint

update `Fab` `color` prop
  .changeset/ninety-eyes-jump.md
  packages/mui/src/createTheme.tsx
  packages/mui/src/types.ts
Due: copyright, format, lint

Init
  packages/mui/src/styles.css
Due: copyright

Path conditions:
  copyright: any of: *.{js,ts,jsx,tsx,css,html}
  format: any of: *.{js,ts,jsx,tsx,json,jsonc}
  lint: any of: *.{js,ts,jsx,tsx}
