Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

copyright:
  run: pnpm lint:copyright {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm biome format --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm biome lint --write {staged_files}
  stage_fixed: true

Rename active prop to selected.
  apps/test-app/app/routes/tests/tree/index.tsx
  packages/kiwi-react/src/bricks/Tree.css
  packages/kiwi-react/src/bricks/Tree.tsx
Due: copyright, format, lint

Add aria-level attribute
  apps/test-app/app/routes/tests/tree/index.spec.ts
  packages/kiwi-react/src/bricks/Tree.css
  packages/kiwi-react/src/bricks/Tree.tsx
Due: copyright, format, lint

Add expand buttons to sandbox.
  apps/test-app/app/routes/sandbox.tsx
  apps/test-app/app/routes/tests/tree/index.tsx
Due: copyright, format, lint

Add Axe scan.
  apps/test-app/app/routes/tests/tree/index.spec.ts
Due: copyright, format, lint

use `Field` in test routes
  apps/test-app/app/routes/tests/checkbox/index.tsx
  apps/test-app/app/routes/tests/radio/index.tsx
  apps/test-app/app/routes/tests/switch/index.tsx
  apps/test-app/app/routes/tests/text-box/index.spec.ts-snapshot.-visual-disabled-input-1-chromium-linux.png
  apps/test-app/app/routes/tests/text-box/index.spec.ts-snapshot.-visual-disabled-input-1-firefox-linux.png
  apps/test-app/app/routes/tests/text-box/index.spec.ts-snapshot.-visual-disabled-input-1-webkit-linux.png
  apps/test-app/app/routes/tests/text-box/index.spec.ts-snapshot.-visual-focus-outline-input-1-chromium-linux.png
  apps/test-app/app/routes/tests/text-box/index.spec.ts-snapshot.-visual-focus-outline-input-1-firefox-linux.png
  apps/test-app/app/routes/tests/text-box/index.spec.ts-snapshot.-visual-focus-outline-input-1-webkit-linux.png
  apps/test-app/app/routes/tests/text-box/index.tsx
  apps/test-app/app/routes/tests/textarea/index.spec.ts-snapshot.-visual-1-chromium-linux.png
  apps/test-app/app/routes/tests/textarea/index.spec.ts-snapshot.-visual-1-firefox-linux.png
  apps/test-app/app/routes/tests/textarea/index.spec.ts-snapshot.-visual-1-webkit-linux.png
  apps/test-app/app/routes/tests/textarea/index.tsx
Due: copyright, format, lint

Remove unused CSS
  apps/test-app/app/routes/sandbox.module.css
  apps/test-app/app/routes/sandbox.tsx
Due: copyright, format, lint

Remove unused className
  apps/test-app/app/routes/sandbox.tsx
Due: copyright, format, lint

add Geist Mono font
  apps/test-app/app/root.css
  apps/test-app/app/root.tsx
Due: copyright, format, lint

add Geist Mono font (#152)
  apps/test-app/app/root.css
  apps/test-app/app/root.tsx
Due: copyright, format, lint

use `Field` in test routes (#150)
  apps/test-app/app/routes/tests/checkbox/index.tsx
  apps/test-app/app/routes/tests/radio/index.tsx
  apps/test-app/app/routes/tests/switch/index.tsx
  apps/test-app/app/routes/tests/text-box/index.spec.ts-snapshot.-visual-disabled-input-1-chromium-linux.png
  apps/test-app/app/routes/tests/text-box/index.spec.ts-snapshot.-visual-disabled-input-1-firefox-linux.png
  apps/test-app/app/routes/tests/text-box/index.spec.ts-snapshot.-visual-disabled-input-1-webkit-linux.png
  apps/test-app/app/routes/tests/text-box/index.spec.ts-snapshot.-visual-focus-outline-input-1-chromium-linux.png
  apps/test-app/app/routes/tests/text-box/index.spec.ts-snapshot.-visual-focus-outline-input-1-firefox-linux.png
  apps/test-app/app/routes/tests/text-box/index.spec.ts-snapshot.-visual-focus-outline-input-1-webkit-linux.png
  apps/test-app/app/routes/tests/text-box/index.tsx
  apps/test-app/app/routes/tests/textarea/index.spec.ts-snapshot.-visual-1-chromium-linux.png
  apps/test-app/app/routes/tests/textarea/index.spec.ts-snapshot.-visual-1-firefox-linux.png
  apps/test-app/app/routes/tests/textarea/index.spec.ts-snapshot.-visual-1-webkit-linux.png
  apps/test-app/app/routes/tests/textarea/index.tsx
Due: copyright, format, lint

sandbox: add search icon to input
  apps/test-app/app/routes/sandbox.tsx
  packages/kiwi-react/src/bricks/TextBox.css
Due: copyright, format, lint

sandbox: add search icon to input (#149)
  apps/test-app/app/routes/sandbox.tsx
  packages/kiwi-react/src/bricks/TextBox.css
Due: copyright, format, lint

create `DisclosureArrow` for `DropdownMenu.Button`
  apps/test-app/app/routes/tests/dropdown-menu/index.spec.ts-snapshot.-visual-1-chromium-linux.png
  apps/test-app/app/routes/tests/dropdown-menu/index.spec.ts-snapshot.-visual-1-firefox-linux.png
  apps/test-app/app/routes/tests/dropdown-menu/index.spec.ts-snapshot.-visual-1-webkit-linux.png
  packages/kiwi-react/src/bricks/DropdownMenu.css
  packages/kiwi-react/src/bricks/DropdownMenu.tsx
  packages/kiwi-react/src/bricks/Icon.css
  packages/kiwi-react/src/bricks/Icon.tsx
Due: copyright, format, lint

Update apps/test-app/app/routes/tests/kbd/index.tsx
  apps/test-app/app/routes/tests/kbd/index.tsx
Due: copyright, format, lint

Update packages/kiwi-react/src/bricks/Kbd.css
  packages/kiwi-react/src/bricks/Kbd.css
Due: copyright

making line-height unitless
  packages/kiwi-react/src/bricks/Kbd.css
Due: copyright

Logical padding.
  packages/kiwi-react/src/bricks/Kbd.css
Due: copyright

Use native kbd element as no aria role mapping
  packages/kiwi-react/src/bricks/Kbd.tsx
Due: copyright, format, lint

Avoiding using px for height and using padding-block and inline
  packages/kiwi-react/src/bricks/Kbd.css
Due: copyright

Updating snapshots
  apps/test-app/app/routes/tests/kbd/index.spec.tsx-snapshot.-visual-1-chromium-linux.png
  apps/test-app/app/routes/tests/kbd/index.spec.tsx-snapshot.-visual-1-firefox-linux.png
  apps/test-app/app/routes/tests/kbd/index.spec.tsx-snapshot.-visual-1-webkit-linux.png
Due: none

Aligning the font weight.
  packages/kiwi-react/src/bricks/Kbd.css
Due: copyright

respect reduced-motion
  packages/kiwi-react/src/bricks/Icon.css
Due: copyright

redefining color to a kiwi variable
  packages/kiwi-react/src/bricks/Kbd.css
Due: copyright

create `DisclosureArrow` for `DropdownMenu.Button` (#153)
  apps/test-app/app/routes/tests/dropdown-menu/index.spec.ts-snapshot.-visual-1-chromium-linux.png
  apps/test-app/app/routes/tests/dropdown-menu/index.spec.ts-snapshot.-visual-1-firefox-linux.png
  apps/test-app/app/routes/tests/dropdown-menu/index.spec.ts-snapshot.-visual-1-webkit-linux.png
  packages/kiwi-react/src/bricks/DropdownMenu.css
  packages/kiwi-react/src/bricks/DropdownMenu.tsx
  packages/kiwi-react/src/bricks/Icon.css
  packages/kiwi-react/src/bricks/Icon.tsx
Due: copyright, format, lint

Add initial `Tree` component (#151)
  apps/test-app/app/routes/index.tsx
  apps/test-app/app/routes/sandbox.tsx
  apps/test-app/app/routes/tests/tree/index.spec.ts
  apps/test-app/app/routes/tests/tree/index.tsx
  packages/kiwi-react/src/bricks/Tree.css
  packages/kiwi-react/src/bricks/Tree.tsx
  packages/kiwi-react/src/bricks/index.ts
  packages/kiwi-react/src/bricks/styles.css
Due: copyright, format, lint

Adjust TreeItem indent.
  packages/kiwi-react/src/bricks/Tree.css
Due: copyright

Add Tree.Label component.
  apps/test-app/app/routes/sandbox.tsx
  apps/test-app/app/routes/tests/tree/index.tsx
  packages/kiwi-react/src/bricks/Tree.tsx
Due: copyright, format, lint

Truncate tree label.
  packages/kiwi-react/src/bricks/Tree.css
Due: copyright

Add TreeChevron
  packages/kiwi-react/src/bricks/Icon.css
  packages/kiwi-react/src/bricks/Icon.tsx
Due: copyright, format, lint

Add TreeItemExpander
  apps/test-app/app/routes/sandbox.tsx
  apps/test-app/app/routes/tests/tree/index.tsx
  packages/kiwi-react/src/bricks/Tree.css
  packages/kiwi-react/src/bricks/Tree.tsx
Due: copyright, format, lint

Remove redundant exports
  packages/kiwi-react/src/bricks/Tree.tsx
Due: copyright, format, lint

Update packages/kiwi-react/src/bricks/Kbd.tsx
  packages/kiwi-react/src/bricks/Kbd.tsx
Due: copyright, format, lint

Update apps/test-app/app/routes/tests/kbd/index.spec.tsx
  apps/test-app/app/routes/tests/kbd/index.spec.tsx
Due: copyright, format, lint

Hide tree item expander for leaf nodes.
  packages/kiwi-react/src/bricks/Tree.css
  packages/kiwi-react/src/bricks/Tree.tsx
Due: copyright, format, lint

Update label
  packages/kiwi-react/src/bricks/Tree.tsx
Due: copyright, format, lint

Path conditions:
  copyright: any of: *.{js,ts,jsx,tsx,css,html}
  format: any of: *.{js,ts,jsx,tsx,json,jsonc}
  lint: any of: *.{js,ts,jsx,tsx}
