Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

copyright:
  run: pnpm lint:copyright {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm biome format --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm biome lint --write {staged_files}
  stage_fixed: true

Apply suggestions from code review
  apps/test-app/app/~utils.module.css
Due: copyright

Fix styles. Remove flex from table elements
  packages/kiwi-react/src/bricks/Table.css
Due: copyright

Images
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-hovered-row-1-chromium-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-hovered-row-1-firefox-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-hovered-row-1-webkit-linux.png
Due: none

`overflow-wrap: anywhere`
  packages/kiwi-react/src/bricks/Table.css
Due: copyright

define typography variants to be read only
  apps/test-app/app/tokens.tsx
Due: copyright, format, lint

Collab with Jon & Rohan, unfinished.
  apps/test-app/app/~utils.module.css
  apps/test-app/app/~utils.tsx
Due: copyright, format, lint

Leftover
  apps/test-app/app/~utils.module.css
Due: copyright

`user-select: none` on list items
  apps/test-app/app/~utils.module.css
Due: copyright

portal `DropdownMenu` and `Tooltip` by default
  packages/kiwi-react/src/bricks/DropdownMenu.tsx
  packages/kiwi-react/src/bricks/Tooltip.tsx
Due: copyright, format, lint

exclude false positives
  apps/test-app/app/tests/dropdown-menu/index.spec.ts
Due: copyright, format, lint

3 💀
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

handle multiple stylesheets and cleanup
  packages/kiwi-react/src/bricks/Root.tsx
Due: copyright, format, lint

Slow keyframe
  packages/kiwi-react/src/bricks/Spinner.css
Due: copyright

Use --ids-color-glow-hue variable.
  packages/kiwi-react/src/bricks/Skeleton.css
Due: copyright

Revert non-animated background color value.
  packages/kiwi-react/src/bricks/Skeleton.css
Due: copyright

Apply suggestions from code review
  apps/test-app/app/~utils.module.css
  apps/test-app/app/~utils.tsx
Due: copyright, format, lint

create `Root.internal.tsx`
  packages/kiwi-react/src/bricks/Root.internal.tsx
  packages/kiwi-react/src/bricks/Root.tsx
  packages/kiwi-react/src/bricks/~hooks.ts
  packages/kiwi-react/src/bricks/~utils.tsx
Due: copyright, format, lint

Tabs use position anchor
  packages/kiwi-react/src/bricks/Tabs.css
Due: copyright

Accidentally included a layer base within ::after
  packages/kiwi-react/src/bricks/Tabs.css
Due: copyright

portal `DropdownMenu` and `Tooltip` by default (#432)
  apps/test-app/app/tests/dropdown-menu/index.spec.ts
  packages/kiwi-react/src/bricks/DropdownMenu.tsx
  packages/kiwi-react/src/bricks/Tooltip.tsx
Due: copyright, format, lint

readability
  packages/kiwi-react/src/bricks/Root.tsx
Due: copyright, format, lint

tests
  apps/test-app/app/tests/root/index.spec.ts
  apps/test-app/app/tests/root/index.spec.ts-snapshot.with-root-chromium-linux.png
  apps/test-app/app/tests/root/index.spec.ts-snapshot.with-root-firefox-linux.png
  apps/test-app/app/tests/root/index.spec.ts-snapshot.with-root-webkit-linux.png
  apps/test-app/app/tests/root/index.spec.ts-snapshot.without-root-chromium-linux.png
  apps/test-app/app/tests/root/index.spec.ts-snapshot.without-root-firefox-linux.png
  apps/test-app/app/tests/root/index.spec.ts-snapshot.without-root-webkit-linux.png
  apps/test-app/app/tests/root/index.tsx
Due: copyright, format, lint

handle multiple stylesheets and cleanup (#460)
  apps/test-app/app/tests/root/index.spec.ts
  apps/test-app/app/tests/root/index.spec.ts-snapshot.with-root-chromium-linux.png
  apps/test-app/app/tests/root/index.spec.ts-snapshot.with-root-firefox-linux.png
  apps/test-app/app/tests/root/index.spec.ts-snapshot.with-root-webkit-linux.png
  apps/test-app/app/tests/root/index.spec.ts-snapshot.without-root-chromium-linux.png
  apps/test-app/app/tests/root/index.spec.ts-snapshot.without-root-firefox-linux.png
  apps/test-app/app/tests/root/index.spec.ts-snapshot.without-root-webkit-linux.png
  apps/test-app/app/tests/root/index.tsx
  packages/kiwi-react/src/bricks/Root.tsx
Due: copyright, format, lint

Add error to Tree.Item
  apps/test-app/app/tests/tree/index.tsx
  packages/kiwi-react/src/bricks/Icon.tsx
  packages/kiwi-react/src/bricks/TreeItem.css
  packages/kiwi-react/src/bricks/TreeItem.tsx
Due: copyright, format, lint

Render error retry action
  apps/test-app/app/tests/tree/index.tsx
Due: copyright, format, lint

Add test
  apps/test-app/app/tests/tree/index.spec.ts
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-error-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-error-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-error-1-webkit-linux.png
Due: copyright, format, lint

Update setItemIdToErrorId
  packages/kiwi-react/src/bricks/Tree.tsx
Due: copyright, format, lint

Fix test-app after children omit
  apps/test-app/app/sandbox.tsx
  apps/test-app/app/tests/tree/index.tsx
Due: copyright, format, lint

Use Anchor directly
  packages/kiwi-react/src/bricks/TreeError.tsx
Due: copyright, format, lint

Fix underline of anchor button
  apps/test-app/app/tests/anchor/index.tsx
  packages/kiwi-react/src/bricks/Anchor.css
Due: copyright, format, lint

Get rid of TreeErrorItemAction styling
  packages/kiwi-react/src/bricks/TreeError.css
  packages/kiwi-react/src/bricks/TreeError.tsx
Due: copyright, format, lint

sandbox: fix regression
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

move some utils out of `Root.tsx` (#462)
  packages/kiwi-react/src/bricks/Root.internal.tsx
  packages/kiwi-react/src/bricks/Root.tsx
  packages/kiwi-react/src/bricks/~hooks.ts
  packages/kiwi-react/src/bricks/~utils.tsx
Due: copyright, format, lint

sandbox: fix regression from #443 (#470)
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

implement runtime fallback for icon urls
  apps/test-app/app/tests/icon/index.spec.ts
  apps/test-app/app/tests/icon/index.spec.ts-snapshot.-visual-data-uri-fallback-1-chromium-linux.png
  apps/test-app/app/tests/icon/index.spec.ts-snapshot.-visual-data-uri-fallback-1-firefox-linux.png
  apps/test-app/app/tests/icon/index.spec.ts-snapshot.-visual-data-uri-fallback-1-webkit-linux.png
  apps/test-app/app/tests/icon/index.tsx
  apps/test-app/app/tests/tree/index.tsx
  packages/kiwi-icons/README.md
  packages/kiwi-react/src/bricks/Icon.tsx
  packages/kiwi-react/src/bricks/Root.internal.tsx
  packages/kiwi-react/src/bricks/Root.tsx
  packages/kiwi-react/src/bricks/~utils.tsx
Due: copyright, format, lint

docs
  packages/kiwi-icons/README.md
  packages/kiwi-react/src/bricks/Icon.tsx
Due: copyright, format, lint

Move to base styles and use text-decoration-line instead of shorthand.
  packages/kiwi-react/src/bricks/Anchor.css
Due: copyright

Fix underline styling of `<Anchor>` button (#467)
  apps/test-app/app/tests/anchor/index.tsx
  packages/kiwi-react/src/bricks/Anchor.css
Due: copyright, format, lint

Path conditions:
  copyright: any of: *.{js,ts,jsx,tsx,css,html}
  format: any of: *.{js,ts,jsx,tsx,json,jsonc}
  lint: any of: *.{js,ts,jsx,tsx}
