Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    copyright:
      glob: "*.{js,ts,jsx,tsx,css,html}"
      run: pnpm lint:copyright {staged_files} --fix
      stage_fixed: true

    format:
      glob: "*.{js,ts,jsx,tsx,json,jsonc}"
      run: pnpm biome format --write {staged_files}
      stage_fixed: true

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm biome lint --write {staged_files}
      stage_fixed: true

    prettier:
      exclude:
        - "*.{js,ts,jsx,tsx,cjs,cts,mjs,mts,json,jsonc}"
      run: pnpm exec prettier {staged_files} --ignore-unknown --write
      stage_fixed: true

Variables also set on :root
  packages/mui/src/~tokens.css
Due: copyright

Rename variables.
  packages/mui/src/~components/MuiCheckbox.css
  packages/mui/src/~components/MuiSlider.css
  packages/mui/src/~tokens.css
Due: copyright

Use global component size variables in Button
  packages/mui/src/~components/MuiButton.css
Due: copyright

Use global component size variables in Icon Button
  packages/mui/src/~components/MuiIconButton.css
Due: copyright

Add size demos for Button and Icon Button
  apps/test-app/app/mui.tsx
  examples/mui/Button.sizes.tsx
  examples/mui/IconButton.sizes.tsx
Due: copyright, format, lint

Bad copy / paste
  examples/mui/IconButton.sizes.tsx
Due: copyright, format, lint

Use global component size variables in Chip
  packages/mui/src/~components/MuiChip.css
Due: copyright

Use global component size variables in inputs
  packages/mui/src/~components/MuiInput.css
Due: copyright

Use global component size variables in Autocomplete tag
  packages/mui/src/~components/MuiAutocomplete.css
Due: copyright

Add size demos for Chip and TextField
  apps/test-app/app/mui.tsx
  examples/mui/Chip.sizes.tsx
  examples/mui/TextField.sizes.tsx
Due: copyright, format, lint

Fixing mistakes
  apps/test-app/app/mui.tsx
Due: copyright, format, lint

Add code comment to investigate a better solution
  packages/mui/src/~components/MuiSwitch.css
Due: copyright

Move variables from MUI to Foundations
  .changeset/olive-cooks-join.md
  packages/foundations/src/~size.css
  packages/foundations/src/~styles.css
  packages/mui/src/~tokens.css
Due: copyright

bump `svgo`
  pnpm-lock.yaml
Due: none

Remove touch target variable
  packages/foundations/src/~size.css
  packages/mui/src/~components/MuiCheckbox.css
  packages/mui/src/~components/MuiSlider.css
Due: copyright

Rename variables.
  packages/foundations/src/~size.css
Due: copyright

Empty line
  packages/foundations/src/~size.css
Due: copyright

Use new variable names
  packages/mui/src/~components/MuiButton.css
  packages/mui/src/~components/MuiIconButton.css
Due: copyright

Changeset
  .changeset/three-melons-end.md
Due: none

Use new variable names
  packages/mui/src/~components/MuiChip.css
  packages/mui/src/~components/MuiInput.css
Due: copyright

Changeset
  .changeset/khaki-knives-behave.md
Due: none

Proof of concept
  apps/test-app/app/root.tsx
  packages/foundations/src/Root.tsx
  packages/foundations/src/~accent-override.css
  packages/foundations/src/~accent-override.css.ts
Due: copyright, format, lint

Add badge border
  .changeset/fluffy-sails-press.md
  packages/mui/src/~components/MuiBadge.css
  packages/mui/src/~forced-colors.css
Due: copyright

rename file to `overview.md`
  apps/website/astro.config.mjs
  apps/website/src/content/docs/components/overview.md
  apps/website/src/content/docs/guides/migration-from-legacy-stratakit.mdx
Due: none

Avatar updates
  .changeset/pink-olives-beg.md
  apps/test-app/app/mui.tsx
  apps/website/src/content/docs/components/mui/Avatar.md
  examples/mui/Avatar.icon.tsx
  examples/mui/Avatar.image.tsx
  packages/mui/src/~components.css
  packages/mui/src/~components/MuiAvatar.css
  packages/mui/src/~forced-colors.css
Due: copyright, format, lint

Remove debugging tests
  examples/mui/Avatar.default.tsx
Due: copyright, format, lint

Set padding on all icon button sizes
  packages/mui/src/~components/MuiIconButton.css
Due: copyright

Set padding on all button sizes, use typography mixin
  packages/mui/src/~components/MuiButton.css
Due: copyright

Add examples to documentation, explain modifications.
  apps/website/src/content/docs/components/mui/Button.md
  apps/website/src/content/docs/components/mui/IconButton.md
Due: none

Remove min-inline-size
  packages/mui/src/~components/MuiButton.css
Due: copyright

Change button's padding-block to padding
  packages/mui/src/~components/MuiButton.css
Due: copyright

Apply different typography mixins for different button sizes
  packages/mui/src/~components/MuiButton.css
Due: copyright

Increase inline padding
  packages/mui/src/~components/MuiButton.css
Due: copyright

Add switch animation
  .changeset/deep-socks-wish.md
  packages/mui/src/~components/MuiSwitch.css
Due: copyright

Add-back docs
  apps/website/src/content/docs/components/mui/Avatar.md
Due: none

Examples
  apps/test-app/app/mui.tsx
  examples/mui/Avatar.decorative.module.css
  examples/mui/Avatar.decorative.tsx
  examples/mui/Avatar.icon.tsx
  examples/mui/Avatar.initials.tsx
Due: copyright, format, lint

Docs
  apps/website/src/content/docs/components/mui/Avatar.md
Due: none

Consistent svg import
  examples/mui/Accordion.decoration.tsx
Due: copyright, format, lint

Consistent do and don't headings
  apps/website/src/content/docs/components/mui/Accordion.md
Due: none

Consistent svg import names in code
  apps/test-app/app/sandbox/index.tsx
  apps/test-app/app/tests/accordion-item/index.tsx
  apps/test-app/app/tests/avatar/index.tsx
  apps/test-app/app/tests/badge/index.tsx
  apps/test-app/app/tests/banner/index.tsx
  apps/test-app/app/tests/button/index.tsx
  apps/test-app/app/tests/dropdown-menu/index.tsx
  apps/test-app/app/tests/icon-button/index.tsx
  apps/test-app/app/tests/icon/index.tsx
  apps/test-app/app/tests/list/index.tsx
  apps/test-app/app/tests/navigation-list/index.tsx
  apps/test-app/app/tests/navigation-rail/index.tsx
  apps/test-app/app/tests/tabs/index.tsx
  apps/test-app/app/tests/text-box/index.tsx
  apps/test-app/app/tests/toolbar/index.tsx
  apps/test-app/app/tests/tree/index.tsx
  examples/bricks/Avatar.icon.tsx
  examples/bricks/Badge.critical.tsx
  examples/bricks/Badge.tones.tsx
  examples/bricks/Button.icon.tsx
  examples/bricks/IconButton.default.tsx
  examples/bricks/IconButton.dot.tsx
  examples/bricks/IconButton.toolbar.tsx
  examples/bricks/IconButton.variants.tsx
  examples/structures/AccordionItem.decoration.tsx
  examples/structures/NavigationRail.default.tsx
  examples/structures/Toolbar.default.tsx
  examples/structures/Toolbar.divider.tsx
  packages/bricks/src/Field.tsx
  packages/structures/src/AccordionItem.tsx
  packages/structures/src/Banner.tsx
Due: copyright, format, lint
