Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

copyright:
  run: pnpm lint:copyright {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm biome format --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm biome lint --write {staged_files}
  stage_fixed: true

import from individual Ariakit entrypoints (#410)
  packages/kiwi-react/src/bricks/Anchor.tsx
  packages/kiwi-react/src/bricks/Avatar.tsx
  packages/kiwi-react/src/bricks/Badge.tsx
  packages/kiwi-react/src/bricks/Button.tsx
  packages/kiwi-react/src/bricks/Checkbox.tsx
  packages/kiwi-react/src/bricks/Chip.tsx
  packages/kiwi-react/src/bricks/Divider.tsx
  packages/kiwi-react/src/bricks/DropdownMenu.tsx
  packages/kiwi-react/src/bricks/Field.tsx
  packages/kiwi-react/src/bricks/Icon.tsx
  packages/kiwi-react/src/bricks/IconButton.tsx
  packages/kiwi-react/src/bricks/Kbd.tsx
  packages/kiwi-react/src/bricks/Label.tsx
  packages/kiwi-react/src/bricks/ListItem.tsx
  packages/kiwi-react/src/bricks/Radio.tsx
  packages/kiwi-react/src/bricks/Root.tsx
  packages/kiwi-react/src/bricks/Select.tsx
  packages/kiwi-react/src/bricks/Spinner.tsx
  packages/kiwi-react/src/bricks/Switch.tsx
  packages/kiwi-react/src/bricks/Table.tsx
  packages/kiwi-react/src/bricks/Tabs.tsx
  packages/kiwi-react/src/bricks/Text.tsx
  packages/kiwi-react/src/bricks/TextBox.tsx
  packages/kiwi-react/src/bricks/Tooltip.tsx
  packages/kiwi-react/src/bricks/Tree.tsx
  packages/kiwi-react/src/bricks/TreeItem.tsx
  packages/kiwi-react/src/bricks/VisuallyHidden.tsx
  packages/kiwi-react/src/bricks/~hooks.ts
  packages/kiwi-react/src/bricks/~utils.tsx
Due: copyright, format, lint

Allow multiple decorations instead of just icon
  apps/test-app/app/sandbox.tsx
  apps/test-app/app/tests/tree/index.tsx
  packages/kiwi-react/src/bricks/TreeItem.tsx
Due: copyright, format, lint

Make `ListItem.Decoration` a div instead of a span
  packages/kiwi-react/src/bricks/ListItem.tsx
Due: copyright, format, lint

Wrap tree item decoration in a div for layout
  packages/kiwi-react/src/bricks/TreeItem.css
  packages/kiwi-react/src/bricks/TreeItem.tsx
Due: copyright, format, lint

Update code owners to Design System Developers GitHub team.
  .github/CODEOWNERS
Due: none

Add multiple decorations in visual tests
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-description-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-description-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-description-1-webkit-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-focused-item-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-focused-item-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-focused-item-1-webkit-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-hovered-item-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-hovered-item-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-hovered-item-1-webkit-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-overflow-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-overflow-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-overflow-1-webkit-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-selected-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-selected-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-selected-1-webkit-linux.png
  apps/test-app/app/tests/tree/index.tsx
Due: copyright, format, lint

Update .github/CODEOWNERS
  .github/CODEOWNERS
Due: none

Comments
  apps/test-app/app/tests/skeleton/index.tsx
  packages/kiwi-react/src/bricks/Skeleton.css
Due: copyright, format, lint

Forced colors
  packages/kiwi-react/src/bricks/Skeleton.css
Due: copyright

Simplify styles
  apps/test-app/app/tests/tests.css
  apps/test-app/app/tests/tests.module.css
  apps/test-app/app/tests/tests.tsx
Due: copyright, format, lint

Add color tiles in complex tab of sandbox
  apps/test-app/app/sandbox.module.css
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

Remove right sidebar on test
  apps/test-app/app/tests/tests.tsx
  apps/test-app/app/~utils.tsx
  apps/test-app/package.json
Due: copyright, format, lint

Images
  apps/test-app/app/tests/skeleton/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/skeleton/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/skeleton/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
Due: none

Include the decoration as a description of the tree item
  apps/test-app/app/sandbox.tsx
  packages/kiwi-react/src/bricks/TreeItem.tsx
Due: copyright, format, lint

Remove unnecessary `display: inline`
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

Rename to `decorations`
  apps/test-app/app/sandbox.tsx
  apps/test-app/app/tests/tree/index.tsx
  packages/kiwi-react/src/bricks/TreeItem.tsx
Due: copyright, format, lint

Create `<ColorSwatch>` in sandbox
  apps/test-app/app/sandbox.module.css
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

Use _ prefix for colorSwatch custom properties
  apps/test-app/app/sandbox.module.css
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

Update `CODEOWNERS` (#414)
  .github/CODEOWNERS
Due: none

`DropdownMenu.Item`: recognize symbols in `shortcuts`
  .vscode/settings.json
  apps/test-app/app/tests/dropdown-menu/index.spec.ts
  apps/test-app/app/tests/dropdown-menu/index.tsx
  packages/kiwi-react/src/bricks/DropdownMenu.tsx
  packages/kiwi-react/src/bricks/Kbd.internal.ts
  packages/kiwi-react/src/bricks/Kbd.tsx
  packages/kiwi-react/src/bricks/~utils.tsx
Due: copyright, format, lint

Docs
  packages/kiwi-react/src/bricks/TreeItem.tsx
Due: copyright, format, lint

Simplification
  apps/test-app/app/tests/tests.module.css
Due: copyright

add `dot` prop to `<IconButton>`
  apps/test-app/app/sandbox.tsx
  apps/test-app/app/tests/icon-button/index.spec.ts
  apps/test-app/app/tests/icon-button/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/icon-button/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/icon-button/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/icon-button/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/icon-button/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/icon-button/index.tsx
  packages/kiwi-react/src/bricks/Button.css
  packages/kiwi-react/src/bricks/IconButton.css
  packages/kiwi-react/src/bricks/IconButton.tsx
Due: copyright, format, lint

fix `Select` arrow
  packages/kiwi-react/src/bricks/Select.css
Due: copyright

Entire list item clickable
  apps/test-app/app/tests/tests.module.css
  apps/test-app/app/~utils.module.css
  apps/test-app/app/~utils.tsx
Due: copyright, format, lint

Fix
  apps/test-app/app/~utils.module.css
Due: copyright

updates remaining licenses
  packages/kiwi-icons/LICENSE.md
  packages/kiwi-react/LICENSE.md
Due: none

Update packages/kiwi-react/src/bricks/ProgressBar.css
  packages/kiwi-react/src/bricks/ProgressBar.css
Due: copyright

`VITE_ENV=test` in Dockerfile
  Dockerfile
  apps/test-app/package.json
Due: format

Animation changes from Nathan
  packages/kiwi-react/src/bricks/ProgressBar.css
Due: copyright

Update packages/kiwi-react/src/bricks/ProgressBar.tsx
  packages/kiwi-react/src/bricks/ProgressBar.tsx
Due: copyright, format, lint

Test decoration as a description
  apps/test-app/app/tests/tree/index.spec.ts
  apps/test-app/app/tests/tree/index.tsx
Due: copyright, format, lint

`DropdownMenu.Item`: recognize symbols in `shortcuts` (#416)
  .vscode/settings.json
  apps/test-app/app/tests/dropdown-menu/index.spec.ts
  apps/test-app/app/tests/dropdown-menu/index.tsx
  packages/kiwi-react/src/bricks/DropdownMenu.tsx
  packages/kiwi-react/src/bricks/Kbd.internal.ts
  packages/kiwi-react/src/bricks/Kbd.tsx
  packages/kiwi-react/src/bricks/~utils.tsx
Due: copyright, format, lint

enable `noRestrictedImports` for `"@ariakit/react"`
  apps/test-app/app/tokens.tsx
  biome.jsonc
Due: copyright, format, lint

updated spacing
  apps/test-app/app/sandbox.module.css
  packages/kiwi-react/src/bricks/Tabs.css
Due: copyright

enable `noRestrictedImports` lint rule for `"@ariakit/react"` (#419)
  apps/test-app/app/tokens.tsx
  biome.jsonc
Due: copyright, format, lint

Change Ariakit role import
  packages/kiwi-react/src/bricks/ProgressBar.tsx
Due: copyright, format, lint

Add role=progressbar
  packages/kiwi-react/src/bricks/ProgressBar.tsx
Due: copyright, format, lint

Accessible name
  apps/test-app/app/tests/progress-bar/index.spec.ts
  packages/kiwi-react/src/bricks/ProgressBar.tsx
Due: copyright, format, lint

rename `GhostAligner` and `ListItem` to fold under `~utils`
  .vscode/settings.json
  apps/test-app/app/tests/list/index.tsx
  packages/kiwi-react/src/bricks/Button.tsx
  packages/kiwi-react/src/bricks/DropdownMenu.tsx
  packages/kiwi-react/src/bricks/TreeItem.tsx
  packages/kiwi-react/src/bricks/styles.css
  packages/kiwi-react/src/bricks/~utils.GhostAligner.css
  packages/kiwi-react/src/bricks/~utils.GhostAligner.tsx
  packages/kiwi-react/src/bricks/~utils.ListItem.css
  packages/kiwi-react/src/bricks/~utils.ListItem.tsx
Due: copyright, format, lint

Path conditions:
  copyright: any of: *.{js,ts,jsx,tsx,css,html}
  format: any of: *.{js,ts,jsx,tsx,json,jsonc}
  lint: any of: *.{js,ts,jsx,tsx}
