Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

copyright:
  run: pnpm lint:copyright {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm biome format --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm biome lint --write {staged_files}
  stage_fixed: true

test-app: use regular links on homepage
  apps/test-app/app/index.tsx
Due: copyright, format, lint

test-app: use regular links on homepage (#1077)
  apps/test-app/app/index.tsx
Due: copyright, format, lint

Render CheckboxTest into VisualTest
  apps/test-app/app/tests/dropdown-menu/index.spec.ts
  apps/test-app/app/tests/dropdown-menu/index.tsx
Due: copyright, format, lint

Group styling
  packages/structures/src/DropdownMenu.css
  packages/structures/src/DropdownMenu.tsx
Due: copyright, format, lint

Docs.
  packages/structures/src/DropdownMenu.tsx
Due: copyright, format, lint

pnpm changeset
  .changeset/three-tools-fry.md
Due: none

Snaps
  apps/test-app/app/tests/dropdown-menu/index.spec.ts
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.DropdownMenu-CheckboxItem-visual-1-chromium-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.DropdownMenu-CheckboxItem-visual-1-firefox-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.DropdownMenu-CheckboxItem-visual-1-webkit-linux.png
Due: copyright, format, lint

Update jsdoc
  packages/bricks/src/Divider.tsx
Due: copyright, format, lint

Add `bleed` prop to `Divider` component (#1072)
  .changeset/empty-rules-bathe.md
  apps/test-app/app/tests/divider/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/divider/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/divider/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/divider/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/divider/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/divider/index.tsx
  packages/bricks/src/Divider.css
  packages/bricks/src/Divider.tsx
Due: copyright, format, lint

Remove redundant `padding-block`
  packages/structures/src/DropdownMenu.css
Due: copyright

`Tree`: expand non-selectable items on click
  .changeset/easy-points-unite.md
  apps/test-app/app/tests/tree/index.spec.ts
  apps/test-app/app/tests/tree/index.tsx
  packages/structures/src/TreeItem.tsx
Due: copyright, format, lint

Add items prop instead of children
  .changeset/three-tools-fry.md
  apps/test-app/app/tests/dropdown-menu/index.tsx
  packages/structures/src/DropdownMenu.tsx
Due: copyright, format, lint

Add tests.
  apps/test-app/app/tests/dropdown-menu/index.spec.ts
Due: copyright, format, lint

Hide visual test
  apps/test-app/app/tests/dropdown-menu/index.spec.ts
  apps/test-app/app/tests/dropdown-menu/index.tsx
Due: copyright, format, lint

`Tree`: expand non-selectable items on click (#1079)
  .changeset/easy-points-unite.md
  apps/test-app/app/tests/tree/index.spec.ts
  apps/test-app/app/tests/tree/index.tsx
  packages/structures/src/TreeItem.tsx
Due: copyright, format, lint

test-app: include `base` in URLs
  apps/test-app/app/index.tsx
Due: copyright, format, lint

Change item type to ReactElement[]
  packages/structures/src/DropdownMenu.tsx
Due: copyright, format, lint

test-app: include `basename` in homepage links (#1080)
  apps/test-app/app/index.tsx
Due: copyright, format, lint

`NavigationRail`: set `aria-current` to `"true"` instead of `"page"`
  apps/test-app/app/tests/navigation-rail/index.spec.ts
  packages/structures/src/NavigationRail.css
  packages/structures/src/NavigationRail.tsx
Due: copyright, format, lint

`NavigationRail`: set `aria-current` to `"true"` instead of `"page"` (#1081)
  apps/test-app/app/tests/navigation-rail/index.spec.ts
  packages/structures/src/NavigationRail.css
  packages/structures/src/NavigationRail.tsx
Due: copyright, format, lint

test-app: fix `@playwright/test` imports
  apps/test-app/app/tests/kbd/index.spec.ts
  apps/test-app/app/tests/table/index.spec.ts
  biome.jsonc
Due: copyright, format, lint

Change to JSX.Element
  packages/structures/src/DropdownMenu.tsx
Due: copyright, format, lint

Simplify visual test variant
  apps/test-app/app/tests/dropdown-menu/index.spec.ts
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/dropdown-menu/index.tsx
Due: copyright, format, lint

Unify displayName naming scheme.
  packages/bricks/src/Field.tsx
  packages/structures/src/NavigationRail.tsx
  packages/structures/src/Popover.tsx
  packages/structures/src/~utils.ListItem.tsx
Due: copyright, format, lint

Use private instead of internal tag.
  packages/structures/src/~utils.ListItem.tsx
Due: copyright, format, lint

fix lint
  apps/test-app/playwright.config.ts
Due: copyright, format, lint

test-app: fix `@playwright/test` imports (#1082)
  apps/test-app/app/tests/kbd/index.spec.ts
  apps/test-app/app/tests/table/index.spec.ts
  apps/test-app/playwright.config.ts
  biome.jsonc
Due: copyright, format, lint

rename `license-remove.svg` to `license-minus.svg`
  .changeset/four-clowns-pump.md
  packages/icons/icons/license-minus.svg
  packages/icons/package.json
Due: format

No longer use ListItem
  packages/bricks/src/Select.css
  packages/bricks/src/Select.tsx
  packages/structures/src/~utils.ListItem.css
Due: copyright, format, lint

Edge case where option is checked AND disabled.
  packages/bricks/src/Select.css
Due: copyright

Add Popover support to DropdownMenu.Item
  apps/test-app/app/tests/dropdown-menu/index.tsx
  packages/structures/src/DropdownMenu.tsx
Due: copyright, format, lint

Unify `displayName` of components (#1083)
  packages/bricks/src/Field.tsx
  packages/structures/src/NavigationRail.tsx
  packages/structures/src/Popover.tsx
  packages/structures/src/~utils.ListItem.tsx
Due: copyright, format, lint

rename `license-remove.svg` to `license-minus.svg` (#1084)
  .changeset/four-clowns-pump.md
  packages/icons/icons/license-minus.svg
  packages/icons/package.json
Due: format

pnpm changeset
  .changeset/bright-pots-give.md
Due: none

Automagically render divider
  packages/structures/src/DropdownMenu.tsx
Due: copyright, format, lint

Fix bleeding
  packages/structures/src/DropdownMenu.css
Due: copyright

Add before/after/between params
  apps/test-app/app/tests/dropdown-menu/index.tsx
Due: copyright, format, lint

Divider spacing
  packages/structures/src/DropdownMenu.css
Due: copyright

Snaps
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
Due: none

Add submenu to Group test variant
  apps/test-app/app/tests/dropdown-menu/index.tsx
Due: copyright, format, lint

Path conditions:
  copyright: any of: *.{js,ts,jsx,tsx,css,html}
  format: any of: *.{js,ts,jsx,tsx,json,jsonc}
  lint: any of: *.{js,ts,jsx,tsx}
