Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    copyright:
      glob: "*.{js,ts,jsx,tsx,css,html}"
      run: pnpm lint:copyright {staged_files} --fix
      stage_fixed: true

    format:
      glob: "*.{js,ts,jsx,tsx,json,jsonc}"
      run: pnpm biome format --write {staged_files}
      stage_fixed: true

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm biome lint --write {staged_files}
      stage_fixed: true

    prettier:
      exclude:
        - "*.{js,ts,jsx,tsx,cjs,cts,mjs,mts,json,jsonc}"
      run: pnpm exec prettier {staged_files} --ignore-unknown --write
      stage_fixed: true

Custom Icon href
  apps/website/src/content/docs/components/stratakit/Icon.md
Due: none

Update changeset
  .changeset/thirty-crabs-admire.md
Due: none

Docs
  apps/website/src/content/docs/components/mui/Autocomplete.md
Due: none

Apply group role to non-multiple Autocomplete as well
  .changeset/thirty-crabs-admire.md
  apps/website/src/content/docs/components/mui/Autocomplete.md
  packages/mui/src/~components/MuiAutocomplete.tsx
  packages/mui/src/~createTheme.tsx
Due: copyright, format, lint

aria-labelledby
  packages/mui/src/~components/MuiAutocomplete.tsx
  packages/mui/src/~components/MuiTextField.tsx
  packages/mui/src/~createTheme.tsx
Due: copyright, format, lint

document missing modifications
  apps/website/src/content/docs/components/mui/Button.md
  apps/website/src/content/docs/components/mui/ButtonGroup.md
  apps/website/src/content/docs/components/mui/Fab.md
  apps/website/src/content/docs/components/mui/IconButton.md
  apps/website/src/content/docs/components/mui/Select.md
  apps/website/src/content/docs/components/mui/TextField.md
Due: none

warn when `Typography` is missing the `render` prop
  .changeset/twenty-queens-grow.md
  apps/website/src/content/docs/components/mui/Typography.md
  apps/website/src/content/docs/getting-started/migration-from-legacy-stratakit.mdx
  examples/mui/Typography._variants.tsx
  packages/mui/src/~components/MuiTypography.tsx
  packages/mui/src/~createTheme.tsx
Due: copyright, format, lint

Avatar Group DOM order & visual overlapping
  .changeset/fiery-weeks-open.md
  apps/website/src/content/docs/components/mui/AvatarGroup.md
  packages/mui/src/~components.css
  packages/mui/src/~components/MuiAvatarGroup.css
  packages/mui/src/~components/MuiAvatarGroup.tsx
  packages/mui/src/~createTheme.tsx
Due: copyright, format, lint

link to href
  apps/website/src/content/docs/components/stratakit/Icon.md
Due: none

link to size
  apps/website/src/content/docs/components/stratakit/Icon.md
Due: none

Explain the example
  apps/website/src/content/docs/components/stratakit/Icon.md
Due: none

the `the`
  apps/website/src/content/docs/components/stratakit/Icon.md
Due: none

Recommend href over render
  apps/website/src/content/docs/components/stratakit/Icon.md
Due: none

Add alt prop
  examples/mui/Icon.default.tsx
Due: copyright, format, lint

Link to radiogroup
  apps/website/src/content/docs/components/mui/Radio.md
Due: none

Mention floating label
  apps/website/src/content/docs/components/mui/TextField.md
Due: none

MuiInputLabel
  packages/mui/src/~components/MuiAutocomplete.tsx
  packages/mui/src/~components/MuiInputLabel.tsx
  packages/mui/src/~createTheme.tsx
Due: copyright, format, lint

fix `Typography` docs
  apps/website/src/content/docs/components/mui/Typography.md
  examples/mui/Typography.heading.tsx
  examples/mui/Typography.variants.tsx
Due: copyright, format, lint

fix `Typography` docs (#1419)
  apps/website/src/content/docs/components/mui/Typography.md
  examples/mui/Typography.heading.tsx
  examples/mui/Typography.variants.tsx
Due: copyright, format, lint

Update documentation to mention class name being applied
  apps/website/src/content/docs/components/mui/Slider.md
Due: none

Add dialog role to MuiPopover paper
  packages/mui/src/~createTheme.tsx
Due: copyright, format, lint

Remove role from Popover example
  examples/mui/Popover.default.tsx
Due: copyright, format, lint

Tooltip gap from thumb
  packages/mui/src/~components/MuiSlider.css
Due: copyright

Code comment about hiding arrow
  packages/mui/src/~components/MuiSlider.css
Due: copyright

Touch target for tooltip gap
  packages/mui/src/~components/MuiSlider.css
Due: copyright

add changeset
  .changeset/odd-bugs-mate.md
Due: none

Update Popover docs to indicate SK MUI changes
  apps/website/src/content/docs/components/mui/Popover.md
Due: none

Update the example code
  examples/mui/Popover.default.tsx
Due: copyright, format, lint

update doc wording
  apps/website/src/content/docs/components/mui/Popover.md
Due: none

Update changeset wording
  .changeset/odd-bugs-mate.md
Due: none

whitespace
  packages/mui/src/~components/MuiInputLabel.tsx
Due: copyright, format, lint

wording
  apps/website/src/content/docs/components/mui/Autocomplete.md
Due: none

Add status
  apps/website/src/content/docs/components/stratakit/Icon.md
Due: none

Add vertical-align attribute
  apps/website/astro.config.mjs
  apps/website/src/components/ExamplePreview.module.css
  apps/website/src/content/docs/components/stratakit/ErrorRegion.md
  apps/website/src/content/docs/components/stratakit/NavigationRail.md
  apps/website/src/content/docs/components/stratakit/Tree.md
  examples/structures/ErrorRegion.default.module.css
  examples/structures/ErrorRegion.default.tsx
Due: copyright, format, lint

Make thumb touch target square, remove tooltip pseudo element
  packages/mui/src/~components/MuiSlider.css
Due: copyright

Code comment on user-select
  packages/mui/src/~components/MuiSlider.css
Due: copyright

Disable rounded and square avatar variants
  packages/mui/src/types.ts
Due: copyright, format, lint

Disable rounded and square avatar group variants
  packages/mui/src/types.ts
Due: copyright, format, lint

Documentation for Avatar and AvatarGroup
  apps/website/src/content/docs/components/mui/Avatar.md
  apps/website/src/content/docs/components/mui/AvatarGroup.md
Due: none

Changeset
  .changeset/stale-yaks-rush.md
Due: none
