Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

copyright:
  run: pnpm lint:copyright {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm biome format --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm biome lint --write {staged_files}
  stage_fixed: true

create workflow for manually publishing packages
  .github/workflows/publish-npm.yaml
Due: none

remove `"private"`
  packages/kiwi-icons/package.json
  packages/kiwi-react/package.json
Due: format

allow manually publishing packages (#202)
  .github/workflows/publish-npm.yaml
  packages/kiwi-icons/package.json
  packages/kiwi-react/package.json
Due: format

Use route to test popout
  apps/test-app/app/popout.ts
  apps/test-app/app/routes.ts
  apps/test-app/app/tests/root/index.spec.ts-snapshot.popout-chromium-linux.png
  apps/test-app/app/tests/root/index.spec.ts-snapshot.popout-webkit-linux.png
  apps/test-app/app/tests/root/index.spec.ts-snapshot.shadow-firefox-linux.png
  apps/test-app/app/tests/root/index.spec.ts-snapshot.shadow-webkit-linux.png
  apps/test-app/app/tests/root/index.tsx
Due: copyright, format, lint

Add leading slash
  apps/test-app/app/tests/root/index.tsx
Due: copyright, format, lint

Use blob URL instead
  apps/test-app/app/popout.ts
  apps/test-app/app/routes.ts
  apps/test-app/app/tests/root/index.tsx
Due: copyright, format, lint

Add active-child state.
  apps/test-app/app/tests/tree/index.tsx
  packages/kiwi-react/src/bricks/ListItem.css
  packages/kiwi-react/src/bricks/Tree.css
  packages/kiwi-react/src/bricks/Tree.tsx
Due: copyright, format, lint

Implement fallback font loading strategy (#200)
  apps/test-app/app/tests/root/index.spec.ts
  apps/test-app/app/tests/root/index.spec.ts-snapshot.popout-chromium-linux.png
  apps/test-app/app/tests/root/index.spec.ts-snapshot.popout-firefox-linux.png
  apps/test-app/app/tests/root/index.spec.ts-snapshot.popout-webkit-linux.png
  apps/test-app/app/tests/root/index.spec.ts-snapshot.shadow-firefox-linux.png
  apps/test-app/app/tests/root/index.spec.ts-snapshot.shadow-webkit-linux.png
  apps/test-app/app/tests/root/index.tsx
  packages/kiwi-react/src/bricks/Root.tsx
  packages/kiwi-react/src/foundations/typography.css
  packages/kiwi-react/tsconfig.json
Due: copyright, format, lint

Add active-child-hover state.
  packages/kiwi-react/src/bricks/ListItem.css
  packages/kiwi-react/src/bricks/Tree.css
Due: copyright

Add active-hover state to ListItem.
  packages/kiwi-react/src/bricks/ListItem.css
Due: copyright

Add visual test
  apps/test-app/app/tests/tree/index.spec.ts
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-selected-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-selected-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-selected-1-webkit-linux.png
Due: copyright, format, lint

Update icons route styling to match tokens route.
  apps/test-app/app/icons.css
  apps/test-app/app/icons.module.css
  apps/test-app/app/icons.tsx
  apps/test-app/app/tokens.module.css
  apps/test-app/app/tokens.tsx
  apps/test-app/app/~components.module.css
  apps/test-app/app/~components.tsx
Due: copyright, format, lint

Add classnames dep to test-app.
  apps/test-app/app/~components.tsx
  apps/test-app/package.json
  pnpm-lock.yaml
Due: copyright, format, lint

Rename `parentSelected` to `selected`
  packages/kiwi-react/src/bricks/Tree.tsx
Due: copyright, format, lint

Fix after rename
  packages/kiwi-react/src/bricks/Tree.tsx
Due: copyright, format, lint

Remove todo
  packages/kiwi-react/src/bricks/Tree.css
Due: copyright

Add single tree item selection to sandbox.
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

Merge ~components.tsx into ~utils.tsx
  apps/test-app/app/icons.tsx
  apps/test-app/app/tokens.tsx
  apps/test-app/app/~components.tsx
  apps/test-app/app/~utils.module.css
  apps/test-app/app/~utils.tsx
Due: copyright, format, lint

Replace thead selector with th.
  apps/test-app/app/~utils.module.css
Due: copyright

Add additional states to `ListItem` (#203)
  apps/test-app/app/tests/tree/index.spec.ts
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-selected-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-selected-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-selected-1-webkit-linux.png
  apps/test-app/app/tests/tree/index.tsx
  packages/kiwi-react/src/bricks/ListItem.css
  packages/kiwi-react/src/bricks/Tree.css
  packages/kiwi-react/src/bricks/Tree.tsx
Due: copyright, format, lint

Update styling of `icons` route (#204)
  apps/test-app/app/icons.css
  apps/test-app/app/icons.module.css
  apps/test-app/app/icons.tsx
  apps/test-app/app/tokens.module.css
  apps/test-app/app/tokens.tsx
  apps/test-app/app/~utils.module.css
  apps/test-app/app/~utils.tsx
  apps/test-app/package.json
  pnpm-lock.yaml
Due: copyright, format, lint

Update packages/kiwi-react/src/bricks/DropdownMenu.css
  packages/kiwi-react/src/bricks/DropdownMenu.css
Due: copyright

Update packages/kiwi-react/src/bricks/DropdownMenu.tsx
  packages/kiwi-react/src/bricks/DropdownMenu.tsx
Due: copyright, format, lint

Revert rendering and tests
  apps/test-app/app/tests/dropdown-menu/index.spec.ts
  packages/kiwi-react/src/bricks/DropdownMenu.tsx
Due: copyright, format, lint

Use the correct `FontFace` when setting fallbacks
  apps/test-app/app/tests/root/index.spec.ts-snapshot.popout-chromium-linux.png
  packages/kiwi-react/src/bricks/Root.tsx
Due: copyright, format, lint

Update apps/test-app/app/tests/dropdown-menu/index.tsx
  apps/test-app/app/tests/dropdown-menu/index.tsx
Due: copyright, format, lint

ElementRef to ComponentRef
  packages/kiwi-react/src/bricks/DropdownMenu.tsx
Due: copyright, format, lint

Revert ElementRef
  packages/kiwi-react/src/bricks/DropdownMenu.tsx
Due: copyright, format, lint

Test for correct characters
  apps/test-app/app/tests/dropdown-menu/index.spec.ts
Due: copyright, format, lint

Use `getWindow()` helper instead of `getOwnerDocument()`
  packages/kiwi-react/src/bricks/Root.tsx
Due: copyright, format, lint

Shortcuts Inside MenuItem (#165)
  apps/test-app/app/tests/dropdown-menu/index.spec.ts
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-1-chromium-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-1-firefox-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-1-webkit-linux.png
  apps/test-app/app/tests/dropdown-menu/index.tsx
  packages/kiwi-react/src/bricks/DropdownMenu.css
  packages/kiwi-react/src/bricks/DropdownMenu.tsx
Due: copyright, format, lint

Use the correct `FontFace` when setting fallbacks (#206)
  apps/test-app/app/tests/root/index.spec.ts-snapshot.popout-chromium-linux.png
  packages/kiwi-react/src/bricks/Root.tsx
Due: copyright, format, lint

Store id instead of label of a selected TreeItem.
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

TreeItem tabbable and handles keyboard events.
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

use MIT license for icons
  packages/kiwi-icons/LICENSE.md
  packages/kiwi-icons/package.json
Due: format

use MIT license for icons (#207)
  packages/kiwi-icons/LICENSE.md
  packages/kiwi-icons/package.json
Due: format

Path conditions:
  copyright: any of: *.{js,ts,jsx,tsx,css,html}
  format: any of: *.{js,ts,jsx,tsx,json,jsonc}
  lint: any of: *.{js,ts,jsx,tsx}
