Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

copyright:
  run: pnpm lint:copyright {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm biome format --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm biome lint --write {staged_files}
  stage_fixed: true

Dot and icon of MenuItem
  packages/structures/src/TreeItem.tsx
Due: copyright, format, lint

add `@stratakit/mui` and bump versions
  package.json
  pnpm-lock.yaml
Due: format

Use MUI ListItem and friends
  packages/structures/src/TreeItem.css
  packages/structures/src/TreeItem.tsx
Due: copyright, format, lint

cleanup
  packages/foundations/src/styles.internal.ts
  packages/mui/src/styles.css
Due: copyright, format, lint

cleanup (#1130)
  packages/foundations/src/styles.internal.ts
  packages/mui/src/styles.css
Due: copyright, format, lint

fix `warning` pallete values
  .changeset/clean-trams-sniff.md
  packages/mui/src/styles.css
Due: copyright

fix `warning` palette values (#1131)
  .changeset/clean-trams-sniff.md
  packages/mui/src/styles.css
Due: copyright

Initial commit
  packages/mui/src/createTheme.tsx
  packages/mui/src/styles.css
Due: copyright, format, lint

hover media query
  packages/mui/src/styles.css
Due: copyright

Move hover below checked / indeterminate for hover background color fix
  packages/mui/src/styles.css
Due: copyright

Add disabled demos and styling
  apps/test-app/app/mui.tsx
  packages/mui/src/styles.css
Due: copyright, format, lint

Add error demos and styling
  apps/test-app/app/mui.tsx
  packages/mui/src/styles.css
Due: copyright, format, lint

`Root`: fix `synchronizeColorScheme` default
  .changeset/wicked-towns-hunt.md
  apps/test-app/app/root.tsx
  packages/foundations/src/Root.tsx
Due: copyright, format, lint

`Root`: fix `synchronizeColorScheme` default (#1134)
  .changeset/wicked-towns-hunt.md
  apps/test-app/app/root.tsx
  packages/foundations/src/Root.tsx
Due: copyright, format, lint

move focus styles into `@layer reset`
  .changeset/wild-tigers-burn.md
  packages/foundations/src/~global.css
  packages/foundations/src/~reset.css
Due: copyright

move focus styles into `@layer reset` (#1135)
  .changeset/wild-tigers-burn.md
  packages/foundations/src/~global.css
  packages/foundations/src/~reset.css
Due: copyright

update
  packages/foundations/CHANGELOG.md
  packages/mui/CHANGELOG.md
  pnpm-lock.yaml
Due: none

`revert-layer` MUI focus outline
  packages/mui/src/styles.css
Due: copyright

update `IconButton` border-radius
  .changeset/shaky-papers-follow.md
  packages/mui/src/styles.css
Due: copyright

`revert-layer` MUI focus outline (#1136)
  packages/mui/src/styles.css
Due: copyright

update `IconButton` border-radius (#1137)
  .changeset/shaky-papers-follow.md
  packages/mui/src/styles.css
Due: copyright

update
  packages/mui/CHANGELOG.md
Due: none

Disable floating label
  packages/mui/src/createTheme.tsx
Due: copyright, format, lint

Use examples in test-app
  apps/test-app/app/mui.tsx
  apps/test-app/package.json
  examples/mui/Button.default.tsx
  examples/package.json
  pnpm-lock.yaml
Due: copyright, format, lint

Import svg in examples
  apps/test-app/app/mui.tsx
  examples/mui/Button.contained.primary.startIcon.tsx
  examples/mui/Button.contained.tsx
  examples/tsconfig.json
  examples/types.d.ts
Due: copyright, format, lint

Add button examples
  apps/test-app/app/mui.tsx
  examples/mui/Button.colors.tsx
  examples/mui/Button.icons.tsx
  examples/mui/Button.permutations.tsx
  examples/mui/Button.variants.tsx
Due: copyright, format, lint

Add icons to permutations example
  examples/mui/Button.permutations.tsx
Due: copyright, format, lint

Better types
  examples/mui/Button.permutations.tsx
Due: copyright, format, lint

IconButton examples
  apps/test-app/app/mui.tsx
  examples/mui/Button.permutations.tsx
  examples/mui/IconButton.colors.tsx
  examples/mui/IconButton.default.tsx
Due: copyright, format, lint

Link examples
  apps/test-app/app/mui.tsx
  examples/mui/Link.colors.tsx
  examples/mui/Link.default.tsx
Due: copyright, format, lint

Keys
  examples/mui/Button.permutations.tsx
  examples/mui/IconButton.colors.tsx
  examples/mui/Link.colors.tsx
Due: copyright, format, lint

Checkbox
  apps/test-app/app/mui.tsx
  examples/mui/Checkbox.checked.tsx
  examples/mui/Checkbox.default.tsx
  examples/mui/Checkbox.indeterminate.tsx
Due: copyright, format, lint

Switch
  apps/test-app/app/mui.tsx
  examples/mui/Switch.checked.tsx
  examples/mui/Switch.default.tsx
Due: copyright, format, lint

TextField
  apps/test-app/app/mui.tsx
  examples/mui/TextField.default.tsx
  examples/mui/TextField.multiline.tsx
  examples/mui/TextField.variants.tsx
Due: copyright, format, lint

Link href
  examples/mui/Link.colors.tsx
Due: copyright, format, lint

Select
  apps/test-app/app/mui.tsx
  examples/mui/Autocomplete.default.tsx
  examples/mui/Select.default.tsx
Due: copyright, format, lint

Button group
  apps/test-app/app/mui.tsx
  examples/mui/ButtonGroup.default.tsx
Due: copyright, format, lint

Fab
  apps/test-app/app/mui.tsx
  examples/mui/FloatingActionButton.default.tsx
Due: copyright, format, lint

RadioGroup
  apps/test-app/app/mui.tsx
  examples/mui/RadioGroup.default.tsx
Due: copyright, format, lint

Rating
  apps/test-app/app/mui.tsx
  examples/mui/Rating.default.tsx
Due: copyright, format, lint

Path conditions:
  copyright: any of: *.{js,ts,jsx,tsx,css,html}
  format: any of: *.{js,ts,jsx,tsx,json,jsonc}
  lint: any of: *.{js,ts,jsx,tsx}
