Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

copyright:
  run: pnpm lint:copyright {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm biome format --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm biome lint --write {staged_files}
  stage_fixed: true

Update apps/website/src/content/docs/components/mui/Menu.md
  apps/website/src/content/docs/components/mui/Menu.md
Due: none

Use correct component name
  .changeset/cozy-eggs-cry.md
Due: none

Deprecate StepIcon
  apps/website/src/content/docs/components/mui/Stepper.md
  packages/mui/src/types.ts
Due: copyright, format, lint

add changeset
  .changeset/gold-trees-flash.md
Due: none

Remove bad period
  apps/website/src/content/docs/components/mui/Stepper.md
Due: none

Deprecate List.subheader
  .changeset/fresh-balloons-flash.md
  apps/website/src/content/docs/components/mui/List.md
  packages/mui/src/types.ts
Due: copyright, format, lint

Correct message
  .changeset/gold-trees-flash.md
  apps/website/src/content/docs/components/mui/Stepper.md
  packages/mui/src/types.ts
Due: copyright, format, lint

Also deprecate StepLabel.icon
  .changeset/petite-radios-trade.md
  apps/website/src/content/docs/components/mui/Stepper.md
  packages/mui/src/types.ts
Due: copyright, format, lint

Deprecated variant on FormHelperText
  .changeset/pretty-items-poke.md
  packages/mui/src/types.ts
Due: copyright, format, lint

Deprecate props from ListItemButton
  .changeset/bold-streets-enter.md
  apps/website/src/content/docs/components/mui/List.md
  packages/mui/src/types.ts
Due: copyright, format, lint

Deprecate props on ListSubheader
  .changeset/full-bikes-brake.md
  apps/website/src/content/docs/components/mui/List.md
  packages/mui/src/types.ts
Due: copyright, format, lint

Deprecate variant of InputAdornment
  .changeset/red-lizards-fly.md
  packages/mui/src/types.ts
Due: copyright, format, lint

Deprecate props on InputLabel
  .changeset/ten-bananas-laugh.md
  packages/mui/src/types.ts
Due: copyright, format, lint

Deprecate color prop of FormLabel
  .changeset/great-ads-go.md
  packages/mui/src/types.ts
Due: copyright, format, lint

Updated docs with more info about scrolling
  apps/website/src/content/docs/components/mui/Tabs.md
Due: none

Add period
  apps/website/src/content/docs/components/mui/Tabs.md
Due: none

Deprecate TabScrollButton
  .changeset/dull-rules-joke.md
  apps/website/src/content/docs/components/mui/Tabs.md
  packages/mui/src/types.ts
Due: copyright, format, lint

Remove color="primary" from examples
  examples/mui/Badge.default.tsx
  examples/mui/Badge.dot.tsx
Due: copyright, format, lint

Update Badge color props to remove primary
  apps/website/src/content/docs/components/mui/Badge.md
  packages/mui/src/types.ts
Due: copyright, format, lint

Avoid regex
  packages/mui/src/~components/MuiBadge.tsx
Due: copyright, format, lint

Update to remove primary color
  .changeset/yummy-coats-shave.md
  apps/website/src/content/docs/components/mui/Badge.md
  examples/mui/Badge.default.tsx
  examples/mui/Badge.dot.tsx
  packages/mui/src/types.ts
  packages/mui/src/~components/MuiBadge.tsx
Due: copyright, format, lint

Update to allow primary with non-inline
  apps/website/src/content/docs/components/mui/Badge.md
  examples/mui/Badge.default.tsx
  examples/mui/Badge.dot.tsx
  packages/mui/src/types.ts
  packages/mui/src/~components/MuiBadge.tsx
Due: copyright, format, lint

Revert doc about removing primary
  apps/website/src/content/docs/components/mui/Badge.md
Due: none

Remove color and use default for Badge
  examples/mui/Badge.default.tsx
  examples/mui/Badge.dot.tsx
Due: copyright, format, lint

Add links to MUI component documentation
  apps/website/src/content/docs/components/mui/TextField.md
Due: none

Deprecate margin prop
  .changeset/tender-sides-itch.md
  apps/website/src/content/docs/components/mui/TextField.md
  packages/mui/src/types.ts
Due: copyright, format, lint

Update changelog
  .changeset/yummy-coats-shave.md
Due: none

Change tense
  .changeset/tender-sides-itch.md
Due: none

Remove testing code
  packages/mui/src/types.ts
Due: copyright, format, lint

Minor updates for PR feedback
  apps/website/src/content/docs/components/mui/TextField.md
  packages/mui/src/types.ts
Due: copyright, format, lint

Deprecate InitColorSchemeScript
  .changeset/red-lemons-hug.md
  packages/mui/src/types.ts
Due: copyright, format, lint

Deprecate Toolbar
  .changeset/plenty-rabbits-hammer.md
  packages/mui/src/types.ts
Due: copyright, format, lint

Remove usage of `useFlexGap`
  apps/test-app/app/mui/Avatar.showcase.tsx
  apps/test-app/app/mui/Chip.showcase.tsx
  apps/test-app/app/mui/IconButton.showcase.tsx
  apps/test-app/app/mui/ToggleButton.showcase.tsx
  examples/mui/Badge.colors.tsx
  examples/mui/Badge.sizes.tsx
  examples/mui/Badge.type.tsx
  examples/mui/Button._icons.tsx
  examples/mui/Button._permutations.tsx
  examples/mui/Button.colors.tsx
  examples/mui/Button.sizes.tsx
  examples/mui/Button.variants.tsx
  examples/mui/Chip.sizes.tsx
  examples/mui/IconButton.sizes.tsx
  examples/mui/Link._colors.tsx
  examples/mui/Select.sizes.tsx
  examples/mui/Switch.sizes.tsx
  examples/mui/TextField.sizes.tsx
  examples/mui/ToggleButton.sizes.tsx
  examples/mui/Typography.colors.tsx
Due: copyright, format, lint

Fix package name
  packages/mui/src/types.ts
Due: copyright, format, lint

Add JS doc for default value
  packages/mui/src/types.ts
Due: copyright, format, lint

Use flex gap
  .changeset/hot-poets-speak.md
  packages/mui/src/~createTheme.tsx
Due: copyright, format, lint

Update spacing
  .changeset/full-loops-exist.md
  packages/mui/src/~createTheme.tsx
Due: copyright, format, lint

Fix AppBar spacing
  packages/mui/src/~components.css
  packages/mui/src/~components/MuiToolbar.css
Due: copyright

Update spacing for sx prop
  apps/test-app/app/mui/mui.tsx
  examples/mui/Slider.default.tsx
  examples/mui/Slider.sizes.tsx
  examples/mui/Slider.tooltip.tsx
  internal/minimal-template/src/App.tsx
Due: copyright, format, lint

Path conditions:
  copyright: any of: *.{js,ts,jsx,tsx,css,html}
  format: any of: *.{js,ts,jsx,tsx,json,jsonc}
  lint: any of: *.{js,ts,jsx,tsx}
