Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    copyright:
      glob: "*.{js,ts,jsx,tsx,css,html}"
      run: pnpm lint:copyright {staged_files} --fix
      stage_fixed: true

    format:
      glob: "*.{js,ts,jsx,tsx,json,jsonc}"
      run: pnpm biome format --write {staged_files}
      stage_fixed: true

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm biome lint --write {staged_files}
      stage_fixed: true

    prettier:
      exclude:
        - "*.{js,ts,jsx,tsx,cjs,cts,mjs,mts,json,jsonc}"
      run: pnpm exec prettier {staged_files} --ignore-unknown --write
      stage_fixed: true

fix overflow using anchor positioning
  apps/test-app/app/~examples.module.css
  apps/test-app/app/~examples.tsx
Due: copyright, format, lint

Rm search box suggestion
  skills/stratakit-usage/SKILL.md
Due: none

Fix bugs and add to docs
  apps/website/src/content/docs/components/mui/Divider.md
  examples/mui/Divider.margin.tsx
  packages/mui/src/~components/MuiDivider.css
  packages/mui/src/~components/MuiDivider.tsx
Due: copyright, format, lint

Replace glow variables to fix opacity issue
  packages/mui/src/~components/MuiSlider.css
Due: copyright

Simplify divider example and add to Toolbar and NavigationRail
  examples/mui/Divider.margin.tsx
  examples/structures/NavigationRail.comprehensive.module.css
  examples/structures/NavigationRail.comprehensive.tsx
  examples/structures/NavigationRail.default.module.css
  examples/structures/NavigationRail.default.tsx
  examples/structures/Toolbar.divider.tsx
Due: copyright, format, lint

Reducing diff
  packages/mui/src/~components/MuiBadge.css
Due: copyright

Remove duplicate CSS
  packages/mui/src/~components/MuiBadge.css
Due: copyright

Fix bug with role prop being ignored.
  apps/test-app/app/mui/Alert.showcase.tsx
  examples/mui/Alert._role.tsx
  packages/mui/src/~createTheme.tsx
Due: copyright, format, lint

changeset for alert bugfix
  .changeset/perky-planes-throw.md
Due: none

CircularProgress colors
  packages/mui/src/types.ts
Due: copyright, format, lint

LinearProgress colors
  packages/mui/src/types.ts
Due: copyright, format, lint

Changesets
  .changeset/long-badgers-train.md
  .changeset/quick-rivers-return.md
Due: none

Avoid listing components
  skills/stratakit-usage/SKILL.md
Due: none

Rm packages section
  skills/stratakit-usage/SKILL.md
Due: none

Simplify Packages section
  skills/stratakit-usage/SKILL.md
Due: none

Remove docs site links
  skills/stratakit-usage/SKILL.md
Due: none

better divider exmaples
  examples/mui/Divider.margin.tsx
  examples/structures/Toolbar.vertical.tsx
Due: copyright, format, lint

Use glow-base instead of glow-strong for today + hover border color-mix
  packages/mui/src/~components/MuiDatePicker.css
Due: copyright

clean up `Rating` CSS
  examples/mui/Rating.precision.tsx
  packages/mui/src/~components/MuiRating.css
Due: copyright, format, lint

add/update 2 icons
  .changeset/lovely-worlds-smoke.md
  packages/icons/icons/production-drawing.svg
  packages/icons/icons/production-sheet.svg
Due: none

Update apps/website/src/content/docs/components/mui/Divider.md
  apps/website/src/content/docs/components/mui/Divider.md
Due: none

Leave icon size to default
  packages/mui/src/~components/MuiBadge.css
Due: copyright

fix versions
  packages/mui/package.json
  pnpm-lock.yaml
Due: format

update changelogs
  packages/icons/CHANGELOG.md
  packages/mui/CHANGELOG.md
Due: none

Reduce size of track
  packages/mui/src/~components/MuiLinearProgress.css
  packages/mui/src/~forced-colors.css
Due: copyright

Reduce size of track on CircularProgress
  packages/mui/src/~createTheme.tsx
Due: copyright, format, lint

Change thickness of both Circular & Linear track.
  packages/mui/src/~components/MuiCircularProgress.css
  packages/mui/src/~components/MuiLinearProgress.css
  packages/mui/src/~createTheme.tsx
Due: copyright, format, lint

Determinate demos display percentage completed.
  examples/mui/CircularProgress.determinate.tsx
  examples/mui/LinearProgress.determinate.tsx
Due: copyright, format, lint

better wording for component versus render
  apps/website/src/content/docs/guides/component-customization.md
Due: none

RouterLink section
  apps/website/src/content/docs/guides/component-customization.md
Due: none

removed ARIA section and ended on caution
  apps/website/src/content/docs/guides/component-customization.md
Due: none

new Routing page
  apps/website/astro.config.mjs
  apps/website/src/content/docs/patterns/platform-bar.md
Due: none

Adjust Divider for toolbars
  .changeset/fuzzy-items-bake.md
  apps/test-app/app/mui/Divider.showcase.tsx
  apps/website/src/content/docs/components/mui/Divider.md
  examples/mui/Divider.variant.tsx
  examples/structures/Toolbar.divider.tsx
  examples/structures/Toolbar.vertical.tsx
  packages/mui/src/~components/MuiDivider.css
  packages/mui/src/~components/MuiDivider.tsx
Due: copyright, format, lint

added file
  apps/website/src/content/docs/guides/routing.md
Due: none

Get typing for MUI-X date picker
  packages/mui/package.json
  pnpm-lock.yaml
Due: format

continued advice and complete steps
  apps/website/src/content/docs/guides/routing.md
Due: none

reword
  apps/website/src/content/docs/guides/routing.md
Due: none

link to landmarks page
  apps/website/src/content/docs/guides/routing.md
Due: none

Use interface instead of type
  packages/mui/src/~components/MuiTable.tsx
Due: copyright, format, lint
