Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    copyright:
      glob: "*.{js,ts,jsx,tsx,css,html}"
      run: pnpm lint:copyright {staged_files} --fix
      stage_fixed: true

    format:
      glob: "*.{js,ts,jsx,tsx,json,jsonc}"
      run: pnpm biome format --write {staged_files}
      stage_fixed: true

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm biome lint --write {staged_files}
      stage_fixed: true

    prettier:
      exclude:
        - "*.{js,ts,jsx,tsx,cjs,cts,mjs,mts,json,jsonc}"
      run: pnpm exec prettier {staged_files} --ignore-unknown --write
      stage_fixed: true

`NavigationRail.ToggleButton`: remove radius inheritance (#1092)
  .changeset/smart-adults-see.md
  packages/structures/src/NavigationRail.css
Due: copyright

show `Tooltip` when long pressing buttons
  .changeset/three-beers-serve.md
  apps/test-app/app/tests/tooltip/index.spec.ts
  packages/bricks/src/Tooltip.tsx
Due: copyright, format, lint

keep `DropdownMenu.Submenu` mounted when parent menu is open
  .changeset/every-feet-arrive.md
  apps/test-app/app/tests/dropdown-menu/index.spec.ts
  packages/structures/src/DropdownMenu.tsx
Due: copyright, format, lint

use `CloseWatcher` for all "popups"
  .changeset/strict-stars-add-1.md
  .changeset/strict-stars-add-2.md
  packages/bricks/src/Tooltip.tsx
  packages/foundations/src/~hooks.ts
  packages/structures/src/Dialog.tsx
  packages/structures/src/DropdownMenu.tsx
  packages/structures/src/Popover.tsx
Due: copyright, format, lint

show `Tooltip` when long pressing buttons (#1090)
  .changeset/three-beers-serve.md
  apps/test-app/app/tests/tooltip/index.spec.ts
  packages/bricks/src/Tooltip.tsx
Due: copyright, format, lint

use `CloseWatcher` for all "popups" (#1102)
  .changeset/strict-stars-add-1.md
  .changeset/strict-stars-add-2.md
  packages/bricks/src/Tooltip.tsx
  packages/foundations/src/~hooks.ts
  packages/structures/src/Dialog.tsx
  packages/structures/src/DropdownMenu.tsx
  packages/structures/src/Popover.tsx
Due: copyright, format, lint

keep `DropdownMenu.Submenu` mounted when parent menu is open (#1103)
  .changeset/every-feet-arrive.md
  apps/test-app/app/tests/dropdown-menu/index.spec.ts
  packages/structures/src/DropdownMenu.tsx
Due: copyright, format, lint

bump
  packages/bricks/package.json
  packages/compat/package.json
  packages/foundations/package.json
  packages/structures/package.json
  pnpm-lock.yaml
Due: format

changelogs
  packages/bricks/CHANGELOG.md
  packages/compat/CHANGELOG.md
  packages/foundations/CHANGELOG.md
  packages/icons/CHANGELOG.md
  packages/structures/CHANGELOG.md
Due: none

add override for lightningcss
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

reduce dependabot frequency
  .github/dependabot.yaml
Due: none

bump `valibot`
  pnpm-lock.yaml
Due: none

bump playwright everywhere
  .github/workflows/CI.yaml
  apps/test-app/scripts/Dockerfile
Due: none

update snap
  apps/test-app/app/tests/select/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
Due: none

downgrade playwright
  .github/workflows/CI.yaml
  apps/test-app/scripts/Dockerfile
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

decouple component CSS from foundations
  .changeset/giant-oranges-drum.md
  packages/bricks/src/~utils.useInit.tsx
  packages/foundations/src/Root.internal.tsx
  packages/foundations/src/Root.tsx
  packages/foundations/src/styles.internal.ts
  packages/foundations/src/~components.css
  packages/foundations/src/~components.css.ts
  packages/structures/src/~utils.ListItem.tsx
  packages/structures/src/~utils.useInit.tsx
Due: copyright, format, lint

Initial setup
  packages/mui/CHANGELOG.md
  packages/mui/LICENSE.md
  packages/mui/README.md
  packages/mui/package.json
  packages/mui/scripts/build.js
  packages/mui/src/createTheme.ts
  packages/mui/src/index.ts
  packages/mui/tsconfig.json
  packages/mui/types.d.ts
  pnpm-lock.yaml
Due: copyright, format, lint

Update package.json
  packages/mui/package.json
Due: format

Simplify build.js
  packages/mui/scripts/build.js
Due: copyright, format, lint

Update README
  packages/mui/README.md
  packages/mui/package.json
Due: format

Mark as private
  packages/mui/package.json
Due: format

add @mui/material
  packages/mui/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

Initial createTheme
  packages/mui/src/createTheme.ts
Due: copyright, format, lint

test-app: mui route
  apps/test-app/app/index.tsx
  apps/test-app/app/mui.tsx
  apps/test-app/app/routes.ts
  apps/test-app/package.json
  pnpm-lock.yaml
Due: copyright, format, lint

rm FlexBox
  apps/test-app/app/mui.tsx
Due: copyright, format, lint

declare `__VERSION__` type in `test-app`
  apps/test-app/app/types.d.ts
  apps/test-app/tsconfig.json
Due: copyright, format, lint

Comments
  packages/mui/src/createTheme.ts
Due: copyright, format, lint

CSS layer and baseline.
  apps/test-app/app/mui.tsx
Due: copyright, format, lint

Add CSS variables w/ fallbacks for now
  packages/mui/src/createTheme.ts
Due: copyright, format, lint

Simplify createTheme
  packages/mui/src/createTheme.ts
Due: copyright, format, lint

Update wireit deps
  apps/test-app/package.json
Due: format

Update version of packages/mui/package.json
  packages/mui/package.json
Due: format

Update keywords packages/mui/package.json
  packages/mui/package.json
Due: format

Update packages/mui/README.md
  packages/mui/README.md
Due: none

decouple component CSS from foundations (#1108)
  .changeset/giant-oranges-drum.md
  apps/test-app/app/types.d.ts
  apps/test-app/tsconfig.json
  packages/bricks/src/~utils.useInit.tsx
  packages/foundations/src/Root.internal.tsx
  packages/foundations/src/Root.tsx
  packages/foundations/src/styles.internal.ts
  packages/foundations/src/~components.css.ts
  packages/structures/src/~utils.ListItem.tsx
  packages/structures/src/~utils.useInit.tsx
Due: copyright, format, lint

bump React to `19.2.1
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

bump React to `19.2.1` (#1111)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Add Root component
  apps/test-app/app/mui.tsx
  packages/mui/src/Root.tsx
  packages/mui/src/index.ts
Due: copyright, format, lint

jsdoc
  packages/mui/src/Root.tsx
Due: copyright, format, lint
