Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    copyright:
      glob: "*.{js,ts,jsx,tsx,css,html}"
      run: pnpm lint:copyright {staged_files} --fix
      stage_fixed: true

    format:
      glob: "*.{js,ts,jsx,tsx,json,jsonc}"
      run: pnpm biome format --write {staged_files}
      stage_fixed: true

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm biome lint --write {staged_files}
      stage_fixed: true

    prettier:
      exclude:
        - "*.{js,ts,jsx,tsx,cjs,cts,mjs,mts,json,jsonc}"
      run: pnpm exec prettier {staged_files} --ignore-unknown --write
      stage_fixed: true

Badge uses variant to set inline
  .changeset/eager-tigers-stop.md
  apps/website/src/content/docs/components/mui/Badge.md
  apps/website/src/content/docs/getting-started/migration-from-legacy-stratakit.mdx
  examples/mui/Badge.colors.tsx
  examples/mui/Badge.inline.tsx
  examples/mui/Badge.sizes.tsx
  examples/mui/Badge.type.tsx
  examples/structures/NavigationRail.comprehensive.tsx
  packages/mui/src/types.ts
  packages/mui/src/~components/MuiBadge.css
  packages/mui/src/~components/MuiBadge.tsx
  packages/mui/src/~forced-colors.css
Due: copyright, format, lint

try fix for ECONNREFUSED
  apps/test-app/vite.config.ts
Due: copyright, format, lint

Fix double focus outline on Chip
  packages/mui/src/~components/MuiChip.css
Due: copyright

Fix double focus outline on StepButton
  packages/mui/src/~components/MuiStepper.css
Due: copyright

PR feedback
  packages/mui/src/~components/MuiSelect.css
Due: copyright

Added `@babel/preset-typescript` to dependencies
  internal/package.json
  pnpm-lock.yaml
Due: format

keep useSafeContext
  packages/mui/src/~components/MuiBadge.tsx
Due: copyright, format, lint

link to inline variant
  apps/website/src/content/docs/components/mui/Badge.md
Due: none

diff in changeset
  .changeset/eager-tigers-stop.md
Due: none

move `MuiBadgeContext` back up
  packages/mui/src/~components/MuiBadge.tsx
Due: copyright, format, lint

typo
  .changeset/eager-tigers-stop.md
Due: none

Update wording
  .changeset/strict-bags-begin.md
Due: none

Fix issue with @mixin css to getting transformed in build.
  apps/test-app/vite.config.ts
Due: copyright, format, lint

Update changeset
  .changeset/public-jeans-camp.md
Due: none

JSDocs
  packages/mui/src/types.ts
Due: copyright, format, lint

Remove duplicate content from JSdocs
  packages/mui/src/types.ts
Due: copyright, format, lint

Exit pre-release
  .changeset/pre.json
Due: format

Handle TS + JSX
  internal/esbuild-plugins.js
  internal/package.json
  pnpm-lock.yaml
Due: copyright, format, lint

Drop the default URL fragment
  .changeset/rare-planets-fly.md
  packages/foundations/src/Icon.tsx
Due: copyright, format, lint

Fix bad merge
  packages/mui/src/~createTheme.tsx
Due: copyright, format, lint

fix versions
  packages/bricks/package.json
  packages/structures/package.json
  pnpm-lock.yaml
Due: format

update changelogs
  packages/bricks/CHANGELOG.md
  packages/foundations/CHANGELOG.md
  packages/mui/CHANGELOG.md
  packages/structures/CHANGELOG.md
Due: none

Change definitions of breaking changes
  docs/SUPPORT_POLICY.md
Due: none

Unstable props can be changes at will
  docs/SUPPORT_POLICY.md
Due: none

Move out of /docs
  SUPPORT_POLICY.md
Due: none

Fix incompatible versions
  internal/esbuild-plugins.js
  internal/package.json
  pnpm-lock.yaml
Due: copyright, format, lint

rewrite changelogs
  packages/bricks/CHANGELOG.md
  packages/foundations/CHANGELOG.md
  packages/internal-utils/CHANGELOG.md
  packages/mui/CHANGELOG.md
  packages/structures/CHANGELOG.md
Due: none

revert `internal`
  internal/CHANGELOG.md
  internal/package.json
Due: format

update `bg-elevation-overlay`
  internal/theme-dark.json
  internal/theme-light.json
  packages/mui/src/~components.css
Due: copyright, format

remove opacity from `Dialog`
  packages/structures/src/Dialog.css
Due: copyright

update snapshots
  apps/test-app/app/tests/structures/dialog/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/structures/dialog/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/structures/dialog/index.spec.ts-snapshot.-visual-without-footer-1-chromium-linux.png
  apps/test-app/app/tests/structures/dialog/index.spec.ts-snapshot.-visual-without-footer-1-firefox-linux.png
Due: none

changesets
  .changeset/chilly-mammals-trade.md
  .changeset/five-masks-report.md
  .changeset/salty-books-sing.md
Due: none

fix formatting
  packages/mui/CHANGELOG.md
Due: none

Map hollow and filled star to star.svg
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

remove margin from `DateCalendar`
  .changeset/thirty-berries-hope.md
  packages/mui/src/~components/MuiDatePicker.css
Due: copyright

use esbulid for css minification
  apps/test-app/vite.config.ts
Due: copyright, format, lint

Updated signature at 16px
  packages/icons/icons/signature.svg
Due: none

Add 1 new icon
  packages/icons/icons/dropdown.svg
Due: none
