Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

copyright:
  run: pnpm lint:copyright {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm biome format --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm biome lint --write {staged_files}
  stage_fixed: true

Remove min-block-size
  packages/kiwi-react/src/bricks/ErrorRegion.css
Due: copyright

Update messageId docs.
  packages/kiwi-react/src/bricks/ErrorRegion.tsx
Due: copyright, format, lint

ternary
  packages/kiwi-react/src/bricks/TreeItem.tsx
Due: copyright, format, lint

handle overflow for `<Tree.Item>` actions (#404)
  apps/test-app/app/sandbox.module.css
  apps/test-app/app/sandbox.tsx
  apps/test-app/app/tests/tree/index.spec.ts
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-error-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-error-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-error-1-webkit-linux.png
  apps/test-app/app/tests/tree/index.tsx
  packages/kiwi-react/src/bricks/DropdownMenu.tsx
  packages/kiwi-react/src/bricks/Icon.tsx
  packages/kiwi-react/src/bricks/TreeItem.tsx
Due: copyright, format, lint

create CSS variables for focus outline
  packages/kiwi-react/src/bricks/Anchor.css
  packages/kiwi-react/src/bricks/Tabs.css
  packages/kiwi-react/src/bricks/TreeItem.css
  packages/kiwi-react/src/foundations/global.css
Due: copyright

forced colors
  packages/kiwi-react/src/foundations/global.css
Due: copyright

styling updates
  apps/test-app/app/sandbox.module.css
  apps/test-app/app/sandbox.tsx
  packages/kiwi-react/src/bricks/Tabs.css
Due: copyright, format, lint

5.0.0-alpha.12
  packages/kiwi-react/CHANGELOG.md
  packages/kiwi-react/package.json
Due: format

Test images I missed.
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-error-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-error-1-firefox-linux.png
Due: none

Progress
  apps/test-app/app/tests/banner/index.tsx
  packages/kiwi-react/src/bricks/Banner.css
  packages/kiwi-react/src/bricks/Banner.tsx
  packages/kiwi-react/src/bricks/Chip.tsx
Due: copyright, format, lint

handle single tree + fix memoization
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

Fixes
  apps/test-app/app/tests/banner/index.tsx
  packages/kiwi-react/src/bricks/Banner.css
  packages/kiwi-react/src/bricks/Banner.tsx
Due: copyright, format, lint

Improve upon tabs forced-colors
  apps/test-app/app/tests/tabs/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/tabs/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  packages/kiwi-react/src/bricks/Tabs.css
Due: copyright

Add Kbd forced-colors
  apps/test-app/app/tests/kbd/index.spec.ts
  apps/test-app/app/tests/kbd/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/kbd/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  packages/kiwi-react/src/bricks/Kbd.css
Due: copyright, format, lint

create CSS variables for focus outline (#493)
  packages/kiwi-react/src/bricks/Anchor.css
  packages/kiwi-react/src/bricks/Tabs.css
  packages/kiwi-react/src/bricks/TreeItem.css
  packages/kiwi-react/src/foundations/global.css
Due: copyright

Fix forced-colors for button as anchor.
  packages/kiwi-react/src/bricks/Anchor.css
Due: copyright

Tests
  apps/test-app/app/tests/banner/index.spec.ts
  apps/test-app/app/tests/banner/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/banner/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/banner/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/banner/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/banner/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/banner/index.tsx
Due: copyright, format, lint

Make label required again
  apps/test-app/app/tests/banner/index.tsx
  packages/kiwi-react/src/bricks/Banner.tsx
Due: copyright, format, lint

Improved callout
  packages/kiwi-react/src/bricks/Banner.tsx
Due: copyright, format, lint

`icon` only for neutral tone
  apps/test-app/app/tests/banner/index.tsx
  packages/kiwi-react/src/bricks/Banner.tsx
Due: copyright, format, lint

JSDocs
  packages/kiwi-react/src/bricks/Banner.tsx
Due: copyright, format, lint

Remove role alert
  apps/test-app/app/tests/banner/index.tsx
  packages/kiwi-react/src/bricks/Banner.tsx
Due: copyright, format, lint

Correct status icons
  packages/kiwi-react/src/bricks/Banner.tsx
  packages/kiwi-react/src/bricks/Icon.tsx
Due: copyright, format, lint

className only at top
  packages/kiwi-react/src/bricks/Banner.tsx
Due: copyright, format, lint

actions is ReactNode
  apps/test-app/app/tests/banner/index.tsx
  packages/kiwi-react/src/bricks/Banner.tsx
Due: copyright, format, lint

Remove duplicate styles covered in #489
  packages/kiwi-react/src/bricks/Anchor.css
Due: copyright

Fix `forced-colors` for `<Button>` as anchor (#520)
  packages/kiwi-react/src/bricks/Anchor.css
Due: copyright

Icon overridable and not required
  apps/test-app/app/tests/banner/index.spec.ts
  apps/test-app/app/tests/banner/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/banner/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/banner/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/banner/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/banner/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/banner/index.tsx
  packages/kiwi-react/src/bricks/Banner.tsx
Due: copyright, format, lint

Remove CSS addressed by #493.
  packages/kiwi-react/src/bricks/TreeItem.css
Due: copyright

Fix forced-colors for icon.
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/select/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  packages/kiwi-react/src/bricks/Button.css
  packages/kiwi-react/src/bricks/Icon.css
  packages/kiwi-react/src/bricks/~utils.ListItem.css
Due: copyright

Fix `forced-colors` of `<Icon>` (#521)
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/select/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  packages/kiwi-react/src/bricks/Button.css
  packages/kiwi-react/src/bricks/Icon.css
  packages/kiwi-react/src/bricks/~utils.ListItem.css
Due: copyright

label optional
  apps/test-app/app/tests/banner/index.spec.ts
  apps/test-app/app/tests/banner/index.tsx
  packages/kiwi-react/src/bricks/Banner.tsx
Due: copyright, format, lint

nit
  packages/kiwi-react/src/bricks/Banner.tsx
Due: copyright, format, lint

Leftover
  apps/test-app/app/tests/banner/index.tsx
Due: copyright, format, lint

CI: add another shard
  .github/workflows/CI.yaml
Due: none

Fix forced-colors in list
  apps/test-app/app/tests/list/index.css
  apps/test-app/app/tests/list/index.spec.ts
  apps/test-app/app/tests/list/index.spec.ts-snapshot.-visual-active-1-chromium-linux.png
  apps/test-app/app/tests/list/index.spec.ts-snapshot.-visual-active-1-firefox-linux.png
  apps/test-app/app/tests/list/index.spec.ts-snapshot.-visual-active-1-webkit-linux.png
  apps/test-app/app/tests/list/index.spec.ts-snapshot.-visual-forced-colors-default-1-chromium-linux.png
  apps/test-app/app/tests/list/index.spec.ts-snapshot.-visual-forced-colors-default-1-firefox-linux.png
  apps/test-app/app/tests/list/index.tsx
  packages/kiwi-react/src/bricks/~utils.ListItem.css
Due: copyright, format, lint

small styling update
  apps/test-app/app/sandbox.module.css
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

Fix forced-colors in tree
  apps/test-app/app/tests/tree/index.spec.ts
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-default-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-default-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-description-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-description-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-error-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-error-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-focused-item-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-focused-item-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-overflow-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-overflow-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-selected-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-selected-1-firefox-linux.png
  packages/kiwi-react/src/bricks/TreeItem.css
Due: copyright, format, lint

move dot into its own internal component
  apps/test-app/app/tests/icon-button/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/icon-button/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/icon-button/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  packages/kiwi-react/src/bricks/IconButton.css
  packages/kiwi-react/src/bricks/IconButton.tsx
  packages/kiwi-react/src/bricks/styles.css
  packages/kiwi-react/src/bricks/~utils.Dot.css
  packages/kiwi-react/src/bricks/~utils.Dot.tsx
Due: copyright, format, lint

Inherit color for tree item description.
  packages/kiwi-react/src/bricks/TreeItem.css
Due: copyright

Path conditions:
  copyright: any of: *.{js,ts,jsx,tsx,css,html}
  format: any of: *.{js,ts,jsx,tsx,json,jsonc}
  lint: any of: *.{js,ts,jsx,tsx}
