Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    copyright:
      glob: "*.{js,ts,jsx,tsx,css,html}"
      run: pnpm lint:copyright {staged_files} --fix
      stage_fixed: true

    format:
      glob: "*.{js,ts,jsx,tsx,json,jsonc}"
      run: pnpm biome format --write {staged_files}
      stage_fixed: true

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm biome lint --write {staged_files}
      stage_fixed: true

    prettier:
      exclude:
        - "*.{js,ts,jsx,tsx,cjs,cts,mjs,mts,json,jsonc}"
      run: pnpm exec prettier {staged_files} --ignore-unknown --write
      stage_fixed: true

update legacy Select borders
  apps/test-app/app/tests/bricks/select/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/bricks/select/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  packages/bricks/src/Select.css
Due: copyright

Update to new space token
  examples/mui/Popover._nested.module.css
Due: copyright

remove `border-shadow-*` tokens
  .changeset/huge-moles-swim.md
  packages/foundations/src/~theme.css
Due: copyright

Remove old stylesheet
  apps/test-app/app/gallery/index.module.css
Due: copyright

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Remove component specific labels
  .github/workflows/pr-labels.js
Due: copyright, format, lint

Simplify label
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Add bricks
  .github/workflows/pr-labels.js
Due: copyright, format, lint

Use esbuild to work around lightningcss bug
  apps/website/astro.config.mjs
  apps/website/package.json
  pnpm-lock.yaml
Due: format

Upgrade react router
  apps/test-app/package.json
  apps/test-app/vite.config.ts
  packages/mui/src/~createTheme.tsx
  pnpm-lock.yaml
Due: copyright, format, lint

Move issue template changes to separate PR
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Changes to issue template
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Match TSX files
  apps/test-app/vite.config.ts
  internal/minimal-template/vite.config.js
  packages/mui/src/~createTheme.tsx
Due: copyright, format, lint

Add dropdown for package selection
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

remove all shadow-control tokens
  packages/foundations/src/~shadow.css
Due: copyright

changeset
  .changeset/blue-rooms-sniff.md
  .changeset/empty-words-feel.md
  .changeset/moody-areas-clean.md
  .changeset/small-hairs-cheat.md
Due: none

replace most shadow-control tokens
  packages/bricks/src/Tooltip.css
  packages/mui/src/~components/MuiDialog.css
  packages/mui/src/~components/MuiMenu.css
  packages/mui/src/~components/MuiTooltip.css
  packages/structures/src/Dialog.css
  packages/structures/src/DropdownMenu.css
  packages/structures/src/Popover.css
  packages/structures/src/Toolbar.css
Due: copyright

replace button-base-inset
  packages/bricks/src/Checkbox.css
  packages/bricks/src/Kbd.css
  packages/bricks/src/Switch.css
  packages/mui/src/~components/MuiSwitch.css
Due: copyright

snapshots
  apps/test-app/app/tests/bricks/field/index.spec.ts-snapshot.-visual-checkable-controls-1-chromium-linux.png
  apps/test-app/app/tests/bricks/field/index.spec.ts-snapshot.-visual-checkable-controls-1-firefox-linux.png
  apps/test-app/app/tests/bricks/icon-button/index.spec.ts-snapshot.-visual-tooltip-1-chromium-linux.png
  apps/test-app/app/tests/bricks/icon-button/index.spec.ts-snapshot.-visual-tooltip-1-firefox-linux.png
  apps/test-app/app/tests/bricks/switch/index.spec.ts-snapshot.-visual-unchecked-1-chromium-linux.png
  apps/test-app/app/tests/bricks/switch/index.spec.ts-snapshot.-visual-unchecked-1-firefox-linux.png
  apps/test-app/app/tests/bricks/tooltip/index.spec.ts-snapshot.-visual-tooltip-content-with-a-single-line-1-chromium-linux.png
  apps/test-app/app/tests/bricks/tooltip/index.spec.ts-snapshot.-visual-tooltip-content-with-a-single-line-1-firefox-linux.png
  apps/test-app/app/tests/bricks/tooltip/index.spec.ts-snapshot.-visual-tooltip-content-with-multiple-lines-1-firefox-linux.png
  apps/test-app/app/tests/structures/dialog/index.spec.ts-snapshot.-visual-without-footer-1-firefox-linux.png
  apps/test-app/app/tests/structures/dropdown-menu/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/structures/dropdown-menu/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/structures/toolbar/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/structures/toolbar/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
Due: none

replace input-base
  packages/bricks/src/TextBox.css
Due: copyright

replace button-base-drop
  packages/bricks/src/Button.css
  packages/bricks/src/Checkbox.css
  packages/bricks/src/Kbd.css
  packages/bricks/src/Select.css
  packages/bricks/src/Switch.css
  packages/foundations/src/~shadow.css
  packages/mui/src/~components/MuiButton.css
  packages/mui/src/~components/MuiSwitch.css
Due: copyright

Add changeset
  .changeset/nice-bears-worry.md
Due: none

Match Select for disabled + checked
  packages/mui/src/~forced-colors.css
Due: copyright

Fix up radius
  packages/mui/src/~components/MuiSelect.css
Due: copyright

CSS cleanup
  packages/mui/src/~components/MuiSelect.css
Due: copyright

Add knobs & separate DatePicker and TimePicker
  apps/test-app/app/mui/TimePicker.showcase.tsx
  apps/test-app/app/mui/mui.tsx
Due: copyright, format, lint

Rename DatePicker.Time to TimePicker.Default
  apps/test-app/app/mui/TimePicker.showcase.tsx
  apps/website/src/content/docs/components/mui/TimePicker.md
  examples/mui/TimePicker.default.tsx
Due: copyright, format, lint

Disable days
  apps/test-app/app/mui/DatePicker.showcase.tsx
Due: copyright, format, lint

fix up CSS var
  packages/mui/src/~forced-colors.css
Due: copyright

Update for shadow token changes
  packages/mui/src/~components/MuiSelect.css
Due: copyright

update shadow tokens
  internal/theme-dark.json
  internal/theme-light.json
  packages/bricks/src/Tooltip.css
  packages/foundations/src/~shadow.css
  packages/mui/src/~components.css
  packages/mui/src/~components/MuiMenu.css
  packages/mui/src/~components/MuiPaper.css
  packages/mui/src/~components/MuiTooltip.css
  packages/structures/src/Dialog.css
  packages/structures/src/DropdownMenu.css
  packages/structures/src/Popover.css
  packages/structures/src/Toolbar.css
Due: copyright, format

snapshots
  apps/test-app/app/tests/bricks/icon-button/index.spec.ts-snapshot.-visual-tooltip-1-chromium-linux.png
  apps/test-app/app/tests/bricks/icon-button/index.spec.ts-snapshot.-visual-tooltip-1-firefox-linux.png
  apps/test-app/app/tests/bricks/tooltip/index.spec.ts-snapshot.-visual-tooltip-content-with-a-single-line-1-chromium-linux.png
  apps/test-app/app/tests/bricks/tooltip/index.spec.ts-snapshot.-visual-tooltip-content-with-a-single-line-1-firefox-linux.png
  apps/test-app/app/tests/bricks/tooltip/index.spec.ts-snapshot.-visual-tooltip-content-with-multiple-lines-1-firefox-linux.png
  apps/test-app/app/tests/structures/dialog/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/structures/dialog/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/structures/dialog/index.spec.ts-snapshot.-visual-without-footer-1-chromium-linux.png
  apps/test-app/app/tests/structures/dialog/index.spec.ts-snapshot.-visual-without-footer-1-firefox-linux.png
  apps/test-app/app/tests/structures/dropdown-menu/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/structures/dropdown-menu/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/structures/popover/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/structures/popover/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/structures/toolbar/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/structures/toolbar/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
Due: none

changesets
  .changeset/petite-meteors-stay.md
  .changeset/slimy-toys-buy.md
Due: none

Bump MUI packages
  .changeset/full-doodles-grin.md
  internal/minimal-template/package.json
  packages/mui/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

Optimize production builds
  internal/esbuild-plugins.js
  packages/bricks/scripts/build.js
  packages/foundations/scripts/build.js
  packages/internal-utils/scripts/build.js
  packages/mui/scripts/build.js
  packages/structures/scripts/build.js
Due: copyright, format, lint

clone and delete
  packages/mui/src/~createTheme.tsx
Due: copyright, format, lint

Remove unneeded config
  internal/minimal-template/vite.config.js
Due: copyright, format, lint

fix versions
  packages/bricks/package.json
  packages/structures/package.json
  pnpm-lock.yaml
Due: format

fix changelogs
  packages/bricks/CHANGELOG.md
  packages/foundations/CHANGELOG.md
  packages/mui/CHANGELOG.md
  packages/structures/CHANGELOG.md
Due: none

Move changesets to end
  STYLEGUIDE.md
Due: none
