Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

copyright:
  run: pnpm lint:copyright {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm biome format --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm biome lint --write {staged_files}
  stage_fixed: true

improve local test script (#627)
  apps/test-app/package.json
  apps/test-app/scripts/.dockerignore
  apps/test-app/scripts/Dockerfile
  apps/test-app/scripts/run-tests.ts
Due: copyright, format, lint

update images
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.DropdownMenu-CheckboxItem-visual-1-chromium-linux.png
  apps/test-app/app/tests/icon-button/index.spec.ts-snapshot.-visual-tooltip-1-chromium-linux.png
  apps/test-app/app/tests/kbd/index.spec.ts-snapshot.-visual-all-variants-1-chromium-linux.png
  apps/test-app/app/tests/kbd/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/kbd/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/root/index.spec.ts-snapshot.without-root-chromium-linux.png
  apps/test-app/app/tests/tabs/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/text/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/text/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/tooltip/index.spec.ts-snapshot.-visual-tooltip-content-with-a-single-line-1-chromium-linux.png
  apps/test-app/app/tests/tooltip/index.spec.ts-snapshot.-visual-tooltip-content-with-multiple-lines-1-chromium-linux.png
Due: none

fix type syntax
  apps/test-app/vite.config.ts
Due: copyright, format, lint

bump deps
  .github/workflows/CI.yaml
  apps/test-app/package.json
  apps/test-app/scripts/Dockerfile
  package.json
  packages/bricks/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

0 opacity
  packages/bricks/src/ErrorRegion.tsx
Due: copyright, format, lint

test-app: fix dev server reloading issue (#631)
  apps/test-app/vite.config.ts
Due: copyright, format, lint

Revert "0 opacity"
  packages/bricks/src/ErrorRegion.tsx
Due: copyright, format, lint

Add pulse animation to `ErrorRegion` component (#602)
  apps/test-app/app/tests/error-region/index.tsx
  packages/bricks/src/ErrorRegion.css
  packages/bricks/src/ErrorRegion.tsx
Due: copyright, format, lint

Reduce height effect from dismiss button
  apps/test-app/app/tests/banner/index.tsx
  packages/bricks/src/Banner.css
Due: copyright, format, lint

remove `[disabled]` selectors
  packages/bricks/src/Anchor.css
  packages/bricks/src/Button.css
  packages/bricks/src/Checkbox.css
  packages/bricks/src/Label.css
  packages/bricks/src/Switch.css
  packages/bricks/src/Tabs.css
  packages/bricks/src/TextBox.css
  packages/bricks/src/~utils.ListItem.css
Due: copyright

test-app: make the right sidebar responsive
  apps/test-app/app/tests/tests.css
  apps/test-app/app/tests/tests.module.css
  apps/test-app/app/tests/tests.tsx
  apps/test-app/app/~utils.module.css
Due: copyright, format, lint

keep visual tests unchanged
  apps/test-app/app/tests/tests.module.css
Due: copyright

sticky scrolling
  apps/test-app/app/tests/tests.module.css
Due: copyright

remove `[disabled]` selectors (#632)
  packages/bricks/src/Anchor.css
  packages/bricks/src/Button.css
  packages/bricks/src/Checkbox.css
  packages/bricks/src/Label.css
  packages/bricks/src/Switch.css
  packages/bricks/src/Tabs.css
  packages/bricks/src/TextBox.css
  packages/bricks/src/~utils.ListItem.css
Due: copyright

fix GHSA-f46r-rw29-r322
  apps/test-app/package.json
  pnpm-lock.yaml
Due: format

bump all deps (#629)
  .github/workflows/CI.yaml
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.DropdownMenu-CheckboxItem-visual-1-chromium-linux.png
  apps/test-app/app/tests/icon-button/index.spec.ts-snapshot.-visual-tooltip-1-chromium-linux.png
  apps/test-app/app/tests/kbd/index.spec.ts-snapshot.-visual-all-variants-1-chromium-linux.png
  apps/test-app/app/tests/kbd/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/kbd/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/root/index.spec.ts-snapshot.without-root-chromium-linux.png
  apps/test-app/app/tests/tabs/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/text/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/text/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/tooltip/index.spec.ts-snapshot.-visual-tooltip-content-with-a-single-line-1-chromium-linux.png
  apps/test-app/app/tests/tooltip/index.spec.ts-snapshot.-visual-tooltip-content-with-multiple-lines-1-chromium-linux.png
  apps/test-app/package.json
  apps/test-app/scripts/Dockerfile
  apps/test-app/vite.config.ts
  package.json
  packages/bricks/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: copyright, format, lint

test-app: make the right sidebar responsive (#635)
  apps/test-app/app/tests/tests.css
  apps/test-app/app/tests/tests.module.css
  apps/test-app/app/tests/tests.tsx
  apps/test-app/app/~utils.module.css
Due: copyright, format, lint

Images
  apps/test-app/app/tests/banner/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/banner/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/banner/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/banner/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/banner/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
Due: none

run typecheck in CI (#630)
  .github/workflows/CI.yaml
Due: none

Remove min and max
  apps/test-app/app/tests/progress-bar/index.spec.ts
  packages/bricks/src/ProgressBar.tsx
Due: copyright, format, lint

Transition
  packages/bricks/src/ProgressBar.css
Due: copyright

setup `examples` workspace
  CONTRIBUTING.md
  examples/bricks/Button.jsx
  examples/package.json
  examples/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: copyright, format, lint

Use static variables to explain calc
  packages/bricks/src/ErrorRegion.css
Due: copyright

move max-block-size
  packages/bricks/src/ErrorRegion.css
Due: copyright

Transition opacity w/ reduced-motion enabled
  packages/bricks/src/ErrorRegion.css
Due: copyright

Wrap button text
  packages/bricks/src/ErrorRegion.css
Due: copyright

Wrap button decorations
  packages/bricks/src/ErrorRegion.css
Due: copyright

Break long labels after flex-wrap
  packages/bricks/src/ErrorRegion.css
Due: copyright

Allow all buttons to wrap instead
  packages/bricks/src/Button.css
  packages/bricks/src/ErrorRegion.css
Due: copyright

Add retry action to sandbox
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

setup `examples` workspace (#636)
  CONTRIBUTING.md
  examples/bricks/Button.jsx
  examples/package.json
  examples/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: copyright, format, lint

Better use of `render`. No `data-kiwi-label-type`.
  apps/test-app/app/tests/banner/index.tsx
  packages/bricks/src/Banner.css
  packages/bricks/src/Banner.tsx
Due: copyright, format, lint

Animated demo controls
  apps/test-app/app/tests/progress-bar/index.tsx
Due: copyright, format, lint

Moved note up
  packages/bricks/src/ProgressBar.tsx
Due: copyright, format, lint

`unstable_Banner`
  apps/test-app/app/tests/banner/index.tsx
  packages/bricks/src/index.ts
Due: copyright, format, lint

Remove container properly
  packages/bricks/src/Banner.css
Due: copyright

Better JSDocs description
  packages/bricks/src/Banner.tsx
Due: copyright, format, lint

More closely match the non-forced-colors visuals.
  apps/test-app/app/tests/progress-bar/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/progress-bar/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/spinner/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/spinner/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  packages/bricks/src/ProgressBar.css
  packages/bricks/src/Spinner.css
Due: copyright

Fill starts in the same location as non-forced-colors.
  apps/test-app/app/tests/spinner/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/spinner/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  packages/bricks/src/Spinner.css
Due: copyright

Path conditions:
  copyright: any of: *.{js,ts,jsx,tsx,css,html}
  format: any of: *.{js,ts,jsx,tsx,json,jsonc}
  lint: any of: *.{js,ts,jsx,tsx}
