Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

copyright:
  run: pnpm lint:copyright {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm biome format --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm biome lint --write {staged_files}
  stage_fixed: true

missing `catalog:` uses
  apps/test-app/package.json
  pnpm-lock.yaml
Due: format

nicer shard syntax
  .github/workflows/CI.yaml
Due: none

add `@playwright/test` to root
  apps/test-app/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

revert tree test
  apps/test-app/app/tests/tree/index.spec.ts
Due: copyright, format, lint

skip flaky tests
  apps/test-app/app/tests/field/index.spec.ts
  apps/test-app/app/tests/tree/index.spec.ts
Due: copyright, format, lint

Add forced-colors tests.
  apps/test-app/app/tests/spinner/index.spec.ts
  apps/test-app/app/tests/spinner/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/spinner/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/spinner/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/spinner/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/spinner/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
Due: copyright, format, lint

skip flaky tests (#438)
  apps/test-app/app/tests/field/index.spec.ts
  apps/test-app/app/tests/tree/index.spec.ts
Due: copyright, format, lint

Transition on determinate state
  packages/kiwi-react/src/bricks/Spinner.css
Due: copyright

fix typo in `Spinner.tsx`
  packages/kiwi-react/src/bricks/Spinner.tsx
Due: copyright, format, lint

add typography to tokens
  apps/test-app/app/tokens.tsx
Due: copyright, format, lint

`Tree.Item`: stop propagating keydown events from actions
  packages/kiwi-react/src/bricks/TreeItem.tsx
Due: copyright, format, lint

fix attribute casing in `Spinner.tsx` (#439)
  packages/kiwi-react/src/bricks/Spinner.tsx
Due: copyright, format, lint

oop
  packages/kiwi-react/src/bricks/TreeItem.tsx
Due: copyright, format, lint

Animation changes from Mayank.
  apps/test-app/app/tests/progress-bar/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/progress-bar/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/progress-bar/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/progress-bar/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/progress-bar/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  packages/kiwi-react/src/bricks/ProgressBar.css
Due: copyright

make `TreeItemExpander` completely non-focusable
  packages/kiwi-react/src/bricks/TreeItem.tsx
Due: copyright, format, lint

separate out data from sandbox
  .vscode/settings.json
  apps/test-app/app/root.tsx
  apps/test-app/app/sandbox.model1.json
  apps/test-app/app/sandbox.model2.json
  apps/test-app/app/sandbox.model3.json
  apps/test-app/app/sandbox.tsx
  apps/test-app/app/~utils.tsx
  apps/test-app/package.json
  pnpm-lock.yaml
Due: copyright, format, lint

memoize
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

make `TreeItemExpander` completely unfocusable (#445)
  packages/kiwi-react/src/bricks/TreeItem.tsx
Due: copyright, format, lint

WIP
  packages/kiwi-react/src/bricks/ProgressBar.tsx
Due: copyright, format, lint

`Tree.Item`: stop propagating `keydown` events from actions (#442)
  packages/kiwi-react/src/bricks/TreeItem.tsx
Due: copyright, format, lint

externalize JSON files
  apps/test-app/app/sandbox.model2.json
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

separate out data from sandbox (#443)
  .vscode/settings.json
  apps/test-app/app/root.tsx
  apps/test-app/app/sandbox.model1.json
  apps/test-app/app/sandbox.model2.json
  apps/test-app/app/sandbox.model3.json
  apps/test-app/app/sandbox.tsx
  apps/test-app/app/~utils.tsx
  apps/test-app/package.json
  pnpm-lock.yaml
Due: copyright, format, lint

Apply suggestions from code review
  packages/kiwi-react/src/bricks/ProgressBar.tsx
Due: copyright, format, lint

Initial `<ProgressBar>` component (#383)
  apps/test-app/app/components.ts
  apps/test-app/app/tests/progress-bar/index.spec.ts
  apps/test-app/app/tests/progress-bar/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/progress-bar/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/progress-bar/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/progress-bar/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/progress-bar/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/progress-bar/index.tsx
  apps/test-app/app/tests/spinner/index.spec.ts
  packages/kiwi-react/src/bricks/ProgressBar.css
  packages/kiwi-react/src/bricks/ProgressBar.tsx
  packages/kiwi-react/src/bricks/index.ts
  packages/kiwi-react/src/bricks/styles.css
Due: copyright, format, lint

Add shimmer animation to skeleton.
  packages/kiwi-react/src/bricks/Skeleton.css
Due: copyright

Fix
  packages/kiwi-react/src/bricks/Table.tsx
Due: copyright, format, lint

Comments
  packages/kiwi-react/src/bricks/Table.tsx
Due: copyright, format, lint

Real values from design team.
  packages/kiwi-react/src/bricks/Skeleton.css
Due: copyright

Reduce field spacing to space/x1
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-checkable-controls-1-chromium-linux.png
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-checkable-controls-1-firefox-linux.png
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-checkable-controls-1-webkit-linux.png
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-text-controls-1-chromium-linux.png
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-text-controls-1-firefox-linux.png
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-text-controls-1-webkit-linux.png
  apps/test-app/app/tests/select/index.spec.ts-snapshot.-visual-1-chromium-linux.png
  apps/test-app/app/tests/select/index.spec.ts-snapshot.-visual-1-firefox-linux.png
  apps/test-app/app/tests/select/index.spec.ts-snapshot.-visual-1-webkit-linux.png
  apps/test-app/app/tests/text-box/index.spec.ts-snapshot.-visual-disabled-input-1-chromium-linux.png
  apps/test-app/app/tests/text-box/index.spec.ts-snapshot.-visual-disabled-input-1-firefox-linux.png
  apps/test-app/app/tests/text-box/index.spec.ts-snapshot.-visual-disabled-input-1-webkit-linux.png
  apps/test-app/app/tests/text-box/index.spec.ts-snapshot.-visual-focus-outline-input-1-chromium-linux.png
  apps/test-app/app/tests/text-box/index.spec.ts-snapshot.-visual-focus-outline-input-1-firefox-linux.png
  apps/test-app/app/tests/text-box/index.spec.ts-snapshot.-visual-focus-outline-input-1-webkit-linux.png
  apps/test-app/app/tests/textarea/index.spec.ts-snapshot.-visual-1-chromium-linux.png
  apps/test-app/app/tests/textarea/index.spec.ts-snapshot.-visual-1-firefox-linux.png
  apps/test-app/app/tests/textarea/index.spec.ts-snapshot.-visual-1-webkit-linux.png
  packages/kiwi-react/src/bricks/Field.css
Due: copyright

Reduce `<Field>` spacing to space/x1 (#447)
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-checkable-controls-1-chromium-linux.png
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-checkable-controls-1-firefox-linux.png
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-checkable-controls-1-webkit-linux.png
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-text-controls-1-chromium-linux.png
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-text-controls-1-firefox-linux.png
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-text-controls-1-webkit-linux.png
  apps/test-app/app/tests/select/index.spec.ts-snapshot.-visual-1-chromium-linux.png
  apps/test-app/app/tests/select/index.spec.ts-snapshot.-visual-1-firefox-linux.png
  apps/test-app/app/tests/select/index.spec.ts-snapshot.-visual-1-webkit-linux.png
  apps/test-app/app/tests/text-box/index.spec.ts-snapshot.-visual-disabled-input-1-chromium-linux.png
  apps/test-app/app/tests/text-box/index.spec.ts-snapshot.-visual-disabled-input-1-firefox-linux.png
  apps/test-app/app/tests/text-box/index.spec.ts-snapshot.-visual-disabled-input-1-webkit-linux.png
  apps/test-app/app/tests/text-box/index.spec.ts-snapshot.-visual-focus-outline-input-1-chromium-linux.png
  apps/test-app/app/tests/text-box/index.spec.ts-snapshot.-visual-focus-outline-input-1-firefox-linux.png
  apps/test-app/app/tests/text-box/index.spec.ts-snapshot.-visual-focus-outline-input-1-webkit-linux.png
  apps/test-app/app/tests/textarea/index.spec.ts-snapshot.-visual-1-chromium-linux.png
  apps/test-app/app/tests/textarea/index.spec.ts-snapshot.-visual-1-firefox-linux.png
  apps/test-app/app/tests/textarea/index.spec.ts-snapshot.-visual-1-webkit-linux.png
  packages/kiwi-react/src/bricks/Field.css
Due: copyright

Fix styles
  packages/kiwi-react/src/bricks/Table.css
Due: copyright

Images
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-hovered-row-1-chromium-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-hovered-row-1-firefox-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-hovered-row-1-webkit-linux.png
Due: none

generate inline spritesheet for icons
  packages/kiwi-icons/package.json
  packages/kiwi-icons/src/SpriteSheet.tsx
  packages/kiwi-react/src/bricks/Icon.tsx
  pnpm-lock.yaml
Due: copyright, format, lint

Add error to Tree.Item
  apps/test-app/app/tests/tree/index.tsx
  packages/kiwi-react/src/bricks/TreeItem.css
  packages/kiwi-react/src/bricks/TreeItem.tsx
Due: copyright, format, lint

Add Tree.Error
  apps/test-app/app/tests/tree/index.tsx
  packages/kiwi-react/src/bricks/Icon.tsx
  packages/kiwi-react/src/bricks/Tree.css
  packages/kiwi-react/src/bricks/Tree.tsx
  packages/kiwi-react/src/bricks/TreeItem.tsx
Due: copyright, format, lint

Move to TreeError.tsx
  packages/kiwi-react/src/bricks/Tree.css
  packages/kiwi-react/src/bricks/Tree.tsx
  packages/kiwi-react/src/bricks/TreeError.css
  packages/kiwi-react/src/bricks/TreeError.tsx
  packages/kiwi-react/src/bricks/styles.css
Due: copyright, format, lint

Add Tree.ErrorItem
  apps/test-app/app/tests/tree/index.tsx
  packages/kiwi-react/src/bricks/Tree.tsx
  packages/kiwi-react/src/bricks/TreeError.css
  packages/kiwi-react/src/bricks/TreeError.tsx
Due: copyright, format, lint

5.0.0-alpha.10
  packages/kiwi-react/CHANGELOG.md
  packages/kiwi-react/package.json
Due: format

Path conditions:
  copyright: any of: *.{js,ts,jsx,tsx,css,html}
  format: any of: *.{js,ts,jsx,tsx,json,jsonc}
  lint: any of: *.{js,ts,jsx,tsx}
