Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    copyright:
      glob: "*.{js,ts,jsx,tsx,css,html}"
      run: pnpm lint:copyright {staged_files} --fix
      stage_fixed: true

    format:
      glob: "*.{js,ts,jsx,tsx,json,jsonc}"
      run: pnpm biome format --write {staged_files}
      stage_fixed: true

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm biome lint --write {staged_files}
      stage_fixed: true

    prettier:
      exclude:
        - "*.{js,ts,jsx,tsx,cjs,cts,mjs,mts,json,jsonc}"
      run: pnpm exec prettier {staged_files} --ignore-unknown --write
      stage_fixed: true

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

fix inconsistencies
  apps/test-app/app/routes/tests/switch/index.spec.ts-snapshot.visual-checked-1-chromium-linux.png
  apps/test-app/app/routes/tests/switch/index.spec.ts-snapshot.visual-checked-1-firefox-linux.png
  apps/test-app/app/routes/tests/switch/index.spec.ts-snapshot.visual-checked-1-webkit-linux.png
  apps/test-app/app/routes/tests/switch/index.spec.ts-snapshot.visual-disabled-1-chromium-linux.png
  apps/test-app/app/routes/tests/switch/index.spec.ts-snapshot.visual-disabled-1-firefox-linux.png
  apps/test-app/app/routes/tests/switch/index.spec.ts-snapshot.visual-disabled-1-webkit-linux.png
  apps/test-app/app/routes/tests/switch/index.spec.ts-snapshot.visual-disabled-checked-1-chromium-linux.png
  apps/test-app/app/routes/tests/switch/index.spec.ts-snapshot.visual-disabled-checked-1-firefox-linux.png
  apps/test-app/app/routes/tests/switch/index.spec.ts-snapshot.visual-disabled-checked-1-webkit-linux.png
  apps/test-app/app/routes/tests/switch/index.spec.ts-snapshot.visual-unchecked-1-chromium-linux.png
  apps/test-app/app/routes/tests/switch/index.spec.ts-snapshot.visual-unchecked-1-firefox-linux.png
  apps/test-app/app/routes/tests/switch/index.spec.ts-snapshot.visual-unchecked-1-webkit-linux.png
  packages/kiwi-react/src/bricks/Switch.css
Due: copyright

fix lint
  apps/test-app/app/routes/tests/switch/index.tsx
Due: copyright, format, lint

add `position: relative` for safari
  packages/kiwi-react/src/bricks/Switch.css
Due: copyright

respect motion preference
  packages/kiwi-react/src/bricks/Switch.css
Due: copyright

add `will-change` for performance?
  packages/kiwi-react/src/bricks/Switch.css
Due: copyright

remove escaping of 🥝
  packages/kiwi-react/src/bricks/Anchor.css
  packages/kiwi-react/src/bricks/Button.css
  packages/kiwi-react/src/bricks/Divider.css
  packages/kiwi-react/src/bricks/Icon.css
  packages/kiwi-react/src/bricks/Input.css
  packages/kiwi-react/src/bricks/Label.css
Due: copyright

add `lightningcss` for post-processing
  apps/test-app/package.json
  apps/test-app/vite.config.ts
  packages/kiwi-react/package.json
  packages/kiwi-react/scripts/build.js
  pnpm-lock.yaml
Due: copyright, format, lint

Apply suggestions from code review
  apps/test-app/app/routes/tests/checkbox/index.spec.ts
  packages/kiwi-react/src/bricks/Checkbox.css
Due: copyright, format, lint

fix incorrect export syntax in ESM script
  scripts/copyright-linter.ts
Due: copyright, format, lint

Adding Tooltip as a test component
  apps/test-app/app/routes/index.tsx
Due: copyright, format, lint

WIP
  apps/test-app/app/routes/tests/tooltip/index.tsx
  packages/kiwi-react/src/bricks/Tooltip.css
  packages/kiwi-react/src/bricks/Tooltip.tsx
Due: copyright, format, lint

Add missing backticks
  CONTRIBUTING.md
Due: none

Update biome schema version
  biome.jsonc
Due: format

Explicitly enable css linter to make VSCode extension happy
  biome.jsonc
Due: format

Use `biomejs` to format and lint CSS (#44)
  .vscode/settings.json
  biome.jsonc
  lefthook.yml
  package.json
  packages/kiwi-react/src/bricks/Button.css
  packages/kiwi-react/src/bricks/Input.css
  pnpm-lock.yaml
Due: copyright, format

Contribute Page (#41)
  CONTRIBUTING.md
Due: none

Removing CSS
  packages/kiwi-react/src/bricks/Tooltip.css
Due: copyright

Adding Tooltip provider
  packages/kiwi-react/src/bricks/Tooltip.tsx
Due: copyright, format, lint

Remove style reference
  packages/kiwi-react/src/bricks/styles.css
Due: copyright

Test to ensure tooltip is hidden initially
  apps/test-app/app/routes/tests/tooltip/index.spec.ts
Due: copyright, format, lint

fix incorrect export syntax in ESM script (#55)
  scripts/copyright-linter.ts
Due: copyright, format, lint

add `lightningcss` for post-processing (#54)
  apps/test-app/package.json
  apps/test-app/vite.config.ts
  packages/kiwi-react/package.json
  packages/kiwi-react/scripts/build.js
  pnpm-lock.yaml
Due: copyright, format, lint

Test Update - switching from time approach to event based. (#51)
  apps/test-app/app/routes/tests/radio/index.spec.ts
Due: copyright, format, lint

remove escaping of 🥝 (#53)
  packages/kiwi-react/src/bricks/Anchor.css
  packages/kiwi-react/src/bricks/Button.css
  packages/kiwi-react/src/bricks/Divider.css
  packages/kiwi-react/src/bricks/Icon.css
  packages/kiwi-react/src/bricks/Input.css
  packages/kiwi-react/src/bricks/Label.css
Due: copyright

remove `\` escaping
  packages/kiwi-react/src/bricks/Switch.css
Due: copyright

update font-size
  apps/test-app/app/routes/tests/anchor/index.spec.ts-snapshot.visual-1-chromium-linux.png
  apps/test-app/app/routes/tests/anchor/index.spec.ts-snapshot.visual-1-firefox-linux.png
  apps/test-app/app/routes/tests/anchor/index.spec.ts-snapshot.visual-1-webkit-linux.png
  apps/test-app/app/routes/tests/button/index.spec.ts-snapshot.visual-1-chromium-linux.png
  apps/test-app/app/routes/tests/button/index.spec.ts-snapshot.visual-1-firefox-linux.png
  apps/test-app/app/routes/tests/button/index.spec.ts-snapshot.visual-1-webkit-linux.png
  apps/test-app/app/routes/tests/input/index.spec.ts-snapshot.visual-1-chromium-linux.png
  apps/test-app/app/routes/tests/input/index.spec.ts-snapshot.visual-1-firefox-linux.png
  apps/test-app/app/routes/tests/input/index.spec.ts-snapshot.visual-1-webkit-linux.png
  apps/test-app/app/routes/tests/root/index.spec.ts-snapshot.popout-chromium-linux.png
  apps/test-app/app/routes/tests/root/index.spec.ts-snapshot.popout-firefox-linux.png
  apps/test-app/app/routes/tests/root/index.spec.ts-snapshot.popout-webkit-linux.png
  apps/test-app/app/routes/tests/root/index.spec.ts-snapshot.shadow-chromium-linux.png
  apps/test-app/app/routes/tests/root/index.spec.ts-snapshot.shadow-firefox-linux.png
  apps/test-app/app/routes/tests/root/index.spec.ts-snapshot.shadow-webkit-linux.png
  apps/test-app/app/routes/tests/textarea/index.spec.ts-snapshot.visual-1-chromium-linux.png
  apps/test-app/app/routes/tests/textarea/index.spec.ts-snapshot.visual-1-firefox-linux.png
  apps/test-app/app/routes/tests/textarea/index.spec.ts-snapshot.visual-1-webkit-linux.png
  packages/kiwi-react/src/bricks/Anchor.css
  packages/kiwi-react/src/bricks/Button.css
  packages/kiwi-react/src/bricks/Input.css
  packages/kiwi-react/src/bricks/Label.css
Due: copyright

fix `forced-colors`
  packages/kiwi-react/src/bricks/Switch.css
Due: copyright

bump test-app deps
  apps/test-app/package.json
  pnpm-lock.yaml
Due: format
