Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    copyright:
      glob: "*.{js,ts,jsx,tsx,css,html}"
      run: pnpm lint:copyright {staged_files} --fix
      stage_fixed: true

    format:
      glob: "*.{js,ts,jsx,tsx,json,jsonc}"
      run: pnpm biome format --write {staged_files}
      stage_fixed: true

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm biome lint --write {staged_files}
      stage_fixed: true

    prettier:
      exclude:
        - "*.{js,ts,jsx,tsx,cjs,cts,mjs,mts,json,jsonc}"
      run: pnpm exec prettier {staged_files} --ignore-unknown --write
      stage_fixed: true

Fix field route
  apps/test-app/app/routes/tests/field/index.tsx
Due: copyright, format, lint

Fix textarea styling.
  packages/kiwi-react/src/bricks/TextInput.css
Due: copyright

Update snaps
  apps/test-app/app/routes/tests/text-input/index.spec.ts-snapshot.-visual-composition-outline-1-chromium-linux.png
  apps/test-app/app/routes/tests/text-input/index.spec.ts-snapshot.-visual-composition-outline-1-firefox-linux.png
  apps/test-app/app/routes/tests/text-input/index.spec.ts-snapshot.-visual-composition-outline-1-webkit-linux.png
  apps/test-app/app/routes/tests/text-input/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/routes/tests/text-input/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/routes/tests/text-input/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
Due: none

Rename files
  apps/test-app/app/routes/tests/text-box/index.spec.ts
  apps/test-app/app/routes/tests/text-box/index.spec.ts-snapshot.-visual-1-chromium-linux.png
  apps/test-app/app/routes/tests/text-box/index.spec.ts-snapshot.-visual-1-firefox-linux.png
  apps/test-app/app/routes/tests/text-box/index.spec.ts-snapshot.-visual-1-webkit-linux.png
  apps/test-app/app/routes/tests/text-box/index.spec.ts-snapshot.-visual-composition-outline-1-chromium-linux.png
  apps/test-app/app/routes/tests/text-box/index.spec.ts-snapshot.-visual-composition-outline-1-firefox-linux.png
  apps/test-app/app/routes/tests/text-box/index.spec.ts-snapshot.-visual-composition-outline-1-webkit-linux.png
  apps/test-app/app/routes/tests/text-box/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/routes/tests/text-box/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/routes/tests/text-box/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/routes/tests/text-box/index.tsx
  packages/kiwi-react/src/bricks/TextBox.css
  packages/kiwi-react/src/bricks/TextBox.tsx
  packages/kiwi-react/src/bricks/index.ts
Due: copyright, format, lint

Rename components
  apps/test-app/app/routes/index.tsx
  apps/test-app/app/routes/sandbox.tsx
  apps/test-app/app/routes/tests/field/index.tsx
  apps/test-app/app/routes/tests/text-box/index.tsx
  packages/kiwi-react/src/bricks/TextBox.tsx
  packages/kiwi-react/src/bricks/index.ts
  packages/kiwi-react/src/bricks/styles.css
Due: copyright, format, lint

CSS rename
  packages/kiwi-react/src/bricks/Field.css
  packages/kiwi-react/src/bricks/TextBox.css
  packages/kiwi-react/src/bricks/TextBox.tsx
  packages/kiwi-react/src/bricks/Textarea.tsx
Due: copyright, format, lint

Fix test routes
  apps/test-app/app/routes/tests/text-box/index.spec.ts
Due: copyright, format, lint

Move Textarea under TextBox
  apps/test-app/app/routes/tests/field/index.tsx
  apps/test-app/app/routes/tests/textarea/index.tsx
  packages/kiwi-react/src/bricks/TextBox.tsx
  packages/kiwi-react/src/bricks/index.ts
Due: copyright, format, lint

Add docs
  packages/kiwi-react/src/bricks/Textarea.tsx
Due: copyright, format, lint

Refactor to useStoreState to get the popoverElement
  packages/kiwi-react/src/bricks/Tooltip.tsx
Due: copyright, format, lint

Use auto size initially.
  apps/test-app/app/routes/sandbox.module.css
Due: copyright

Fix useMoveable to take into account pointer relative position.
  apps/test-app/app/routes/sandbox.tsx
Due: copyright, format, lint

Use WebkitUserSelect property
  apps/test-app/app/routes/sandbox.tsx
Due: copyright, format, lint

Move `Textarea` under `TextBox` (#131)
  apps/test-app/app/routes/tests/field/index.tsx
  apps/test-app/app/routes/tests/textarea/index.tsx
  packages/kiwi-react/src/bricks/TextBox.tsx
  packages/kiwi-react/src/bricks/Textarea.tsx
  packages/kiwi-react/src/bricks/index.ts
Due: copyright, format, lint

Move leftPanelLabelId
  apps/test-app/app/routes/sandbox.tsx
Due: copyright, format, lint

Fixing IconButton variant type.
  apps/test-app/app/routes/tests/icon-button/index.tsx
Due: copyright, format, lint

Update splitter styling.
  apps/test-app/app/routes/sandbox.module.css
  apps/test-app/app/routes/sandbox.tsx
Due: copyright, format, lint

Rename some vars.
  apps/test-app/app/routes/sandbox.tsx
Due: copyright, format, lint

Remove unused --_panel-size
  apps/test-app/app/routes/sandbox.module.css
Due: copyright

update `text-neutral-tertiary` token
  internal/theme-dark.json
Due: format

update images
  apps/test-app/app/routes/tests/tabs/index.spec.ts-snapshot.-visual-1-chromium-linux.png
  apps/test-app/app/routes/tests/tabs/index.spec.ts-snapshot.-visual-1-firefox-linux.png
  apps/test-app/app/routes/tests/tabs/index.spec.ts-snapshot.-visual-1-webkit-linux.png
Due: none

Resolving issue with await.
  apps/test-app/app/routes/tests/anchor/index.spec.ts
  apps/test-app/app/routes/tests/button/index.spec.ts
  apps/test-app/app/routes/tests/checkbox/index.spec.ts
  apps/test-app/app/routes/tests/divider/index.spec.ts
  apps/test-app/app/routes/tests/dropdown-menu/index.spec.ts
  apps/test-app/app/routes/tests/icon-button/index.spec.ts
  apps/test-app/app/routes/tests/icon/index.spec.ts
  apps/test-app/app/routes/tests/list/index.spec.ts
  apps/test-app/app/routes/tests/radio/index.spec.ts
  apps/test-app/app/routes/tests/root/index.spec.ts
  apps/test-app/app/routes/tests/switch/index.spec.ts
  apps/test-app/app/routes/tests/tabs/index.spec.ts
  apps/test-app/app/routes/tests/text-input/index.spec.ts
  apps/test-app/app/routes/tests/textarea/index.spec.ts
  apps/test-app/app/routes/tests/tooltip/index.spec.ts
Due: copyright, format, lint

Display tooltip prior to Axe Testing
  apps/test-app/app/routes/tests/tooltip/index.spec.ts
Due: copyright, format, lint

Ensuring menu is visble prior to Axe test
  apps/test-app/app/routes/tests/dropdown-menu/index.spec.ts
Due: copyright, format, lint

remove `padding-block` from `TextInput`
  packages/kiwi-react/src/bricks/TextInput.css
Due: copyright

update images
  apps/test-app/app/routes/tests/field/index.spec.ts-snapshot.-visual-text-controls-1-chromium-linux.png
  apps/test-app/app/routes/tests/field/index.spec.ts-snapshot.-visual-text-controls-1-firefox-linux.png
  apps/test-app/app/routes/tests/field/index.spec.ts-snapshot.-visual-text-controls-1-webkit-linux.png
  apps/test-app/app/routes/tests/text-input/index.spec.ts-snapshot.-visual-1-chromium-linux.png
  apps/test-app/app/routes/tests/text-input/index.spec.ts-snapshot.-visual-1-firefox-linux.png
  apps/test-app/app/routes/tests/text-input/index.spec.ts-snapshot.-visual-1-webkit-linux.png
  apps/test-app/app/routes/tests/textarea/index.spec.ts-snapshot.-visual-1-chromium-linux.png
  apps/test-app/app/routes/tests/textarea/index.spec.ts-snapshot.-visual-1-firefox-linux.png
  apps/test-app/app/routes/tests/textarea/index.spec.ts-snapshot.-visual-1-webkit-linux.png
Due: none

Resolving anchor tests with the introduction of article element
  apps/test-app/app/routes/tests/anchor/index.spec.ts
  apps/test-app/app/routes/tests/anchor/index.tsx
Due: copyright, format, lint

Mayank's suggestion
  packages/kiwi-react/src/bricks/Tabs.css
Due: copyright

Move webkit-tap-highlight-color within tone modifiers
  packages/kiwi-react/src/bricks/Tabs.css
Due: copyright

update `text-neutral-tertiary` token (#132)
  apps/test-app/app/routes/tests/tabs/index.spec.ts-snapshot.-visual-1-chromium-linux.png
  apps/test-app/app/routes/tests/tabs/index.spec.ts-snapshot.-visual-1-firefox-linux.png
  apps/test-app/app/routes/tests/tabs/index.spec.ts-snapshot.-visual-1-webkit-linux.png
  internal/theme-dark.json
Due: format

Fix an issue where panel is stuck in resizing mode.
  apps/test-app/app/routes/sandbox.tsx
Due: copyright, format, lint

Reduce splitter size and adjust position to make panel scrollbar usable.
  apps/test-app/app/routes/sandbox.module.css
Due: copyright

Avoid using gap
  packages/kiwi-react/src/bricks/TextInput.css
Due: copyright

Replace :has function to :focus-within and padding to margin to avoid increasing element bounds.
  packages/kiwi-react/src/bricks/TextInput.css
Due: copyright

Changing main to article in the tests
  apps/test-app/app/routes/tests/anchor/index.spec.ts
Due: copyright, format, lint

Use first/last child pseudo-class to determine input paddings.
  packages/kiwi-react/src/bricks/TextInput.css
Due: copyright

margin-left to margin-inline-start
  packages/kiwi-react/src/bricks/TextInput.css
Due: copyright

Resolve failing Axe page test on tooltip.
  apps/test-app/app/routes/tests/tooltip/index.spec.ts
Due: copyright, format, lint

Add active (selected) state to list item
  packages/kiwi-react/src/bricks/ListItem.css
Due: copyright

Add active-state query param for tests
  apps/test-app/app/routes/tests/list/index.module.css
  apps/test-app/app/routes/tests/list/index.tsx
Due: copyright, format, lint
