Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

copyright:
  run: pnpm lint:copyright {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm biome format --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm biome lint --write {staged_files}
  stage_fixed: true

third try
  packages/bricks/CHANGELOG.md
  packages/icons/CHANGELOG.md
  packages/structures/CHANGELOG.md
Due: none

Initial commit
  apps/test-app/app/tests/anchor/index.tsx
  packages/bricks/src/Anchor.css
  packages/bricks/src/Anchor.tsx
Due: copyright, format, lint

Code cleanup.
  apps/test-app/app/tests/anchor/index.tsx
  packages/bricks/src/Anchor.tsx
Due: copyright, format, lint

Test images.
  apps/test-app/app/tests/anchor/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/anchor/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/anchor/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/anchor/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/anchor/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
Due: none

compat
  apps/test-app/app/compat/anchor.tsx
  packages/compat/src/Anchor.tsx
Due: copyright, format, lint

Changeset.
  .changeset/itchy-streets-rest.md
Due: none

Refactor AnchorText and AnchorExternalMarker to spread props directly and remove unnecessary destructuring
  packages/bricks/src/Anchor.tsx
Due: copyright, format, lint

Move VisuallyHidden after the external marker.
  packages/bricks/src/Anchor.tsx
Due: copyright, format, lint

fixing textarea padding
  apps/test-app/app/tests/text-box/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/text-box/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/text-box/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/text-box/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/text-box/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/text-box/index.tsx
  packages/bricks/src/TextBox.css
  packages/bricks/src/TextBox.tsx
Due: copyright, format, lint

Added `Textarea` and `LabeledTextarea` compat components (#782)
  apps/test-app/app/compat/input-grid.tsx
  apps/test-app/app/compat/labeled-textarea.tsx
  apps/test-app/app/compat/textarea.tsx
  apps/test-app/app/~meta.ts
  packages/compat/src/LabeledTextarea.tsx
  packages/compat/src/Textarea.tsx
  packages/compat/src/index.ts
Due: copyright, format, lint

Remove isExternal from convenience API.
  .changeset/itchy-streets-rest.md
  apps/test-app/app/tests/anchor/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/anchor/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/anchor/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/anchor/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/anchor/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/anchor/index.tsx
  packages/bricks/src/Anchor.tsx
  packages/compat/src/Anchor.tsx
Due: copyright, format, lint

AnchorText only required when ExternalMarker is present.
  packages/bricks/src/Anchor.css
  packages/bricks/src/Anchor.tsx
Due: copyright, format, lint

Add where to has selector.
  packages/bricks/src/Anchor.css
Due: copyright

Added to visual test.
  apps/test-app/app/tests/anchor/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/anchor/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/anchor/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/anchor/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/anchor/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/anchor/index.tsx
Due: copyright, format, lint

Update packages/bricks/src/Anchor.tsx
  packages/bricks/src/Anchor.tsx
Due: copyright, format, lint

Add alt prop to ExternalMarker.
  packages/bricks/src/Anchor.tsx
Due: copyright, format, lint

update tests + minor styling change
  apps/test-app/app/tests/accordion-item/index.spec.ts
  apps/test-app/app/tests/accordion-item/index.spec.ts-snapshot.-visual-marker-after-and-decoration-after-1-chromium-linux.png
  apps/test-app/app/tests/accordion-item/index.spec.ts-snapshot.-visual-marker-after-and-decoration-after-1-firefox-linux.png
  apps/test-app/app/tests/accordion-item/index.spec.ts-snapshot.-visual-marker-after-and-decoration-after-1-webkit-linux.png
  apps/test-app/app/tests/accordion-item/index.spec.ts-snapshot.-visual-marker-after-and-decoration-before-1-chromium-linux.png
  apps/test-app/app/tests/accordion-item/index.spec.ts-snapshot.-visual-marker-after-and-decoration-before-1-firefox-linux.png
  apps/test-app/app/tests/accordion-item/index.spec.ts-snapshot.-visual-marker-after-and-decoration-before-1-webkit-linux.png
  apps/test-app/app/tests/accordion-item/index.spec.ts-snapshot.-visual-marker-before-and-decoration-after-1-chromium-linux.png
  apps/test-app/app/tests/accordion-item/index.spec.ts-snapshot.-visual-marker-before-and-decoration-after-1-firefox-linux.png
  apps/test-app/app/tests/accordion-item/index.spec.ts-snapshot.-visual-marker-before-and-decoration-after-1-webkit-linux.png
  apps/test-app/app/tests/accordion-item/index.spec.ts-snapshot.-visual-marker-before-and-decoration-before-1-chromium-linux.png
  apps/test-app/app/tests/accordion-item/index.spec.ts-snapshot.-visual-marker-before-and-decoration-before-1-firefox-linux.png
  apps/test-app/app/tests/accordion-item/index.spec.ts-snapshot.-visual-marker-before-and-decoration-before-1-webkit-linux.png
  apps/test-app/app/tests/accordion-item/index.tsx
  packages/structures/src/AccordionItem.css
  packages/structures/src/AccordionItem.tsx
Due: copyright, format, lint

small spacing fix
  packages/structures/src/AccordionItem.tsx
Due: copyright, format, lint

added changeset
  .changeset/shy-dingos-itch.md
Due: none

Remove Anchor.Root
  .changeset/pretty-bugs-fail.md
  apps/test-app/app/tests/anchor/index.tsx
  packages/bricks/src/Anchor.tsx
Due: copyright, format, lint

Fixes and reduce diff
  packages/compat/src/Alert.tsx
Due: copyright, format, lint

Move deprecated props out of `map()`
  apps/test-app/app/compat/alert.tsx
Due: copyright, format, lint

`clickableText` as anchor or button
  apps/test-app/app/compat/alert.tsx
  packages/compat/src/Alert.tsx
Due: copyright, format, lint

Undo automatically added CHANGELOG changes
  packages/bricks/CHANGELOG.md
  packages/icons/CHANGELOG.md
  packages/structures/CHANGELOG.md
Due: none

Update `endIcon` type
  packages/compat/src/ExpandableBlock.tsx
Due: copyright, format, lint

small rendering fix
  apps/test-app/app/sandbox/index.module.css
  apps/test-app/app/sandbox/index.tsx
Due: copyright, format, lint

format pnpm-lock
  pnpm-lock.yaml
Due: none

Add TreeItemOverflowAction
  apps/test-app/app/sandbox/index.tsx
  apps/test-app/app/tests/tree/index.tsx
  packages/structures/src/Tree.tsx
  packages/structures/src/TreeItem.tsx
Due: copyright, format, lint

pnpm changeset
  .changeset/shiny-lies-slide.md
Due: none

docs
  packages/structures/src/TreeItem.tsx
Due: copyright, format, lint

changeset formatting
  .changeset/shiny-lies-slide.md
Due: none

wording
  .changeset/shiny-lies-slide.md
Due: none

changing padding approach
  packages/bricks/src/TextBox.css
Due: copyright

@r100-stack suggestions.
  packages/bricks/src/Anchor.tsx
Due: copyright, format, lint

adding min-height
  packages/bricks/src/TextBox.css
Due: copyright

Fix mistake in b3143b9
  packages/compat/src/Anchor.tsx
Due: copyright, format, lint

Fix sorting.
  packages/bricks/src/Anchor.tsx
Due: copyright, format, lint

Remove unused test.
  apps/test-app/app/tests/anchor/index.tsx
Due: copyright, format, lint

Re-add AnchorComposition import.
  apps/test-app/app/tests/anchor/index.tsx
Due: copyright, format, lint

Path conditions:
  copyright: any of: *.{js,ts,jsx,tsx,css,html}
  format: any of: *.{js,ts,jsx,tsx,json,jsonc}
  lint: any of: *.{js,ts,jsx,tsx}
