Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

copyright:
  run: pnpm lint:copyright {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm biome format --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm biome lint --write {staged_files}
  stage_fixed: true

jsdoc for createTheme
  packages/mui/src/createTheme.ts
Due: copyright, format, lint

rm colorSchemes
  packages/mui/src/createTheme.ts
Due: copyright, format, lint

Render HTML el in Root
  packages/mui/src/Root.tsx
Due: copyright, format, lint

Update packages/mui/README.md
  packages/mui/README.md
Due: none

Nest div under ThemeProvider
  packages/mui/src/Root.tsx
Due: copyright, format, lint

Add required colorScheme prop to Root
  apps/test-app/app/mui.tsx
  packages/mui/src/Root.tsx
  packages/mui/src/createTheme.ts
Due: copyright, format, lint

update
  packages/bricks/CHANGELOG.md
  packages/foundations/CHANGELOG.md
  packages/structures/CHANGELOG.md
  pnpm-lock.yaml
Due: none

Add shell of `@stratakit/mui` (#1109)
  apps/test-app/app/index.tsx
  apps/test-app/app/mui.tsx
  apps/test-app/app/routes.ts
  apps/test-app/package.json
  packages/mui/CHANGELOG.md
  packages/mui/LICENSE.md
  packages/mui/README.md
  packages/mui/package.json
  packages/mui/scripts/build.js
  packages/mui/src/Root.tsx
  packages/mui/src/createTheme.ts
  packages/mui/src/index.ts
  packages/mui/tsconfig.json
  packages/mui/types.d.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: copyright, format, lint

add foundations to MUI Root
  apps/test-app/app/mui.tsx
  packages/mui/package.json
  packages/mui/src/Root.tsx
  pnpm-lock.yaml
Due: copyright, format, lint

add foundations to MUI Root (#1112)
  apps/test-app/app/mui.tsx
  packages/mui/package.json
  packages/mui/src/Root.tsx
  pnpm-lock.yaml
Due: copyright, format, lint

add icons to MUI
  apps/test-app/app/mui.tsx
  packages/mui/README.md
  packages/mui/package.json
  packages/mui/src/Icon.tsx
  packages/mui/src/Root.tsx
  packages/mui/src/createTheme.ts
  packages/mui/src/createTheme.tsx
  packages/mui/src/index.ts
  packages/mui/types.d.ts
  pnpm-lock.yaml
Due: copyright, format, lint

add icons to MUI (#1113)
  apps/test-app/app/mui.tsx
  packages/mui/README.md
  packages/mui/package.json
  packages/mui/src/Icon.tsx
  packages/mui/src/Root.tsx
  packages/mui/src/createTheme.ts
  packages/mui/src/createTheme.tsx
  packages/mui/src/index.ts
  packages/mui/types.d.ts
  pnpm-lock.yaml
Due: copyright, format, lint

add basic `typography` configuration for MUI
  packages/mui/README.md
  packages/mui/src/createTheme.tsx
Due: copyright, format, lint

add basic `typography` configuration for MUI (#1114)
  packages/mui/README.md
  packages/mui/src/createTheme.tsx
Due: copyright, format, lint

enable CSS
  packages/mui/scripts/build.js
  packages/mui/src/Root.tsx
  packages/mui/src/createTheme.tsx
  packages/mui/src/styles.css
  packages/mui/src/styles.css.ts
Due: copyright, format, lint

enable CSS (#1117)
  packages/mui/scripts/build.js
  packages/mui/src/Root.tsx
  packages/mui/src/createTheme.tsx
  packages/mui/src/styles.css
  packages/mui/src/styles.css.ts
Due: copyright, format, lint

rename `@layer itwinui` to `@layer stratakit`
  .changeset/pink-mails-press.md
  packages/bricks/src/styles.css
  packages/foundations/src/~styles.css
  packages/mui/src/styles.css
  packages/structures/src/styles.css
Due: copyright

rename `@layer itwinui` to `@layer stratakit` (#1123)
  .changeset/pink-mails-press.md
  packages/bricks/src/styles.css
  packages/foundations/src/~styles.css
  packages/mui/src/styles.css
  packages/structures/src/styles.css
Due: copyright

remove MUI `CSSBaseline`
  .changeset/ninety-hairs-exist.md
  packages/foundations/src/~reset.css
  packages/mui/src/Root.tsx
Due: copyright, format, lint

remove fallbacks for older browsers
  .changeset/spicy-clouds-walk.md
  .changeset/two-trams-spend.md
  packages/foundations/src/styles.internal.ts
  packages/foundations/src/styles.ts
  packages/foundations/src/~theme.css
Due: copyright, format, lint

remove `@stratakit/foundations` from peer deps
  .changeset/old-cups-slide.md
  packages/bricks/package.json
  packages/structures/package.json
  pnpm-lock.yaml
Due: format

start theming MUI using StrataKit tokens
  apps/test-app/app/index.tsx
  apps/test-app/app/mui.tsx
  packages/mui/package.json
  packages/mui/src/Root.tsx
  packages/mui/src/createTheme.tsx
  packages/mui/src/styles.css
  pnpm-lock.yaml
Due: copyright, format, lint

remove `@stratakit/foundations` from peer deps (#1122)
  .changeset/old-cups-slide.md
  packages/bricks/package.json
  packages/structures/package.json
  pnpm-lock.yaml
Due: format

remove MUI `CSSBaseline` and add `-webkit-font-smoothing` (#1124)
  .changeset/ninety-hairs-exist.md
  packages/foundations/src/~reset.css
  packages/mui/src/Root.tsx
Due: copyright, format, lint

remove fallbacks for older browsers (#1121)
  .changeset/spicy-clouds-walk.md
  .changeset/two-trams-spend.md
  packages/foundations/src/styles.internal.ts
  packages/foundations/src/styles.ts
  packages/foundations/src/~theme.css
Due: copyright, format, lint

start theming MUI using StrataKit tokens (#1118)
  apps/test-app/app/index.tsx
  apps/test-app/app/mui.tsx
  packages/mui/package.json
  packages/mui/src/Root.tsx
  packages/mui/src/createTheme.tsx
  packages/mui/src/styles.css
  pnpm-lock.yaml
Due: copyright, format, lint

install mui
  packages/structures/package.json
  pnpm-lock.yaml
Due: format

add `density` option to MUI
  apps/test-app/app/mui.tsx
  apps/test-app/app/root.tsx
  packages/foundations/src/Root.tsx
  packages/mui/src/Root.tsx
  packages/mui/src/createTheme.tsx
Due: copyright, format, lint

remove `density="dense"` from MUI `Root`
  .changeset/witty-tigers-bet.md
  packages/foundations/src/Root.tsx
  packages/mui/src/Root.tsx
Due: copyright, format, lint

remove `density="dense"` from MUI `Root` (#1126)
  .changeset/witty-tigers-bet.md
  packages/foundations/src/Root.tsx
  packages/mui/src/Root.tsx
Due: copyright, format, lint

prepare `@stratakit/mui` for publishing
  CONTRIBUTING.md
  README.md
  packages/mui/CHANGELOG.md
  packages/mui/README.md
  packages/mui/package.json
  pnpm-lock.yaml
Due: format

prepare `@stratakit/mui` for publishing (#1127)
  CONTRIBUTING.md
  README.md
  packages/mui/CHANGELOG.md
  packages/mui/README.md
  packages/mui/package.json
  pnpm-lock.yaml
Due: format

Use IconButton
  apps/test-app/app/tests/tree/index.tsx
  packages/structures/src/TreeItem.css
  packages/structures/src/TreeItem.tsx
Due: copyright, format, lint

Dot
  packages/structures/src/TreeItem.tsx
Due: copyright, format, lint

Use MUI Menu
  packages/structures/src/TreeItem.tsx
Due: copyright, format, lint

Path conditions:
  copyright: any of: *.{js,ts,jsx,tsx,css,html}
  format: any of: *.{js,ts,jsx,tsx,json,jsonc}
  lint: any of: *.{js,ts,jsx,tsx}
