Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    copyright:
      glob: "*.{js,ts,jsx,tsx,css,html}"
      run: pnpm lint:copyright {staged_files} --fix
      stage_fixed: true

    format:
      glob: "*.{js,ts,jsx,tsx,json,jsonc}"
      run: pnpm biome format --write {staged_files}
      stage_fixed: true

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm biome lint --write {staged_files}
      stage_fixed: true

    prettier:
      exclude:
        - "*.{js,ts,jsx,tsx,cjs,cts,mjs,mts,json,jsonc}"
      run: pnpm exec prettier {staged_files} --ignore-unknown --write
      stage_fixed: true

Add forced-colors support for checkmark symbol.
  packages/kiwi-react/src/bricks/Checkbox.css
Due: copyright

use `biome ci` in CI
  .github/workflows/CI.yaml
Due: none

test failure
  packages/kiwi-react/src/bricks/Anchor.css
Due: copyright

disable import sorting
  biome.jsonc
Due: format

permissions for github annotations
  .github/workflows/CI.yaml
Due: none

try using reporter explicitly
  .github/workflows/CI.yaml
Due: none

revert broken formatting
  packages/kiwi-react/src/bricks/Anchor.css
Due: copyright

bump deps
  apps/test-app/package.json
  packages/kiwi-react/package.json
  pnpm-lock.yaml
Due: format

Adding automatic ID's and aria-describeby
  packages/kiwi-react/src/bricks/Tooltip.tsx
Due: copyright, format, lint

bump deps (#61)
  apps/test-app/package.json
  packages/kiwi-react/package.json
  pnpm-lock.yaml
Due: format

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

use `biome ci` in CI (#60)
  .github/workflows/CI.yaml
  biome.jsonc
Due: format

Removing hint
  packages/kiwi-react/src/bricks/Tooltip.tsx
Due: copyright, format, lint

Remove unnecessary comment
  packages/kiwi-react/src/bricks/Tooltip.tsx
Due: copyright, format, lint

update `CODEOWNERS` (#62)
  .github/CODEOWNERS
Due: none

Remove slash before CSS class name.
  packages/kiwi-react/src/bricks/Checkbox.css
  packages/kiwi-react/src/bricks/Radio.css
Due: copyright

Trying to fix biome errors.
  apps/test-app/app/routes/tests/checkbox/index.spec.ts
  packages/kiwi-react/src/bricks/Checkbox.css
Due: copyright, format, lint

Replacing calc(infinity * 1px)
  packages/kiwi-react/src/bricks/Radio.css
Due: copyright

use 9999px
  packages/kiwi-react/src/bricks/Switch.css
Due: copyright

add styling for `Switch` component (#52)
  apps/test-app/app/routes/tests/switch/index.spec.ts
  apps/test-app/app/routes/tests/switch/index.spec.ts-snapshot.visual-checked-1-chromium-linux.png
  apps/test-app/app/routes/tests/switch/index.spec.ts-snapshot.visual-checked-1-firefox-linux.png
  apps/test-app/app/routes/tests/switch/index.spec.ts-snapshot.visual-checked-1-webkit-linux.png
  apps/test-app/app/routes/tests/switch/index.spec.ts-snapshot.visual-disabled-1-chromium-linux.png
  apps/test-app/app/routes/tests/switch/index.spec.ts-snapshot.visual-disabled-1-firefox-linux.png
  apps/test-app/app/routes/tests/switch/index.spec.ts-snapshot.visual-disabled-1-webkit-linux.png
  apps/test-app/app/routes/tests/switch/index.spec.ts-snapshot.visual-disabled-checked-1-chromium-linux.png
  apps/test-app/app/routes/tests/switch/index.spec.ts-snapshot.visual-disabled-checked-1-firefox-linux.png
  apps/test-app/app/routes/tests/switch/index.spec.ts-snapshot.visual-disabled-checked-1-webkit-linux.png
  apps/test-app/app/routes/tests/switch/index.spec.ts-snapshot.visual-unchecked-1-chromium-linux.png
  apps/test-app/app/routes/tests/switch/index.spec.ts-snapshot.visual-unchecked-1-firefox-linux.png
  apps/test-app/app/routes/tests/switch/index.spec.ts-snapshot.visual-unchecked-1-webkit-linux.png
  apps/test-app/app/routes/tests/switch/index.tsx
  packages/kiwi-react/src/bricks/Switch.css
  packages/kiwi-react/src/bricks/Switch.tsx
  packages/kiwi-react/src/bricks/styles.css
Due: copyright, format, lint

WIP
  apps/test-app/app/routes/tests/tooltip/index.spec.ts
Due: copyright, format, lint

Add initial DropdownMenu
  packages/kiwi-react/src/bricks/DropdownMenu.tsx
  packages/kiwi-react/src/bricks/index.ts
Due: copyright, format, lint

Add to test-app
  apps/test-app/app/routes/index.tsx
  apps/test-app/app/routes/tests/dropdown-menu/index.tsx
Due: copyright, format, lint

Wrap in a MenuProvider
  packages/kiwi-react/src/bricks/DropdownMenu.tsx
Due: copyright, format, lint

Add children prop
  apps/test-app/app/routes/tests/dropdown-menu/index.tsx
  packages/kiwi-react/src/bricks/DropdownMenu.tsx
Due: copyright, format, lint

Add items prop
  apps/test-app/app/routes/tests/dropdown-menu/index.tsx
  packages/kiwi-react/src/bricks/DropdownMenu.tsx
Due: copyright, format, lint

Avoid nesting of interactive elements.
  packages/kiwi-react/src/bricks/DropdownMenu.tsx
Due: copyright, format, lint

Add Item component as static property
  apps/test-app/app/routes/tests/dropdown-menu/index.tsx
  packages/kiwi-react/src/bricks/DropdownMenu.tsx
Due: copyright, format, lint

Add styling
  packages/kiwi-react/src/bricks/DropdownMenu.css
  packages/kiwi-react/src/bricks/styles.css
Due: copyright

Re-use ListItem in DropdownMenu.Item
  packages/kiwi-react/src/bricks/DropdownMenu.tsx
Due: copyright, format, lint

Add initial ListItem states
  packages/kiwi-react/src/bricks/ListItem.css
Due: copyright

Add color styling
  apps/test-app/app/routes/tests/dropdown-menu/index.tsx
  packages/kiwi-react/src/bricks/ListItem.css
Due: copyright, format, lint

Remove unused destructive state for now
  packages/kiwi-react/src/bricks/ListItem.css
Due: copyright

Add some tests
  apps/test-app/app/routes/tests/dropdown-menu/index.spec.ts
Due: copyright, format, lint

Add visual test
  apps/test-app/app/routes/tests/dropdown-menu/index.spec.ts
  apps/test-app/app/routes/tests/dropdown-menu/index.tsx
Due: copyright, format, lint

Add more visual tests for list item
  apps/test-app/app/routes/tests/list/index.spec.ts
Due: copyright, format, lint

Update snap files
  apps/test-app/app/routes/tests/dropdown-menu/index.spec.ts-snapshot.visual-1-chromium-linux.png
  apps/test-app/app/routes/tests/dropdown-menu/index.spec.ts-snapshot.visual-1-firefox-linux.png
  apps/test-app/app/routes/tests/dropdown-menu/index.spec.ts-snapshot.visual-1-webkit-linux.png
  apps/test-app/app/routes/tests/list/index.spec.ts-snapshot.visual-active-1-chromium-linux.png
  apps/test-app/app/routes/tests/list/index.spec.ts-snapshot.visual-active-1-firefox-linux.png
  apps/test-app/app/routes/tests/list/index.spec.ts-snapshot.visual-active-1-webkit-linux.png
  apps/test-app/app/routes/tests/list/index.spec.ts-snapshot.visual-hover-1-chromium-linux.png
  apps/test-app/app/routes/tests/list/index.spec.ts-snapshot.visual-hover-1-firefox-linux.png
  apps/test-app/app/routes/tests/list/index.spec.ts-snapshot.visual-hover-1-webkit-linux.png
Due: none

Update items prop docs.
  packages/kiwi-react/src/bricks/DropdownMenu.tsx
Due: copyright, format, lint

Feed back on Id and Tests updated.
  apps/test-app/app/routes/tests/tooltip/index.spec.ts
  packages/kiwi-react/src/bricks/Tooltip.tsx
Due: copyright, format, lint

Add DropdownMenu.Button component to correctly create keyboard event handlers from specified props.
  apps/test-app/app/routes/tests/dropdown-menu/index.tsx
  packages/kiwi-react/src/bricks/Button.tsx
  packages/kiwi-react/src/bricks/DropdownMenu.tsx
Due: copyright, format, lint
