Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

copyright:
  run: pnpm lint:copyright {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm biome format --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm biome lint --write {staged_files}
  stage_fixed: true

Docs
  packages/structures/src/Dialog.tsx
Due: copyright, format, lint

Add unmountOnHide
  apps/test-app/app/tests/dialog/index.tsx
  packages/structures/src/Dialog.tsx
Due: copyright, format, lint

pnpm changeset
  .changeset/floppy-lemons-rest.md
  packages/structures/src/Dialog.tsx
Due: copyright, format, lint

add/update 8 icons (#850)
  .changeset/mighty-streets-win.md
  packages/icons/icons/drone.svg
  packages/icons/icons/error.svg
  packages/icons/icons/filter.svg
  packages/icons/icons/important.svg
  packages/icons/icons/merge.svg
  packages/icons/icons/regenerate.svg
  packages/icons/icons/reschedule.svg
  packages/icons/icons/warning.svg
Due: none

Borrow min/max size from iTwinUI
  packages/structures/src/Dialog.css
Due: copyright

Export as unstable_Dialog
  apps/test-app/app/tests/dialog/index.tsx
  packages/structures/package.json
  packages/structures/src/index.ts
Due: copyright, format, lint

Remove support for non-modal dialog type.
  .changeset/floppy-lemons-rest.md
  apps/test-app/app/tests/dialog/index.tsx
  packages/structures/src/Dialog.tsx
Due: copyright, format, lint

update "attention" icon to match `warning.svg`
  packages/structures/src/~utils.icons.tsx
Due: copyright, format, lint

changeset
  .changeset/fine-suns-live.md
Due: none

update visual test snapshots
  apps/test-app/app/tests/banner/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/banner/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/banner/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/banner/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/banner/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/error-region/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/error-region/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/error-region/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/error-region/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/error-region/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-error-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-error-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-error-1-webkit-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-error-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-error-1-firefox-linux.png
Due: none

format + dedupe
  pnpm-lock.yaml
Due: none

adjust colors
  packages/structures/src/AccordionItem.css
Due: copyright

update tab css variable
  packages/structures/src/Tabs.css
Due: copyright

add changeset
  .changeset/lucky-birds-look.md
Due: none

update snapshots
  apps/test-app/app/tests/accordion-item/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/accordion-item/index.spec.ts-snapshot.-visual-hovered-closed-item-1-chromium-linux.png
  apps/test-app/app/tests/accordion-item/index.spec.ts-snapshot.-visual-hovered-closed-item-1-webkit-linux.png
  apps/test-app/app/tests/accordion-item/index.spec.ts-snapshot.-visual-hovered-open-item-1-chromium-linux.png
  apps/test-app/app/tests/accordion-item/index.spec.ts-snapshot.-visual-hovered-open-item-1-webkit-linux.png
Due: none

Fix layout w/ close button
  packages/structures/src/Dialog.css
Due: copyright

Add hideOnInteractOutside prop instead of backdrop prop
  apps/test-app/app/tests/dialog/index.tsx
  packages/structures/src/Dialog.tsx
Due: copyright, format, lint

Remove DialogProvider and DialogDisclosure
  apps/test-app/app/tests/dialog/index.tsx
  packages/structures/src/Dialog.tsx
Due: copyright, format, lint

Remove DialogDescription
  apps/test-app/app/tests/dialog/index.tsx
  packages/structures/src/Dialog.tsx
Due: copyright, format, lint

Rename DialogActions to DialogFooter
  apps/test-app/app/tests/dialog/index.tsx
  packages/structures/src/Dialog.css
  packages/structures/src/Dialog.tsx
Due: copyright, format, lint

Add DialogHeader
  apps/test-app/app/tests/dialog/index.tsx
  packages/structures/src/Dialog.css
  packages/structures/src/Dialog.tsx
Due: copyright, format, lint

Add DropdownMenu to VisualTest
  apps/test-app/app/tests/dialog/index.tsx
Due: copyright, format, lint

Update min/max size.
  packages/structures/src/Dialog.css
Due: copyright

update internal "attention" icon to match `warning.svg` (#854)
  .changeset/fine-suns-live.md
  apps/test-app/app/tests/banner/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/banner/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/banner/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/banner/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/banner/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/error-region/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/error-region/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/error-region/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/error-region/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/error-region/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-error-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-error-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-error-1-webkit-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-error-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-error-1-firefox-linux.png
  packages/structures/src/~utils.icons.tsx
Due: copyright, format, lint

Remove `<Spinner>` slowed down animation (#852)
  .changeset/twelve-kiwis-make.md
  packages/bricks/src/Spinner.css
Due: copyright

include pressed in changeset
  .changeset/stale-toys-sink.md
Due: none

remove changeset
  .changeset/lucky-birds-look.md
Due: none

Render dialog and backdrop in top layer.
  packages/structures/src/Dialog.css
  packages/structures/src/Dialog.tsx
Due: copyright, format, lint

css variable naming + update padding + update snapshots
  apps/test-app/app/tests/accordion-item/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/accordion-item/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/accordion-item/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/accordion-item/index.spec.ts-snapshot.-visual-focused-closed-item-1-chromium-linux.png
  apps/test-app/app/tests/accordion-item/index.spec.ts-snapshot.-visual-focused-closed-item-1-firefox-linux.png
  apps/test-app/app/tests/accordion-item/index.spec.ts-snapshot.-visual-focused-closed-item-1-webkit-linux.png
  apps/test-app/app/tests/accordion-item/index.spec.ts-snapshot.-visual-focused-open-item-1-chromium-linux.png
  apps/test-app/app/tests/accordion-item/index.spec.ts-snapshot.-visual-focused-open-item-1-firefox-linux.png
  apps/test-app/app/tests/accordion-item/index.spec.ts-snapshot.-visual-focused-open-item-1-webkit-linux.png
  apps/test-app/app/tests/accordion-item/index.spec.ts-snapshot.-visual-hovered-closed-item-1-chromium-linux.png
  apps/test-app/app/tests/accordion-item/index.spec.ts-snapshot.-visual-hovered-closed-item-1-firefox-linux.png
  apps/test-app/app/tests/accordion-item/index.spec.ts-snapshot.-visual-hovered-closed-item-1-webkit-linux.png
  apps/test-app/app/tests/accordion-item/index.spec.ts-snapshot.-visual-hovered-open-item-1-chromium-linux.png
  apps/test-app/app/tests/accordion-item/index.spec.ts-snapshot.-visual-hovered-open-item-1-firefox-linux.png
  apps/test-app/app/tests/accordion-item/index.spec.ts-snapshot.-visual-hovered-open-item-1-webkit-linux.png
  packages/structures/src/AccordionItem.css
Due: copyright

Use logical units.
  packages/structures/src/Dialog.css
Due: copyright

Remove explicit children prop.
  packages/structures/src/Dialog.tsx
Due: copyright, format, lint

revert padding
  apps/test-app/app/tests/accordion-item/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/accordion-item/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/accordion-item/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/accordion-item/index.spec.ts-snapshot.-visual-focused-closed-item-1-chromium-linux.png
  apps/test-app/app/tests/accordion-item/index.spec.ts-snapshot.-visual-focused-closed-item-1-firefox-linux.png
  apps/test-app/app/tests/accordion-item/index.spec.ts-snapshot.-visual-focused-closed-item-1-webkit-linux.png
  apps/test-app/app/tests/accordion-item/index.spec.ts-snapshot.-visual-focused-open-item-1-chromium-linux.png
  apps/test-app/app/tests/accordion-item/index.spec.ts-snapshot.-visual-focused-open-item-1-firefox-linux.png
  apps/test-app/app/tests/accordion-item/index.spec.ts-snapshot.-visual-focused-open-item-1-webkit-linux.png
  apps/test-app/app/tests/accordion-item/index.spec.ts-snapshot.-visual-hovered-closed-item-1-chromium-linux.png
  apps/test-app/app/tests/accordion-item/index.spec.ts-snapshot.-visual-hovered-closed-item-1-firefox-linux.png
  apps/test-app/app/tests/accordion-item/index.spec.ts-snapshot.-visual-hovered-closed-item-1-webkit-linux.png
  apps/test-app/app/tests/accordion-item/index.spec.ts-snapshot.-visual-hovered-open-item-1-chromium-linux.png
  apps/test-app/app/tests/accordion-item/index.spec.ts-snapshot.-visual-hovered-open-item-1-firefox-linux.png
  apps/test-app/app/tests/accordion-item/index.spec.ts-snapshot.-visual-hovered-open-item-1-webkit-linux.png
  packages/structures/src/AccordionItem.css
Due: copyright

Add vertical overflow to content
  packages/structures/src/Dialog.css
Due: copyright

Add back backdrop prop and DialogBackdrop
  apps/test-app/app/tests/dialog/index.tsx
  packages/structures/src/Dialog.tsx
Due: copyright, format, lint

Update changeset
  .changeset/floppy-lemons-rest.md
Due: none

`Tab`: Update runtime CSS variable from `tab-bg` to `tab-background-color` (#856)
  packages/structures/src/Tabs.css
Due: copyright

update existing changeset
  .changeset/fine-suns-live.md
Due: none

update visual test snapshots
  apps/test-app/app/tests/banner/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/banner/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/banner/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/banner/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/banner/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
Due: none

update internal "critical" icon to match `error.svg`
  packages/structures/src/~utils.icons.tsx
Due: copyright, format, lint

update tokens
  .changeset/open-islands-sink.md
  .changeset/thick-weeks-see.md
  internal/primitives.json
  internal/theme-dark.json
  internal/theme-light.json
Due: format

Path conditions:
  copyright: any of: *.{js,ts,jsx,tsx,css,html}
  format: any of: *.{js,ts,jsx,tsx,json,jsonc}
  lint: any of: *.{js,ts,jsx,tsx}
