Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

copyright:
  run: pnpm lint:copyright {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm biome format --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm biome lint --write {staged_files}
  stage_fixed: true

use subpath import
  apps/website/src/content/docs/guides/migration-from-legacy-stratakit.mdx
Due: none

Update descr of 'Use MUI components'
  apps/website/src/content/docs/guides/migration-from-legacy-stratakit.mdx
Due: none

add built-in alt text to form errors
  .changeset/olive-snails-do.md
  examples/mui/FormControl.error.tsx
  examples/mui/RadioGroup.error.tsx
  packages/mui/src/~components/MuiForm.css
Due: copyright, format, lint

Remove active state stretch animation
  packages/mui/src/~components/MuiSwitch.css
Due: copyright

Increase medium size, reintroduce small size
  apps/website/src/content/docs/components/mui/Switch.md
  packages/mui/src/~components/MuiSwitch.css
Due: copyright

Simplified forced-colors
  packages/mui/src/~forced-colors.css
Due: copyright

Clean-up, add disabled styling, better match with SK
  packages/mui/src/~components/MuiMenu.css
  packages/mui/src/~forced-colors.css
Due: copyright

Add sizes example.
  apps/test-app/app/mui.tsx
  apps/website/src/content/docs/components/mui/Switch.md
  examples/mui/Switch.sizes.tsx
Due: copyright, format, lint

Inherit code comments
  packages/mui/src/~components/MuiSwitch.css
Due: copyright

Class name code comments
  packages/mui/src/~components/MuiSwitch.css
Due: copyright

CSS variable rename
  packages/mui/src/~components/MuiSwitch.css
Due: copyright

Handle LTR and RTL positioning
  packages/mui/src/~components/MuiSwitch.css
Due: copyright

Add wrappers to avoid accordion-like borders in examples between accordion items.
  apps/test-app/app/mui.tsx
Due: copyright, format, lint

Add Accordion.marker-left example
  apps/test-app/app/mui.tsx
  apps/website/src/content/docs/components/mui/Accordion.md
  examples/mui/Accordion.marker-left.module.css
  examples/mui/Accordion.marker-left.tsx
Due: copyright, format, lint

Add Accordion.multiple example
  apps/test-app/app/mui.tsx
  apps/website/src/content/docs/components/mui/Accordion.md
  examples/mui/Accordion.multiple.tsx
Due: copyright, format, lint

Slot vs slot props
  apps/website/src/content/docs/components/mui/Accordion.md
Due: none

Update Do
  apps/website/src/content/docs/components/mui/Accordion.md
Due: none

Update Don't
  apps/website/src/content/docs/components/mui/Accordion.md
Due: none

Use the definite article
  apps/website/src/content/docs/components/mui/Accordion.md
Due: none

Update apps/website/src/content/docs/components/mui/Card.md
  apps/website/src/content/docs/components/mui/Card.md
Due: none

has had (grammar)
  apps/website/src/content/docs/components/mui/Card.md
Due: none

Update apps/website/src/content/docs/components/Introduction.md
  apps/website/src/content/docs/components/Introduction.md
Due: none

Fix ids
  examples/mui/Accordion.multiple.tsx
Due: copyright, format, lint

add back in deprecated and removed draft
  apps/website/src/content/docs/components/Introduction.md
Due: none

Use h2 in multiple example
  examples/mui/Accordion.multiple.tsx
Due: copyright, format, lint

Add Accordion.decoration example
  apps/test-app/app/mui.tsx
  apps/website/src/content/docs/components/mui/Accordion.md
  examples/mui/Accordion.decoration.module.css
  examples/mui/Accordion.decoration.tsx
Due: copyright, format, lint

specified component icon usage
  apps/website/src/content/docs/components/Introduction.md
Due: none

Update apps/website/astro.config.mjs
  apps/website/astro.config.mjs
Due: none

Add Accordion.variants example
  apps/test-app/app/mui.tsx
  apps/website/src/content/docs/components/mui/Accordion.md
  examples/mui/Accordion.variants.tsx
Due: copyright, format, lint

Use default variant in examples
  examples/mui/Accordion.actions.tsx
  examples/mui/Accordion.decoration.tsx
  examples/mui/Accordion.default.tsx
  examples/mui/Accordion.expanded.tsx
  examples/mui/Accordion.marker-left.tsx
  examples/mui/Accordion.multiple.tsx
Due: copyright, format, lint

Use order instead of flex-direction
  examples/mui/Accordion.marker-left.module.css
  examples/mui/Accordion.marker-left.tsx
Due: copyright, format, lint

Move ltr out of dir
  packages/mui/src/~components/MuiSwitch.css
Due: copyright

Fix RTL
  packages/mui/src/~components/MuiSwitch.css
Due: copyright

Reference code examples in structures
  apps/website/src/content/docs/guides/migration-from-legacy-stratakit.mdx
Due: none

add `render` prop to `TableCell`
  examples/mui/Table.default.tsx
  examples/mui/Table.footer.tsx
  packages/mui/src/createTheme.tsx
  packages/mui/src/types.ts
  packages/mui/src/~components/MuiTable.tsx
Due: copyright, format, lint

Path conditions:
  copyright: any of: *.{js,ts,jsx,tsx,css,html}
  format: any of: *.{js,ts,jsx,tsx,json,jsonc}
  lint: any of: *.{js,ts,jsx,tsx}
