Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    copyright:
      glob: "*.{js,ts,jsx,tsx,css,html}"
      run: pnpm lint:copyright {staged_files} --fix
      stage_fixed: true

    format:
      glob: "*.{js,ts,jsx,tsx,json,jsonc}"
      run: pnpm biome format --write {staged_files}
      stage_fixed: true

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm biome lint --write {staged_files}
      stage_fixed: true

    prettier:
      exclude:
        - "*.{js,ts,jsx,tsx,cjs,cts,mjs,mts,json,jsonc}"
      run: pnpm exec prettier {staged_files} --ignore-unknown --write
      stage_fixed: true

separate absolute paths and unscoped libraries
  biome.jsonc
Due: format

combine library groups
  biome.jsonc
Due: format

update scrollbar height calculation
  apps/test-app/app/sandbox/index.module.css
  apps/test-app/app/sandbox/index.tsx
Due: copyright, format, lint

remove unnecessary changes
  lefthook.yml
Due: none

test-app: fix manifest (#780)
  apps/test-app/app/manifest.json
Due: format

added compat textarea and labeledtextarea components
  apps/test-app/app/compat/labeled-textarea.tsx
  apps/test-app/app/compat/textarea.tsx
  apps/test-app/app/~meta.ts
  packages/compat/src/LabeledTextarea.tsx
  packages/compat/src/Textarea.tsx
  packages/compat/src/index.ts
Due: copyright, format, lint

fixing example
  apps/test-app/app/compat/labeled-textarea.tsx
Due: copyright, format, lint

remove unnecessary change
  lefthook.yml
Due: none

Svg sprites direct usage
  apps/test-app/app/compat/expandable-block.tsx
  packages/compat/src/Button.tsx
  packages/compat/src/ExpandableBlock.tsx
Due: copyright, format, lint

update CSS reset
  packages/foundations/src/~reset.css
Due: copyright

changeset
  .changeset/five-hornets-try.md
Due: none

update raw heading elements to `<Text>`
  apps/test-app/app/icons.tsx
  apps/test-app/app/tokens.tsx
Due: copyright, format, lint

add control-specific border tokens
  .changeset/twelve-wolves-bow.md
  internal/theme-dark.json
  internal/theme-light.json
Due: format

set `scrollbar-color`
  .changeset/tasty-guests-cheat.md
  packages/foundations/src/~global.css
Due: copyright

add VisuallyHidden compat component
  apps/test-app/app/compat/visually-hidden.tsx
  apps/test-app/app/~meta.ts
  packages/compat/src/VisuallyHidden.tsx
  packages/compat/src/index.ts
Due: copyright, format, lint

Remove cursor
  packages/structures/src/Chip.css
Due: copyright

Fix input grid URL.
  packages/compat/src/InputGrid.tsx
Due: copyright, format, lint

Close use tag.
  packages/icons/README.md
Due: none

Add icon support to Tabs.Tab
  apps/test-app/app/tests/tabs/index.tsx
  packages/structures/src/Tabs.css
Due: copyright, format, lint

docs
  packages/structures/src/Tabs.tsx
Due: copyright, format, lint

replaced field.label with compat label
  packages/compat/src/LabeledTextarea.tsx
Due: copyright, format, lint

pnpm changeset
  .changeset/common-cloths-rescue.md
Due: none

Update snaps
  apps/test-app/app/tests/tabs/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/tabs/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/tabs/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/tabs/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/tabs/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
Due: none

Fix Icon usage example
  packages/icons/README.md
Due: none

update tokens
  internal/theme-dark.json
  internal/theme-light.json
Due: format

wrapping textarea with field.control
  packages/compat/src/LabeledTextarea.tsx
  packages/compat/src/Textarea.tsx
Due: copyright, format, lint

add control-specific border tokens (#784)
  .changeset/twelve-wolves-bow.md
  internal/theme-dark.json
  internal/theme-light.json
Due: format

set `scrollbar-color` (#568)
  .changeset/tasty-guests-cheat.md
  internal/theme-dark.json
  internal/theme-light.json
  packages/foundations/src/~global.css
Due: copyright, format

update CSS reset (#783)
  .changeset/five-hornets-try.md
  apps/test-app/app/icons.tsx
  apps/test-app/app/tokens.tsx
  packages/foundations/src/~reset.css
Due: copyright, format, lint

adding input grid examples, fixing htmlFor association
  apps/test-app/app/compat/input-grid.tsx
  packages/compat/src/LabeledTextarea.tsx
  packages/compat/src/Textarea.tsx
Due: copyright, format, lint

Use logical and for conditional object spread
  packages/compat/src/~utils.tsx
Due: copyright, format, lint

adding id to labeled textarea field control
  apps/test-app/app/compat/labeled-textarea.tsx
  packages/compat/src/LabeledTextarea.tsx
Due: copyright, format, lint

Use composition in compatibility `Tag` component (#764)
  apps/test-app/app/compat/tag.tsx
  packages/compat/src/Tag.tsx
  packages/compat/src/~utils.tsx
Due: copyright, format, lint

fixing title, import extensions and grouping
  apps/test-app/app/compat/labeled-textarea.tsx
  apps/test-app/app/compat/textarea.tsx
  packages/compat/src/LabeledTextarea.tsx
  packages/compat/src/Textarea.tsx
Due: copyright, format, lint

returning accidentally removed code
  packages/compat/src/LabeledTextarea.tsx
Due: copyright, format, lint

Update `Chip.Label` styling when rendered as a button (#781)
  .changeset/salty-deer-float.md
  packages/structures/src/Chip.css
  packages/structures/src/Chip.tsx
Due: copyright, format, lint

Merge labelProps and removeButtonProps
  apps/test-app/app/compat/tag.tsx
  packages/compat/src/Tag.tsx
Due: copyright, format, lint

Add drag and drop support to `TreeItem`
  apps/test-app/app/tests/tree/index.tsx
  packages/structures/package.json
  packages/structures/src/TreeItem.css
  packages/structures/src/TreeItem.tsx
  pnpm-lock.yaml
Due: copyright, format, lint

rename `/ProgressBar` subpath to `/Progress`
  .github/workflows/pr-labels.js
  packages/bricks/package.json
  packages/bricks/src/Progress.css
  packages/bricks/src/Progress.tsx
  packages/bricks/src/index.ts
  packages/bricks/src/styles.css
Due: copyright, format, lint

update organizeImports order
  biome.jsonc
Due: format
