Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    copyright:
      glob: "*.{js,ts,jsx,tsx,css,html}"
      run: pnpm lint:copyright {staged_files} --fix
      stage_fixed: true

    format:
      glob: "*.{js,ts,jsx,tsx,json,jsonc}"
      run: pnpm biome format --write {staged_files}
      stage_fixed: true

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm biome lint --write {staged_files}
      stage_fixed: true

    prettier:
      exclude:
        - "*.{js,ts,jsx,tsx,cjs,cts,mjs,mts,json,jsonc}"
      run: pnpm exec prettier {staged_files} --ignore-unknown --write
      stage_fixed: true

Country -> user role
  apps/website/src/content/docs/components/mui/Select.md
Due: none

link to variant prop
  apps/website/src/content/docs/components/mui/Skeleton.md
Due: none

Align with tooltip changes
  packages/mui/src/~components/MuiSlider.css
Due: copyright

Store in single local storage item
  apps/test-app/app/~utils.tsx
Due: copyright, format, lint

Use zustand
  apps/test-app/app/root.tsx
  apps/test-app/app/~navigation.tsx
  apps/test-app/app/~utils.tsx
  apps/test-app/package.json
  pnpm-lock.yaml
Due: copyright, format, lint

Using dark scheme during SSR
  apps/test-app/app/~utils.tsx
Due: copyright, format, lint

Move to ~settings module
  apps/test-app/app/~navigation.module.css
  apps/test-app/app/~navigation.tsx
  apps/test-app/app/~settings.module.css
  apps/test-app/app/~settings.tsx
  apps/test-app/app/~utils.tsx
Due: copyright, format, lint

Temporary manually portal the dialog
  apps/test-app/app/~settings.tsx
Due: copyright, format, lint

Rm/move accent color picker
  apps/test-app/app/~settings.tsx
Due: copyright, format, lint

Add-back cc34c72ba62c402ae2b2f24453f5873590b86d00
  apps/test-app/app/~settings.tsx
Due: copyright, format, lint

Add close-button
  apps/test-app/app/~settings.module.css
  apps/test-app/app/~settings.tsx
Due: copyright, format, lint

Use legacy Dialog
  apps/test-app/app/~settings.module.css
  apps/test-app/app/~settings.tsx
Due: copyright, format, lint

Forgot to use margin static CSS variable
  packages/mui/src/~components/MuiTooltip.css
Due: copyright

Multiply by -1 instead of -2
  packages/mui/src/~components/MuiTooltip.css
Due: copyright

Autocomplete Menu uses Menu class names
  .changeset/sweet-spoons-buy.md
  apps/website/src/content/docs/components/mui/Autocomplete.md
  packages/mui/src/createTheme.tsx
  packages/mui/src/~components/MuiMenu.css
Due: copyright, format, lint

Use tooltip classes
  apps/website/src/content/docs/components/mui/Slider.md
  packages/mui/src/createTheme.tsx
  packages/mui/src/~components/MuiSlider.css
Due: copyright, format, lint

update package versions
  .changeset/silent-oranges-relax.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  internal/minimal-template/package.json
  packages/mui/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

`slotProps` changes
  examples/mui/NativeSelect.default.tsx
  packages/mui/src/createTheme.tsx
Due: copyright, format, lint

CSS changes
  packages/mui/src/~components/MuiButton.css
  packages/mui/src/~components/MuiChip.css
  packages/mui/src/~components/MuiInput.css
  packages/mui/src/~components/MuiList.css
  packages/mui/src/~forced-colors.css
Due: copyright

system styling props → `sx` prop
  apps/test-app/app/mui.tsx
  examples/mui/AppBar.default.tsx
  examples/mui/Button.sizes.tsx
  examples/mui/Chip.sizes.tsx
  examples/mui/IconButton.sizes.tsx
  examples/mui/TextField.sizes.tsx
  examples/mui/Tooltip.direction.tsx
Due: copyright, format, lint

@mayank99 fix for AI slop
  packages/mui/src/createTheme.tsx
Due: copyright, format, lint

Duplicate CSS for listbox, remove Autocomplete option CSS in favor of MenuItem
  packages/mui/src/createTheme.tsx
  packages/mui/src/~components/MuiAutocomplete.css
Due: copyright, format, lint

Updated documentation to mention renderOption.
  apps/website/src/content/docs/components/mui/Autocomplete.md
Due: none

Update changeset
  .changeset/sweet-spoons-buy.md
Due: none

Update Autocomplete.md
  apps/website/src/content/docs/components/mui/Autocomplete.md
Due: none

Update sweet-spoons-buy.md
  .changeset/sweet-spoons-buy.md
Due: none

Use NativeSelect instead of ToggleButton
  apps/test-app/app/~settings.module.css
  apps/test-app/app/~settings.tsx
Due: copyright, format, lint

Export SettingsDialog
  apps/test-app/app/~navigation.tsx
  apps/test-app/app/~settings.tsx
Due: copyright, format, lint

Apply 🥝MuiRoot to portalContainer
  packages/mui/src/Root.tsx
Due: copyright, format, lint

SynchronizeAccentColor
  packages/foundations/src/Root.tsx
  packages/foundations/src/~theme.css
Due: copyright, format, lint

Fix autocomplete option focus
  packages/mui/src/~components/MuiAutocomplete.css
Due: copyright

Change default tooltip placement
  .changeset/cuddly-wombats-smoke.md
  apps/website/src/content/docs/components/mui/Tooltip.md
  packages/mui/src/createTheme.tsx
Due: copyright, format, lint

Update packages/mui/src/~components/MuiAutocomplete.css
  packages/mui/src/~components/MuiAutocomplete.css
Due: copyright

Apply suggestions from code review
  .changeset/cuddly-wombats-smoke.md
  apps/website/src/content/docs/components/mui/Tooltip.md
Due: none

jsdoc
  internal/lightningcss-visitors.js
Due: copyright, format, lint

Recommit changes
  examples/mui/Select.icon.module.css
  examples/mui/Select.icon.tsx
  packages/mui/src/~components.css
Due: copyright, format, lint

Collab session
  examples/mui/Select.default.module.css
  examples/mui/Select.default.tsx
  examples/mui/Select.icon.module.css
  examples/mui/Select.icon.tsx
  examples/mui/Select.multiple.module.css
  examples/mui/Select.multiple.tsx
  packages/mui/src/~components.css
  packages/mui/src/~components/MuiInput.css
  packages/mui/src/~components/MuiSelect.css
Due: copyright, format, lint

Changeset
  .changeset/frank-gifts-serve.md
Due: none

`Stepper` markup changes
  .changeset/chubby-planes-count.md
  apps/website/src/content/docs/components/mui/Stepper.md
  examples/mui/Stepper.clickable.tsx
  examples/mui/Stepper.default.tsx
  examples/mui/Stepper.optional.tsx
  packages/mui/src/createTheme.tsx
Due: copyright, format, lint

`ButtonBase` changes (`nativeButton` prop)
  .changeset/long-squids-study.md
  examples/mui/Card.default.tsx
  packages/mui/src/createTheme.tsx
  packages/mui/src/~components/MuiButtonBase.tsx
Due: copyright, format, lint
