Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

copyright:
  run: pnpm lint:copyright {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm biome format --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm biome lint --write {staged_files}
  stage_fixed: true

Add `Field`-less examples
  packages/kiwi-react/src/bricks/Checkbox.tsx
  packages/kiwi-react/src/bricks/Radio.tsx
  packages/kiwi-react/src/bricks/Select.tsx
  packages/kiwi-react/src/bricks/Switch.tsx
  packages/kiwi-react/src/bricks/TextBox.tsx
Due: copyright, format, lint

Remove error prop from Tree.Root
  apps/test-app/app/sandbox.tsx
  apps/test-app/app/tests/tree/index.tsx
  packages/kiwi-react/src/bricks/Tree.internal.tsx
  packages/kiwi-react/src/bricks/Tree.tsx
  packages/kiwi-react/src/bricks/TreeError.tsx
  packages/kiwi-react/src/bricks/TreeItem.tsx
Due: copyright, format, lint

Remove treeItemId prop from TreeErrorItem
  apps/test-app/app/sandbox.tsx
  apps/test-app/app/tests/tree/index.tsx
  packages/kiwi-react/src/bricks/TreeError.tsx
Due: copyright, format, lint

Remove TreeErrorItemAnchor component.
  apps/test-app/app/sandbox.tsx
  apps/test-app/app/tests/tree/index.tsx
  packages/kiwi-react/src/bricks/Tree.tsx
  packages/kiwi-react/src/bricks/TreeError.tsx
Due: copyright, format, lint

reset `<button>` styles (#489)
  apps/test-app/app/tests/tooltip/index.spec.ts-snapshot.-visual-tooltip-content-with-a-single-line-1-webkit-linux.png
  apps/test-app/app/tests/tooltip/index.spec.ts-snapshot.-visual-tooltip-content-with-multiple-lines-1-webkit-linux.png
  packages/kiwi-react/src/foundations/reset.css
Due: copyright

Introduce full composition API for `Field` (#449)
  apps/test-app/app/sandbox.tsx
  apps/test-app/app/tests/checkbox/index.tsx
  apps/test-app/app/tests/field/index.tsx
  apps/test-app/app/tests/radio/index.tsx
  apps/test-app/app/tests/select/index.tsx
  apps/test-app/app/tests/switch/index.tsx
  apps/test-app/app/tests/text-box/index.tsx
  apps/test-app/app/tests/textarea/index.tsx
  packages/kiwi-react/src/bricks/Checkbox.tsx
  packages/kiwi-react/src/bricks/Description.tsx
  packages/kiwi-react/src/bricks/Field.internal.tsx
  packages/kiwi-react/src/bricks/Field.tsx
  packages/kiwi-react/src/bricks/Label.tsx
  packages/kiwi-react/src/bricks/Radio.tsx
  packages/kiwi-react/src/bricks/Select.tsx
  packages/kiwi-react/src/bricks/Switch.tsx
  packages/kiwi-react/src/bricks/TextBox.tsx
  packages/kiwi-react/src/bricks/index.ts
Due: copyright, format, lint

Add `Field.ErrorMessage` sub-component
  apps/test-app/app/tests/field/index.spec.ts
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-checkable-controls-1-chromium-linux.png
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-checkable-controls-1-firefox-linux.png
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-checkable-controls-1-webkit-linux.png
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-text-controls-1-chromium-linux.png
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-text-controls-1-firefox-linux.png
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-text-controls-1-webkit-linux.png
  apps/test-app/app/tests/field/index.tsx
  packages/kiwi-react/src/bricks/Field.internal.tsx
  packages/kiwi-react/src/bricks/Field.tsx
Due: copyright, format, lint

Add `Field.ErrorMessage` sub-component (#250)
  apps/test-app/app/tests/field/index.spec.ts
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-checkable-controls-1-chromium-linux.png
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-checkable-controls-1-firefox-linux.png
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-checkable-controls-1-webkit-linux.png
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-text-controls-1-chromium-linux.png
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-text-controls-1-firefox-linux.png
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-text-controls-1-webkit-linux.png
  apps/test-app/app/tests/field/index.tsx
  packages/kiwi-react/src/bricks/Field.internal.tsx
  packages/kiwi-react/src/bricks/Field.tsx
Due: copyright, format, lint

Split field visual test components for use in UI
  apps/test-app/app/tests/field/index.spec.ts
  apps/test-app/app/tests/field/index.tsx
Due: copyright, format, lint

add theme switcher to test pages fix system preference
  apps/test-app/app/tests/tests.module.css
  apps/test-app/app/tests/tests.tsx
  apps/test-app/app/~utils.tsx
Due: copyright, format, lint

add theme switcher to test pages (#501)
  apps/test-app/app/tests/tests.module.css
  apps/test-app/app/tests/tests.tsx
  apps/test-app/app/~utils.tsx
Due: copyright, format, lint

Split `Field` visual test components for use in UI (#502)
  apps/test-app/app/tests/field/index.spec.ts
  apps/test-app/app/tests/field/index.tsx
Due: copyright, format, lint

add popover-open state styles to `Button`
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.DropdownMenu-CheckboxItem-visual-1-firefox-linux.png
  apps/test-app/app/tests/icon-button/index.spec.ts-snapshot.-visual-tooltip-1-chromium-linux.png
  apps/test-app/app/tests/icon-button/index.spec.ts-snapshot.-visual-tooltip-1-firefox-linux.png
  apps/test-app/app/tests/icon-button/index.spec.ts-snapshot.-visual-tooltip-1-webkit-linux.png
  apps/test-app/app/tests/tooltip/index.spec.ts-snapshot.-visual-tooltip-content-with-a-single-line-1-chromium-linux.png
  apps/test-app/app/tests/tooltip/index.spec.ts-snapshot.-visual-tooltip-content-with-a-single-line-1-firefox-linux.png
  apps/test-app/app/tests/tooltip/index.spec.ts-snapshot.-visual-tooltip-content-with-a-single-line-1-webkit-linux.png
  apps/test-app/app/tests/tooltip/index.spec.ts-snapshot.-visual-tooltip-content-with-multiple-lines-1-chromium-linux.png
  apps/test-app/app/tests/tooltip/index.spec.ts-snapshot.-visual-tooltip-content-with-multiple-lines-1-firefox-linux.png
  apps/test-app/app/tests/tooltip/index.spec.ts-snapshot.-visual-tooltip-content-with-multiple-lines-1-webkit-linux.png
  packages/kiwi-react/src/bricks/Button.css
Due: copyright

Fix forced-colors of checkbox & radio.
  apps/test-app/app/tests/checkbox/index.spec.ts
  apps/test-app/app/tests/checkbox/index.spec.ts-snapshot.-visual-forced-colors-checked-1-chromium-linux.png
  apps/test-app/app/tests/checkbox/index.spec.ts-snapshot.-visual-forced-colors-checked-1-firefox-linux.png
  apps/test-app/app/tests/checkbox/index.spec.ts-snapshot.-visual-forced-colors-disabled-1-chromium-linux.png
  apps/test-app/app/tests/checkbox/index.spec.ts-snapshot.-visual-forced-colors-disabled-1-firefox-linux.png
  apps/test-app/app/tests/checkbox/index.spec.ts-snapshot.-visual-forced-colors-disabled-checked-1-chromium-linux.png
  apps/test-app/app/tests/checkbox/index.spec.ts-snapshot.-visual-forced-colors-disabled-checked-1-firefox-linux.png
  apps/test-app/app/tests/checkbox/index.spec.ts-snapshot.-visual-forced-colors-disabled-indeterminate-mixed-1-chromium-linux.png
  apps/test-app/app/tests/checkbox/index.spec.ts-snapshot.-visual-forced-colors-disabled-indeterminate-mixed-1-firefox-linux.png
  apps/test-app/app/tests/checkbox/index.spec.ts-snapshot.-visual-forced-colors-indeterminate-mixed-1-chromium-linux.png
  apps/test-app/app/tests/checkbox/index.spec.ts-snapshot.-visual-forced-colors-indeterminate-mixed-1-firefox-linux.png
  apps/test-app/app/tests/checkbox/index.spec.ts-snapshot.-visual-forced-colors-unchecked-1-chromium-linux.png
  apps/test-app/app/tests/checkbox/index.spec.ts-snapshot.-visual-forced-colors-unchecked-1-firefox-linux.png
  apps/test-app/app/tests/radio/index.spec.ts
  apps/test-app/app/tests/radio/index.spec.ts-snapshot.-visual-forced-colors-checked-1-chromium-linux.png
  apps/test-app/app/tests/radio/index.spec.ts-snapshot.-visual-forced-colors-checked-1-firefox-linux.png
  apps/test-app/app/tests/radio/index.spec.ts-snapshot.-visual-forced-colors-disabled-1-chromium-linux.png
  apps/test-app/app/tests/radio/index.spec.ts-snapshot.-visual-forced-colors-disabled-1-firefox-linux.png
  apps/test-app/app/tests/radio/index.spec.ts-snapshot.-visual-forced-colors-disabled-checked-1-chromium-linux.png
  apps/test-app/app/tests/radio/index.spec.ts-snapshot.-visual-forced-colors-disabled-checked-1-firefox-linux.png
  apps/test-app/app/tests/radio/index.spec.ts-snapshot.-visual-forced-colors-unchecked-1-chromium-linux.png
  apps/test-app/app/tests/radio/index.spec.ts-snapshot.-visual-forced-colors-unchecked-1-firefox-linux.png
  packages/kiwi-react/src/bricks/Checkbox.css
Due: copyright, format, lint

Fix forced-colors of switch.
  apps/test-app/app/tests/switch/index.spec.ts
  apps/test-app/app/tests/switch/index.spec.ts-snapshot.-visual-forced-colors-checked-1-chromium-linux.png
  apps/test-app/app/tests/switch/index.spec.ts-snapshot.-visual-forced-colors-checked-1-firefox-linux.png
  apps/test-app/app/tests/switch/index.spec.ts-snapshot.-visual-forced-colors-disabled-1-chromium-linux.png
  apps/test-app/app/tests/switch/index.spec.ts-snapshot.-visual-forced-colors-disabled-1-firefox-linux.png
  apps/test-app/app/tests/switch/index.spec.ts-snapshot.-visual-forced-colors-disabled-checked-1-chromium-linux.png
  apps/test-app/app/tests/switch/index.spec.ts-snapshot.-visual-forced-colors-disabled-checked-1-firefox-linux.png
  apps/test-app/app/tests/switch/index.spec.ts-snapshot.-visual-forced-colors-unchecked-1-chromium-linux.png
  apps/test-app/app/tests/switch/index.spec.ts-snapshot.-visual-forced-colors-unchecked-1-firefox-linux.png
  packages/kiwi-react/src/bricks/Switch.css
Due: copyright, format, lint

preserve state when switch between div and tabpanel
  apps/test-app/app/sandbox.module.css
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

removed commented out code
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

small fix
  apps/test-app/app/tokens.tsx
Due: copyright, format, lint

add typography to `/tokens` page (#441)
  apps/test-app/app/tokens.tsx
Due: copyright, format, lint

`DropdownMenu`: render menuitems as `<button>`
  packages/kiwi-react/src/bricks/DropdownMenu.tsx
Due: copyright, format, lint

handle overflow for `<Tree.Item>` actions
  apps/test-app/app/sandbox.module.css
  apps/test-app/app/sandbox.tsx
  packages/kiwi-react/src/bricks/DropdownMenu.internal.tsx
  packages/kiwi-react/src/bricks/DropdownMenu.tsx
  packages/kiwi-react/src/bricks/Icon.tsx
  packages/kiwi-react/src/bricks/TreeItem.tsx
Due: copyright, format, lint

test
  apps/test-app/app/tests/tree/index.spec.ts
  apps/test-app/app/tests/tree/index.tsx
Due: copyright, format, lint

handle `error`
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-error-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-error-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-error-1-webkit-linux.png
  apps/test-app/app/tests/tree/index.tsx
  packages/kiwi-react/src/bricks/TreeItem.tsx
Due: copyright, format, lint

Reduce ::after within reduced color media queries
  packages/kiwi-react/src/bricks/Switch.css
Due: copyright

Revert "Caption has no min-block-size"
  packages/kiwi-react/src/bricks/Table.css
Due: copyright

Centering as much as possible
  packages/kiwi-react/src/bricks/Table.css
Due: copyright

Images
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-hovered-row-1-chromium-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-hovered-row-1-firefox-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-hovered-row-1-webkit-linux.png
Due: none

`DropdownMenu`: render menuitems as `<button>` (#490)
  packages/kiwi-react/src/bricks/DropdownMenu.tsx
Due: copyright, format, lint

add popover-open state styles to `Button` (#491)
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.DropdownMenu-CheckboxItem-visual-1-firefox-linux.png
  apps/test-app/app/tests/icon-button/index.spec.ts-snapshot.-visual-tooltip-1-chromium-linux.png
  apps/test-app/app/tests/icon-button/index.spec.ts-snapshot.-visual-tooltip-1-firefox-linux.png
  apps/test-app/app/tests/icon-button/index.spec.ts-snapshot.-visual-tooltip-1-webkit-linux.png
  apps/test-app/app/tests/tooltip/index.spec.ts-snapshot.-visual-tooltip-content-with-a-single-line-1-chromium-linux.png
  apps/test-app/app/tests/tooltip/index.spec.ts-snapshot.-visual-tooltip-content-with-a-single-line-1-firefox-linux.png
  apps/test-app/app/tests/tooltip/index.spec.ts-snapshot.-visual-tooltip-content-with-a-single-line-1-webkit-linux.png
  apps/test-app/app/tests/tooltip/index.spec.ts-snapshot.-visual-tooltip-content-with-multiple-lines-1-chromium-linux.png
  apps/test-app/app/tests/tooltip/index.spec.ts-snapshot.-visual-tooltip-content-with-multiple-lines-1-firefox-linux.png
  apps/test-app/app/tests/tooltip/index.spec.ts-snapshot.-visual-tooltip-content-with-multiple-lines-1-webkit-linux.png
  packages/kiwi-react/src/bricks/Button.css
Due: copyright

Rename Tree.Error to ErrorRegion
  apps/test-app/app/sandbox.tsx
  apps/test-app/app/tests/tree/index.tsx
  packages/kiwi-react/src/bricks/ErrorRegion.css
  packages/kiwi-react/src/bricks/ErrorRegion.tsx
  packages/kiwi-react/src/bricks/Tree.tsx
  packages/kiwi-react/src/bricks/TreeError.tsx
  packages/kiwi-react/src/bricks/index.ts
  packages/kiwi-react/src/bricks/styles.css
Due: copyright, format, lint

Remove ItemAction
  apps/test-app/app/sandbox.tsx
  apps/test-app/app/tests/tree/index.tsx
  packages/kiwi-react/src/bricks/ErrorRegion.tsx
Due: copyright, format, lint

Comment
  packages/kiwi-react/src/bricks/Table.css
Due: copyright

forced-colors at the bottom of the CSS file.
  packages/kiwi-react/src/bricks/Switch.css
Due: copyright

Move CSS variables back under states layer
  packages/kiwi-react/src/bricks/Switch.css
Due: copyright

Display `<Table>` as `<table>` or `<div>` (#381)
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-hovered-row-1-chromium-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-hovered-row-1-firefox-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-hovered-row-1-webkit-linux.png
  apps/test-app/app/tests/table/index.tsx
  packages/kiwi-react/src/bricks/Table.css
  packages/kiwi-react/src/bricks/Table.tsx
  packages/kiwi-react/src/bricks/index.ts
Due: copyright, format, lint

Fix icon
  packages/kiwi-react/src/bricks/Banner.tsx
Due: copyright, format, lint

remove `@ts-expect-error`
  packages/kiwi-react/src/bricks/TreeItem.tsx
Due: copyright, format, lint

update some wording
  packages/kiwi-react/src/bricks/TreeItem.tsx
Due: copyright, format, lint

Move visually hidden to ErrorRegion
  apps/test-app/app/sandbox.tsx
  apps/test-app/app/tests/tree/index.tsx
  packages/kiwi-react/src/bricks/ErrorRegion.tsx
Due: copyright, format, lint

forced-colors at the bottom of the CSS file.
  packages/kiwi-react/src/bricks/Checkbox.css
Due: copyright

Path conditions:
  copyright: any of: *.{js,ts,jsx,tsx,css,html}
  format: any of: *.{js,ts,jsx,tsx,json,jsonc}
  lint: any of: *.{js,ts,jsx,tsx}
