Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

copyright:
  run: pnpm lint:copyright {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm biome format --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm biome lint --write {staged_files}
  stage_fixed: true

Fixed text alignment for month buttons in `DatePicker`. (#1903)
  .changeset/quiet-months-align.md
  apps/test-app/app/mui/DatePicker.showcase.tsx
  apps/test-app/app/~utils.tsx
  packages/mui/src/~components/MuiDatePicker.css
Due: copyright, format, lint

test-app: create standalone `/showcase` route (#1897)
  apps/test-app/app/mui/mui.tsx
  apps/test-app/app/routes.ts
  apps/test-app/app/showcase.module.css
  apps/test-app/app/showcase.tsx
Due: copyright, format, lint

remove old shadows from `/tokens` page (#1901)
  apps/test-app/app/tokens.tsx
Due: copyright, format, lint

fix `variant` prop in `CardHeader` title (#1890)
  .changeset/floppy-papayas-sin.md
  packages/mui/src/types.ts
  packages/mui/src/~components/MuiCard.css
  packages/mui/src/~createTheme.tsx
Due: copyright, format, lint

Fix icon size
  packages/mui/src/~components/MuiSwitch.css
Due: copyright

Add migration from iTwinUI guide (#1643)
  apps/website/src/content/docs/getting-started/develop.mdx
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

small docs tweaks
  apps/test-app/app/index.tsx
  apps/website/src/content/docs/getting-started/develop.mdx
  packages/bricks/src/~utils.useInit.tsx
  packages/foundations/src/Icon.tsx
  packages/foundations/src/styles.ts
  packages/mui/README.md
  packages/structures/src/~utils.useInit.tsx
Due: copyright, format, lint

Remove will-change for opacity
  packages/mui/src/~components/MuiSwitch.css
Due: copyright

small docs tweaks (#1907)
  apps/test-app/app/index.tsx
  apps/website/src/content/docs/getting-started/develop.mdx
  packages/bricks/src/~utils.useInit.tsx
  packages/foundations/src/Icon.tsx
  packages/foundations/src/styles.ts
  packages/mui/README.md
  packages/structures/src/~utils.useInit.tsx
Due: copyright, format, lint

Update to re-render current step
  examples/mui/Stepper.long.module.css
  examples/mui/Stepper.long.tsx
Due: copyright, format, lint

Minor grammar
  apps/website/src/content/docs/components/composite/RadioTiles.md
Due: none

Add Switch + Icon (#1886)
  .changeset/happy-books-teach.md
  apps/website/src/content/docs/components/mui/Switch.md
  packages/mui/src/~components/MuiSwitch.css
  packages/mui/src/~forced-colors.css
Due: copyright

Add comparison table
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

Alert through Breadcrumbs
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

Mention variant prop
  apps/website/src/content/docs/components/mui/IconButton.md
Due: none

Fix bug with secondaryAction padding in list
  .changeset/every-bushes-judge.md
  apps/test-app/app/mui/List.showcase.tsx
  packages/mui/src/~components/MuiList.css
Due: copyright, format, lint

Better example for bug
  apps/test-app/app/mui/List.showcase.tsx
Due: copyright, format, lint

better css
  packages/mui/src/~components/MuiList.css
Due: copyright

H3 for all
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

Add Button docs
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

Remove unneeded Box
  apps/test-app/app/mui/List.showcase.tsx
Due: copyright, format, lint

Update import
  apps/test-app/app/mui/List.showcase.tsx
Due: copyright, format, lint

add test
  apps/test-app/app/mui/List.showcase.tsx
  apps/test-app/app/tests/mui/List.spec.ts
  apps/test-app/app/tests/mui/List.spec.ts-snapshot.adds-padding-for-secondary-action-1-chromium-linux.png
  apps/test-app/app/tests/mui/List.spec.ts-snapshot.adds-padding-for-secondary-action-1-firefox-linux.png
Due: copyright, format, lint

ButtonGroup and Carousel
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

More itwin parity
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

Change from File Upload to File Selection
  apps/website/src/content/docs/components/composite/FileSelection.md
  examples/composite/FileSelection.card.module.css
  examples/composite/FileSelection.card.tsx
  examples/composite/FileSelection.default.tsx
Due: copyright, format, lint

Show file names after selected in default example
  examples/composite/FileSelection.default.tsx
Due: copyright, format, lint

Rename card to drag and drop
  apps/website/src/content/docs/components/composite/FileSelection.md
  examples/composite/FileSelection.drag-and-drop.module.css
  examples/composite/FileSelection.drag-and-drop.tsx
Due: copyright, format, lint

ThemeProvider does not map to Root
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

Replace "selectable menu" with "Button and Menu combination"
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

Add basic description for all components that have a counterpart.
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

Add iTwinUI flex
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

Add iTwinUI popover
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

Add iTwinUI input grid
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

Add iTwinUI link action
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

Add iTwinUI middle text truncation
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

Add iTwinUI panels
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

Add iTwinUI status message
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

Visually Hidden style utility
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

Add external link example and documentation
  apps/test-app/app/mui/Link.showcase.tsx
  apps/website/src/content/docs/components/mui/Link.md
  examples/mui/Link.external.module.css
  examples/mui/Link.external.tsx
Due: copyright, format, lint

Path conditions:
  copyright: any of: *.{js,ts,jsx,tsx,css,html}
  format: any of: *.{js,ts,jsx,tsx,json,jsonc}
  lint: any of: *.{js,ts,jsx,tsx}
