Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

copyright:
  run: pnpm lint:copyright {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm biome format --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm biome lint --write {staged_files}
  stage_fixed: true

Setup the actions behavior.
  apps/test-app/app/sandbox.tsx
  apps/test-app/app/tests/tree/index.tsx
  packages/kiwi-react/src/bricks/Tree.css
  packages/kiwi-react/src/bricks/Tree.tsx
Due: copyright, format, lint

Add Tree.Actions component.
  apps/test-app/app/sandbox.tsx
  packages/kiwi-react/src/bricks/Tree.css
  packages/kiwi-react/src/bricks/Tree.tsx
Due: copyright, format, lint

Collaboration session.
  apps/test-app/app/tests/progress/index.module.css
  apps/test-app/app/tests/progress/index.spec.ts
  apps/test-app/app/tests/progress/index.tsx
  packages/kiwi-react/src/bricks/Progress.css
  packages/kiwi-react/src/bricks/Progress.tsx
  packages/kiwi-react/src/bricks/ProgressIndicator.css
  packages/kiwi-react/src/bricks/index.ts
  packages/kiwi-react/src/bricks/styles.css
Due: copyright, format, lint

Satisfy types in test
  apps/test-app/app/tests/progress/index.tsx
Due: copyright, format, lint

Add snapshots
  apps/test-app/app/tests/progress/index.spec.ts-snapshot.-visual-1-chromium-linux.png
  apps/test-app/app/tests/progress/index.spec.ts-snapshot.-visual-1-firefox-linux.png
  apps/test-app/app/tests/progress/index.spec.ts-snapshot.-visual-1-webkit-linux.png
Due: none

Add labels
  apps/test-app/app/tests/progress/index.tsx
Due: copyright, format, lint

Update apps/test-app/app/sandbox.tsx
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

Move rest to the top.
  packages/kiwi-react/src/bricks/Progress.tsx
Due: copyright, format, lint

removing inline css
  apps/test-app/app/sandbox.module.css
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

Using Text Component
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

Add horizontal scrolling to Tree component.
  apps/test-app/app/sandbox.module.css
  apps/test-app/app/sandbox.tsx
  apps/test-app/app/tests/tree/index.tsx
  packages/kiwi-react/src/bricks/Tree.css
  packages/kiwi-react/src/bricks/Tree.tsx
Due: copyright, format, lint

Update snaps
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-overflow-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-overflow-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-overflow-1-webkit-linux.png
Due: none

WIP
  apps/test-app/app/sandbox.tsx
  packages/kiwi-react/src/bricks/Tree.css
  packages/kiwi-react/src/bricks/Tree.tsx
Due: copyright, format, lint

Apply double bg patch by @mayank99
  packages/kiwi-react/src/bricks/ListItem.css
  packages/kiwi-react/src/bricks/Tree.css
Due: copyright

Move flex-grow to sandbox.
  apps/test-app/app/sandbox.module.css
  apps/test-app/app/sandbox.tsx
  packages/kiwi-react/src/bricks/Tree.css
Due: copyright, format, lint

Sandbox: add padding-block-end
  apps/test-app/app/sandbox.module.css
Due: copyright

Drop fractional part to avoid 1px rendering quirks (1px of a label visible on the right side of actions).
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

Add padding-inline-end to actions container.
  packages/kiwi-react/src/bricks/Tree.css
Due: copyright

Fix action icon (dot icon) visibility.
  apps/test-app/app/sandbox.module.css
Due: copyright

Avoid action wrapping (render in a single row).
  packages/kiwi-react/src/bricks/Tree.css
Due: copyright

create more generic `EmptyState` component
  apps/test-app/app/sandbox.module.css
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

`?tree=empty`
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

implement `symbol` prop
  apps/test-app/app/tests/kbd/index.spec.ts
  apps/test-app/app/tests/kbd/index.tsx
  packages/kiwi-react/src/bricks/Kbd.tsx
  packages/kiwi-react/src/bricks/index.ts
Due: copyright, format, lint

Update packages/kiwi-react/src/bricks/Progress.css
  packages/kiwi-react/src/bricks/Progress.css
Due: copyright

narrow down list of predefined symbols
  apps/test-app/app/tests/kbd/index.spec.ts-snapshot.-visual-visual-KbdKeys-snapshot-1-chromium-linux.png
  apps/test-app/app/tests/kbd/index.spec.ts-snapshot.-visual-visual-KbdKeys-snapshot-1-firefox-linux.png
  apps/test-app/app/tests/kbd/index.spec.ts-snapshot.-visual-visual-KbdKeys-snapshot-1-webkit-linux.png
  apps/test-app/app/tests/kbd/index.tsx
  packages/kiwi-react/src/bricks/Kbd.tsx
Due: copyright, format, lint

add DEV-only warning
  biome.jsonc
  packages/kiwi-react/src/bricks/Kbd.tsx
Due: copyright, format, lint

update tests
  apps/test-app/app/tests/kbd/index.spec.ts
  apps/test-app/app/tests/kbd/index.spec.ts-snapshot.-visual-1-firefox-linux.png
  apps/test-app/app/tests/kbd/index.spec.ts-snapshot.-visual-1-webkit-linux.png
  apps/test-app/app/tests/kbd/index.spec.ts-snapshot.-visual-all-symbols-1-chromium-linux.png
  apps/test-app/app/tests/kbd/index.spec.ts-snapshot.-visual-all-symbols-1-firefox-linux.png
  apps/test-app/app/tests/kbd/index.spec.ts-snapshot.-visual-all-symbols-1-webkit-linux.png
  apps/test-app/app/tests/kbd/index.spec.ts-snapshot.-visual-all-variants-1-chromium-linux.png
  apps/test-app/app/tests/kbd/index.spec.ts-snapshot.-visual-all-variants-1-firefox-linux.png
  apps/test-app/app/tests/kbd/index.spec.ts-snapshot.-visual-all-variants-1-webkit-linux.png
  apps/test-app/app/tests/kbd/index.spec.ts-snapshot.-visual-default-visual-snapshot-1-chromium-linux.png
  apps/test-app/app/tests/kbd/index.tsx
Due: copyright, format, lint

All changes from Monday meeting discussion minus renaming the component.
  apps/test-app/app/tests/progress/index.spec.ts
  apps/test-app/app/tests/progress/index.tsx
  packages/kiwi-react/src/bricks/Progress.css
  packages/kiwi-react/src/bricks/Progress.tsx
Due: copyright, format, lint

Fix testid for progress
  apps/test-app/app/tests/progress/index.tsx
Due: copyright, format, lint

add `symbol` prop to `Kbd` for displaying predefined symbols (#173)
  apps/test-app/app/tests/kbd/index.spec.ts
  apps/test-app/app/tests/kbd/index.spec.ts-snapshot.-visual-1-chromium-linux.png
  apps/test-app/app/tests/kbd/index.spec.ts-snapshot.-visual-1-firefox-linux.png
  apps/test-app/app/tests/kbd/index.spec.ts-snapshot.-visual-1-webkit-linux.png
  apps/test-app/app/tests/kbd/index.spec.ts-snapshot.-visual-all-symbols-1-chromium-linux.png
  apps/test-app/app/tests/kbd/index.spec.ts-snapshot.-visual-all-symbols-1-firefox-linux.png
  apps/test-app/app/tests/kbd/index.spec.ts-snapshot.-visual-all-symbols-1-webkit-linux.png
  apps/test-app/app/tests/kbd/index.spec.ts-snapshot.-visual-all-variants-1-chromium-linux.png
  apps/test-app/app/tests/kbd/index.spec.ts-snapshot.-visual-all-variants-1-firefox-linux.png
  apps/test-app/app/tests/kbd/index.spec.ts-snapshot.-visual-all-variants-1-webkit-linux.png
  apps/test-app/app/tests/kbd/index.tsx
  biome.jsonc
  packages/kiwi-react/src/bricks/Kbd.tsx
Due: copyright, format, lint

rework sandbox layout
  apps/test-app/app/sandbox.module.css
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

Rename to `<Spinner>`
  apps/test-app/app/components.ts
  apps/test-app/app/tests/spinner/index.module.css
  apps/test-app/app/tests/spinner/index.spec.ts
  apps/test-app/app/tests/spinner/index.spec.ts-snapshot.-visual-1-chromium-linux.png
  apps/test-app/app/tests/spinner/index.spec.ts-snapshot.-visual-1-firefox-linux.png
  apps/test-app/app/tests/spinner/index.spec.ts-snapshot.-visual-1-webkit-linux.png
  apps/test-app/app/tests/spinner/index.tsx
  packages/kiwi-react/src/bricks/Spinner.css
  packages/kiwi-react/src/bricks/Spinner.tsx
  packages/kiwi-react/src/bricks/index.ts
  packages/kiwi-react/src/bricks/styles.css
Due: copyright, format, lint

Remove `?paused` since Playwright pauses animations
  apps/test-app/app/tests/spinner/index.module.css
  apps/test-app/app/tests/spinner/index.spec.ts
  apps/test-app/app/tests/spinner/index.tsx
Due: copyright, format, lint

Sort spinner correctly in barrel
  packages/kiwi-react/src/bricks/index.ts
Due: copyright, format, lint

Add `alt` prop to set a text alternative
  packages/kiwi-react/src/bricks/Spinner.tsx
Due: copyright, format, lint

create `EmptyState` component for sandbox (#214)
  apps/test-app/app/sandbox.module.css
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

Add horizontal scrolling to `Tree` component (#226)
  apps/test-app/app/sandbox.module.css
  apps/test-app/app/sandbox.tsx
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-overflow-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-overflow-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-overflow-1-webkit-linux.png
  apps/test-app/app/tests/tree/index.tsx
  packages/kiwi-react/src/bricks/Tree.css
  packages/kiwi-react/src/bricks/Tree.tsx
Due: copyright, format, lint

Sticky `Tree` actions (CSS solution) (#227)
  apps/test-app/app/sandbox.module.css
  apps/test-app/app/sandbox.tsx
  packages/kiwi-react/src/bricks/ListItem.css
  packages/kiwi-react/src/bricks/Tree.css
  packages/kiwi-react/src/bricks/Tree.tsx
Due: copyright, format, lint

Fix rendering issue in sticky actions (#228)
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

add back missing `tree` class
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

Path conditions:
  copyright: any of: *.{js,ts,jsx,tsx,css,html}
  format: any of: *.{js,ts,jsx,tsx,json,jsonc}
  lint: any of: *.{js,ts,jsx,tsx}
