Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    copyright:
      glob: "*.{js,ts,jsx,tsx,css,html}"
      run: pnpm lint:copyright {staged_files} --fix
      stage_fixed: true

    format:
      glob: "*.{js,ts,jsx,tsx,json,jsonc}"
      run: pnpm biome format --write {staged_files}
      stage_fixed: true

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm biome lint --write {staged_files}
      stage_fixed: true

    prettier:
      exclude:
        - "*.{js,ts,jsx,tsx,cjs,cts,mjs,mts,json,jsonc}"
      run: pnpm exec prettier {staged_files} --ignore-unknown --write
      stage_fixed: true

Update packages/mui/src/~components/MuiLinearProgress.css
  packages/mui/src/~components/MuiLinearProgress.css
Due: copyright

min-width on linear progress docs demos
  apps/website/src/content/docs/components/mui/LinearProgress.md
Due: none

Update .changeset/young-worlds-report.md
  .changeset/young-worlds-report.md
Due: none

First pass at styling NativeSelect
  apps/test-app/app/mui/Select.showcase.tsx
  examples/mui/Select.native.tsx
  packages/mui/src/~components/MuiSelect.css
Due: copyright, format, lint

"MUI slots"
  apps/website/src/content/docs/guides/component-customization.md
Due: none

Added components.svg to icons
  .changeset/five-lilies-ask.md
  apps/test-app/app/assets/components.svg
  apps/test-app/app/~navigation.tsx
  packages/icons/icons/components.svg
Due: copyright, format, lint

update examples
  examples/mui/Accordion._multiple-outlined.tsx
  examples/mui/Accordion.actions.tsx
  examples/mui/Accordion.decoration.tsx
  examples/mui/Accordion.default.tsx
  examples/mui/Accordion.expanded.tsx
  examples/mui/Accordion.marker-placement.tsx
  examples/mui/Accordion.multiple.tsx
  examples/mui/Accordion.responsive.tsx
  examples/mui/Accordion.variants.tsx
Due: copyright, format, lint

add `Typography` props to Accordion's `heading` slot
  .changeset/chubby-ways-relax.md
  apps/website/src/content/docs/components/mui/Accordion.md
  apps/website/src/content/docs/guides/component-customization.md
  packages/mui/src/types.ts
  packages/mui/src/~components/MuiAccordion.tsx
  packages/mui/src/~createTheme.tsx
Due: copyright, format, lint

Update selectors
  packages/mui/src/~components/MuiSelect.css
Due: copyright

Forced colors
  packages/mui/src/~components/MuiSelect.css
  packages/mui/src/~forced-colors.css
Due: copyright

fix forced colors bug
  packages/mui/src/~forced-colors.css
Due: copyright

Add changeset
  .changeset/tired-nights-buy.md
Due: none

Remove unused import
  examples/mui/Select.native.tsx
Due: copyright, format, lint

Correctly wrap all in at-supports
  packages/mui/src/~components/MuiSelect.css
Due: copyright

spaces are your friend
  packages/mui/src/~forced-colors.css
Due: copyright

Disabled force colors
  packages/mui/src/~forced-colors.css
Due: copyright

Change font size of current month + year
  packages/mui/src/~components/MuiDatePicker.css
Due: copyright

CircularProgress deprecate disableShrink, enableTrackSlot, thickness props. Remove inherit & info colors.
  packages/mui/src/types.ts
Due: copyright, format, lint

CircularProgress docs.
  apps/website/src/content/docs/components/mui/CircularProgress.md
Due: none

CircularProgress changesets.
  .changeset/afraid-zoos-shop.md
  .changeset/cool-masks-care.md
Due: none

Update jsdocs for CircularProgress
  packages/mui/src/types.ts
Due: copyright, format, lint

Fix action icon size
  .changeset/yummy-crabs-post.md
  packages/structures/src/NavigationRail.css
  packages/structures/src/NavigationRail.tsx
Due: copyright, format, lint

Render Tooltip in top layer
  .changeset/quick-owls-eat.md
  packages/mui/src/~components/MuiTooltip.tsx
  packages/mui/src/~createTheme.tsx
Due: copyright, format, lint

optimize with svgo
  packages/icons/icons/components.svg
Due: none

Document how to set entry point size
  apps/website/src/content/docs/components/mui/DatePicker.md
Due: none

Update apps/website/src/content/docs/components/mui/DatePicker.md
  apps/website/src/content/docs/components/mui/DatePicker.md
Due: none

Update .changeset/curly-numbers-wait.md
  .changeset/curly-numbers-wait.md
Due: none

use ref instead of state for portal container
  packages/foundations/src/Root.tsx
  packages/mui/src/Root.tsx
  packages/mui/src/~createTheme.tsx
Due: copyright, format, lint

clean up comments
  packages/foundations/src/Root.tsx
  packages/mui/src/Root.tsx
Due: copyright, format, lint

add changeset
  .changeset/curly-numbers-wait.md
Due: none

Update .changeset/violet-toes-vanish.md
  .changeset/violet-toes-vanish.md
Due: none

Add guidance on changetset language
  STYLEGUIDE.md
Due: none

Minimal fix for permissions
  apps/test-app/scripts/Dockerfile
Due: none

disableScrollLock
  packages/mui/src/~createTheme.tsx
Due: copyright, format, lint

fix `Dialog` and `Drawer` scroll lock
  .changeset/blue-frogs-visit.md
  packages/mui/src/~components.css
  packages/mui/src/~components/MuiDialog.css
  packages/mui/src/~components/MuiDrawer.css
Due: copyright

Restore missing icon-large symbol
  packages/icons/icons/components.svg
Due: none

increase `Tooltip` edge padding
  packages/mui/src/~createTheme.tsx
Due: copyright, format, lint

clean up pseudo element selectors
  examples/mui/NativeSelect.default.tsx
Due: copyright, format, lint

Add disabled style
  packages/mui/src/~components/MuiSelect.css
  packages/mui/src/~forced-colors.css
Due: copyright

Use existing NativeSelect.default.tsx
  apps/test-app/app/mui/Select.showcase.tsx
  examples/mui/Select.native.tsx
Due: copyright, format, lint
