Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

copyright:
  run: pnpm lint:copyright {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm biome format --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm biome lint --write {staged_files}
  stage_fixed: true

update some jsdocs
  packages/kiwi-react/src/bricks/Field.tsx
  packages/kiwi-react/src/bricks/ProgressBar.tsx
Due: copyright, format, lint

update some jsdocs (#534)
  packages/kiwi-react/src/bricks/Field.tsx
  packages/kiwi-react/src/bricks/ProgressBar.tsx
Due: copyright, format, lint

remove implicit `ToolbarItem` from `<IconButton>` (#527)
  packages/kiwi-react/src/bricks/IconButton.tsx
  packages/kiwi-react/src/bricks/TreeItem.tsx
Due: copyright, format, lint

Add `<ErrorRegion>` component (#454)
  apps/test-app/app/components.ts
  apps/test-app/app/sandbox.model1.json
  apps/test-app/app/sandbox.module.css
  apps/test-app/app/sandbox.tsx
  apps/test-app/app/tests/error-region/index.spec.ts
  apps/test-app/app/tests/error-region/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/error-region/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/error-region/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/error-region/index.tsx
  packages/kiwi-react/src/bricks/ErrorRegion.css
  packages/kiwi-react/src/bricks/ErrorRegion.tsx
  packages/kiwi-react/src/bricks/Icon.css
  packages/kiwi-react/src/bricks/Icon.tsx
  packages/kiwi-react/src/bricks/TreeItem.css
  packages/kiwi-react/src/bricks/TreeItem.tsx
  packages/kiwi-react/src/bricks/index.ts
  packages/kiwi-react/src/bricks/styles.css
Due: copyright, format, lint

add `forceConsistentCasingInFileNames`
  internal/tsconfig.json
Due: format

create shared `tsconfig` (#532)
  apps/test-app/app/tests/avatar/index.tsx
  apps/test-app/tsconfig.json
  internal/tsconfig.json
  packages/kiwi-react/src/bricks/Field.tsx
  packages/kiwi-react/tsconfig.json
Due: copyright, format, lint

aftermath of `<ErrorRegion>`
  packages/kiwi-react/src/bricks/ErrorRegion.tsx
  packages/kiwi-react/src/bricks/TreeItem.tsx
Due: copyright, format, lint

simplify CSS
  apps/test-app/app/tests/error-region/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/error-region/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/error-region/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  packages/kiwi-react/src/bricks/ErrorRegion.css
Due: copyright

fix `nth-child`
  packages/kiwi-react/src/bricks/ErrorRegion.css
Due: copyright

update `DropdownMenu` dot size
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  packages/kiwi-react/src/bricks/DropdownMenu.css
Due: copyright

rename `Toolbar.Root` to `Toolbar.Group`
  apps/test-app/app/sandbox.tsx
  apps/test-app/app/tests/toolbar/index.tsx
  packages/kiwi-react/src/bricks/Toolbar.tsx
Due: copyright, format, lint

add test for keyboard navigation
  apps/test-app/app/tests/toolbar/index.spec.ts
Due: copyright, format, lint

create initial `Toolbar` component (#529)
  apps/test-app/app/components.ts
  apps/test-app/app/sandbox.module.css
  apps/test-app/app/sandbox.tsx
  apps/test-app/app/tests/toolbar/index.spec.ts
  apps/test-app/app/tests/toolbar/index.tsx
  packages/kiwi-react/src/bricks/Toolbar.css
  packages/kiwi-react/src/bricks/Toolbar.tsx
  packages/kiwi-react/src/bricks/index.ts
  packages/kiwi-react/src/bricks/styles.css
Due: copyright, format, lint

update `DropdownMenu.Item` dot size (#537)
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  packages/kiwi-react/src/bricks/DropdownMenu.css
Due: copyright

aftermath of `<ErrorRegion>` (#536)
  apps/test-app/app/tests/error-region/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/error-region/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/error-region/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  packages/kiwi-react/src/bricks/ErrorRegion.css
  packages/kiwi-react/src/bricks/ErrorRegion.tsx
  packages/kiwi-react/src/bricks/TreeItem.tsx
Due: copyright, format, lint

Fix `forced-colors` of `<TreeItem>` (#524)
  apps/test-app/app/tests/tree/index.spec.ts
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-default-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-default-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-description-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-description-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-error-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-error-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-focused-item-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-focused-item-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-overflow-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-overflow-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-selected-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-selected-1-firefox-linux.png
  packages/kiwi-react/src/bricks/TreeItem.css
Due: copyright, format, lint

5.0.0-alpha.13
  packages/kiwi-react/CHANGELOG.md
  packages/kiwi-react/package.json
Due: format

styling updates
  apps/test-app/app/sandbox.module.css
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

update visual tests format
  apps/test-app/app/tests/anchor/index.spec.ts
  apps/test-app/app/tests/anchor/index.spec.ts-snapshot.-visual-button-1-chromium-linux.png
  apps/test-app/app/tests/anchor/index.spec.ts-snapshot.-visual-button-1-firefox-linux.png
  apps/test-app/app/tests/anchor/index.spec.ts-snapshot.-visual-button-1-webkit-linux.png
  apps/test-app/app/tests/anchor/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/anchor/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/anchor/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/anchor/index.spec.ts-snapshot.-visual-forced-colors-button-1-chromium-linux.png
  apps/test-app/app/tests/anchor/index.spec.ts-snapshot.-visual-forced-colors-button-1-firefox-linux.png
  apps/test-app/app/tests/anchor/index.spec.ts-snapshot.-visual-forced-colors-default-1-chromium-linux.png
  apps/test-app/app/tests/anchor/index.spec.ts-snapshot.-visual-forced-colors-default-1-firefox-linux.png
  apps/test-app/app/tests/anchor/index.tsx
Due: copyright, format, lint

minor fix
  apps/test-app/app/tests/anchor/index.tsx
Due: copyright, format, lint

update snapshot
  apps/test-app/app/tests/anchor/index.spec.ts-snapshot.-visual-button-1-webkit-linux.png
Due: none

minor fix 2
  apps/test-app/app/tests/anchor/index.spec.ts-snapshot.-visual-button-1-chromium-linux.png
  apps/test-app/app/tests/anchor/index.spec.ts-snapshot.-visual-button-1-firefox-linux.png
  apps/test-app/app/tests/anchor/index.spec.ts-snapshot.-visual-button-1-webkit-linux.png
  apps/test-app/app/tests/anchor/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/anchor/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/anchor/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/anchor/index.spec.ts-snapshot.-visual-forced-colors-button-1-chromium-linux.png
  apps/test-app/app/tests/anchor/index.spec.ts-snapshot.-visual-forced-colors-button-1-firefox-linux.png
  apps/test-app/app/tests/anchor/index.spec.ts-snapshot.-visual-forced-colors-default-1-chromium-linux.png
  apps/test-app/app/tests/anchor/index.spec.ts-snapshot.-visual-forced-colors-default-1-firefox-linux.png
  apps/test-app/app/tests/anchor/index.tsx
Due: copyright, format, lint

test update
  apps/test-app/app/tests/anchor/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
Due: none

adding href
  apps/test-app/app/tests/button/index.tsx
Due: copyright, format, lint

Format pnpm-lock
  pnpm-lock.yaml
Due: none

use `useEventHandlers` in `TextBox` (#533)
  packages/kiwi-react/src/bricks/TextBox.tsx
Due: copyright, format, lint

remove duplicate icons
  apps/test-app/app/sandbox.tsx
  packages/kiwi-icons/icons/dismiss.svg
  packages/kiwi-icons/icons/panel-left.svg
Due: copyright, format, lint

removed anchor test
  apps/test-app/app/tests/button/index.spec.ts
  apps/test-app/app/tests/button/index.spec.ts-snapshot.-visual-anchor-1-chromium-linux.png
  apps/test-app/app/tests/button/index.spec.ts-snapshot.-visual-anchor-1-firefox-linux.png
  apps/test-app/app/tests/button/index.spec.ts-snapshot.-visual-anchor-1-webkit-linux.png
  apps/test-app/app/tests/button/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/button/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/button/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/button/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/button/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/button/index.spec.ts-snapshot.-visual-forced-colors-anchor-1-chromium-linux.png
  apps/test-app/app/tests/button/index.spec.ts-snapshot.-visual-forced-colors-anchor-1-firefox-linux.png
  apps/test-app/app/tests/button/index.spec.ts-snapshot.-visual-forced-colors-default-1-chromium-linux.png
  apps/test-app/app/tests/button/index.spec.ts-snapshot.-visual-forced-colors-default-1-firefox-linux.png
  apps/test-app/app/tests/button/index.tsx
Due: copyright, format, lint

remove duplicate icons (#539)
  apps/test-app/app/sandbox.tsx
  packages/kiwi-icons/icons/dismiss.svg
  packages/kiwi-icons/icons/panel-left.svg
Due: copyright, format, lint

Flatten tree data in tests/tree route.
  apps/test-app/app/tests/tree/index.tsx
Due: copyright, format, lint

Memoize handleSelection
  apps/test-app/app/tests/tree/index.tsx
Due: copyright, format, lint

Memoize handleExpansion
  apps/test-app/app/tests/tree/index.tsx
Due: copyright, format, lint

Memo icon
  apps/test-app/app/tests/tree/index.tsx
Due: copyright, format, lint

Memo unstable_decorations
  apps/test-app/app/tests/tree/index.tsx
Due: copyright, format, lint

Memo actions
  apps/test-app/app/tests/tree/index.tsx
Due: copyright, format, lint

React.memo TestTreeItem
  apps/test-app/app/tests/tree/index.tsx
Due: copyright, format, lint

use large icons in Toolbar
  packages/kiwi-react/src/bricks/Button.css
  packages/kiwi-react/src/bricks/IconButton.internal.tsx
  packages/kiwi-react/src/bricks/IconButton.tsx
  packages/kiwi-react/src/bricks/Toolbar.tsx
Due: copyright, format, lint

update forced-colors images
  apps/test-app/app/tests/button/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/button/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/icon-button/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/icon-button/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/select/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/select/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-default-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-default-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-description-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-description-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-error-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-error-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-focused-item-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-focused-item-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-overflow-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-overflow-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-selected-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-selected-1-firefox-linux.png
Due: none

visual test
  apps/test-app/app/tests/toolbar/index.spec.ts
  apps/test-app/app/tests/toolbar/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/toolbar/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/toolbar/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/toolbar/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/toolbar/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/toolbar/index.tsx
Due: copyright, format, lint

move context up
  packages/kiwi-react/src/bricks/Toolbar.tsx
Due: copyright, format, lint

Path conditions:
  copyright: any of: *.{js,ts,jsx,tsx,css,html}
  format: any of: *.{js,ts,jsx,tsx,json,jsonc}
  lint: any of: *.{js,ts,jsx,tsx}
