Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

copyright:
  run: pnpm lint:copyright {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm biome format --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm biome lint --write {staged_files}
  stage_fixed: true

Remove user-select
  apps/test-app/app/routes/tokens.module.css
Due: copyright

Forgot to commit pnpm-lock
  pnpm-lock.yaml
Due: none

Set id before spreading props and add Switch
  apps/test-app/app/routes/tests/field/index.spec.ts
  apps/test-app/app/routes/tests/field/index.tsx
  packages/kiwi-react/src/bricks/Checkbox.tsx
  packages/kiwi-react/src/bricks/Field.tsx
  packages/kiwi-react/src/bricks/Input.tsx
  packages/kiwi-react/src/bricks/Label.tsx
  packages/kiwi-react/src/bricks/Radio.tsx
  packages/kiwi-react/src/bricks/Switch.tsx
  packages/kiwi-react/src/bricks/Textarea.tsx
Due: copyright, format, lint

Adding styles for the tooltip - wip
  packages/kiwi-react/src/bricks/Tooltip.css
  packages/kiwi-react/src/bricks/styles.css
Due: copyright

Initial push.
  apps/test-app/app/routes/tests/anchor/index.tsx
  packages/kiwi-react/src/bricks/Anchor.css
  packages/kiwi-react/src/bricks/Anchor.tsx
Due: copyright, format, lint

Add initial left panel route (#75)
  apps/test-app/app/root.tsx
  apps/test-app/app/routes/index.css
  apps/test-app/app/routes/index.tsx
  apps/test-app/app/routes/sandbox.module.css
  apps/test-app/app/routes/sandbox.tsx
  apps/test-app/app/routes/tests.css
  apps/test-app/app/routes/tests.tsx
Due: copyright, format, lint

Add link to tokens on homepage.
  apps/test-app/app/routes/index.tsx
Due: copyright, format, lint

Implement field wrapper component (#77)
  apps/test-app/app/routes/index.tsx
  apps/test-app/app/routes/tests/field/index.spec.ts
  apps/test-app/app/routes/tests/field/index.tsx
  packages/kiwi-react/src/bricks/Checkbox.tsx
  packages/kiwi-react/src/bricks/Field.tsx
  packages/kiwi-react/src/bricks/Label.tsx
  packages/kiwi-react/src/bricks/Radio.tsx
  packages/kiwi-react/src/bricks/Switch.tsx
  packages/kiwi-react/src/bricks/Textarea.tsx
  packages/kiwi-react/src/bricks/index.ts
Due: copyright, format, lint

Update packages/kiwi-react/src/bricks/Anchor.tsx
  packages/kiwi-react/src/bricks/Anchor.tsx
Due: copyright, format, lint

Test images.
  apps/test-app/app/routes/tests/anchor/index.spec.ts-snapshot.-visual-1-chromium-linux.png
  apps/test-app/app/routes/tests/anchor/index.spec.ts-snapshot.-visual-1-firefox-linux.png
  apps/test-app/app/routes/tests/anchor/index.spec.ts-snapshot.-visual-1-webkit-linux.png
Due: none

Better test images.
  apps/test-app/app/routes/tests/anchor/index.spec.ts-snapshot.-visual-1-chromium-linux.png
  apps/test-app/app/routes/tests/anchor/index.spec.ts-snapshot.-visual-1-firefox-linux.png
  apps/test-app/app/routes/tests/anchor/index.spec.ts-snapshot.-visual-1-webkit-linux.png
  apps/test-app/app/routes/tests/anchor/index.tsx
Due: copyright, format, lint

Add padding to body.
  apps/test-app/app/routes/tokens.module.css
Due: copyright

Tweaks from a draft PR review.
  packages/kiwi-react/src/bricks/Tooltip.css
Due: copyright

use semantic tokens in global styles
  packages/kiwi-react/src/foundations/global.css
Due: copyright

update global CSS to use semantic tokens (#84)
  packages/kiwi-react/src/foundations/global.css
Due: copyright

update images
  apps/test-app/app/routes/tests/switch/index.spec.ts-snapshot.-visual-checked-1-chromium-linux.png
  apps/test-app/app/routes/tests/switch/index.spec.ts-snapshot.-visual-checked-1-firefox-linux.png
  apps/test-app/app/routes/tests/switch/index.spec.ts-snapshot.-visual-checked-1-webkit-linux.png
Due: none

fix chroma and hue channels for `oklch`
  internal/primitives.json
  packages/kiwi-react/src/bricks/Button.css
  packages/kiwi-react/src/bricks/Checkbox.css
  packages/kiwi-react/src/bricks/Input.css
  packages/kiwi-react/src/bricks/ListItem.css
  packages/kiwi-react/src/bricks/Switch.css
Due: copyright, format

Removing extraenous styling.
  packages/kiwi-react/src/bricks/Tooltip.css
Due: copyright

Using inline-start for padding.
  packages/kiwi-react/src/bricks/Tooltip.css
Due: copyright

WIP
  packages/kiwi-react/src/bricks/Tooltip.tsx
Due: copyright, format, lint

SVG expander arrow icon.
  apps/test-app/app/routes/tokens.module.css
  apps/test-app/app/routes/tokens.tsx
Due: copyright, format, lint

Add <Divider /> after <h1>
  apps/test-app/app/routes/tokens.tsx
Due: copyright, format, lint

First column min-width.
  apps/test-app/app/routes/tokens.module.css
Due: copyright

fix chroma and hue channels for `oklch` (#83)
  apps/test-app/app/routes/tests/switch/index.spec.ts-snapshot.-visual-checked-1-chromium-linux.png
  apps/test-app/app/routes/tests/switch/index.spec.ts-snapshot.-visual-checked-1-firefox-linux.png
  apps/test-app/app/routes/tests/switch/index.spec.ts-snapshot.-visual-checked-1-webkit-linux.png
  internal/primitives.json
  packages/kiwi-react/src/bricks/Button.css
  packages/kiwi-react/src/bricks/Checkbox.css
  packages/kiwi-react/src/bricks/Input.css
  packages/kiwi-react/src/bricks/ListItem.css
  packages/kiwi-react/src/bricks/Switch.css
Due: copyright, format

allow modifying `Icon` color using CSS variable
  packages/kiwi-react/src/bricks/Button.css
  packages/kiwi-react/src/bricks/Icon.css
  packages/kiwi-react/src/bricks/styles.css
Due: copyright

improve `Icon` component
  apps/test-app/app/routes/tests/icon/index.spec.ts
  apps/test-app/app/routes/tests/icon/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/routes/tests/icon/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/routes/tests/icon/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/routes/tests/icon/index.spec.ts-snapshot.-visual-large-1-chromium-linux.png
  apps/test-app/app/routes/tests/icon/index.spec.ts-snapshot.-visual-large-1-firefox-linux.png
  apps/test-app/app/routes/tests/icon/index.spec.ts-snapshot.-visual-large-1-webkit-linux.png
  apps/test-app/app/routes/tests/icon/index.spec.ts-snapshot.-visual-render-prop-1-chromium-linux.png
  apps/test-app/app/routes/tests/icon/index.spec.ts-snapshot.-visual-render-prop-1-firefox-linux.png
  apps/test-app/app/routes/tests/icon/index.spec.ts-snapshot.-visual-render-prop-1-webkit-linux.png
  apps/test-app/app/routes/tests/icon/index.spec.ts-snapshot.default-1-webkit-linux.png
  apps/test-app/app/routes/tests/icon/index.spec.ts-snapshot.large-1-webkit-linux.png
  apps/test-app/app/routes/tests/icon/index.tsx
  packages/kiwi-react/src/bricks/Icon.tsx
Due: copyright, format, lint

decrease playwright screenshot `threshold`
  apps/test-app/playwright.config.ts
Due: copyright, format, lint

replace `Button` border with shadow
  apps/test-app/app/routes/tests/button/index.spec.ts-snapshot.-visual-1-chromium-linux.png
  apps/test-app/app/routes/tests/button/index.spec.ts-snapshot.-visual-1-firefox-linux.png
  apps/test-app/app/routes/tests/button/index.spec.ts-snapshot.-visual-1-webkit-linux.png
  apps/test-app/app/routes/tests/dropdown-menu/index.spec.ts-snapshot.-visual-1-chromium-linux.png
  apps/test-app/app/routes/tests/dropdown-menu/index.spec.ts-snapshot.-visual-1-firefox-linux.png
  apps/test-app/app/routes/tests/dropdown-menu/index.spec.ts-snapshot.-visual-1-webkit-linux.png
  apps/test-app/app/routes/tests/root/index.spec.ts-snapshot.popout-chromium-linux.png
  apps/test-app/app/routes/tests/root/index.spec.ts-snapshot.popout-firefox-linux.png
  apps/test-app/app/routes/tests/root/index.spec.ts-snapshot.popout-webkit-linux.png
  apps/test-app/app/routes/tests/root/index.spec.ts-snapshot.shadow-chromium-linux.png
  apps/test-app/app/routes/tests/root/index.spec.ts-snapshot.shadow-firefox-linux.png
  apps/test-app/app/routes/tests/root/index.spec.ts-snapshot.shadow-webkit-linux.png
  packages/kiwi-react/src/bricks/Button.css
Due: copyright

WIP
  apps/test-app/app/routes/tests/tooltip/index.spec.ts
  apps/test-app/app/routes/tests/tooltip/index.tsx
  packages/kiwi-react/src/bricks/Tooltip.tsx
Due: copyright, format, lint

decrease playwright screenshot `threshold` (#88)
  apps/test-app/playwright.config.ts
Due: copyright, format, lint

Scaffold out README with workspace/package info
  README.md
Due: none

change sorting of files in VSCode
  .vscode/settings.json
Due: format

change sorting of files in VSCode (#90)
  .vscode/settings.json
Due: format

Change “Workspace” heading to “Monorepo structure”
  README.md
Due: none

Apply suggestions from code review
  README.md
Due: none

Split contributing note into two lines
  README.md
Due: none

Avoid using “we”
  README.md
Due: none

Note internal package in contributing guidelines
  CONTRIBUTING.md
Due: none

Use package descriptions from CONTRIBUTING.md
  README.md
  packages/kiwi-icons/package.json
Due: format

Expand README for `@itwinui/kiwi-react`
  packages/kiwi-react/README.md
Due: none

Path conditions:
  copyright: any of: *.{js,ts,jsx,tsx,css,html}
  format: any of: *.{js,ts,jsx,tsx,json,jsonc}
  lint: any of: *.{js,ts,jsx,tsx}
