Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    copyright:
      glob: "*.{js,ts,jsx,tsx,css,html}"
      run: pnpm lint:copyright {staged_files} --fix
      stage_fixed: true

    format:
      glob: "*.{js,ts,jsx,tsx,json,jsonc}"
      run: pnpm biome format --write {staged_files}
      stage_fixed: true

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm biome lint --write {staged_files}
      stage_fixed: true

    prettier:
      exclude:
        - "*.{js,ts,jsx,tsx,cjs,cts,mjs,mts,json,jsonc}"
      run: pnpm exec prettier {staged_files} --ignore-unknown --write
      stage_fixed: true

Consistent svg import names in docs
  apps/website/src/content/docs/getting-started/develop.mdx
  apps/website/src/content/docs/icons.mdx
Due: none

Consistent svg import names in README
  packages/icons/README.md
Due: none

Consistent svg import names in CHANGELOG
  packages/foundations/CHANGELOG.md
  packages/structures/CHANGELOG.md
Due: none

Default example is image, add initials
  apps/test-app/app/mui.tsx
  apps/website/src/content/docs/components/mui/Avatar.md
  examples/mui/Avatar.default.tsx
  examples/mui/Avatar.image.tsx
  examples/mui/Avatar.initials.tsx
Due: copyright, format, lint

improve styling for `DialogActions` and `Backdrop`
  .changeset/curvy-bananas-care.md
  .changeset/famous-cloths-draw.md
  apps/website/src/content/docs/components/mui/Dialog.md
  packages/mui/src/~components.css
  packages/mui/src/~components/MuiDialog.css
  packages/mui/src/~forced-colors.css
Due: copyright

add `label` prop to `IconButton` and `ToggleButton`
  .changeset/smooth-lilies-sell.md
  apps/website/src/content/docs/components/mui/IconButton.md
  apps/website/src/content/docs/components/mui/ToggleButton.md
  examples/mui/Badge.default.tsx
  examples/mui/Card.header.tsx
  examples/mui/IconButton._colors.tsx
  examples/mui/IconButton.default.tsx
  examples/mui/List.avatar.tsx
  examples/mui/Snackbar.default.tsx
  examples/mui/ToggleButton.default.tsx
  packages/mui/src/createTheme.tsx
  packages/mui/src/types.ts
  packages/mui/src/~components/MuiIconButton.tsx
Due: copyright, format, lint

Apply suggestions from code review
  apps/website/src/content/docs/components/mui/IconButton.md
  apps/website/src/content/docs/components/mui/ToggleButton.md
  packages/mui/src/~components/MuiIconButton.tsx
Due: copyright, format, lint

update migration guide
  apps/website/src/content/docs/guides/migration-from-legacy-stratakit.mdx
Due: none

Remove unrelated changeset
  .changeset/olive-dancers-check.md
Due: none

fix Backdrop
  packages/mui/src/~components.css
Due: copyright

Move decorative example under :::note
  apps/website/src/content/docs/components/mui/Avatar.md
Due: none

Add-back docs
  apps/website/src/content/docs/components/mui/Badge.md
Due: none

Fix cell alignment
  apps/website/src/content/docs/components/mui/Badge.md
Due: none

Colors docs
  apps/website/src/content/docs/components/mui/Badge.md
Due: none

Icons docs
  apps/website/src/content/docs/components/mui/Badge.md
  examples/mui/Badge.error.module.css
  examples/mui/Badge.error.tsx
Due: copyright, format, lint

Rm variants docs
  apps/website/src/content/docs/components/mui/Badge.md
Due: none

Change default MUI avatar size to StrataKit large size.
  packages/mui/src/~components/MuiAvatar.css
Due: copyright

Document inline example
  apps/website/src/content/docs/components/mui/Badge.md
Due: none

Add error example to /mui route of test-app
  apps/test-app/app/mui.tsx
Due: copyright, format, lint

Changed aria-label for icon example
  examples/mui/Avatar.icon.tsx
Due: copyright, format, lint

Changed aria-label for initials example
  examples/mui/Avatar.initials.tsx
Due: copyright, format, lint

Revert "Move decorative example under :::note"
  apps/website/src/content/docs/components/mui/Avatar.md
Due: none

Use fake names
  examples/mui/Avatar.decorative.tsx
  examples/mui/Avatar.icon.tsx
  examples/mui/Avatar.initials.tsx
  examples/mui/AvatarGroup.default.tsx
Due: copyright, format, lint

Separate into 2 paragraphs
  apps/website/src/content/docs/components/mui/Avatar.md
Due: none

Clarify a suggestion about `aria-label` usage
  apps/website/src/content/docs/components/mui/Avatar.md
Due: none

Add the "the"
  apps/website/src/content/docs/components/mui/Badge.md
Due: none

Remove tooltip from IconButton.sizes, use label
  examples/mui/IconButton.sizes.tsx
Due: copyright, format, lint

Set variables within size modifiers instead of setting properties
  packages/mui/src/~components/MuiButton.css
  packages/mui/src/~components/MuiIconButton.css
Due: copyright

Set button min-inline-size to height of button
  packages/mui/src/~components/MuiButton.css
Due: copyright

Add styling ToggleButton
  .changeset/three-melons-end.md
  packages/mui/src/~components.css
  packages/mui/src/~components/MuiToggleButton.css
Due: copyright

adjust `List` spacing
  .changeset/deep-nails-flow.md
  apps/website/src/content/docs/components/mui/List.md
  packages/foundations/src/~size.css
  packages/mui/src/createTheme.tsx
  packages/mui/src/~components.css
  packages/mui/src/~components/MuiList.css
Due: copyright, format, lint

add/update 9 icons
  .changeset/humble-emus-mate.md
  packages/icons/icons/asset-infrastructure.svg
  packages/icons/icons/binoculars.svg
  packages/icons/icons/checkbox-deselect.svg
  packages/icons/icons/checkbox-select.svg
  packages/icons/icons/folder-maximize.svg
  packages/icons/icons/script-run.svg
  packages/icons/icons/script-status.svg
  packages/icons/icons/script.svg
  packages/icons/icons/wall-retaining.svg
Due: none

use npm provenance
  .github/workflows/changeset-release.yaml
  .github/workflows/publish-npm.yaml
Due: none

use custom `CacheProvider`
  .changeset/beige-pigs-open.md
  .changeset/fuzzy-pots-pick.md
  packages/mui/package.json
  packages/mui/src/Root.internal.tsx
  packages/mui/src/Root.tsx
  pnpm-lock.yaml
Due: copyright, format, lint

Fix wording
  apps/website/src/content/docs/components/mui/Badge.md
Due: none

Add --_stratakit-accent-* tokens
  internal/lightningcss-visitors.js
  internal/theme-dark.json
  internal/theme-light.json
Due: copyright, format, lint

Replace aurora colors with accent tokens
  internal/theme-dark.json
  internal/theme-light.json
Due: format

Rename internal data-_sk-theme attribute to data-_sk-color-scheme
  packages/foundations/src/Root.tsx
  packages/foundations/src/~theme.css
Due: copyright, format, lint

Add theme prop
  packages/foundations/src/Root.tsx
Due: copyright, format, lint

Add accentBlue primitives
  internal/primitives.json
Due: format
