Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    copyright:
      glob: "*.{js,ts,jsx,tsx,css,html}"
      run: pnpm lint:copyright {staged_files} --fix
      stage_fixed: true

    format:
      glob: "*.{js,ts,jsx,tsx,json,jsonc}"
      run: pnpm biome format --write {staged_files}
      stage_fixed: true

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm biome lint --write {staged_files}
      stage_fixed: true

    prettier:
      exclude:
        - "*.{js,ts,jsx,tsx,cjs,cts,mjs,mts,json,jsonc}"
      run: pnpm exec prettier {staged_files} --ignore-unknown --write
      stage_fixed: true

Add marks, range, vertical demos.
  apps/test-app/app/mui.tsx
  examples/mui/Slider.marks.tsx
  examples/mui/Slider.range.tsx
  examples/mui/Slider.vertical.tsx
Due: copyright, format, lint

Revert MuiChip-deleteIcon styling
  packages/mui/src/~components/MuiChip.css
Due: copyright

Updated CSS variable names.
  packages/mui/src/~components/MuiSlider.css
  packages/mui/src/~forced-colors.css
Due: copyright

Revert random formatting changes
  packages/mui/src/createTheme.tsx
Due: copyright, format, lint

Code comment
  packages/mui/src/~components/MuiChip.css
Due: copyright

Add styling for slider marks.
  packages/mui/src/~components/MuiSlider.css
  packages/mui/src/~forced-colors.css
Due: copyright

Apply the StrataKit active & hover state to focusVisible as well.
  packages/mui/src/~components/MuiSlider.css
Due: copyright

Fix a11y issues of `Chip` component (#1252)
  .changeset/early-comics-eat.md
  .changeset/five-pots-reply.md
  apps/test-app/app/mui.tsx
  apps/website/src/content/docs/components/Chip.md
  examples/mui/Chip._interactive.tsx
  examples/mui/Chip.clickable.tsx
  examples/mui/Chip.deletable.tsx
  packages/mui/src/createTheme.tsx
  packages/mui/src/types.ts
  packages/mui/src/~components.css
  packages/mui/src/~components/MuiChip.css
  packages/mui/src/~components/MuiChip.tsx
Due: copyright, format, lint

Fix animation when thumb is moved via keyboard.
  packages/mui/src/~components/MuiSlider.css
Due: copyright

Update packages/mui/src/~components/MuiSlider.css
  packages/mui/src/~components/MuiSlider.css
Due: copyright

Fixes to marks.
  packages/mui/src/~components/MuiSlider.css
  packages/mui/src/~forced-colors.css
Due: copyright

Use rem for track size, px for track growth on hover / active.
  packages/mui/src/~components/MuiSlider.css
Due: copyright

`Slider` styling (#1254)
  .changeset/odd-steaks-press.md
  apps/test-app/app/mui.tsx
  examples/mui/Slider.marks.tsx
  examples/mui/Slider.range.tsx
  examples/mui/Slider.vertical.tsx
  packages/mui/src/~components.css
  packages/mui/src/~components/MuiSlider.css
  packages/mui/src/~forced-colors.css
Due: copyright, format, lint

Update variables naming convention.
  packages/mui/src/~components/MuiCheckbox.css
  packages/mui/src/~forced-colors.css
Due: copyright

Move to MuiIconButton.css
  packages/mui/src/~components.css
  packages/mui/src/~components/MuiIconButton.css
Due: copyright

Fix color
  packages/mui/src/~components/MuiIconButton.css
Due: copyright

pnpm changeset
  .changeset/afraid-toys-rest.md
Due: none

Fix padding of small icon button
  packages/mui/src/~components/MuiIconButton.css
Due: copyright

Disable size for checkbox, radio, switch
  packages/mui/src/types.ts
Due: copyright, format, lint

Remove switch
  packages/mui/src/types.ts
Due: copyright, format, lint

Changeset
  .changeset/bright-readers-drop.md
Due: none

Move to MuiAutocomplete.tsx
  packages/mui/src/createTheme.tsx
  packages/mui/src/~components.tsx
  packages/mui/src/~components/MuiAutocomplete.tsx
Due: copyright, format, lint

Disable size for `Checkbox` & `Radio` (#1259)
  .changeset/bright-readers-drop.md
  packages/mui/src/types.ts
Due: copyright, format, lint

update pnpm
  .github/workflows/CI.yaml
  .github/workflows/PR.yaml
  .github/workflows/changeset-release.yaml
  .github/workflows/deploy-gh-pages.yaml
  .github/workflows/publish-npm.yaml
  CONTRIBUTING.md
  apps/test-app/scripts/Dockerfile
  package.json
Due: format

Setup MuiTextFieldInput for slots
  packages/mui/src/createTheme.tsx
  packages/mui/src/~components/MuiAutocomplete.tsx
  packages/mui/src/~components/MuiTextField.tsx
Due: copyright, format, lint

Fix spacing
  packages/mui/src/~components/MuiAutocomplete.css
Due: copyright

Render input inline to chips
  packages/foundations/src/secret-internals.ts
  packages/mui/src/~components/MuiAutocomplete.tsx
Due: copyright, format, lint

update pnpm (#1260)
  .github/workflows/CI.yaml
  .github/workflows/PR.yaml
  .github/workflows/changeset-release.yaml
  .github/workflows/deploy-gh-pages.yaml
  .github/workflows/publish-npm.yaml
  CONTRIBUTING.md
  apps/test-app/scripts/Dockerfile
  package.json
Due: format

add/update 32 icons
  .changeset/upset-brooms-bet.md
  packages/icons/icons/action-script.svg
  packages/icons/icons/binder.svg
  packages/icons/icons/branch.svg
  packages/icons/icons/delete-columns.svg
  packages/icons/icons/delete-rows.svg
  packages/icons/icons/delete-table.svg
  packages/icons/icons/drainage-tools.svg
  packages/icons/icons/format.svg
  packages/icons/icons/geospatial-connection.svg
  packages/icons/icons/geospatial-features.svg
  packages/icons/icons/git-branch.svg
  packages/icons/icons/git-merge.svg
  packages/icons/icons/mcp-server.svg
  packages/icons/icons/measure-height.svg
  packages/icons/icons/merge-cells.svg
  packages/icons/icons/microphone.svg
  packages/icons/icons/model.svg
  packages/icons/icons/move-to-group.svg
  packages/icons/icons/pipes.svg
  packages/icons/icons/pond-layout.svg
  packages/icons/icons/portable-water-pipes.svg
  packages/icons/icons/production-drawing.svg
  packages/icons/icons/reassign.svg
  packages/icons/icons/scene.svg
  packages/icons/icons/sewage-pipes.svg
  packages/icons/icons/split-cells.svg
  packages/icons/icons/storm-water-pipes.svg
  packages/icons/icons/supply-chain.svg
  packages/icons/icons/text-rotate-right.svg
  packages/icons/icons/ungroup.svg
  packages/icons/icons/window-popover.svg
  packages/icons/icons/workflow.svg
Due: none

Use loadStyles from context
  packages/foundations/src/secret-internals.ts
  packages/mui/src/~components/MuiAutocomplete.tsx
Due: copyright, format, lint

Revert display: contents
  packages/mui/src/~components/MuiAutocomplete.tsx
Due: copyright, format, lint

Same styling for default and secondary colors
  packages/mui/src/~components/MuiIconButton.css
Due: copyright

Hover color for default and secondary colors
  packages/mui/src/~components/MuiIconButton.css
Due: copyright

Apply forced colors by @FlyersPh9
  packages/mui/src/~forced-colors.css
Due: copyright

Error styling for Button
  packages/mui/src/~forced-colors.css
Due: copyright

Rm forced-color-adjust to avoid box-shadow weirdness
  packages/mui/src/~forced-colors.css
Due: copyright

Keep forced-color-adjust for error button only
  packages/mui/src/~forced-colors.css
Due: copyright

component introduction
  apps/website/src/content/docs/components/Introduction.md
Due: none

Document StrataKit modifications for checkbox & radio
  apps/website/src/content/docs/components/Checkbox.md
  apps/website/src/content/docs/components/Radio.md
Due: none

Added touch target
  apps/website/src/content/docs/components/Checkbox.md
  apps/website/src/content/docs/components/Radio.md
Due: none
