Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

copyright:
  run: pnpm lint:copyright {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm biome format --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm biome lint --write {staged_files}
  stage_fixed: true

Accordion details text color
  packages/mui/src/~components/MuiAccordion.css
Due: copyright

Update packages/mui/src/~createTheme.tsx
  packages/mui/src/~createTheme.tsx
Due: copyright, format, lint

implement toolbar for view source and other actions
  apps/test-app/app/mui/mui.module.css
  apps/test-app/app/mui/mui.tsx
Due: copyright, format, lint

Reword to avoid orientation/reorientate soup.
  apps/website/src/content/docs/components/stratakit/Toolbar.md
Due: none

Rm menuitem icons and use small size
  examples/structures/Toolbar.menu.tsx
Due: copyright, format, lint

Target `.MuiPaper-rounded`
  packages/mui/src/~components/MuiAccordion.css
Due: copyright

move examplesContainer into separate file
  apps/test-app/app/mui/mui.module.css
  apps/test-app/app/mui/mui.tsx
  apps/test-app/app/~examples.module.css
  apps/test-app/app/~examples.tsx
Due: copyright, format, lint

Document square set to true
  apps/website/src/content/docs/components/mui/Accordion.md
Due: none

PR automation where current quarter is assigned when submitted
  .github/workflows/PR.yaml
Due: none

Set H2 in a different way
  examples/mui/Accordion.multiple.tsx
Due: copyright, format, lint

Update apps/website/src/content/docs/guides/structure.md
  apps/website/src/content/docs/guides/structure.md
Due: none

Rename `endIcon` to `suffix`
  apps/test-app/app/tests/navigation-rail/index.tsx
  packages/structures/src/NavigationRail.css
  packages/structures/src/NavigationRail.tsx
Due: copyright, format, lint

removed /docs prefixes
  apps/website/src/content/docs/guides/structure.md
Due: none

linked landmarks to MDN
  apps/website/src/content/docs/guides/structure.md
Due: none

removed variants from heading structure (thought they changed the semantics but they only apply the style)
  apps/website/src/content/docs/guides/structure.md
Due: none

flase headings warning and render guidance
  apps/website/src/content/docs/guides/structure.md
Due: none

Add subcomponents
  packages/structures/src/NavigationRail.tsx
Due: copyright, format, lint

skip link link
  apps/website/src/content/docs/guides/structure.md
Due: none

react to prop rename
  examples/structures/NavigationRail.comprehensive.tsx
Due: copyright, format, lint

Update after rename
  examples/structures/NavigationRail.comprehensive.tsx
Due: copyright, format, lint

Rename in changeset
  .changeset/early-moose-find.md
Due: none

docs
  packages/structures/src/NavigationRail.tsx
Due: copyright, format, lint

Update apps/website/src/content/docs/components/mui/Avatar.md
  apps/website/src/content/docs/components/mui/Avatar.md
Due: none

Update apps/website/src/content/docs/components/mui/AvatarGroup.md
  apps/website/src/content/docs/components/mui/AvatarGroup.md
Due: none

Co-authored-by: Gerardas B. <10091419+GerardasB@users.noreply.github.com>
  packages/mui/src/types.ts
Due: copyright, format, lint

Revert "Link to Toolbar component page from other components"
  apps/website/src/content/docs/components/mui/Button.md
  apps/website/src/content/docs/components/mui/Checkbox.md
  apps/website/src/content/docs/components/mui/Divider.md
  apps/website/src/content/docs/components/mui/IconButton.md
  apps/website/src/content/docs/components/mui/Radio.md
  apps/website/src/content/docs/components/mui/Switch.md
Due: none

Remove pseudo element divider between adjascent outlined accordions
  packages/mui/src/~components/MuiAccordion.css
Due: copyright

reinstated /docs for MDN links
  apps/website/src/content/docs/guides/structure.md
Due: none

Dense menu
  examples/structures/Toolbar.menu.tsx
Due: copyright, format, lint

Remove "Choose" from labels
  examples/mui/Autocomplete.multiple.tsx
  examples/mui/Select.multiple.tsx
Due: copyright, format, lint

:
  examples/mui/Checkbox.error.tsx
  examples/mui/Checkbox.group.tsx
  examples/mui/RadioGroup.error.tsx
  examples/mui/Slider.default.tsx
  examples/mui/Slider.marks.tsx
  examples/mui/Slider.range.tsx
  examples/mui/Slider.sizes.tsx
  examples/mui/Slider.tooltip.tsx
  examples/mui/Slider.vertical.tsx
  examples/mui/TextField._disabled.tsx
  examples/mui/TextField.default.tsx
  examples/mui/TextField.error.tsx
  examples/mui/TextField.multiline.tsx
  examples/mui/TextField.sizes.tsx
Due: copyright, format, lint

setup knobs
  apps/test-app/app/mui/mui.tsx
  apps/test-app/app/~examples.module.css
  apps/test-app/app/~examples.tsx
  apps/test-app/app/~utils.tsx
Due: copyright, format, lint

add knobs to examples
  apps/test-app/app/mui/Accordion.showcase.tsx
  apps/test-app/app/mui/Alert.showcase.tsx
  apps/test-app/app/mui/Autocomplete.showcase.tsx
  apps/test-app/app/mui/Button.showcase.tsx
  apps/test-app/app/mui/ButtonGroup.showcase.tsx
  apps/test-app/app/mui/Checkbox.showcase.tsx
  apps/test-app/app/mui/Chip.showcase.tsx
  apps/test-app/app/mui/CircularProgress.showcase.tsx
  apps/test-app/app/mui/IconButton.showcase.tsx
  apps/test-app/app/mui/LinearProgress.showcase.tsx
  apps/test-app/app/mui/Link.showcase.tsx
  apps/test-app/app/mui/Pagination.showcase.tsx
  apps/test-app/app/mui/RadioGroup.showcase.tsx
  apps/test-app/app/mui/Rating.showcase.tsx
  apps/test-app/app/mui/Select.showcase.tsx
  apps/test-app/app/mui/Slider.showcase.tsx
  apps/test-app/app/mui/Switch.showcase.tsx
  apps/test-app/app/mui/TextField.showcase.tsx
  apps/test-app/app/mui/ToggleButton.showcase.tsx
Due: copyright, format, lint

move `ThemeProvider` out of `createKnob`
  apps/test-app/app/mui/mui.tsx
  apps/test-app/app/~examples.tsx
  apps/test-app/app/~utils.tsx
Due: copyright, format, lint

More realistic example.
  examples/mui/TextField.icon.tsx
Due: copyright, format, lint

remove leftover examples
  apps/test-app/app/mui/TextField.showcase.tsx
  apps/test-app/app/mui/ToggleButton.showcase.tsx
  examples/mui/TextField._disabled.tsx
  examples/mui/ToggleButton._disabled.tsx
Due: copyright, format, lint

Fix grabbing cursor
  packages/mui/src/~components/MuiSlider.css
Due: copyright

Changeset
  .changeset/flat-experts-worry.md
Due: none

Path conditions:
  copyright: any of: *.{js,ts,jsx,tsx,css,html}
  format: any of: *.{js,ts,jsx,tsx,json,jsonc}
  lint: any of: *.{js,ts,jsx,tsx}
