Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    copyright:
      glob: "*.{js,ts,jsx,tsx,css,html}"
      run: pnpm lint:copyright {staged_files} --fix
      stage_fixed: true

    format:
      glob: "*.{js,ts,jsx,tsx,json,jsonc}"
      run: pnpm biome format --write {staged_files}
      stage_fixed: true

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm biome lint --write {staged_files}
      stage_fixed: true

    prettier:
      exclude:
        - "*.{js,ts,jsx,tsx,cjs,cts,mjs,mts,json,jsonc}"
      run: pnpm exec prettier {staged_files} --ignore-unknown --write
      stage_fixed: true

fix `Toolbar.Item` alignment (#889)
  .changeset/ninety-taxis-give.md
  packages/structures/src/Toolbar.css
Due: copyright

bump foundations
  packages/bricks/package.json
  packages/compat/package.json
  packages/foundations/CHANGELOG.md
  packages/foundations/package.json
  packages/structures/package.json
  pnpm-lock.yaml
Due: format

update changelogs
  packages/bricks/CHANGELOG.md
  packages/compat/CHANGELOG.md
  packages/structures/CHANGELOG.md
Due: none

add secret `TooltipContext` for adjusting `placement`
  packages/bricks/src/Tooltip.internal.tsx
  packages/bricks/src/Tooltip.tsx
  packages/bricks/src/secret-internals.ts
Due: copyright, format, lint

Comments
  apps/test-app/app/compat/select.tsx
  packages/compat/src/Select.tsx
Due: copyright, format, lint

Fix order in `useEventHandlers`
  packages/compat/src/Select.tsx
Due: copyright, format, lint

Fix tests
  apps/test-app/app/compat/select.tsx
Due: copyright, format, lint

Apply border in forced colors
  packages/structures/src/Dialog.css
Due: copyright

Use box-shadow variable.
  packages/structures/src/Dialog.css
Due: copyright

Avoid renderBackdrop var
  packages/structures/src/Dialog.tsx
Due: copyright, format, lint

Initial & unfinished commit.
  apps/test-app/app/tests/text-box/index.tsx
  packages/bricks/src/TextBox.css
Due: copyright, format, lint

final touches
  packages/compat/src/Select.tsx
Due: copyright, format, lint

remove re-exports
  packages/compat/src/Select.tsx
Due: copyright, format, lint

changeset
  .changeset/yummy-turtles-cut.md
Due: none

Add `Select` compatibility component (#729)
  .changeset/yummy-turtles-cut.md
  apps/test-app/app/compat/select.tsx
  apps/test-app/app/~meta.ts
  packages/compat/src/Select.tsx
  packages/compat/src/index.ts
Due: copyright, format, lint

fix lockfile
  pnpm-lock.yaml
Due: none

dedupe
  pnpm-lock.yaml
Due: none

update playwright versions everywhere
  .github/workflows/CI.yaml
  apps/test-app/scripts/Dockerfile
Due: none

convert `icons-list.cts` to ESM
  packages/icons/package.json
  packages/icons/scripts/icons-list.ts
Due: copyright, format, lint

update snaps
  apps/test-app/app/tests/checkbox/index.spec.ts-snapshot.-visual-checked-1-chromium-linux.png
  apps/test-app/app/tests/checkbox/index.spec.ts-snapshot.-visual-checked-1-firefox-linux.png
  apps/test-app/app/tests/checkbox/index.spec.ts-snapshot.-visual-checked-1-webkit-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/kbd/index.spec.ts-snapshot.-visual-all-symbols-1-chromium-linux.png
  apps/test-app/app/tests/kbd/index.spec.ts-snapshot.-visual-all-symbols-1-firefox-linux.png
  apps/test-app/app/tests/select/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/switch/index.spec.ts-snapshot.-visual-disabled-1-webkit-linux.png
  apps/test-app/app/tests/switch/index.spec.ts-snapshot.-visual-disabled-checked-1-webkit-linux.png
  apps/test-app/app/tests/text-box/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/text-box/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/text-box/index.spec.ts-snapshot.-visual-focus-outline-composition-1-chromium-linux.png
  apps/test-app/app/tests/toolbar/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
Due: none

add secret `TooltipContext` for adjusting `placement` (#883)
  packages/bricks/src/Tooltip.internal.tsx
  packages/bricks/src/Tooltip.tsx
  packages/bricks/src/secret-internals.ts
Due: copyright, format, lint

Add important to global focus outline.
  packages/foundations/src/~global.css
Due: copyright

Add to important component overrides...but they don't work.
  packages/bricks/src/TextBox.css
  packages/structures/src/AccordionItem.css
  packages/structures/src/TreeItem.css
Due: copyright

add/update 13 icons
  packages/icons/icons/area-parking.svg
  packages/icons/icons/boundary-property.svg
  packages/icons/icons/equals.svg
  packages/icons/icons/eraser.svg
  packages/icons/icons/grading-constraints.svg
  packages/icons/icons/rule-delta-create.svg
  packages/icons/icons/rule-slope-create.svg
  packages/icons/icons/table.svg
  packages/icons/icons/vertex-control-direction.svg
  packages/icons/icons/vertex-control-slope.svg
  packages/icons/icons/vertex-mesh-add.svg
  packages/icons/icons/vertex-mesh-control.svg
  packages/icons/icons/visibility-invert.svg
Due: none

Add hideOnEscape prop
  apps/test-app/app/tests/dialog/index.tsx
  packages/structures/src/Dialog.tsx
Due: copyright, format, lint

Add tests
  apps/test-app/app/tests/dialog/index.spec.ts
  apps/test-app/app/tests/dialog/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/dialog/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/dialog/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/dialog/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/dialog/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
Due: copyright, format, lint

changeset
  .changeset/open-eggs-wait.md
Due: none

add/update 13 icons (#896)
  .changeset/open-eggs-wait.md
  packages/icons/icons/area-parking.svg
  packages/icons/icons/boundary-property.svg
  packages/icons/icons/equals.svg
  packages/icons/icons/eraser.svg
  packages/icons/icons/grading-constraints.svg
  packages/icons/icons/rule-delta-create.svg
  packages/icons/icons/rule-slope-create.svg
  packages/icons/icons/table.svg
  packages/icons/icons/vertex-control-direction.svg
  packages/icons/icons/vertex-control-slope.svg
  packages/icons/icons/vertex-mesh-add.svg
  packages/icons/icons/vertex-mesh-control.svg
  packages/icons/icons/visibility-invert.svg
Due: none

update changelogs
  packages/compat/CHANGELOG.md
  packages/icons/CHANGELOG.md
Due: none

Add wrapper element
  packages/structures/src/Dialog.css
  packages/structures/src/Dialog.tsx
Due: copyright, format, lint

make `Icon` respect any valid `href`
  .changeset/beige-forks-talk.md
  .changeset/brave-eagles-camp.md
  .changeset/poor-boxes-stop.md
  apps/test-app/app/icons.tsx
  apps/test-app/app/sandbox/index.tsx
  apps/test-app/app/tests/icon/index.tsx
  apps/test-app/app/tests/toolbar/index.tsx
  packages/foundations/src/Icon.tsx
  packages/icons/README.md
  packages/structures/src/Toolbar.tsx
Due: copyright, format, lint

Portal dialog manually to the wrapper.
  packages/structures/src/Dialog.tsx
Due: copyright, format, lint

Extract DialogWrapper component.
  packages/structures/src/Dialog.tsx
Due: copyright, format, lint

Avoid space-between
  packages/structures/src/Dialog.css
  packages/structures/src/Dialog.tsx
Due: copyright, format, lint

Avoid justify-content: end; in footer
  packages/structures/src/Dialog.css
  packages/structures/src/Dialog.tsx
Due: copyright, format, lint

Use shorthand inset
  packages/structures/src/Dialog.css
Due: copyright

Rename Dialog.DismissButton to Dialog.Action
  .changeset/floppy-lemons-rest.md
  apps/test-app/app/tests/dialog/index.tsx
  packages/structures/src/Dialog.css
  packages/structures/src/Dialog.tsx
Due: copyright, format, lint

clarify default symbol
  packages/foundations/src/Icon.tsx
Due: copyright, format, lint

make `Icon` respect any valid `href` (#888)
  .changeset/beige-forks-talk.md
  .changeset/brave-eagles-camp.md
  .changeset/poor-boxes-stop.md
  apps/test-app/app/icons.tsx
  apps/test-app/app/sandbox/index.tsx
  apps/test-app/app/tests/icon/index.tsx
  apps/test-app/app/tests/toolbar/index.tsx
  packages/foundations/src/Icon.tsx
  packages/icons/README.md
  packages/structures/src/Toolbar.tsx
Due: copyright, format, lint

Use display: grid in wrapper.
  packages/structures/src/Dialog.css
Due: copyright
