Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    copyright:
      glob: "*.{js,ts,jsx,tsx,css,html}"
      run: pnpm lint:copyright {staged_files} --fix
      stage_fixed: true

    format:
      glob: "*.{js,ts,jsx,tsx,json,jsonc}"
      run: pnpm biome format --write {staged_files}
      stage_fixed: true

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm biome lint --write {staged_files}
      stage_fixed: true

    prettier:
      exclude:
        - "*.{js,ts,jsx,tsx,cjs,cts,mjs,mts,json,jsonc}"
      run: pnpm exec prettier {staged_files} --ignore-unknown --write
      stage_fixed: true

PR feedback
  STYLEGUIDE.md
Due: none

Fix typo in: automagic
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

Fix star--filled
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

Fix brand icons
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

Remove non-existent blank.svg
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

Fix dismiss-circle.svg
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

Remove non-existent item.svg
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

Fix notifications.svg
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

Fix notifications-settings.svg
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

paint-brush.svg
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

dismiss.svg
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

report.svg
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

collapse-rows.svg
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

collapse-rows-all.svg
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

expand-rows.svg
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

expand-rows-all.svg
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

Remove save-update.svg
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

saved-views.svg
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

Add 8 new icons
  .changeset/hot-dingos-bet.md
  packages/icons/icons/commit-changes.svg
  packages/icons/icons/date-time-picker.svg
  packages/icons/icons/numberbox.svg
  packages/icons/icons/paragraph.svg
  packages/icons/icons/photo-drop.svg
  packages/icons/icons/radio-buttons.svg
  packages/icons/icons/signature.svg
  packages/icons/icons/textbox.svg
Due: none

Rm star-filled.svg
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

text-medium
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

text-small.svg
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

Rm thumbnails.svg
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

window-back.svg
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

window-expand.svg
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

zoom-in-magnifier.svg
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

zoom-out-magnifier.svg
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

Use script instead of AI
  packages/icons/icons/commit-changes.svg
  packages/icons/icons/numberbox.svg
  packages/icons/icons/radio-buttons.svg
  packages/icons/icons/signature.svg
Due: none

Add local icon example
  apps/website/src/content/docs/components/stratakit/Icon.md
  examples/mui/Icon.localSvg.svg
  examples/mui/Icon.localSvg.tsx
Due: copyright, format, lint

Simplify headings
  apps/website/src/content/docs/components/stratakit/Icon.md
Due: none

More fixes
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

Optimized output with React compiler.
  .changeset/public-jeans-camp.md
  internal/esbuild-plugins.js
  packages/bricks/scripts/build.js
  packages/foundations/scripts/build.js
  packages/internal-utils/scripts/build.js
  packages/mui/scripts/build.js
  packages/structures/scripts/build.js
Due: copyright, format, lint

Remove files for #1830
  internal/esbuild-plugins.js
  packages/bricks/scripts/build.js
  packages/foundations/scripts/build.js
  packages/internal-utils/scripts/build.js
  packages/mui/scripts/build.js
  packages/structures/scripts/build.js
Due: copyright, format, lint

Switch to recommended react plugins
  apps/test-app/package.json
  apps/test-app/vite.config.ts
  pnpm-lock.yaml
Due: copyright, format, lint

Remove unneeded dep
  apps/test-app/package.json
  pnpm-lock.yaml
Due: format

Enable MUI's focusVisible
  .changeset/rare-pugs-invite.md
  packages/mui/src/~components/MuiAutocomplete.css
  packages/mui/src/~components/MuiChip.css
  packages/mui/src/~components/MuiDatePicker.css
  packages/mui/src/~components/MuiSlider.css
  packages/mui/src/~createTheme.tsx
Due: copyright, format, lint

remove redundant forced-colors borders
  packages/mui/src/~forced-colors.css
  packages/structures/src/Dialog.css
  packages/structures/src/DropdownMenu.css
  packages/structures/src/Popover.css
  packages/structures/src/Toolbar.css
Due: copyright

Enable MUI's reducedMotion
  .changeset/funky-views-sell.md
  packages/mui/src/~components/MuiAccordion.css
  packages/mui/src/~components/MuiSlider.css
  packages/mui/src/~components/MuiTabs.css
  packages/mui/src/~createTheme.tsx
Due: copyright, format, lint

Copy paste support policy from iTwinUI
  docs/SUPPORT_POLICY.md
Due: none

Try removing CSS errors
  apps/test-app/vite.config.ts
Due: copyright, format, lint
