Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

copyright:
  run: pnpm lint:copyright {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm biome format --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm biome lint --write {staged_files}
  stage_fixed: true

Set aria-valuemin and aria-valuemax
  apps/test-app/app/routes/sandbox.tsx
Due: copyright, format, lint

add `Tooltip` to `IconButton` (#96)
  apps/test-app/app/routes/tests/icon-button/index.spec.ts
  apps/test-app/app/routes/tests/icon-button/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/routes/tests/icon-button/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/routes/tests/icon-button/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/routes/tests/icon-button/index.spec.ts-snapshot.-visual-tooltip-1-chromium-linux.png
  apps/test-app/app/routes/tests/icon-button/index.spec.ts-snapshot.-visual-tooltip-1-firefox-linux.png
  apps/test-app/app/routes/tests/icon-button/index.spec.ts-snapshot.-visual-tooltip-1-webkit-linux.png
  apps/test-app/app/routes/tests/icon-button/index.tsx
  packages/kiwi-react/src/bricks/IconButton.tsx
Due: copyright, format, lint

create `useLatestRef` and `useControlledState` private hooks (#113)
  .vscode/settings.json
  packages/kiwi-react/src/bricks/~hooks.ts
Due: copyright, format, lint

aria-controls
  apps/test-app/app/routes/sandbox.tsx
Due: copyright, format, lint

add shadow variables (#114)
  apps/test-app/app/routes/tokens.css
  apps/test-app/app/routes/tokens.module.css
  apps/test-app/app/routes/tokens.tsx
  apps/test-app/vite.config.ts
  internal/theme-dark.json
  internal/visitors.js
  packages/kiwi-react/scripts/build.js
Due: copyright, format, lint

aria-labelledby
  apps/test-app/app/routes/sandbox.tsx
Due: copyright, format, lint

move remaining cyclic toggles into `base.🌀` layer (#115)
  packages/kiwi-react/src/bricks/TextInput.css
Due: copyright

Reset to percentages when not dragging.
  apps/test-app/app/routes/sandbox.module.css
  apps/test-app/app/routes/sandbox.tsx
Due: copyright, format, lint

Add link to window splitter pattern
  apps/test-app/app/routes/sandbox.tsx
Due: copyright, format, lint

Disable user-select
  apps/test-app/app/routes/sandbox.module.css
  apps/test-app/app/routes/sandbox.tsx
Due: copyright, format, lint

22.11.0
  package.json
Due: format

Focusable separator.
  apps/test-app/app/routes/sandbox.tsx
Due: copyright, format, lint

Left/right arrow interaction.
  apps/test-app/app/routes/sandbox.tsx
Due: copyright, format, lint

fix color for disabled `Label`
  packages/kiwi-react/src/bricks/Label.css
Due: copyright

Prep for Enter key interaction.
  apps/test-app/app/routes/sandbox.tsx
Due: copyright, format, lint

Add home/end keyboard interaction.
  apps/test-app/app/routes/sandbox.tsx
Due: copyright, format, lint

Add F6 todo
  apps/test-app/app/routes/sandbox.tsx
Due: copyright, format, lint

Use color-mix for tab background color
  packages/kiwi-react/src/bricks/Tabs.css
Due: copyright

className after {...props}
  packages/kiwi-react/src/bricks/Tabs.tsx
Due: copyright, format, lint

New test image
  apps/test-app/app/routes/tests/tabs/index.spec.ts-snapshot.-visual-1-webkit-linux.png
Due: none

use Node 22 (#107)
  .github/workflows/CI.yaml
  CONTRIBUTING.md
  package.json
Due: format

fix color for disabled `Label` (#116)
  packages/kiwi-react/src/bricks/Label.css
Due: copyright

Remove outline offset from tabs now that overflow is removed.
  packages/kiwi-react/src/bricks/Tabs.css
Due: copyright

Don't use currentColor for active tab stripe color.
  packages/kiwi-react/src/bricks/Tabs.css
Due: copyright

Better forced-colors support.
  packages/kiwi-react/src/bricks/Tabs.css
Due: copyright

update tokens
  internal/theme-dark.json
  packages/kiwi-react/src/bricks/Button.css
  packages/kiwi-react/src/bricks/Checkbox.css
  packages/kiwi-react/src/bricks/ListItem.css
  packages/kiwi-react/src/bricks/Switch.css
Due: copyright, format

Initial push.
  apps/test-app/app/routes/tests/button/index.spec.ts-snapshot.-visual-1-chromium-linux.png
  apps/test-app/app/routes/tests/button/index.spec.ts-snapshot.-visual-1-firefox-linux.png
  apps/test-app/app/routes/tests/button/index.spec.ts-snapshot.-visual-1-webkit-linux.png
  apps/test-app/app/routes/tests/button/index.tsx
  apps/test-app/app/routes/tests/icon-button/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/routes/tests/icon-button/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/routes/tests/icon-button/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/routes/tests/icon-button/index.tsx
  packages/kiwi-react/src/bricks/Button.css
  packages/kiwi-react/src/bricks/Button.tsx
Due: copyright, format, lint

Add outline specific background color variables.
  packages/kiwi-react/src/bricks/Button.css
Due: copyright

update tokens (#118)
  internal/theme-dark.json
  packages/kiwi-react/src/bricks/Button.css
  packages/kiwi-react/src/bricks/Checkbox.css
  packages/kiwi-react/src/bricks/ListItem.css
  packages/kiwi-react/src/bricks/Switch.css
Due: copyright, format

Use new border disabled CSS variable.
  packages/kiwi-react/src/bricks/Tabs.css
Due: copyright

add `outline` Button variant (#119)
  apps/test-app/app/routes/tests/button/index.spec.ts-snapshot.-visual-1-chromium-linux.png
  apps/test-app/app/routes/tests/button/index.spec.ts-snapshot.-visual-1-firefox-linux.png
  apps/test-app/app/routes/tests/button/index.spec.ts-snapshot.-visual-1-webkit-linux.png
  apps/test-app/app/routes/tests/button/index.tsx
  apps/test-app/app/routes/tests/icon-button/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/routes/tests/icon-button/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/routes/tests/icon-button/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/routes/tests/icon-button/index.tsx
  packages/kiwi-react/src/bricks/Button.css
  packages/kiwi-react/src/bricks/Button.tsx
Due: copyright, format, lint

Add cursor: pointer
  packages/kiwi-react/src/bricks/Tabs.css
Due: copyright

WIP - early a11y tests
  apps/test-app/app/routes/tests/anchor/index.spec.ts
Due: copyright, format, lint

Update visuals to match Figma
  packages/kiwi-react/src/bricks/Tabs.css
Due: copyright

add `presentational` prop to `Divider`
  apps/test-app/app/routes/tests/divider/index.spec.ts
  apps/test-app/app/routes/tests/divider/index.tsx
  packages/kiwi-react/src/bricks/Divider.css
  packages/kiwi-react/src/bricks/Divider.tsx
Due: copyright, format, lint

Add active tab stripe size static variable
  packages/kiwi-react/src/bricks/Tabs.css
Due: copyright

Better -webkit-tap-highlight-color value
  packages/kiwi-react/src/bricks/Tabs.css
Due: copyright

Add styling for tabs (#68)
  apps/test-app/app/routes/tests/tabs/index.spec.ts
  apps/test-app/app/routes/tests/tabs/index.spec.ts-snapshot.-visual-1-chromium-linux.png
  apps/test-app/app/routes/tests/tabs/index.spec.ts-snapshot.-visual-1-firefox-linux.png
  apps/test-app/app/routes/tests/tabs/index.spec.ts-snapshot.-visual-1-webkit-linux.png
  packages/kiwi-react/src/bricks/Tabs.css
  packages/kiwi-react/src/bricks/Tabs.tsx
  packages/kiwi-react/src/bricks/styles.css
Due: copyright, format, lint

Initial push.
  packages/kiwi-react/src/bricks/Tabs.css
  packages/kiwi-react/src/bricks/Tabs.tsx
Due: copyright, format, lint

Remove @layers from tab list.
  packages/kiwi-react/src/bricks/Tabs.css
Due: copyright

Path conditions:
  copyright: any of: *.{js,ts,jsx,tsx,css,html}
  format: any of: *.{js,ts,jsx,tsx,json,jsonc}
  lint: any of: *.{js,ts,jsx,tsx}
