Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

copyright:
  run: pnpm lint:copyright {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm biome format --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm biome lint --write {staged_files}
  stage_fixed: true

Update apps/test-app/app/routes/tests/tooltip/index.tsx
  apps/test-app/app/routes/tests/tooltip/index.tsx
Due: copyright, format, lint

Update packages/kiwi-react/src/bricks/Tooltip.tsx
  packages/kiwi-react/src/bricks/Tooltip.tsx
Due: copyright, format, lint

Resolving the check for Accessibiity on elements
  apps/test-app/app/routes/tests/tooltip/index.spec.ts
Due: copyright, format, lint

Revert currentColor for outline-color.
  packages/kiwi-react/src/bricks/Anchor.css
Due: copyright

Use tone instead of variant
  apps/test-app/app/routes/tests/anchor/index.tsx
  packages/kiwi-react/src/bricks/Anchor.css
  packages/kiwi-react/src/bricks/Anchor.tsx
Due: copyright, format, lint

Oops.
  packages/kiwi-react/src/bricks/Anchor.css
Due: copyright

pre-declare toggled properties in the `base` layer (#97)
  packages/kiwi-react/src/bricks/Button.css
  packages/kiwi-react/src/bricks/Checkbox.css
  packages/kiwi-react/src/bricks/Input.css
  packages/kiwi-react/src/bricks/ListItem.css
  packages/kiwi-react/src/bricks/Switch.css
Due: copyright

add `isActive` prop to `IconButton` (#98)
  apps/test-app/app/routes/tests/icon-button/index.spec.ts-snapshot.-visual-1-chromium-linux.png
  apps/test-app/app/routes/tests/icon-button/index.spec.ts-snapshot.-visual-1-firefox-linux.png
  apps/test-app/app/routes/tests/icon-button/index.spec.ts-snapshot.-visual-1-webkit-linux.png
  apps/test-app/app/routes/tests/icon-button/index.tsx
  packages/kiwi-react/src/bricks/Button.css
  packages/kiwi-react/src/bricks/IconButton.tsx
Due: copyright, format, lint

Add `Anchor` variants (#82)
  apps/test-app/app/routes/tests/anchor/index.spec.ts-snapshot.-visual-1-chromium-linux.png
  apps/test-app/app/routes/tests/anchor/index.spec.ts-snapshot.-visual-1-firefox-linux.png
  apps/test-app/app/routes/tests/anchor/index.spec.ts-snapshot.-visual-1-webkit-linux.png
  apps/test-app/app/routes/tests/anchor/index.tsx
  packages/kiwi-react/src/bricks/Anchor.css
  packages/kiwi-react/src/bricks/Anchor.tsx
Due: copyright, format, lint

Change `labelPlacement` to `layout` and update tests
  apps/test-app/app/routes/tests/field/index.spec.ts
  apps/test-app/app/routes/tests/field/index.spec.ts-snapshot.-visual-1-chromium-linux.png
  apps/test-app/app/routes/tests/field/index.spec.ts-snapshot.-visual-1-firefox-linux.png
  apps/test-app/app/routes/tests/field/index.spec.ts-snapshot.-visual-1-webkit-linux.png
  apps/test-app/app/routes/tests/field/index.spec.ts-snapshot.-visual-checkable-controls-1-chromium-linux.png
  apps/test-app/app/routes/tests/field/index.spec.ts-snapshot.-visual-checkable-controls-1-firefox-linux.png
  apps/test-app/app/routes/tests/field/index.spec.ts-snapshot.-visual-checkable-controls-1-webkit-linux.png
  apps/test-app/app/routes/tests/field/index.spec.ts-snapshot.-visual-text-controls-1-chromium-linux.png
  apps/test-app/app/routes/tests/field/index.spec.ts-snapshot.-visual-text-controls-1-firefox-linux.png
  apps/test-app/app/routes/tests/field/index.spec.ts-snapshot.-visual-text-controls-1-webkit-linux.png
  apps/test-app/app/routes/tests/field/index.tsx
  packages/kiwi-react/src/bricks/Field.css
  packages/kiwi-react/src/bricks/Field.tsx
Due: copyright, format, lint

Don’t spread all of the props
  packages/kiwi-react/src/bricks/Field.tsx
Due: copyright, format, lint

Resolving padding issue on multi line and updating test images.
  apps/test-app/app/routes/tests/tooltip/index.spec.ts
  apps/test-app/app/routes/tests/tooltip/index.spec.ts-snapshot.-visual-tooltip-content-with-a-single-line-1-chromium-linux.png
  apps/test-app/app/routes/tests/tooltip/index.spec.ts-snapshot.-visual-tooltip-content-with-a-single-line-1-firefox-linux.png
  apps/test-app/app/routes/tests/tooltip/index.spec.ts-snapshot.-visual-tooltip-content-with-a-single-line-1-webkit-linux.png
  apps/test-app/app/routes/tests/tooltip/index.spec.ts-snapshot.-visual-tooltip-content-with-multiple-lines-1-chromium-linux.png
  apps/test-app/app/routes/tests/tooltip/index.spec.ts-snapshot.-visual-tooltip-content-with-multiple-lines-1-firefox-linux.png
  apps/test-app/app/routes/tests/tooltip/index.spec.ts-snapshot.-visual-tooltip-content-with-multiple-lines-1-webkit-linux.png
  packages/kiwi-react/src/bricks/Tooltip.css
  packages/kiwi-react/src/bricks/Tooltip.tsx
Due: copyright, format, lint

Update apps/test-app/app/routes/tests/tooltip/index.spec.ts
  apps/test-app/app/routes/tests/tooltip/index.spec.ts
Due: copyright, format, lint

Removal of query param
  apps/test-app/app/routes/tests/tooltip/index.spec.ts
Due: copyright, format, lint

Resolving not specifying the type prop
  apps/test-app/app/routes/tests/tooltip/index.spec.ts
  apps/test-app/app/routes/tests/tooltip/index.tsx
Due: copyright, format, lint

Remove leftover import.meta.glob
  apps/test-app/app/routes/icons.tsx
Due: copyright, format, lint

Remove unnecessary iconsList var.
  apps/test-app/app/routes/icons.tsx
Due: copyright, format, lint

Specify inlineSize for columns for better responsiveness.
  apps/test-app/app/routes/icons.tsx
Due: copyright, format, lint

Rename dev:icons to build:icons
  package.json
Due: format

Add panel-left.svg
  packages/kiwi-icons/icons/panel-left.svg
Due: none

Use panel-left in sandbox
  apps/test-app/app/routes/sandbox.tsx
Due: copyright, format, lint

Updating the JSDoc to state the default value for type.
  packages/kiwi-react/src/bricks/Tooltip.tsx
Due: copyright, format, lint

ARIA - Tooltip Strategy (#93)
  apps/test-app/app/routes/tests/tooltip/index.spec.ts
  apps/test-app/app/routes/tests/tooltip/index.tsx
  packages/kiwi-react/src/bricks/Tooltip.tsx
Due: copyright, format, lint

Resolving a merge artifact.
  apps/test-app/app/routes/tests/tooltip/index.tsx
Due: copyright, format, lint

Update packages/kiwi-react/src/bricks/Tooltip.css
  packages/kiwi-react/src/bricks/Tooltip.css
Due: copyright

Styles for the Tooltip (#81)
  apps/test-app/app/routes/tests/tooltip/index.spec.ts
  apps/test-app/app/routes/tests/tooltip/index.spec.ts-snapshot.-visual-tooltip-content-with-a-single-line-1-chromium-linux.png
  apps/test-app/app/routes/tests/tooltip/index.spec.ts-snapshot.-visual-tooltip-content-with-a-single-line-1-firefox-linux.png
  apps/test-app/app/routes/tests/tooltip/index.spec.ts-snapshot.-visual-tooltip-content-with-a-single-line-1-webkit-linux.png
  apps/test-app/app/routes/tests/tooltip/index.spec.ts-snapshot.-visual-tooltip-content-with-multiple-lines-1-chromium-linux.png
  apps/test-app/app/routes/tests/tooltip/index.spec.ts-snapshot.-visual-tooltip-content-with-multiple-lines-1-firefox-linux.png
  apps/test-app/app/routes/tests/tooltip/index.spec.ts-snapshot.-visual-tooltip-content-with-multiple-lines-1-webkit-linux.png
  apps/test-app/app/routes/tests/tooltip/index.tsx
  packages/kiwi-react/src/bricks/Tooltip.css
  packages/kiwi-react/src/bricks/styles.css
Due: copyright, format, lint

Separate search params access from JSX element assignments
  apps/test-app/app/routes/tests/field/index.tsx
Due: copyright, format, lint

Fix bad merge
  packages/kiwi-react/src/bricks/styles.css
Due: copyright

add `Tooltip` to `IconButton`
  packages/kiwi-react/src/bricks/IconButton.tsx
Due: copyright, format, lint

tests
  apps/test-app/app/routes/tests/icon-button/index.spec.ts
  apps/test-app/app/routes/tests/icon-button/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/routes/tests/icon-button/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/routes/tests/icon-button/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/routes/tests/icon-button/index.spec.ts-snapshot.-visual-tooltip-1-chromium-linux.png
  apps/test-app/app/routes/tests/icon-button/index.spec.ts-snapshot.-visual-tooltip-1-firefox-linux.png
  apps/test-app/app/routes/tests/icon-button/index.spec.ts-snapshot.-visual-tooltip-1-webkit-linux.png
  apps/test-app/app/routes/tests/icon-button/index.tsx
Due: copyright, format, lint

oop
  packages/kiwi-react/src/bricks/Button.css
Due: copyright

update `Anchor.css`
  packages/kiwi-react/src/bricks/Anchor.css
Due: copyright

Remove `value` in examples and fix whitespace
  apps/test-app/app/routes/tests/field/index.tsx
Due: copyright, format, lint

Initial styles for `<Field>` (#94)
  apps/test-app/app/routes/tests/field/index.spec.ts
  apps/test-app/app/routes/tests/field/index.spec.ts-snapshot.-visual-checkable-controls-1-chromium-linux.png
  apps/test-app/app/routes/tests/field/index.spec.ts-snapshot.-visual-checkable-controls-1-firefox-linux.png
  apps/test-app/app/routes/tests/field/index.spec.ts-snapshot.-visual-checkable-controls-1-webkit-linux.png
  apps/test-app/app/routes/tests/field/index.spec.ts-snapshot.-visual-text-controls-1-chromium-linux.png
  apps/test-app/app/routes/tests/field/index.spec.ts-snapshot.-visual-text-controls-1-firefox-linux.png
  apps/test-app/app/routes/tests/field/index.spec.ts-snapshot.-visual-text-controls-1-webkit-linux.png
  apps/test-app/app/routes/tests/field/index.tsx
  packages/kiwi-react/src/bricks/Field.css
  packages/kiwi-react/src/bricks/Field.tsx
  packages/kiwi-react/src/bricks/styles.css
Due: copyright, format, lint

use node 22
  .github/workflows/CI.yaml
  CONTRIBUTING.md
  package.json
Due: format

update `Checkbox.css`
  packages/kiwi-react/src/bricks/Checkbox.css
Due: copyright

Path conditions:
  copyright: any of: *.{js,ts,jsx,tsx,css,html}
  format: any of: *.{js,ts,jsx,tsx,json,jsonc}
  lint: any of: *.{js,ts,jsx,tsx}
