Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    copyright:
      glob: "*.{js,ts,jsx,tsx,css,html}"
      run: pnpm lint:copyright {staged_files} --fix
      stage_fixed: true

    format:
      glob: "*.{js,ts,jsx,tsx,json,jsonc}"
      run: pnpm biome format --write {staged_files}
      stage_fixed: true

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm biome lint --write {staged_files}
      stage_fixed: true

    prettier:
      exclude:
        - "*.{js,ts,jsx,tsx,cjs,cts,mjs,mts,json,jsonc}"
      run: pnpm exec prettier {staged_files} --ignore-unknown --write
      stage_fixed: true

Update H2 title
  apps/website/src/content/docs/components/Checkbox.md
  apps/website/src/content/docs/components/Radio.md
Due: none

Restructure size prop sentence order
  apps/website/src/content/docs/components/Checkbox.md
  apps/website/src/content/docs/components/Radio.md
Due: none

Expand upon pseudo elements purpose
  apps/website/src/content/docs/components/Checkbox.md
  apps/website/src/content/docs/components/Radio.md
Due: none

Expand upon touch target
  apps/website/src/content/docs/components/Checkbox.md
  apps/website/src/content/docs/components/Radio.md
Due: none

Add AI policy to Contributing guidelines
  CONTRIBUTING.md
Due: none

Add GitHub pull request template
  .github/pull_request_template.md
Due: none

Add heading, remove label, prohibit certain AI use
  CONTRIBUTING.md
Due: none

remove italics
  apps/website/src/content/docs/components/Introduction.md
Due: none

subheadings
  apps/website/src/content/docs/components/Introduction.md
Due: none

link MUI theme and replace Bentley with StrataKit
  apps/website/src/content/docs/components/Introduction.md
Due: none

link structures package
  apps/website/src/content/docs/components/Introduction.md
Due: none

remove localhost ref
  apps/website/src/content/docs/components/Introduction.md
Due: none

in-house -> separately
  apps/website/src/content/docs/components/Introduction.md
Due: none

Add list role to slot instead of the wrapper div.
  packages/mui/src/~components/MuiAutocomplete.tsx
Due: copyright, format, lint

Align Chip's H2 title
  apps/website/src/content/docs/components/Chip.md
Due: none

list of MUI modifications
  apps/website/src/content/docs/components/Introduction.md
Due: none

caution about MUI docs
  apps/website/src/content/docs/components/Introduction.md
Due: none

component status
  apps/website/src/content/docs/components/Introduction.md
Due: none

refinement of component guidance text
  apps/website/src/content/docs/components/Introduction.md
Due: none

Link to contributing guidelines
  .github/pull_request_template.md
Due: none

Initial commit
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/manual_a11y_test.yml
Due: none

Display name
  packages/mui/src/~components/MuiAutocomplete.tsx
  packages/mui/src/~components/MuiTextField.tsx
Due: copyright, format, lint

fix remnants from 1212
  .changeset/strict-pets-attack.md
  packages/mui/src/createTheme.tsx
Due: copyright, format, lint

Remove type from manual a11y test template.
  .github/ISSUE_TEMPLATE/manual_a11y_test.yml
Due: none

Updated labels, descriptions, inputs. AI was used and modified as needed.
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

add `render` prop to `Root`
  .changeset/fifty-dodos-reply.md
  packages/mui/src/Root.tsx
Due: copyright, format, lint

add `article` and heading semantics to `Card`
  .changeset/upset-baboons-admire.md
  apps/website/src/content/docs/components/Card.md
  examples/mui/Card.actions.tsx
  examples/mui/Card.default.tsx
  examples/mui/Card.header.tsx
  packages/mui/src/createTheme.tsx
Due: copyright, format, lint

remove `role="button"` from `CardActionArea`
  .changeset/two-moles-worry.md
  apps/website/src/content/docs/components/Card.md
  packages/mui/src/createTheme.tsx
Due: copyright, format, lint

Remove instructions to link issue in PR description
  .github/pull_request_template.md
Due: none

Remove changes instructions entirely
  .github/pull_request_template.md
Due: none

H2 are now H3
  .github/pull_request_template.md
Due: none

empty line to separate URL
  .github/pull_request_template.md
Due: none

Lipstick instead of stars
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

Remove OS and Node from placeholder
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

Remove most placeholders
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

Simplified inputs.
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

Apply suggestions from code review
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

Use package names in environments and versions placeholder
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

Add hover
  packages/mui/src/~components/MuiInput.css
Due: copyright

Add placeholder
  packages/mui/src/~components/MuiInput.css
Due: copyright
