Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

copyright:
  run: pnpm lint:copyright {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm biome format --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm biome lint --write {staged_files}
  stage_fixed: true

Change emphasis to type
  .changeset/quick-suns-feel.md
  apps/test-app/app/mui/Badge.showcase.tsx
  apps/website/src/content/docs/components/mui/Badge.md
  examples/mui/Badge.type.tsx
  packages/mui/src/types.ts
  packages/mui/src/~components/MuiBadge.css
  packages/mui/src/~components/MuiBadge.tsx
Due: copyright, format, lint

CircularProgress
  apps/test-app/app/mui/CircularProgress.showcase.tsx
  examples/mui/CircularProgress.determinate.tsx
Due: copyright, format, lint

LinearProgress
  apps/test-app/app/mui/LinearProgress.showcase.tsx
  examples/mui/LinearProgress.determinate.tsx
Due: copyright, format, lint

Demos displayed in a row are now more responsive.
  apps/test-app/app/mui/Avatar.showcase.tsx
  apps/test-app/app/mui/CircularProgress.showcase.tsx
  apps/test-app/app/mui/IconButton.showcase.tsx
  apps/test-app/app/mui/Link.showcase.tsx
  apps/test-app/app/mui/ToggleButton.showcase.tsx
  examples/mui/Button._icons.tsx
  examples/mui/Button._permutations.tsx
  examples/mui/Button.colors.tsx
  examples/mui/Button.sizes.tsx
  examples/mui/Button.variants.tsx
  examples/mui/Chip.sizes.tsx
  examples/mui/IconButton.sizes.tsx
  examples/mui/Link._colors.tsx
  examples/mui/Select.sizes.tsx
  examples/mui/Switch.sizes.tsx
  examples/mui/TextField.sizes.tsx
  examples/mui/ToggleButton.sizes.tsx
  examples/mui/Typography.colors.tsx
Due: copyright, format, lint

Add radio group tiles
  apps/test-app/app/mui/RadioGroup.showcase.tsx
  apps/website/src/content/docs/components/mui/Radio.md
  examples/mui/RadioGroup.tiles.module.css
  examples/mui/RadioGroup.tiles.tsx
Due: copyright, format, lint

Use MUI instead of Material
  biome.jsonc
Due: format

Apply suggestion from @mayank99
  STYLEGUIDE.md
Due: none

Update STYLEGUIDE.md
  STYLEGUIDE.md
Due: none

Drop import section in favor of linter comment
  STYLEGUIDE.md
Due: none

Add more details to linter error
  biome.jsonc
Due: format

Add changeset
  .changeset/giant-towns-happen.md
Due: none

Add to docs
  apps/website/src/content/docs/components/mui/Rating.md
Due: none

Fix focus bug
  packages/mui/src/~components/MuiRating.css
Due: copyright

Use classname instead of element
  packages/mui/src/~components/MuiRating.css
Due: copyright

Make rule targing SVG its own group
  packages/mui/src/~components/MuiRating.css
Due: copyright

First pass at viewing code
  apps/website/package.json
  apps/website/src/components/ExamplePreview.module.css
  apps/website/src/components/ExamplePreview.tsx
  pnpm-lock.yaml
Due: copyright, format, lint

Breadcrumbs menu
  apps/test-app/app/mui/Breadcrumbs.showcase.tsx
  examples/mui/Breadcrumbs.menu.tsx
Due: copyright, format, lint

Better toolbar
  apps/website/package.json
  apps/website/src/components/ExamplePreview.module.css
  apps/website/src/components/ExamplePreview.tsx
  pnpm-lock.yaml
Due: copyright, format, lint

Handle short and long code
  apps/website/src/components/ExamplePreview.module.css
  apps/website/src/components/ExamplePreview.tsx
Due: copyright, format, lint

Clean up
  apps/website/src/components/ExamplePreview.module.css
  apps/website/src/components/ExamplePreview.tsx
Due: copyright, format, lint

Use single selector
  packages/mui/src/~components/MuiRating.css
Due: copyright

fix `Alert` docs
  apps/website/src/content/docs/components/mui/Alert.md
Due: none

fix `DialogTitle` size
  .changeset/real-pants-wonder.md
  packages/mui/src/~createTheme.tsx
Due: copyright, format, lint

PR feedback
  apps/website/src/components/Breadcrumb.astro
Due: none

heading levels reqrite
  apps/website/src/content/docs/guides/component-customization.md
Due: none

note on checking/testing
  apps/website/src/content/docs/guides/component-customization.md
Due: none

typo
  apps/website/src/content/docs/guides/component-customization.md
Due: none

Revert "Use 127.0.0.1 to allow access in devcontainer"
  apps/test-app/vite.config.ts
  apps/website/astro.config.mjs
Due: copyright, format, lint

Disable ipv6 for container to allow localhost to work
  .devcontainer/devcontainer.json
Due: format

Add dot demo to docs.
  apps/website/src/content/docs/components/mui/Badge.md
Due: none

Swap prop values.
  .changeset/quick-suns-feel.md
  apps/website/src/content/docs/components/mui/Badge.md
  examples/mui/Badge.type.tsx
  packages/mui/src/types.ts
  packages/mui/src/~components/MuiBadge.css
Due: copyright, format, lint

Attempt to fix visual artifacting
  packages/mui/src/~components/MuiCircularProgress.css
Due: copyright

Remove unneeded styling and better contrast
  apps/website/src/components/Breadcrumb.astro
Due: none

Use neutral color instead of mono
  packages/mui/src/~components/MuiCircularProgress.css
Due: copyright

Add DateCalendar example
  examples/mui/DatePicker.calendar.tsx
Due: copyright, format, lint

MuiRating-iconActive on MuiRating-decimal element
  packages/mui/src/~components/MuiRating.css
Due: copyright

Remove changing default props
  apps/website/src/content/docs/components/mui/DatePicker.md
  packages/mui/src/types.ts
  packages/mui/src/~createTheme.tsx
Due: copyright, format, lint

Use color theme
  apps/website/src/components/ExamplePreview.tsx
Due: copyright, format, lint

Fix imports
  apps/website/src/components/ExamplePreview.tsx
Due: copyright, format, lint

Initial commit
  packages/mui/src/Icon.tsx
  packages/mui/src/~components.css
  packages/mui/src/~components/MuiPickersInput.css
  packages/mui/src/~createTheme.tsx
Due: copyright, format, lint

Path conditions:
  copyright: any of: *.{js,ts,jsx,tsx,css,html}
  format: any of: *.{js,ts,jsx,tsx,json,jsonc}
  lint: any of: *.{js,ts,jsx,tsx}
