Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

copyright:
  run: pnpm lint:copyright {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm biome format --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm biome lint --write {staged_files}
  stage_fixed: true

Remove unused test image.
  apps/test-app/app/tests/icon-button/index.spec.ts-snapshot.-visual-forced-colors-1-webkit-linux.png
Due: none

Kind of got the design down, probably won't work with animation yet.
  packages/kiwi-react/src/bricks/ProgressBar.css
Due: copyright

Adding animation, although not correct.
  packages/kiwi-react/src/bricks/ProgressBar.css
Due: copyright

`forced-colors` for `<Button>` & `<IconButton>` (#263)
  apps/test-app/app/tests/button/index.spec.ts
  apps/test-app/app/tests/button/index.spec.ts-snapshot.-visual-1-firefox-linux.png
  apps/test-app/app/tests/button/index.spec.ts-snapshot.-visual-1-webkit-linux.png
  apps/test-app/app/tests/button/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/button/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/button/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/button/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/button/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/icon-button/index.spec.ts
  apps/test-app/app/tests/icon-button/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/icon-button/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  packages/kiwi-react/src/bricks/Button.css
Due: copyright, format, lint

update `DropdownMenu` visuals
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-1-chromium-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-1-firefox-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-1-webkit-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.DropdownMenu-CheckboxItem-visual-1-chromium-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.DropdownMenu-CheckboxItem-visual-1-firefox-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.DropdownMenu-CheckboxItem-visual-1-webkit-linux.png
  packages/kiwi-react/src/bricks/DropdownMenu.css
  packages/kiwi-react/src/bricks/DropdownMenu.tsx
Due: copyright, format, lint

Simplify
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

Pass type to `useCollectionStore`
  packages/kiwi-react/src/bricks/FieldCollection.tsx
Due: copyright, format, lint

update `DropdownMenu` visuals (#306)
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-1-chromium-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-1-firefox-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-1-webkit-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.DropdownMenu-CheckboxItem-visual-1-chromium-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.DropdownMenu-CheckboxItem-visual-1-firefox-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.DropdownMenu-CheckboxItem-visual-1-webkit-linux.png
  packages/kiwi-react/src/bricks/DropdownMenu.css
  packages/kiwi-react/src/bricks/DropdownMenu.tsx
Due: copyright, format, lint

5.0.0-alpha.4
  packages/kiwi-react/CHANGELOG.md
  packages/kiwi-react/package.json
Due: format

DOM
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

Rename `FieldCollectionItem{Label,Control}` to `Field{Label,Control}`
  packages/kiwi-react/src/bricks/Checkbox.tsx
  packages/kiwi-react/src/bricks/FieldCollection.tsx
  packages/kiwi-react/src/bricks/Label.tsx
  packages/kiwi-react/src/bricks/Radio.tsx
  packages/kiwi-react/src/bricks/Select.tsx
  packages/kiwi-react/src/bricks/Switch.tsx
  packages/kiwi-react/src/bricks/TextBox.tsx
Due: copyright, format, lint

Merge `FieldCollection` with utils and rename utils extension
  packages/kiwi-react/src/bricks/Checkbox.tsx
  packages/kiwi-react/src/bricks/Field.tsx
  packages/kiwi-react/src/bricks/Label.tsx
  packages/kiwi-react/src/bricks/Radio.tsx
  packages/kiwi-react/src/bricks/Select.tsx
  packages/kiwi-react/src/bricks/Switch.tsx
  packages/kiwi-react/src/bricks/TextBox.tsx
  packages/kiwi-react/src/bricks/~utils.ts
  packages/kiwi-react/src/bricks/~utils.tsx
Due: copyright, format, lint

Infer CollectionStoreItem from Ariakit (not final)
  packages/kiwi-react/src/bricks/~utils.tsx
Due: copyright, format, lint

Get the `CollectionStoreItem` type from the store
  packages/kiwi-react/src/bricks/~utils.tsx
Due: copyright, format, lint

Simplify
  packages/kiwi-react/src/bricks/~utils.tsx
Due: copyright, format, lint

Remove comment dividers between Collection-related exports/types
  packages/kiwi-react/src/bricks/~utils.tsx
Due: copyright, format, lint

Code cleanup.
  packages/kiwi-react/src/bricks/ProgressBar.css
Due: copyright

forced-colors and reduced motion.
  packages/kiwi-react/src/bricks/ProgressBar.css
Due: copyright

Add tests.
  apps/test-app/app/tests/progress-bar/index.spec.ts
Due: copyright, format, lint

Sandbox header as a `<Select>` (#274)
  apps/test-app/app/sandbox.module.css
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

Initial commit.
  apps/test-app/app/sandbox.module.css
Due: copyright

`@itwin/itwinui-icons@5.0.0-alpha.2`
  packages/kiwi-icons/package.json
Due: format

Fix tree route
  apps/test-app/app/sandbox.tsx
  apps/test-app/app/tests/tree/index.tsx
Due: copyright, format, lint

Add complex tree back.
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

Inline SandboxTreeItem
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

Add defaultCollapsed back.
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

Fix tests
  apps/test-app/app/tests/tree/index.spec.ts
Due: copyright, format, lint

Attribute assertions
  apps/test-app/app/tests/tree/index.spec.ts
Due: copyright, format, lint

Change selectedId type.
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

Replace popover with dropdown menu
  apps/test-app/app/sandbox.module.css
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

Keep aria-live alive.
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

Place descriptions based on label position and control type (#260)
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-checkable-controls-1-chromium-linux.png
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-checkable-controls-1-firefox-linux.png
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-checkable-controls-1-webkit-linux.png
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-text-controls-1-chromium-linux.png
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-text-controls-1-firefox-linux.png
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-text-controls-1-webkit-linux.png
  apps/test-app/app/tests/select/index.spec.ts-snapshot.-visual-1-webkit-linux.png
  apps/test-app/app/tests/select/index.tsx
  packages/kiwi-react/src/bricks/Checkbox.tsx
  packages/kiwi-react/src/bricks/Description.tsx
  packages/kiwi-react/src/bricks/Field.css
  packages/kiwi-react/src/bricks/Field.tsx
  packages/kiwi-react/src/bricks/Label.tsx
  packages/kiwi-react/src/bricks/Radio.tsx
  packages/kiwi-react/src/bricks/Select.tsx
  packages/kiwi-react/src/bricks/Switch.tsx
  packages/kiwi-react/src/bricks/TextBox.tsx
  packages/kiwi-react/src/bricks/~utils.ts
  packages/kiwi-react/src/bricks/~utils.tsx
Due: copyright, format, lint

Adjust cell padding. Cell padding and row min height are now variables to support density in the future.
  packages/kiwi-react/src/bricks/Table.css
Due: copyright

`forced-colors` for sandbox splitter (#340)
  apps/test-app/app/sandbox.module.css
Due: copyright

Handle `id` assignment inside `FieldLabel` and `FieldControl`
  packages/kiwi-react/src/bricks/Checkbox.tsx
  packages/kiwi-react/src/bricks/Field.tsx
  packages/kiwi-react/src/bricks/Label.tsx
  packages/kiwi-react/src/bricks/Radio.tsx
  packages/kiwi-react/src/bricks/Select.tsx
  packages/kiwi-react/src/bricks/Switch.tsx
  packages/kiwi-react/src/bricks/TextBox.tsx
  packages/kiwi-react/src/bricks/~utils.tsx
Due: copyright, format, lint

moved context props around
  packages/kiwi-react/src/bricks/Table.css
  packages/kiwi-react/src/bricks/Table.tsx
Due: copyright, format, lint

moved context props around
  packages/kiwi-react/src/bricks/Table.tsx
Due: copyright, format, lint

`Tree.Item`: add `value` and `parentValue` to derive ARIA attributes
  apps/test-app/app/sandbox.tsx
  apps/test-app/app/tests/tree/index.tsx
  packages/kiwi-react/src/bricks/Tree.tsx
Due: copyright, format, lint

Remove unnecessary export
  packages/kiwi-react/src/bricks/~utils.tsx
Due: copyright, format, lint

Avoid type assertion
  packages/kiwi-react/src/bricks/~utils.tsx
Due: copyright, format, lint

Path conditions:
  copyright: any of: *.{js,ts,jsx,tsx,css,html}
  format: any of: *.{js,ts,jsx,tsx,json,jsonc}
  lint: any of: *.{js,ts,jsx,tsx}
