Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    copyright:
      glob: "*.{js,ts,jsx,tsx,css,html}"
      run: pnpm lint:copyright {staged_files} --fix
      stage_fixed: true

    format:
      glob: "*.{js,ts,jsx,tsx,json,jsonc}"
      run: pnpm biome format --write {staged_files}
      stage_fixed: true

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm biome lint --write {staged_files}
      stage_fixed: true

    prettier:
      exclude:
        - "*.{js,ts,jsx,tsx,cjs,cts,mjs,mts,json,jsonc}"
      run: pnpm exec prettier {staged_files} --ignore-unknown --write
      stage_fixed: true

Add Tree.ErrorItemAction
  apps/test-app/app/tests/tree/index.tsx
  packages/kiwi-react/src/bricks/Tree.tsx
  packages/kiwi-react/src/bricks/TreeError.css
  packages/kiwi-react/src/bricks/TreeError.tsx
Due: copyright, format, lint

Remove determinate state, will come in a separate PR.
  apps/test-app/app/tests/spinner/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/spinner/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/spinner/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/spinner/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/spinner/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/spinner/index.tsx
  packages/kiwi-react/src/bricks/Spinner.css
  packages/kiwi-react/src/bricks/Spinner.tsx
Due: copyright, format, lint

Use Canvas instead of Transparent for track color.
  packages/kiwi-react/src/bricks/Spinner.css
Due: copyright

🛫
  apps/test-app/app/sandbox.module.css
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

spacing fix for when collapsing tree items in tab panel
  apps/test-app/app/sandbox.module.css
  packages/kiwi-react/src/bricks/Tabs.css
Due: copyright

bump `@babel` deps to fix audit
  pnpm-lock.yaml
Due: none

Associate error message with the tree item
  apps/test-app/app/tests/tree/index.tsx
  packages/kiwi-react/src/bricks/Tree.internal.tsx
  packages/kiwi-react/src/bricks/Tree.tsx
  packages/kiwi-react/src/bricks/TreeError.tsx
  packages/kiwi-react/src/bricks/TreeItem.tsx
Due: copyright, format, lint

bump `@babel/` deps to fix audit (#452)
  pnpm-lock.yaml
Due: none

Add to sandbox
  apps/test-app/app/sandbox.model1.json
  apps/test-app/app/sandbox.module.css
  apps/test-app/app/sandbox.tsx
  packages/kiwi-react/src/bricks/TreeError.css
  packages/kiwi-react/src/bricks/TreeError.tsx
  packages/kiwi-react/src/bricks/TreeItem.tsx
Due: copyright, format, lint

Fix description color
  packages/kiwi-react/src/bricks/TreeItem.css
Due: copyright

nit
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

Changes from designers.
  apps/test-app/app/tests/spinner/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/spinner/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/spinner/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/spinner/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/spinner/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  packages/kiwi-react/src/bricks/Spinner.css
Due: copyright

Fix model 3
  apps/test-app/app/sandbox.module.css
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

Sandbox retry
  apps/test-app/app/sandbox.model1.json
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

Anchor button text alignment
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

`localStorage`
  Dockerfile
  apps/test-app/app/tests/tests.module.css
  apps/test-app/app/tests/tests.tsx
  apps/test-app/playwright.config.ts
Due: copyright, format, lint

Add error expander
  apps/test-app/app/sandbox.tsx
  apps/test-app/app/tests/tree/index.tsx
  packages/kiwi-react/src/bricks/Icon.css
  packages/kiwi-react/src/bricks/Icon.tsx
  packages/kiwi-react/src/bricks/TreeError.css
  packages/kiwi-react/src/bricks/TreeError.tsx
  packages/kiwi-react/src/bricks/TreeItem.css
  packages/kiwi-react/src/bricks/TreeItem.tsx
Due: copyright, format, lint

Back button
  apps/test-app/app/tests/tests.module.css
  apps/test-app/app/tests/tests.tsx
Due: copyright, format, lint

Do not shift on expand
  apps/test-app/app/tests/tree/index.tsx
  packages/kiwi-react/src/bricks/TreeError.css
Due: copyright, format, lint

Add divider
  packages/kiwi-react/src/bricks/TreeError.css
  packages/kiwi-react/src/bricks/TreeError.tsx
Due: copyright, format, lint

Move error into scrollable container.
  apps/test-app/app/sandbox.module.css
  apps/test-app/app/tests/tree/index.tsx
  packages/kiwi-react/src/bricks/TreeError.css
  packages/kiwi-react/src/bricks/TreeItem.css
Due: copyright, format, lint

Docs
  packages/kiwi-react/src/bricks/TreeError.tsx
Due: copyright, format, lint

Formatting
  packages/kiwi-react/src/bricks/TreeItem.css
Due: copyright

Omit children
  packages/kiwi-react/src/bricks/TreeError.tsx
Due: copyright, format, lint

Fix bad copypasta.
  apps/test-app/app/tests/spinner/index.spec.ts
Due: copyright, format, lint

stroke-dasharray is now a CSS variable.
  packages/kiwi-react/src/bricks/Spinner.css
Due: copyright

Namespace keyframe.
  packages/kiwi-react/src/bricks/Skeleton.css
Due: copyright

Fix solid button accent icon fill.
  packages/kiwi-react/src/bricks/Button.css
Due: copyright

Comments
  apps/test-app/app/tests/tests.tsx
  apps/test-app/app/~utils.tsx
  apps/test-app/playwright.config.ts
Due: copyright, format, lint

Remove comments
  apps/test-app/playwright.config.ts
Due: copyright, format, lint

Fix `<Button variant="solid" tone="accent">` icon fill on pressed state (#456)
  packages/kiwi-react/src/bricks/Button.css
Due: copyright

Add solid critical button.
  apps/test-app/app/tests/button/index.spec.ts
  apps/test-app/app/tests/button/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/button/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/button/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/button/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/button/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/button/index.tsx
  packages/kiwi-react/src/bricks/Button.css
  packages/kiwi-react/src/bricks/Button.tsx
Due: copyright, format, lint

Better abstraction
  apps/test-app/app/tests/tests.module.css
  apps/test-app/app/tests/tests.tsx
  apps/test-app/app/~utils.module.css
  apps/test-app/app/~utils.tsx
Due: copyright, format, lint

Non random
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

transform-origin set to center
  packages/kiwi-react/src/bricks/Spinner.css
Due: copyright

Comments
  apps/test-app/app/~utils.module.css
  apps/test-app/app/~utils.tsx
Due: copyright, format, lint

Animation shorthand similar to progress bar
  packages/kiwi-react/src/bricks/Spinner.css
Due: copyright

Slow animation after 4 seconds.
  packages/kiwi-react/src/bricks/Spinner.css
Due: copyright

turn tabpanel into static div while searching
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint
