Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

copyright:
  run: pnpm lint:copyright {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm biome format --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm biome lint --write {staged_files}
  stage_fixed: true

More guidance in change log
  .changeset/full-loops-exist.md
Due: none

Update table caption and pagination spacing
  packages/mui/src/~components/MuiTable.css
  packages/mui/src/~components/MuiToolbar.css
Due: copyright

Alphabetical sorting
  packages/mui/src/types.ts
Due: copyright, format, lint

Use id for container lookup
  packages/structures/src/Dialog.tsx
Due: copyright, format, lint

Comment on missing unstable_getContainer
  packages/structures/src/Popover.tsx
Due: copyright, format, lint

Add-back unstable_portalProvider
  packages/foundations/src/Root.internal.tsx
  packages/foundations/src/Root.tsx
  packages/foundations/src/secret-internals.ts
  packages/mui/src/Root.tsx
Due: copyright, format, lint

portal boundary -> portal provider
  .changeset/plain-ways-repair.md
  apps/website/src/content/docs/components/mui/Dialog.md
  apps/website/src/content/docs/components/mui/Drawer.md
  apps/website/src/content/docs/components/mui/Popover.md
Due: none

Link to from guide from develop.mdx
  apps/website/src/content/docs/getting-started/develop.mdx
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

more ambiguity
  apps/website/src/content/docs/components/stratakit/ErrorRegion.md
Due: none

description now parses and is not Tree specific
  apps/website/src/content/docs/components/stratakit/ErrorRegion.md
Due: none

Move foundations to peerDependencies
  .changeset/famous-numbers-tickle.md
  packages/bricks/package.json
  packages/mui/package.json
  packages/structures/package.json
Due: format

rephrasing to not assume selection
  apps/website/src/content/docs/components/stratakit/Tree.md
Due: none

typo
  apps/website/src/content/docs/components/stratakit/Tree.md
Due: none

change default `caption-side`
  .changeset/fast-socks-roll.md
  apps/website/src/content/docs/components/mui/Table.md
  examples/mui/Table.footer.module.css
  examples/mui/Table.footer.tsx
  packages/mui/src/~components/MuiTable.css
Due: copyright, format, lint

Do not export PortalProvider
  packages/foundations/src/Root.internal.tsx
  packages/foundations/src/Root.tsx
  packages/foundations/src/secret-internals.ts
  packages/mui/src/Root.internal.tsx
  packages/mui/src/~components/MuiDialog.tsx
  packages/mui/src/~components/MuiDrawer.tsx
  packages/mui/src/~components/MuiPopover.tsx
  packages/structures/src/Dialog.tsx
  packages/structures/src/Popover.tsx
  packages/structures/src/~PortalProvider.tsx
Due: copyright, format, lint

Apply suggestion from @GerardasB
  apps/website/src/content/docs/components/stratakit/ErrorRegion.md
Due: none

Format
  apps/website/src/content/docs/components/stratakit/ErrorRegion.md
Due: none

Add ErrorRegion.tree example
  apps/website/src/content/docs/components/stratakit/ErrorRegion.md
  examples/structures/ErrorRegion.tree.module.css
  examples/structures/ErrorRegion.tree.tsx
Due: copyright, format, lint

remove deprecated `Toolbar` CSS
  packages/mui/src/~components.css
  packages/mui/src/~components/MuiToolbar.css
Due: copyright

token removals
  .changeset/rare-cars-glow.md
  internal/theme-dark.json
  internal/theme-light.json
Due: format

snapshots
  apps/test-app/app/tests/select/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/select/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/text-box/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/text-box/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
Due: none

update token usage
  .changeset/wicked-deer-decide.md
  apps/test-app/app/tokens.module.css
  apps/website/src/styles/overrides.css
  packages/mui/src/~components/MuiAccordion.css
  packages/mui/src/~components/MuiBadge.css
Due: copyright

replace `text-glow` and `icon-glow` tokens
  .changeset/empty-shirts-smash.md
  packages/bricks/src/Anchor.css
  packages/bricks/src/Button.css
Due: copyright

rename space token scale
  .changeset/famous-nights-juggle.md
  packages/foundations/src/~space.css
Due: copyright

use text-neutral-placeholder
  .changeset/every-eyes-show.md
  packages/bricks/src/Select.css
  packages/bricks/src/TextBox.css
  packages/mui/src/~components/MuiDatePicker.css
  packages/mui/src/~components/MuiInput.css
Due: copyright

rename `text-control-placeholder` to `text-neutral-placeholder`
  .changeset/free-ends-mate.md
  internal/theme-dark.json
  internal/theme-light.json
Due: format

add space-150
  .changeset/famous-nights-juggle.md
  packages/bricks/src/Select.css
  packages/foundations/src/~space.css
  packages/mui/src/~components/MuiMenu.css
  packages/structures/src/TreeItem.css
Due: copyright

Add `ErrorRegion.tree` example (#1799)
  apps/website/src/content/docs/components/stratakit/ErrorRegion.md
  examples/structures/ErrorRegion.tree.module.css
  examples/structures/ErrorRegion.tree.tsx
Due: copyright, format, lint

rename `font-size` tokens
  .changeset/tired-geese-end.md
  internal/lightningcss.js
  internal/lightningcss.tokens.js
  internal/typography.json
  internal/typography.mixins.css
  packages/foundations/src/~typography.css
Due: copyright, format, lint

update font-size token usage
  apps/test-app/app/index.module.css
  apps/test-app/app/sandbox/index.module.css
  apps/website/src/components/IconList.astro
  apps/website/src/styles/overrides.css
  examples/mui/Tabs.sizes.module.css
  packages/bricks/src/Avatar.css
  packages/bricks/src/Button.css
  packages/bricks/src/Select.css
  packages/bricks/src/TextBox.css
  packages/mui/src/~components/MuiAvatar.css
  packages/structures/src/NavigationList.css
  packages/structures/src/Tabs.css
  packages/structures/src/~utils.ListItem.css
Due: copyright

add radius tokens
  .changeset/spicy-facts-sip.md
  packages/foundations/src/~radius.css
  packages/foundations/src/~styles.css
Due: copyright

update Skeleton.css separately
  .changeset/plain-kings-enjoy.md
  apps/test-app/app/tests/skeleton/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/skeleton/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/skeleton/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/skeleton/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  packages/bricks/src/Skeleton.css
Due: copyright

Update wording in Popover.md
  apps/website/src/content/docs/components/mui/Popover.md
Due: none

add `line-height` tokens
  .changeset/dull-tips-obey.md
  apps/test-app/app/tests/text/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/text/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/text/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/text/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  internal/typography.mixins.css
  packages/foundations/src/~typography.css
Due: copyright

Update wording and fix links in docs
  apps/website/src/content/docs/components/mui/Autocomplete.md
  apps/website/src/content/docs/components/mui/Dialog.md
  apps/website/src/content/docs/components/mui/Drawer.md
  apps/website/src/content/docs/components/mui/Menu.md
  apps/website/src/content/docs/components/mui/Select.md
  apps/website/src/content/docs/components/mui/Tooltip.md
Due: none

Avoid "portal provider" in Popover.md
  apps/website/src/content/docs/components/mui/Popover.md
Due: none

Update Dialog and Drawer
  apps/website/src/content/docs/components/mui/Dialog.md
  apps/website/src/content/docs/components/mui/Drawer.md
Due: none

Remove Dialog._nested example
  apps/test-app/app/mui/Dialog.showcase.tsx
  examples/mui/Dialog._nested.tsx
Due: copyright, format, lint

Path conditions:
  copyright: any of: *.{js,ts,jsx,tsx,css,html}
  format: any of: *.{js,ts,jsx,tsx,json,jsonc}
  lint: any of: *.{js,ts,jsx,tsx}
