Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

copyright:
  run: pnpm lint:copyright {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm biome format --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm biome lint --write {staged_files}
  stage_fixed: true

Add typography mixin.
  packages/kiwi-react/src/bricks/Badge.css
Due: copyright

Add `<Badge>` component (#360)
  apps/test-app/app/components.ts
  apps/test-app/app/tests/badge/index.spec.ts
  apps/test-app/app/tests/badge/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/badge/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/badge/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/badge/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/badge/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/badge/index.tsx
  packages/kiwi-react/src/bricks/Badge.css
  packages/kiwi-react/src/bricks/Badge.tsx
  packages/kiwi-react/src/bricks/index.ts
  packages/kiwi-react/src/bricks/styles.css
Due: copyright, format, lint

add `alt` prop to `<Icon>`
  apps/test-app/app/tests/icon/index.spec.ts
  apps/test-app/app/tests/icon/index.tsx
  packages/kiwi-react/src/bricks/Icon.tsx
Due: copyright, format, lint

Use grid for list item layout and add `ListItem.Decoration`
  apps/test-app/app/tests/list/index.tsx
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-focused-item-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-focused-item-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-focused-item-1-webkit-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-hovered-item-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-hovered-item-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-hovered-item-1-webkit-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-overflow-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-overflow-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-overflow-1-webkit-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-selected-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-selected-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-selected-1-webkit-linux.png
  packages/kiwi-react/src/bricks/DropdownMenu.tsx
  packages/kiwi-react/src/bricks/ListItem.css
  packages/kiwi-react/src/bricks/ListItem.tsx
  packages/kiwi-react/src/bricks/Tree.css
  packages/kiwi-react/src/bricks/Tree.tsx
Due: copyright, format, lint

Use fake name Willow Winters.
  apps/test-app/app/tests/avatar/index.tsx
Due: copyright, format, lint

Update packages/kiwi-react/src/bricks/Avatar.tsx
  packages/kiwi-react/src/bricks/Avatar.tsx
Due: copyright, format, lint

role=img only applied when label is passed.
  packages/kiwi-react/src/bricks/Avatar.tsx
Due: copyright, format, lint

Use alt instead of label.
  apps/test-app/app/tests/avatar/index.tsx
  packages/kiwi-react/src/bricks/Avatar.tsx
Due: copyright, format, lint

Use relative selectors instead of `placement` and `:has()` complexity
  apps/test-app/app/tests/list/index.tsx
  packages/kiwi-react/src/bricks/DropdownMenu.tsx
  packages/kiwi-react/src/bricks/ListItem.css
  packages/kiwi-react/src/bricks/ListItem.tsx
  packages/kiwi-react/src/bricks/Tree.css
  packages/kiwi-react/src/bricks/Tree.tsx
Due: copyright, format, lint

Use `auto` for decorations and allow content to collapse
  packages/kiwi-react/src/bricks/ListItem.css
Due: copyright

⛳️
  packages/kiwi-react/src/bricks/ListItem.css
Due: copyright

Use aria-label instead of aria-labelledby and VisuallyHidden
  packages/kiwi-react/src/bricks/Avatar.tsx
Due: copyright, format, lint

Improve readability of columns template
  packages/kiwi-react/src/bricks/ListItem.css
Due: copyright

aria-label above {...rest}
  packages/kiwi-react/src/bricks/Avatar.tsx
Due: copyright, format, lint

`Skeleton.Root`
  apps/test-app/app/tests/skeleton/index.tsx
  packages/kiwi-react/src/bricks/Skeleton.css
  packages/kiwi-react/src/bricks/Skeleton.tsx
  packages/kiwi-react/src/bricks/index.ts
Due: copyright, format, lint

Better description of alt prop.
  packages/kiwi-react/src/bricks/Avatar.tsx
Due: copyright, format, lint

Examples explains alt implications. img includes empty alt.
  packages/kiwi-react/src/bricks/Avatar.tsx
Due: copyright, format, lint

add `alt` prop to `<Icon>` (#385)
  apps/test-app/app/tests/icon/index.spec.ts
  apps/test-app/app/tests/icon/index.tsx
  packages/kiwi-react/src/bricks/Icon.tsx
Due: copyright, format, lint

Add `<Avatar>` component (#353)
  apps/test-app/app/components.ts
  apps/test-app/app/tests/avatar/index.spec.ts
  apps/test-app/app/tests/avatar/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/avatar/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/avatar/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/avatar/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/avatar/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/avatar/index.tsx
  packages/kiwi-react/src/bricks/Avatar.css
  packages/kiwi-react/src/bricks/Avatar.tsx
  packages/kiwi-react/src/bricks/index.ts
  packages/kiwi-react/src/bricks/styles.css
Due: copyright, format, lint

Export table publicly
  apps/test-app/app/tests/table/index.tsx
  packages/kiwi-react/src/bricks/index.ts
Due: copyright, format, lint

Use grid for list item layout and add `ListItem.Decoration` (#380)
  apps/test-app/app/tests/list/index.tsx
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-focused-item-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-focused-item-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-focused-item-1-webkit-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-hovered-item-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-hovered-item-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-hovered-item-1-webkit-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-overflow-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-overflow-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-overflow-1-webkit-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-selected-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-selected-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-selected-1-webkit-linux.png
  packages/kiwi-react/src/bricks/DropdownMenu.tsx
  packages/kiwi-react/src/bricks/ListItem.css
  packages/kiwi-react/src/bricks/ListItem.tsx
  packages/kiwi-react/src/bricks/Tree.css
  packages/kiwi-react/src/bricks/Tree.tsx
Due: copyright, format, lint

Leftover and tests
  apps/test-app/app/tests/skeleton/index.spec.ts
  apps/test-app/app/tests/skeleton/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/skeleton/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/skeleton/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/skeleton/index.tsx
  packages/kiwi-react/src/bricks/Skeleton.tsx
Due: copyright, format, lint

nit
  packages/kiwi-react/src/bricks/Skeleton.tsx
Due: copyright, format, lint

px to rem
  packages/kiwi-react/src/bricks/Skeleton.css
Due: copyright

Leftover
  apps/test-app/app/tests/skeleton/index.spec.ts
  packages/kiwi-react/src/bricks/Skeleton.tsx
Due: copyright, format, lint

🛫
  package.json
  pnpm-lock.yaml
Due: format

Leftover
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-hovered-row-1-chromium-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-hovered-row-1-firefox-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-hovered-row-1-webkit-linux.png
  apps/test-app/app/tests/table/index.tsx
  packages/kiwi-react/src/bricks/Table.tsx
Due: copyright, format, lint

Get rid of TreeItemContent
  packages/kiwi-react/src/bricks/Tree.tsx
Due: copyright, format, lint

Snaps
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-description-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-description-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-description-1-webkit-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-focused-item-1-firefox-linux.png
Due: none

Visuals
  apps/test-app/app/tests/tree/index.tsx
  packages/kiwi-react/src/bricks/Tree.css
  packages/kiwi-react/src/bricks/Tree.tsx
Due: copyright, format, lint

Error label in aria-describedby and toolbar for error actions.
  apps/test-app/app/tests/tree/index.tsx
  packages/kiwi-react/src/bricks/Tree.tsx
Due: copyright, format, lint

Remove `as` prop for subcomponents
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-hovered-row-1-chromium-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-hovered-row-1-firefox-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-hovered-row-1-webkit-linux.png
  apps/test-app/app/tests/table/index.tsx
  packages/kiwi-react/src/bricks/Table.tsx
Due: copyright, format, lint

Remove snaps of removed test
  apps/test-app/app/tests/list/index.spec.ts-snapshot.-visual-description-1-chromium-linux.png
  apps/test-app/app/tests/list/index.spec.ts-snapshot.-visual-description-1-firefox-linux.png
  apps/test-app/app/tests/list/index.spec.ts-snapshot.-visual-description-1-webkit-linux.png
Due: none

Update descr color
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-description-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-description-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-description-1-webkit-linux.png
  packages/kiwi-react/src/bricks/Tree.css
  packages/kiwi-react/src/bricks/Tree.tsx
Due: copyright, format, lint

fixing windows build
  apps/test-app/scripts/run-tests.cts
  packages/kiwi-react/package.json
  packages/kiwi-react/scripts/build.js
  pnpm-lock.yaml
Due: copyright, format, lint

Pass through style of Tree.Item
  packages/kiwi-react/src/bricks/Tree.tsx
Due: copyright, format, lint

removing posixJoin
  apps/test-app/scripts/run-tests.cts
Due: none

Vite bump
  apps/test-app/package.json
  package.json
  pnpm-lock.yaml
Due: format

Pass through `style` of `<Tree.Item>` (#390)
  packages/kiwi-react/src/bricks/Tree.tsx
Due: copyright, format, lint

Path conditions:
  copyright: any of: *.{js,ts,jsx,tsx,css,html}
  format: any of: *.{js,ts,jsx,tsx,json,jsonc}
  lint: any of: *.{js,ts,jsx,tsx}
