Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    copyright:
      glob: "*.{js,ts,jsx,tsx,css,html}"
      run: pnpm lint:copyright {staged_files} --fix
      stage_fixed: true

    format:
      glob: "*.{js,ts,jsx,tsx,json,jsonc}"
      run: pnpm biome format --write {staged_files}
      stage_fixed: true

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm biome lint --write {staged_files}
      stage_fixed: true

    prettier:
      exclude:
        - "*.{js,ts,jsx,tsx,cjs,cts,mjs,mts,json,jsonc}"
      run: pnpm exec prettier {staged_files} --ignore-unknown --write
      stage_fixed: true

Add `Select`
  apps/test-app/app/mui.tsx
  examples/mui/Select._disabled.tsx
Due: copyright, format, lint

Add `Rating`
  apps/test-app/app/mui.tsx
  examples/mui/Rating._disabled.tsx
Due: copyright, format, lint

Add `Slider`
  apps/test-app/app/mui.tsx
  examples/mui/Slider._disabled.tsx
Due: copyright, format, lint

Fix `Select`
  examples/mui/Select._disabled.tsx
Due: copyright, format, lint

Reorder slider demos
  apps/test-app/app/mui.tsx
Due: copyright, format, lint

Add `Switch`
  apps/test-app/app/mui.tsx
  examples/mui/Switch._disabled.tsx
Due: copyright, format, lint

Update `TextField` to include icon
  examples/mui/TextField._disabled.tsx
Due: copyright, format, lint

Update `ToggleButton` to be more complex
  examples/mui/ToggleButton._disabled.tsx
Due: copyright, format, lint

Add `ButtonGroup`
  apps/test-app/app/mui.tsx
  examples/mui/ButtonGroup._disabled.tsx
Due: copyright, format, lint

Add `Pagination` & `Accordion`
  apps/test-app/app/mui.tsx
  examples/mui/Accordion._disabled.tsx
  examples/mui/Pagination._disabled.tsx
Due: copyright, format, lint

Remove hover prop
  examples/mui/Table.select.tsx
Due: copyright, format, lint

fix changelog PRs
  packages/mui/CHANGELOG.md
  packages/structures/CHANGELOG.md
Due: none

update changelogs
  packages/mui/CHANGELOG.md
  packages/structures/CHANGELOG.md
Due: none

Fix outdated contributing.md
  apps/website/src/content/docs/contributing.md
Due: none

Avoid duplicating the component page schema
  apps/website/src/content/docs/contributing.md
Due: none

Use straight apostrophes and quotations
  apps/website/src/content/docs/components/mui/Accordion.md
  apps/website/src/content/docs/components/mui/Avatar.md
  apps/website/src/content/docs/components/mui/Backdrop.md
  apps/website/src/content/docs/components/mui/Badge.md
  apps/website/src/content/docs/components/mui/Button.md
  apps/website/src/content/docs/components/mui/Checkbox.md
  apps/website/src/content/docs/components/mui/Divider.md
  apps/website/src/content/docs/components/mui/IconButton.md
  apps/website/src/content/docs/components/mui/Link.md
  apps/website/src/content/docs/components/mui/Select.md
  apps/website/src/content/docs/components/mui/Skeleton.md
  apps/website/src/content/docs/components/mui/Switch.md
  apps/website/src/content/docs/components/mui/ToggleButton.md
  apps/website/src/content/docs/components/mui/Tooltip.md
  apps/website/src/content/docs/components/overview.md
  apps/website/src/content/docs/contributing.md
  apps/website/src/content/docs/guides/page-structure.md
  apps/website/src/content/docs/index.md
Due: none

canonical example description
  apps/website/src/content/docs/components/mui/Card.md
Due: none

more logical example order
  apps/website/src/content/docs/components/mui/Card.md
Due: none

move descriptions above the examples
  apps/website/src/content/docs/components/mui/Card.md
Due: none

remove initial code snippet
  apps/website/src/content/docs/components/mui/Card.md
Due: none

Fix pagination disabled & disabled + active styling
  packages/mui/src/~components.css
Due: copyright

Fix `forced-colors` disabled + active styling
  packages/mui/src/~forced-colors.css
Due: copyright

Changeset
  .changeset/loose-rabbits-pick.md
Due: none

Move Pagination CSS into it's own file
  packages/mui/src/~components.css
  packages/mui/src/~components/MuiPagination.css
Due: copyright

Fix `ToggleButton` disabled + active styling
  .changeset/thin-pugs-begin.md
  packages/mui/src/~components/MuiToggleButton.css
  packages/mui/src/~forced-colors.css
Due: copyright

Initial commit
  examples/mui/Accordion.decoration.module.css
  examples/mui/Accordion.decoration.tsx
  examples/mui/Accordion.marker-left.module.css
  examples/mui/Accordion.marker-left.tsx
  packages/mui/src/~components.css
  packages/mui/src/~components/MuiAccordion.css
  packages/mui/src/~createTheme.tsx
  packages/mui/src/~forced-colors.css
Due: copyright, format, lint

Set min size for Dialog paper
  packages/mui/src/~components/MuiDialog.css
Due: copyright

Use 100px which is the default size for title + one line of text
  packages/mui/src/~components/MuiDialog.css
Due: copyright

Use min inset to avoid filling the container
  packages/mui/src/~components/MuiDialog.css
Due: copyright

pnpm changeset
  .changeset/social-bikes-sell.md
Due: none

Add active + hover state.
  .changeset/thin-pugs-begin.md
  packages/mui/src/~components/MuiToggleButton.css
Due: copyright

Add active + hover state
  .changeset/bold-spiders-share.md
  packages/mui/src/~components/MuiMenu.css
Due: copyright

update example
  apps/test-app/app/mui.tsx
  apps/website/src/content/docs/components/mui/Alert.md
  examples/mui/Alert.default.tsx
  examples/mui/Alert.title.tsx
Due: copyright, format, lint

Use CSS background-color variable for disabled
  packages/mui/src/~components/MuiToggleButton.css
Due: copyright

Docs
  apps/website/src/content/docs/components/mui/Accordion.md
Due: none

Deviate from Figma on min-height
  packages/mui/src/~components/MuiAccordion.css
Due: copyright

Reducing scope
  packages/mui/src/~components/MuiAccordion.css
Due: copyright

Add `font-weight`
  packages/mui/src/~components/MuiAccordion.css
Due: copyright

migrate to typescript 6
  apps/test-app/tsconfig.json
  internal/minimal-template/package.json
  internal/tsconfig.json
  packages/bricks/tsconfig.json
  packages/foundations/tsconfig.json
  packages/mui/tsconfig.json
  packages/structures/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

update tsconfig again
  internal/minimal-template/tsconfig.json
  internal/tsconfig.json
Due: format
