Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

copyright:
  run: pnpm lint:copyright {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm biome format --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm biome lint --write {staged_files}
  stage_fixed: true

"The"
  apps/website/src/content/docs/components/mui/Checkbox.md
Due: none

"an"
  apps/website/src/content/docs/components/mui/Checkbox.md
Due: none

"the"
  apps/website/src/content/docs/components/mui/Switch.md
Due: none

Fix incorrect Anchor links (renamed to Link)
  apps/website/src/content/docs/components/mui/Checkbox.md
  apps/website/src/content/docs/contributing.md
Due: none

Change avatar font size value
  packages/mui/src/~components/MuiAvatar.css
Due: copyright

No pointer events on pseudo element
  packages/mui/src/~components/MuiAvatar.css
Due: copyright

reduce `Paper` specificity
  .changeset/metal-ducks-press.md
  packages/mui/src/~components.css
  packages/mui/src/~components/MuiPaper.css
Due: copyright

Moved most CSS out of ABBR into parent
  packages/mui/src/~components/MuiAvatar.css
Due: copyright

Avatar image is not draggable
  packages/mui/src/createTheme.tsx
Due: copyright, format, lint

Add space to error example
  examples/mui/Checkbox.error.tsx
Due: copyright, format, lint

Set avatar default size in createTheme
  packages/mui/src/createTheme.tsx
  packages/mui/src/~components/MuiAvatar.css
Due: copyright, format, lint

Add GitHub labels for packages workflow
  .github/workflows/pr-labels.js
Due: copyright, format, lint

Add icons
  .github/workflows/pr-labels.js
Due: copyright, format, lint

fix circular import
  packages/bricks/src/Badge.tsx
Due: copyright, format, lint

GitHub makes me angry
  .changeset/deep-nails-flow.md
  packages/mui/src/createTheme.tsx
  packages/mui/src/~components.css
Due: copyright, format, lint

use `forwardRef` and `BaseProps` for consistency
  packages/mui/src/Root.tsx
  packages/mui/src/~components/MuiChip.tsx
Due: copyright, format, lint

docs: fix dev server first load
  apps/website/astro.config.mjs
  apps/website/src/components/Footer.astro
  apps/website/src/components/Head.astro
  apps/website/src/components/StrataKit.astro
Due: none

docs: remove `@astrojs/react`
  apps/website/astro.config.mjs
  apps/website/package.json
  apps/website/src/pages/examples/[...example].astro
  pnpm-lock.yaml
Due: format

add support for `min-height` and `min-width` in `::example` directive
  apps/website/astro.config.mjs
  apps/website/src/components/ExamplePreview.module.css
  apps/website/src/components/example-embed.astro
Due: copyright

update examples to use the new attributes
  apps/website/src/content/docs/components/mui/AppBar.md
  apps/website/src/content/docs/components/mui/BottomNavigation.md
  apps/website/src/content/docs/components/mui/Card.md
  apps/website/src/content/docs/components/mui/Divider.md
  apps/website/src/content/docs/components/mui/List.md
  apps/website/src/content/docs/components/mui/Paper.md
  apps/website/src/content/docs/components/mui/Radio.md
  apps/website/src/content/docs/components/mui/Skeleton.md
  apps/website/src/content/docs/components/mui/Slider.md
  apps/website/src/content/docs/components/mui/SpeedDial.md
  apps/website/src/content/docs/components/mui/Stepper.md
Due: none

fix build
  apps/website/astro.config.mjs
  examples/package.json
  pnpm-lock.yaml
Due: format

Reword caution
  apps/website/src/content/docs/components/mui/Divider.md
Due: none

Casing
  apps/website/src/content/docs/components/mui/Checkbox.md
Due: none

Add ToggleButton to Use cases
  apps/website/src/content/docs/components/mui/Button.md
  apps/website/src/content/docs/components/mui/Checkbox.md
  apps/website/src/content/docs/components/mui/IconButton.md
  apps/website/src/content/docs/components/mui/Switch.md
Due: none

Mention radiogroup role explicitly
  apps/website/src/content/docs/components/mui/Radio.md
Due: none

Document Icon
  apps/website/src/content/docs/components/stratakit/Icon.md
  examples/mui/Icon.default.tsx
  examples/mui/Icon.inline.tsx
  examples/mui/Icon.sizes.module.css
  examples/mui/Icon.sizes.tsx
Due: copyright, format, lint

Use CSS variable in createTheme avatar size
  packages/mui/src/createTheme.tsx
Due: copyright, format, lint

Use CSS variable for fall back font size
  packages/mui/src/~components/MuiAvatar.css
Due: copyright

Reduce website specific CSS in examples
  apps/test-app/app/mui.tsx
  examples/mui/Divider.default.module.css
  examples/mui/Divider.default.tsx
  examples/mui/Divider.presentational.module.css
  examples/mui/Divider.vertical.module.css
  examples/mui/Divider.vertical.tsx
Due: copyright, format, lint

Reduce layout-shift
  apps/website/src/content/docs/components/mui/Divider.md
Due: none

Simplify examples
  apps/test-app/app/mui.tsx
  apps/website/src/content/docs/components/mui/Skeleton.md
  examples/mui/Skeleton.default.tsx
  examples/mui/Skeleton.variants.tsx
Due: copyright, format, lint

Reduce layout-shift
  apps/website/src/content/docs/components/mui/Checkbox.md
Due: none

Update Use cases
  apps/website/src/content/docs/components/mui/Checkbox.md
Due: none

Reduce layout shift
  apps/website/src/content/docs/components/mui/TextField.md
Due: none

Reduce layout shift
  apps/website/src/content/docs/components/mui/Typography.md
Due: none

Consistent don't icon
  apps/website/src/content/docs/components/mui/Badge.md
  apps/website/src/content/docs/components/mui/Typography.md
Due: none

Fix docs: semantics are baked-in
  apps/website/src/content/docs/components/mui/Typography.md
  examples/mui/Typography.heading.tsx
Due: copyright, format, lint

Icon size matches legacy avatar large icon size
  packages/mui/src/~components/MuiAvatar.css
Due: copyright

Remove font size variable as not needed yet
  packages/mui/src/~components/MuiAvatar.css
Due: copyright

Add StrataKit MUI modifications to documentation
  apps/website/src/content/docs/components/mui/Avatar.md
Due: none

Path conditions:
  copyright: any of: *.{js,ts,jsx,tsx,css,html}
  format: any of: *.{js,ts,jsx,tsx,json,jsonc}
  lint: any of: *.{js,ts,jsx,tsx}
