Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    copyright:
      glob: "*.{js,ts,jsx,tsx,css,html}"
      run: pnpm lint:copyright {staged_files} --fix
      stage_fixed: true

    format:
      glob: "*.{js,ts,jsx,tsx,json,jsonc}"
      run: pnpm biome format --write {staged_files}
      stage_fixed: true

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm biome lint --write {staged_files}
      stage_fixed: true

    prettier:
      exclude:
        - "*.{js,ts,jsx,tsx,cjs,cts,mjs,mts,json,jsonc}"
      run: pnpm exec prettier {staged_files} --ignore-unknown --write
      stage_fixed: true

don't use mui-pallet
  packages/mui/src/~components/MuiSelect.css
Due: copyright

more styling fixes
  packages/mui/src/~components/MuiSelect.css
Due: copyright

Revert accidential disabled
  examples/mui/NativeSelect.default.tsx
Due: copyright, format, lint

Increase specificity
  packages/structures/src/NavigationRail.css
Due: copyright

Portal the dialog
  .changeset/eleven-rules-cheer.md
  .changeset/funny-singers-repeat.md
  apps/test-app/app/mui/Dialog.showcase.tsx
  apps/website/src/content/docs/components/mui/Dialog.md
  examples/mui/Dialog._nested.tsx
  packages/mui/src/~components/MuiDialog.tsx
  packages/mui/src/~createTheme.tsx
Due: copyright, format, lint

More guidance
  STYLEGUIDE.md
Due: none

of instead of on
  STYLEGUIDE.md
Due: none

fix `merge-cells.svg`
  .changeset/fiery-bats-jam.md
  packages/icons/icons/merge-cells.svg
Due: none

revert command in plsywright.config
  apps/test-app/playwright.config.ts
Due: copyright, format, lint

Dont use un locked pnpx
  apps/test-app/package.json
Due: format

Allow assigning to already existing userid for mac
  apps/test-app/scripts/Dockerfile
Due: none

Needs to be set in both
  apps/test-app/playwright.config.ts
Due: copyright, format, lint

Use same command
  apps/test-app/package.json
  apps/test-app/playwright.config.ts
Due: copyright, format, lint

Deprecate Icon
  .changeset/old-buses-stare.md
  packages/mui/src/types.ts
Due: copyright, format, lint

First pass at MUI test using examples
  apps/test-app/app/examples/mui/Button.spec.ts
  apps/test-app/app/examples/mui/index.tsx
  apps/test-app/app/routes.ts
Due: copyright, format, lint

Use query string for variants
  apps/test-app/app/examples/mui/Button.spec.ts
  apps/test-app/app/examples/mui/index.tsx
  apps/test-app/app/routes.ts
Due: copyright, format, lint

Move to test location and styling
  apps/test-app/app/examples/mui/index.tsx
  apps/test-app/app/routes.ts
  apps/test-app/app/tests/mui/Button.spec.ts
  apps/test-app/app/tests/mui/Button.spec.ts-snapshot.-visual-dark-1-chromium-linux.png
  apps/test-app/app/tests/mui/Button.spec.ts-snapshot.-visual-dark-1-firefox-linux.png
  apps/test-app/app/tests/mui/Button.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/mui/Button.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/mui/Button.spec.ts-snapshot.-visual-light-1-chromium-linux.png
  apps/test-app/app/tests/mui/Button.spec.ts-snapshot.-visual-light-1-firefox-linux.png
  apps/test-app/app/tests/mui/index.module.css
  apps/test-app/app/tests/mui/index.tsx
Due: copyright, format, lint

Update pnpm
  .github/workflows/CI.yaml
  .github/workflows/PR.yaml
  .github/workflows/changeset-release.yaml
  .github/workflows/deploy-gh-pages.yaml
  .github/workflows/publish-npm.yaml
  .npmrc
  .vscode/settings.json
  apps/test-app/scripts/Dockerfile
  package.json
  pnpm-workspace.yaml
Due: format

Use PortalContext in MUI components
  apps/test-app/app/mui/Dialog.showcase.tsx
  apps/website/src/content/docs/components/mui/Dialog.md
  examples/mui/Dialog._nested.tsx
  packages/foundations/src/Root.internal.tsx
  packages/foundations/src/Root.tsx
  packages/foundations/src/secret-internals.ts
  packages/mui/src/Root.tsx
  packages/mui/src/~PortalTheme.tsx
  packages/mui/src/~components/MuiDialog.tsx
  packages/mui/src/~createTheme.tsx
  packages/structures/src/Dialog.tsx
  packages/structures/src/Popover.tsx
Due: copyright, format, lint

Include using icon in don'ts
  apps/website/src/content/docs/components/stratakit/Icon.md
Due: none

add/update 11 icons
  .changeset/eleven-trams-listen.md
  packages/icons/icons/arrow-north.svg
  packages/icons/icons/assign.svg
  packages/icons/icons/construction-area.svg
  packages/icons/icons/list.svg
  packages/icons/icons/prefab.svg
  packages/icons/icons/reaction-add.svg
  packages/icons/icons/slab-opening.svg
  packages/icons/icons/slab-region.svg
  packages/icons/icons/slice.svg
  packages/icons/icons/sorting.svg
  packages/icons/icons/unassign.svg
Due: none

Better comment
  packages/mui/src/~components/MuiSelect.css
Due: copyright

PR feedback to CSS
  packages/mui/src/~components/MuiSelect.css
Due: copyright

update lockfile
  pnpm-lock.yaml
Due: none

update changelogs
  packages/foundations/CHANGELOG.md
  packages/icons/CHANGELOG.md
  packages/mui/CHANGELOG.md
  packages/structures/CHANGELOG.md
Due: none

update deprecation wording
  packages/mui/src/types.ts
Due: copyright, format, lint

update deprecation wording (#1684)
  packages/mui/src/types.ts
Due: copyright, format, lint

Fix #1608 changeset
  .changeset/old-cats-report.md
Due: none

Deprecate props on Button
  apps/website/src/content/docs/components/mui/Button.md
  packages/mui/src/types.ts
Due: copyright, format, lint

alphabetize
  packages/mui/src/types.ts
Due: copyright, format, lint

Changeset
  .changeset/tricky-drinks-lose.md
Due: none

Revert URL changes
  apps/test-app/app/routes.ts
  apps/test-app/app/tests/bricks/anchor/index.spec.ts
  apps/test-app/app/tests/bricks/avatar/index.spec.ts
  apps/test-app/app/tests/bricks/badge/index.spec.ts
  apps/test-app/app/tests/bricks/button/index.spec.ts
  apps/test-app/app/tests/bricks/checkbox/index.spec.ts
  apps/test-app/app/tests/bricks/divider/index.spec.ts
  apps/test-app/app/tests/bricks/field/index.spec.ts
  apps/test-app/app/tests/bricks/icon-button/index.spec.ts
  apps/test-app/app/tests/bricks/kbd/index.spec.ts
  apps/test-app/app/tests/bricks/progress-bar/index.spec.ts
  apps/test-app/app/tests/bricks/radio/index.spec.ts
  apps/test-app/app/tests/bricks/select/index.spec.ts
  apps/test-app/app/tests/bricks/skeleton/index.spec.ts
  apps/test-app/app/tests/bricks/spinner/index.spec.ts
  apps/test-app/app/tests/bricks/switch/index.spec.ts
  apps/test-app/app/tests/bricks/table/index.spec.ts
  apps/test-app/app/tests/bricks/text-box/index.spec.ts
  apps/test-app/app/tests/bricks/text/index.spec.ts
  apps/test-app/app/tests/bricks/tooltip/index.spec.ts
  apps/test-app/app/tests/foundations/icon/index.spec.ts
  apps/test-app/app/tests/foundations/root/index.spec.ts
  apps/test-app/app/tests/private/list/index.spec.ts
  apps/test-app/app/tests/structures/accordion-item/index.spec.ts
  apps/test-app/app/tests/structures/banner/index.spec.ts
  apps/test-app/app/tests/structures/chip/index.spec.ts
  apps/test-app/app/tests/structures/dialog/index.spec.ts
  apps/test-app/app/tests/structures/dropdown-menu/index.spec.ts
  apps/test-app/app/tests/structures/error-region/index.spec.ts
  apps/test-app/app/tests/structures/navigation-list/index.spec.ts
  apps/test-app/app/tests/structures/navigation-rail/index.spec.ts
  apps/test-app/app/tests/structures/popover/index.spec.ts
  apps/test-app/app/tests/structures/tabs/index.spec.ts
  apps/test-app/app/tests/structures/toolbar/index.spec.ts
  apps/test-app/app/tests/structures/tree/index.spec.ts
  apps/test-app/app/tests/tests.tsx
  apps/test-app/app/~navigation.tsx
Due: copyright, format, lint

more cleanup
  apps/test-app/app/tests/bricks/field/index.spec.ts
Due: copyright, format, lint

Move List into structures
  apps/test-app/app/routes.ts
  apps/test-app/app/tests/structures/list/index.spec.ts
  apps/test-app/app/tests/structures/list/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/structures/list/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/structures/list/index.spec.ts-snapshot.-visual-forced-colors-default-1-chromium-linux.png
  apps/test-app/app/tests/structures/list/index.spec.ts-snapshot.-visual-forced-colors-default-1-firefox-linux.png
  apps/test-app/app/tests/structures/list/index.spec.ts-snapshot.-visual-hovered-1-chromium-linux.png
  apps/test-app/app/tests/structures/list/index.spec.ts-snapshot.-visual-hovered-1-firefox-linux.png
  apps/test-app/app/tests/structures/list/index.spec.ts-snapshot.-visual-pressed-1-chromium-linux.png
  apps/test-app/app/tests/structures/list/index.spec.ts-snapshot.-visual-pressed-1-firefox-linux.png
  apps/test-app/app/tests/structures/list/index.tsx
  apps/test-app/app/tests/tests.tsx
  apps/test-app/app/~meta.ts
Due: copyright, format, lint

Update STYLEGUIDE.md
  STYLEGUIDE.md
Due: none

Update to align more closely with Playwright component testing
  apps/test-app/app/ScreenShotWrapper.module.css
  apps/test-app/app/ScreenShotWrapper.tsx
  apps/test-app/app/gallery/index.module.css
  apps/test-app/app/routes.ts
  apps/test-app/app/tests/mui/Button.spec.ts
  apps/test-app/app/tests/mui/Button.story.tsx
  apps/test-app/app/tests/mui/index.tsx
Due: copyright, format, lint

format pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

downgrade a few packages
  apps/website/package.json
  patches/wireit.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

bump playwright in CI and docker
  .github/workflows/CI.yaml
  apps/test-app/scripts/Dockerfile
Due: none
