Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    copyright:
      glob: "*.{js,ts,jsx,tsx,css,html}"
      run: pnpm lint:copyright {staged_files} --fix
      stage_fixed: true

    format:
      glob: "*.{js,ts,jsx,tsx,json,jsonc}"
      run: pnpm biome format --write {staged_files}
      stage_fixed: true

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm biome lint --write {staged_files}
      stage_fixed: true

    prettier:
      exclude:
        - "*.{js,ts,jsx,tsx,cjs,cts,mjs,mts,json,jsonc}"
      run: pnpm exec prettier {staged_files} --ignore-unknown --write
      stage_fixed: true

Reduce spacing
  apps/test-app/app/~settings.module.css
Due: copyright

Make Select small
  apps/test-app/app/~settings.tsx
Due: copyright, format, lint

Remove min-inline-size from NativeSelect
  examples/mui/NativeSelect.default.module.css
  examples/mui/NativeSelect.default.tsx
Due: copyright, format, lint

flex-grow the label
  apps/test-app/app/~settings.module.css
  apps/test-app/app/~settings.tsx
Due: copyright, format, lint

Better padding for autocomplete chips and buttons
  packages/mui/src/~components/MuiAutocomplete.css
Due: copyright

Remove inline styles
  examples/mui/Autocomplete.default.module.css
  examples/mui/Autocomplete.default.tsx
  examples/mui/Autocomplete.multiple.module.css
  examples/mui/Autocomplete.multiple.tsx
Due: copyright, format, lint

add `render` prop to `Dialog` types
  .changeset/hungry-symbols-chew.md
  packages/mui/src/types.ts
Due: copyright, format, lint

add background to `TextField`
  .changeset/three-rivers-love.md
  packages/mui/src/~components/MuiInput.css
Due: copyright

document autosizing
  apps/website/src/content/docs/components/mui/TextField.md
Due: none

'
  apps/website/src/content/docs/components/mui/TextField.md
Due: none

Move placeholder to don't
  apps/website/src/content/docs/components/mui/TextField.md
Due: none

'
  apps/website/src/content/docs/components/mui/Radio.md
Due: none

'
  apps/website/src/content/docs/components/mui/Typography.md
Due: none

'
  apps/website/src/content/docs/components/stratakit/Icon.md
Due: none

data-accent-color -> data-_sk-accent-color
  packages/foundations/src/Root.tsx
  packages/foundations/src/~theme.css
Due: copyright, format, lint

Move href prop documentation up
  apps/website/src/content/docs/components/stratakit/Icon.md
Due: none

Use block-size: 100%
  apps/website/src/components/ExamplePreview.module.css
  apps/website/src/pages/examples/[...example].astro
  examples/structures/NavigationRail.default.module.css
Due: copyright

sx
  examples/mui/ToggleButton.sizes.tsx
Due: copyright, format, lint

Handle text button padding
  packages/mui/src/createTheme.tsx
  packages/mui/src/~components/MuiToggleButton.css
  packages/mui/src/~components/MuiToggleButton.tsx
Due: copyright, format, lint

Changeset
  .changeset/hungry-cobras-kneel.md
Due: none

Add Accordion.header-actions example
  apps/test-app/app/mui.tsx
  apps/website/src/content/docs/components/mui/Accordion.md
  examples/mui/Accordion.header-actions.module.css
  examples/mui/Accordion.header-actions.tsx
Due: copyright, format, lint

Simplify SynchronizeAccentColor
  packages/foundations/src/Root.tsx
Due: copyright, format, lint

Simplify SynchronizeAccentColor - rm :host()
  packages/foundations/src/~theme.css
Due: copyright

Expect Button to be rendered instead of checking the label prop
  apps/website/src/content/docs/components/mui/ToggleButton.md
  examples/mui/ToggleButton.text.tsx
  packages/mui/src/~components/MuiToggleButton.css
  packages/mui/src/~components/MuiToggleButton.tsx
Due: copyright, format, lint

Rm useless overrides
  packages/mui/src/~components/MuiToggleButton.css
Due: copyright

Rm the backplate
  packages/mui/src/~forced-colors.css
Due: copyright

Move code comment up a line to prevent line wrapping
  packages/mui/src/~components/MuiAutocomplete.css
Due: copyright

Code comment on removing margin-inline for column-gap
  packages/mui/src/~components/MuiAutocomplete.css
Due: copyright

Updated changeset.
  .changeset/hungry-cobras-kneel.md
Due: none

Use input padding variable for padding-inline-start
  packages/mui/src/~components/MuiAutocomplete.css
Due: copyright

Add code comment about padding moved to the parent
  packages/mui/src/~components/MuiAutocomplete.css
Due: copyright

Dynamic Autocomplete input width
  .changeset/two-needles-add.md
  packages/mui/src/~components/MuiAutocomplete.css
Due: copyright

Check for class, not children count
  packages/mui/src/~components/MuiAutocomplete.css
Due: copyright

update lockfile
  pnpm-lock.yaml
Due: none

update changelogs
  packages/foundations/CHANGELOG.md
  packages/mui/CHANGELOG.md
Due: none

bump some more
  apps/test-app/package.json
  package.json
  packages/bricks/package.json
  packages/foundations/package.json
  packages/mui/package.json
  packages/structures/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

add spacing in `Link._colors`
  examples/mui/Link._colors.tsx
Due: copyright, format, lint

bump `brace-expansion` and patch `wireit`
  patches/wireit.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Rm double link to pckg
  apps/website/src/content/docs/components/stratakit/Icon.md
Due: none

Reword href soup
  apps/website/src/content/docs/components/stratakit/Icon.md
Due: none
