Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    copyright:
      glob: "*.{js,ts,jsx,tsx,css,html}"
      run: pnpm lint:copyright {staged_files} --fix
      stage_fixed: true

    format:
      glob: "*.{js,ts,jsx,tsx,json,jsonc}"
      run: pnpm biome format --write {staged_files}
      stage_fixed: true

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm biome lint --write {staged_files}
      stage_fixed: true

    prettier:
      exclude:
        - "*.{js,ts,jsx,tsx,cjs,cts,mjs,mts,json,jsonc}"
      run: pnpm exec prettier {staged_files} --ignore-unknown --write
      stage_fixed: true

pnpm changeset
  .changeset/nine-ends-make.md
Due: none

Tests
  apps/test-app/app/tests/dropdown-menu/index.spec.ts
Due: copyright, format, lint

add changeset
  .changeset/fresh-streets-act.md
Due: none

make `Dialog.Content` conditionally scrollable (#931)
  .changeset/fresh-streets-act.md
  packages/structures/src/Dialog.css
Due: copyright

Initialize
  .gitattributes
  .gitignore
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  README.md
  astro.config.mjs
  biome.jsonc
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  public/favicon.svg
  src/content.config.ts
  src/content/docs/guides/example.md
  src/content/docs/index.mdx
  src/content/docs/reference/example.md
  tsconfig.json
Due: copyright, format, lint

Initial commit.
  .changeset/salty-moons-fail.md
  packages/bricks/src/TextBox.css
Due: copyright

setup prettier and related configuration
  .prettierignore
  .prettierrc
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  biome.json
  biome.jsonc
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: format

add StrataKit-focused starter content
  astro.config.mjs
  src/components/PageTitle.astro
  src/content.config.ts
  src/content/docs/components/AccordionItem.md
  src/content/docs/components/Anchor.md
  src/content/docs/components/Avatar.md
  src/content/docs/components/Badge.md
  src/content/docs/components/Banner.md
  src/content/docs/components/Button.md
  src/content/docs/components/Checkbox.md
  src/content/docs/components/Chip.md
  src/content/docs/components/Dialog.md
  src/content/docs/components/Divider.md
  src/content/docs/components/DropdownMenu.md
  src/content/docs/components/Icon.md
  src/content/docs/components/Kbd.md
  src/content/docs/components/Progress.md
  src/content/docs/components/Radio.md
  src/content/docs/components/Select.md
  src/content/docs/components/Skeleton.md
  src/content/docs/components/Switch.md
  src/content/docs/components/Table.md
  src/content/docs/components/Tabs.md
  src/content/docs/components/TextBox.md
  src/content/docs/components/Toolbar.md
  src/content/docs/components/Tooltip.md
  src/content/docs/components/Tree.md
  src/content/docs/guides/example.md
  src/content/docs/guides/getting-started.md
  src/content/docs/index.mdx
Due: copyright, format, lint

Keep background-color on nested input
  packages/bricks/src/TextBox.css
Due: copyright

apply customizations
  astro.config.mjs
  biome.json
  package.json
  pnpm-lock.yaml
  src/assets/InterVariable-Italic.woff2
  src/assets/InterVariable.woff2
  src/components/Head.astro
  src/components/PageTitle.astro
  src/components/SocialIcons.astro
  src/components/ThemeProvider.astro
  src/components/ThemeSwitcher.astro
  src/content/docs/index.mdx
  src/styles/fonts.css
  src/styles/loadStratakitStyles.js
  src/styles/overrides.css
Due: copyright, format, lint

deploy to github-pages
  .github/workflows/deploy.yml
  astro.config.mjs
Due: none

fix StrataKit styles
  src/components/Head.astro
  src/styles/loadStratakitStyles.js
Due: copyright, format, lint

style submenuitem as hovered when popover is open
  packages/structures/src/DropdownMenu.css
Due: copyright

styling tweaks
  astro.config.mjs
  src/components/PageTitle.astro
  src/components/SocialIcons.astro
  src/components/ThemeProvider.astro
  src/styles/global.css
  src/styles/index.css
  src/styles/overrides.css
Due: copyright

more styling tweaks
  src/components/PageTitle.astro
  src/components/SocialIcons.astro
  src/styles/overrides.css
Due: copyright

update snapshot
  apps/test-app/app/tests/text-box/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
Due: none

update more snapshots
  apps/test-app/app/tests/text-box/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/text-box/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/text-box/index.spec.ts-snapshot.-visual-focus-outline-composition-1-chromium-linux.png
  apps/test-app/app/tests/text-box/index.spec.ts-snapshot.-visual-focus-outline-composition-1-firefox-linux.png
  apps/test-app/app/tests/text-box/index.spec.ts-snapshot.-visual-focus-outline-composition-1-webkit-linux.png
Due: none

Fix `Textbox` visual inconsistencies between convenience & composition (#934)
  .changeset/salty-moons-fail.md
  apps/test-app/app/tests/text-box/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/text-box/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/text-box/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/text-box/index.spec.ts-snapshot.-visual-focus-outline-composition-1-chromium-linux.png
  apps/test-app/app/tests/text-box/index.spec.ts-snapshot.-visual-focus-outline-composition-1-firefox-linux.png
  apps/test-app/app/tests/text-box/index.spec.ts-snapshot.-visual-focus-outline-composition-1-webkit-linux.png
  packages/bricks/src/TextBox.css
Due: copyright

Explicitly set the avatar's icon color to prevent accidentally inheritting the wrong color.
  .changeset/curly-drinks-follow.md
  packages/bricks/src/Avatar.css
Due: copyright

Set forced-colors for Navigation Rail Item Action is current.
  .changeset/upset-rabbits-throw.md
  packages/structures/src/NavigationRail.css
Due: copyright

Explicitly set `Avatar`'s icon color (#938)
  .changeset/curly-drinks-follow.md
  packages/bricks/src/Avatar.css
Due: copyright

update lockfile
  pnpm-lock.yaml
Due: none

update changelogs
  packages/bricks/CHANGELOG.md
  packages/foundations/CHANGELOG.md
  packages/structures/CHANGELOG.md
Due: none

Forgot test images.
  apps/test-app/app/tests/navigation-rail/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/navigation-rail/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
Due: none

add github source to all pages
  src/components/PageTitle.astro
  src/content.config.ts
  src/content/docs/components/AccordionItem.md
  src/content/docs/components/Anchor.md
  src/content/docs/components/Avatar.md
  src/content/docs/components/Badge.md
  src/content/docs/components/Banner.md
  src/content/docs/components/Button.md
  src/content/docs/components/Checkbox.md
  src/content/docs/components/Chip.md
  src/content/docs/components/Dialog.md
  src/content/docs/components/Divider.md
  src/content/docs/components/DropdownMenu.md
  src/content/docs/components/Icon.md
  src/content/docs/components/Kbd.md
  src/content/docs/components/Progress.md
  src/content/docs/components/Radio.md
  src/content/docs/components/Select.md
  src/content/docs/components/Skeleton.md
  src/content/docs/components/Switch.md
  src/content/docs/components/Table.md
  src/content/docs/components/Tabs.md
  src/content/docs/components/TextBox.md
  src/content/docs/components/Toolbar.md
  src/content/docs/components/Tooltip.md
  src/content/docs/components/Tree.md
Due: copyright, format, lint

Trying suggestion from GitHub issue comment.
  packages/bricks/src/TextBox.css
  packages/foundations/src/~sublayers.css
  packages/structures/src/AccordionItem.css
  packages/structures/src/TreeItem.css
Due: copyright

improve table styling
  src/styles/global.css
  src/styles/overrides.css
Due: copyright

set up PR workflow for auto formatting
  .github/workflows/PR.yml
Due: none

styling tweaks
  src/styles/global.css
Due: copyright

Update upset-rabbits-throw.md
  .changeset/upset-rabbits-throw.md
Due: none

Add submenu prop instead of DropdownMenu.SubmenuItem component
  apps/test-app/app/tests/dropdown-menu/index.tsx
  packages/structures/src/DropdownMenu.tsx
Due: copyright, format, lint

Set `forced-colors` for `NavigationRailItemAction` when current (#939)
  .changeset/upset-rabbits-throw.md
  apps/test-app/app/tests/navigation-rail/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/navigation-rail/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  packages/structures/src/NavigationRail.css
Due: copyright

Add DropdownMenu.Submenu
  apps/test-app/app/tests/dropdown-menu/index.tsx
  packages/structures/src/DropdownMenu.tsx
Due: copyright, format, lint

enable `lastUpdated` link
  astro.config.mjs
  src/content/docs/index.mdx
Due: none

Bump the npm-dependencies group with 6 updates
  apps/test-app/package.json
  package.json
  packages/compat/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

dedupe
  pnpm-lock.yaml
Due: none

Rm support for nested DropdownMenu.Provider
  apps/test-app/app/tests/dropdown-menu/index.tsx
  packages/structures/src/DropdownMenu.tsx
Due: copyright, format, lint

use top layer for `NavigationRail.ToggleButton` and make `NavigationRail.Root` scrollable
  packages/structures/src/NavigationRail.css
  packages/structures/src/NavigationRail.tsx
Due: copyright, format, lint

create initial `Card` component
  apps/test-app/app/tests/card/index.tsx
  apps/test-app/app/~meta.ts
  packages/structures/package.json
  packages/structures/src/Card.css
  packages/structures/src/Card.tsx
  packages/structures/src/index.ts
  packages/structures/src/styles.css
Due: copyright, format, lint

make `<svg>` default to `display: inline-block`
  .changeset/sixty-suns-bathe.md
  packages/foundations/src/~reset.css
Due: copyright
