Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    copyright:
      glob: "*.{js,ts,jsx,tsx,css,html}"
      run: pnpm lint:copyright {staged_files} --fix
      stage_fixed: true

    format:
      glob: "*.{js,ts,jsx,tsx,json,jsonc}"
      run: pnpm biome format --write {staged_files}
      stage_fixed: true

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm biome lint --write {staged_files}
      stage_fixed: true

    prettier:
      exclude:
        - "*.{js,ts,jsx,tsx,cjs,cts,mjs,mts,json,jsonc}"
      run: pnpm exec prettier {staged_files} --ignore-unknown --write
      stage_fixed: true

Add Root theme selector
  packages/foundations/src/~theme.css
Due: copyright

Fix specificity issue due to automagically applied :is()
  packages/foundations/src/~theme.css
Due: copyright

Add dense styling
  apps/test-app/app/mui.tsx
  examples/mui/Menu.dense.tsx
  packages/mui/src/~components/MuiMenu.css
Due: copyright, format, lint

Use typography mixin, apply differently for dense vs non-dense
  packages/mui/src/~components/MuiMenu.css
Due: copyright

Inline padding matches that of Button
  packages/mui/src/~components/MuiMenu.css
Due: copyright

Add theme toggle to test-app
  apps/test-app/app/root.tsx
  apps/test-app/app/~navigation.module.css
  apps/test-app/app/~navigation.tsx
  apps/test-app/app/~utils.tsx
Due: copyright, format, lint

Perfect menu item border radius
  packages/mui/src/~components/MuiMenu.css
Due: copyright

Expose via `@stratakit/mui`
  packages/mui/src/Root.tsx
Due: copyright, format, lint

pnpm changeset
  .changeset/upset-cameras-drop.md
Due: none

Use list item height variables
  packages/mui/src/~components/MuiMenu.css
Due: copyright

bump deps
  pnpm-lock.yaml
Due: none

Fix the toggle
  apps/test-app/app/root.tsx
  apps/test-app/app/~navigation.tsx
  apps/test-app/app/~utils.tsx
Due: copyright, format, lint

Use single letter in Avatar examples
  examples/mui/Avatar.initials.tsx
  examples/mui/AvatarGroup.default.tsx
Due: copyright, format, lint

Add a Do recommendation on single caharacter initials
  apps/website/src/content/docs/components/mui/Avatar.md
Due: none

Add-back docs
  apps/website/src/content/docs/components/mui/Checkbox.md
Due: none

Fix the article
  apps/website/src/content/docs/components/mui/Switch.md
Due: none

Align padding with Button
  packages/mui/src/~components/MuiInput.css
Due: copyright

Update wording
  apps/website/src/content/docs/components/mui/Avatar.md
Due: none

Remove inset from autocomplete's open / close button and clear all button
  packages/mui/src/~components/MuiAutocomplete.css
Due: copyright

Add-back docs
  apps/website/src/content/docs/components/mui/Divider.md
Due: none

Rm toolbar example
  apps/website/src/content/docs/components/mui/Divider.md
Due: none

Fix autocomplete adornment icons overlapping chips
  packages/mui/src/~components/MuiAutocomplete.css
Due: copyright

Fix specificity issue with Autocomplete
  packages/mui/src/~components/MuiAutocomplete.css
Due: copyright

Fix specificity issue with Autocomplete chip
  packages/mui/src/~components/MuiAutocomplete.css
Due: copyright

adjust `List` spacing
  .changeset/deep-nails-flow.md
  apps/website/src/content/docs/components/mui/List.md
  examples/mui/List.avatar.tsx
  packages/foundations/src/~size.css
  packages/mui/src/createTheme.tsx
  packages/mui/src/~components.css
  packages/mui/src/~components/MuiList.css
Due: copyright, format, lint

fix `MobileStepper` icon size
  examples/mui/MobileStepper.default.tsx
Due: copyright, format, lint

create custom `ButtonBase`
  packages/mui/src/createTheme.tsx
  packages/mui/src/~components/MuiButtonBase.tsx
  packages/mui/src/~components/MuiCard.tsx
  packages/mui/src/~components/MuiChip.tsx
  packages/mui/src/~components/MuiIconButton.tsx
Due: copyright, format, lint

WIP
  apps/test-app/app/mui.tsx
  apps/website/src/content/docs/components/mui/Divider.md
  examples/mui/Divider.default.module.css
  examples/mui/Divider.vertical.tsx
Due: copyright, format, lint

Give local storage a chance to dictate the theme
  apps/test-app/app/~utils.tsx
Due: copyright, format, lint

Rename to accentColor
  .changeset/upset-cameras-drop.md
  apps/test-app/app/root.tsx
  apps/test-app/app/~navigation.module.css
  apps/test-app/app/~navigation.tsx
  apps/test-app/app/~utils.tsx
  packages/foundations/src/Root.tsx
  packages/foundations/src/~theme.css
  packages/mui/src/Root.tsx
Due: copyright, format, lint

Fix examples
  examples/mui/Divider.vertical.module.css
  examples/mui/Divider.vertical.tsx
Due: copyright, format, lint

Clarify on presentational vs semantic dividers
  apps/website/src/content/docs/components/mui/Divider.md
Due: none

Rm toolbar code snippet
  apps/website/src/content/docs/components/mui/Divider.md
Due: none

Presentational example
  apps/test-app/app/mui.tsx
  apps/website/src/content/docs/components/mui/Divider.md
  examples/mui/Divider.presentational.module.css
  examples/mui/Divider.presentational.tsx
Due: copyright, format, lint

Semantic example
  apps/website/src/content/docs/components/mui/Divider.md
  examples/mui/Divider.semantic.module.css
  examples/mui/Divider.semantic.tsx
Due: copyright, format, lint

Rename FormControl examples
  apps/test-app/app/mui.tsx
  apps/website/src/content/docs/components/mui/Checkbox.md
  examples/mui/Checkbox.error.tsx
  examples/mui/Checkbox.group.tsx
Due: copyright, format, lint

Add-back docs
  apps/website/src/content/docs/components/mui/Radio.md
Due: none

Update docs
  apps/website/src/content/docs/components/mui/Radio.md
Due: none

Update default example data
  examples/mui/RadioGroup.default.tsx
Due: copyright, format, lint

restore `Typography` semantics
  packages/mui/src/createTheme.tsx
Due: copyright, format, lint
