Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    copyright:
      glob: "*.{js,ts,jsx,tsx,css,html}"
      run: pnpm lint:copyright {staged_files} --fix
      stage_fixed: true

    format:
      glob: "*.{js,ts,jsx,tsx,json,jsonc}"
      run: pnpm biome format --write {staged_files}
      stage_fixed: true

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm biome lint --write {staged_files}
      stage_fixed: true

    prettier:
      exclude:
        - "*.{js,ts,jsx,tsx,cjs,cts,mjs,mts,json,jsonc}"
      run: pnpm exec prettier {staged_files} --ignore-unknown --write
      stage_fixed: true

Shorten static variable names, empty lines between categories
  packages/mui/src/~components/MuiCheckbox.css
Due: copyright

Add code comment about ::after
  packages/mui/src/~components/MuiCheckbox.css
Due: copyright

Use static variables for touch target hover colors.
  packages/mui/src/~components/MuiCheckbox.css
Due: copyright

Add icon color in error state.
  packages/mui/src/~components/MuiButton.css
Due: copyright

Handle hover state
  packages/mui/src/~components/MuiButton.css
Due: copyright

Use --🥝Icon-color
  packages/mui/src/~components/MuiButton.css
Due: copyright

Use --🥝Icon-color in IconButoon
  packages/mui/src/~components/MuiIconButton.css
Due: copyright

Hover states in IconButton
  packages/mui/src/~components/MuiIconButton.css
Due: copyright

Add Badge._colors example
  apps/test-app/app/mui.tsx
  examples/mui/Badge.colors.tsx
Due: copyright, format, lint

Add inline prop
  packages/mui/src/types.ts
Due: copyright, format, lint

Impl MuiBadge
  packages/mui/src/createTheme.tsx
  packages/mui/src/~components.css
  packages/mui/src/~components/MuiBadge.css
  packages/mui/src/~components/MuiBadge.tsx
Due: copyright, format, lint

introduction added to sidebar
  apps/website/astro.config.mjs
Due: none

Change default color to secondary
  packages/mui/src/createTheme.tsx
  packages/mui/src/types.ts
Due: copyright, format, lint

Rm default color
  examples/mui/Badge.colors.tsx
  packages/mui/src/types.ts
Due: copyright, format, lint

Docs
  apps/website/src/content/docs/components/mui/Badge.md
Due: none

pnpm changeset
  .changeset/small-items-brake.md
  .changeset/soft-regions-jog.md
Due: none

Update Badge docs
  apps/website/src/content/docs/guides/migration-from-legacy-stratakit.mdx
Due: none

Less nesting for hover touch target color.
  packages/mui/src/~components/MuiCheckbox.css
Due: copyright

Add StrataKit MUI modifications documentation.
  apps/website/src/content/docs/components/mui/Switch.md
Due: none

Refactor CSS
  packages/mui/src/~components/MuiBadge.css
Due: copyright

Refactor example
  examples/mui/Badge.colors.tsx
Due: copyright, format, lint

Fix copy-pasta from Alert.md
  apps/website/src/content/docs/components/mui/Badge.md
Due: none

Fix types.ts copy-pasta
  packages/mui/src/types.ts
Due: copyright, format, lint

Shorten static variable names similar to #1256
  packages/mui/src/~components/MuiSwitch.css
Due: copyright

Update changeset
  .changeset/small-items-brake.md
Due: none

Avoid potential recursiveness
  packages/mui/src/types.ts
Due: copyright, format, lint

Update apps/website/src/content/docs/components/Introduction.md
  apps/website/src/content/docs/components/Introduction.md
Due: none

Active state animation doesn't trigger when switch is disabled.
  packages/mui/src/~components/MuiSwitch.css
Due: copyright

superfluous frontmatter removed; split up CSS modifications; component statuses diminished
  apps/website/src/content/docs/components/Introduction.md
Due: none

Init
  .changeset/good-balloons-ask.md
  apps/website/src/content/docs/components/mui/Chip.md
  packages/mui/src/types.ts
Due: copyright, format, lint

Use CSS variables.
  packages/mui/src/~components/MuiMenu.css
Due: copyright

Remove inherit
  packages/mui/src/types.ts
Due: copyright, format, lint

use cases table
  apps/website/src/content/docs/components/mui/Card.md
Due: none

rewording and new don’t
  apps/website/src/content/docs/components/mui/Card.md
Due: none

corrected table values and list guidance
  apps/website/src/content/docs/components/mui/Card.md
Due: none

reordering and removing one don’t
  apps/website/src/content/docs/components/mui/Card.md
Due: none

clarification on headings
  apps/website/src/content/docs/components/mui/Card.md
Due: none

Add default, deprecate.
  packages/mui/src/types.ts
Due: copyright, format, lint

additional rewording
  apps/website/src/content/docs/components/mui/Card.md
Due: none

Add Badge.inline example
  apps/website/src/content/docs/components/mui/Badge.md
  examples/mui/Badge.inline.tsx
Due: copyright, format, lint
