Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    copyright:
      glob: "*.{js,ts,jsx,tsx,css,html}"
      run: pnpm lint:copyright {staged_files} --fix
      stage_fixed: true

    format:
      glob: "*.{js,ts,jsx,tsx,json,jsonc}"
      run: pnpm biome format --write {staged_files}
      stage_fixed: true

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm biome lint --write {staged_files}
      stage_fixed: true

    prettier:
      exclude:
        - "*.{js,ts,jsx,tsx,cjs,cts,mjs,mts,json,jsonc}"
      run: pnpm exec prettier {staged_files} --ignore-unknown --write
      stage_fixed: true

Update docs reflecting new way to apply heading levels
  apps/website/src/content/docs/components/mui/Accordion.md
Due: none

rm link
  apps/website/src/content/docs/components/stratakit/Toolbar.md
Due: none

reword
  apps/website/src/content/docs/components/stratakit/Toolbar.md
Due: none

rm unused imports
  examples/structures/Toolbar.menu.tsx
Due: copyright, format, lint

Rm conditional rendering
  packages/structures/src/NavigationRail.tsx
Due: copyright, format, lint

displayNames
  packages/structures/src/NavigationRail.tsx
Due: copyright, format, lint

Avoid Tooltip rendering in potential compositional API
  packages/structures/src/NavigationRail.tsx
Due: copyright, format, lint

Add NavigationRailItemActionTooltip
  packages/structures/src/NavigationRail.tsx
Due: copyright, format, lint

useWarnOnInteractiveDescendants
  packages/foundations/src/~hooks.ts
  packages/structures/src/NavigationRail.tsx
Due: copyright, format, lint

rename brand icons
  .changeset/flat-phones-stop.md
  apps/test-app/app/tests/navigation-rail/index.tsx
  examples/structures/NavigationRail.default.tsx
  packages/icons/icons/brand-android.svg
  packages/icons/icons/brand-apple.svg
  packages/icons/icons/brand-bentley-systems.svg
  packages/icons/icons/brand-windows.svg
  packages/icons/package.json
Due: copyright, format, lint

rename `object-zoom`
  .changeset/flat-phones-stop.md
  packages/icons/icons/object-zoom-to.svg
  packages/icons/package.json
Due: format

Add static variable for mask gap
  packages/mui/src/~components/MuiAvatarGroup.css
Due: copyright

Increase body padding, remove expander padding
  packages/mui/src/~components/MuiAccordion.css
Due: copyright

update `brand-bentley-systems.svg`
  .changeset/sparkly-birds-do.md
  apps/test-app/app/tests/navigation-rail/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/navigation-rail/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/navigation-rail/index.spec.ts-snapshot.-visual-default-2-chromium-linux.png
  apps/test-app/app/tests/navigation-rail/index.spec.ts-snapshot.-visual-default-2-firefox-linux.png
  apps/test-app/app/tests/navigation-rail/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/navigation-rail/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  packages/icons/icons/brand-bentley-systems.svg
Due: none

Safari shorthand fix
  packages/mui/src/~components/MuiAccordion.css
Due: copyright

update lockfile
  pnpm-lock.yaml
Due: none

update changelogs
  packages/icons/CHANGELOG.md
  packages/mui/CHANGELOG.md
Due: none

Add marker position
  .changeset/funky-meteors-hammer.md
  apps/test-app/app/mui/Accordion.showcase.tsx
  apps/website/src/content/docs/components/mui/Accordion.md
  examples/mui/Accordion.marker-left.module.css
  examples/mui/Accordion.marker-left.tsx
  examples/mui/Accordion.marker-position.tsx
  packages/mui/src/types.ts
  packages/mui/src/~components/MuiAccordion.css
  packages/mui/src/~components/MuiAccordion.tsx
  packages/mui/src/~createTheme.tsx
Due: copyright, format, lint

Move the util
  packages/foundations/src/~hooks.ts
  packages/structures/src/NavigationRail.tsx
  packages/structures/src/~hooks.ts
Due: copyright, format, lint

table (html) -> table (md)
  apps/website/src/content/docs/guides/structure.md
Due: none

language and labels guide
  apps/website/src/content/docs/guides/language-and-labels.md
  apps/website/src/content/docs/guides/structure.md
Due: none

reworded first paragraph
  apps/website/src/content/docs/guides/language-and-labels.md
Due: none

better flow of second paragraph
  apps/website/src/content/docs/guides/language-and-labels.md
Due: none

clearer intro to page language
  apps/website/src/content/docs/guides/language-and-labels.md
Due: none

shortened lang/ISO language part
  apps/website/src/content/docs/guides/language-and-labels.md
Due: none

bit on translation
  apps/website/src/content/docs/guides/language-and-labels.md
Due: none

Accordion remnants
  apps/website/src/content/docs/components/mui/Accordion.md
  packages/mui/src/~createTheme.tsx
Due: copyright, format, lint

link label -> link text
  apps/website/src/content/docs/guides/language-and-labels.md
Due: none

reworded error message punchline
  apps/website/src/content/docs/guides/language-and-labels.md
Due: none

text + button examples
  apps/website/src/content/docs/guides/language-and-labels.md
Due: none

Flip the responsive design layout
  packages/mui/src/~components/MuiAccordion.css
Due: copyright

Trying container-name
  packages/mui/src/~components/MuiAccordion.css
Due: copyright

Move container-type from root to summary
  packages/mui/src/~components/MuiAccordion.css
Due: copyright

Move prop from `Accordion` to `AccordionSummary`.
  .changeset/funky-meteors-hammer.md
  apps/website/src/content/docs/components/mui/Accordion.md
  examples/mui/Accordion.marker-position.tsx
  packages/mui/src/types.ts
  packages/mui/src/~components/MuiAccordion.css
  packages/mui/src/~components/MuiAccordionSummary.tsx
  packages/mui/src/~createTheme.tsx
Due: copyright, format, lint

Missed 1 file deletion
  packages/mui/src/~components/MuiAccordion.tsx
Due: copyright, format, lint

Changes
  packages/mui/src/types.ts
Due: copyright, format, lint

tabindex attr
  packages/structures/src/~hooks.ts
Due: copyright, format, lint

Direct via warn msg
  packages/structures/src/NavigationRail.tsx
Due: copyright, format, lint

Add align-items
  packages/structures/src/NavigationRail.css
Due: copyright

warnRef -> ref
  packages/structures/src/NavigationRail.tsx
Due: copyright, format, lint
