Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    copyright:
      glob: "*.{js,ts,jsx,tsx,css,html}"
      run: pnpm lint:copyright {staged_files} --fix
      stage_fixed: true

    format:
      glob: "*.{js,ts,jsx,tsx,json,jsonc}"
      run: pnpm biome format --write {staged_files}
      stage_fixed: true

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm biome lint --write {staged_files}
      stage_fixed: true

    prettier:
      exclude:
        - "*.{js,ts,jsx,tsx,cjs,cts,mjs,mts,json,jsonc}"
      run: pnpm exec prettier {staged_files} --ignore-unknown --write
      stage_fixed: true

Icon import no longer needed with select option component
  apps/test-app/app/tests/select/index.tsx
Due: copyright, format, lint

Initial commit.
  .changeset/two-readers-rest.md
  apps/test-app/app/tests/text-box/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/text-box/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/text-box/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/text-box/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/text-box/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/text-box/index.tsx
  packages/bricks/src/TextBox.css
Due: copyright, format, lint

Update packages/bricks/src/TextBox.css
  packages/bricks/src/TextBox.css
Due: copyright

Both valid and invalid use :is(input, textarea)
  packages/bricks/src/TextBox.css
Due: copyright

Revert test & test images.
  apps/test-app/app/tests/text-box/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/text-box/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/text-box/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/text-box/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/text-box/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/text-box/index.tsx
Due: copyright, format, lint

Add valid styling to `TextBox` (#1067)
  .changeset/two-readers-rest.md
  packages/bricks/src/TextBox.css
Due: copyright

Initial commit.
  .changeset/lucky-streets-write.md
  apps/test-app/app/tests/badge/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/badge/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/badge/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/badge/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/badge/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/badge/index.tsx
  packages/bricks/src/Badge.css
  packages/bricks/src/Badge.tsx
Due: copyright, format, lint

Avatar doc (#45)
  src/content/docs/components/Avatar.md
  src/examples/Avatar.icon.tsx
  src/examples/Avatar.image.tsx
Due: copyright, format, lint

Kbd doc (#42)
  src/content/docs/components/Kbd.md
  src/examples/Kbd.default.tsx
Due: copyright, format, lint

Field and Label docs with associated demos (#39)
  src/content/docs/components/Field.md
  src/content/docs/components/Label.md
  src/examples/Field.checkbox.tsx
  src/examples/Field.default.tsx
  src/examples/Field.description.tsx
  src/examples/Field.error.tsx
  src/examples/Field.select.tsx
  src/examples/Label.default.tsx
Due: copyright, format, lint

Add compositional subcomponents.
  packages/structures/src/Popover.tsx
Due: copyright, format, lint

Add example to jsdoc
  packages/structures/src/Popover.tsx
Due: copyright, format, lint

Add comment for defaultId
  packages/structures/src/Popover.tsx
Due: copyright, format, lint

Change gutter to 8px
  packages/structures/src/Popover.tsx
Due: copyright, format, lint

Inline comment
  packages/structures/src/Popover.tsx
Due: copyright, format, lint

snaps
  apps/test-app/app/tests/popover/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/popover/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/popover/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/popover/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/popover/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
Due: none

Avatar sentence fragment typo (#46)
  src/content/docs/components/Avatar.md
Due: none

Simplify default variant.
  apps/test-app/app/tests/popover/index.tsx
Due: copyright, format, lint

Add visual variant
  apps/test-app/app/tests/popover/index.tsx
Due: copyright, format, lint

Add accessible name test
  apps/test-app/app/tests/popover/index.spec.ts
Due: copyright, format, lint

Add 'tab outside' step.
  apps/test-app/app/tests/popover/index.spec.ts
  apps/test-app/app/tests/popover/index.tsx
Due: copyright, format, lint

Fix tests
  apps/test-app/app/tests/popover/index.spec.ts
Due: copyright, format, lint

Add controlled state test
  apps/test-app/app/tests/popover/index.spec.ts
Due: copyright, format, lint

Run axe on multiple variants
  apps/test-app/app/tests/popover/index.spec.ts
Due: copyright, format, lint

Revert #1067
  .changeset/silly-mirrors-boil.md
  packages/bricks/src/TextBox.css
Due: copyright

Remove new and old changesets.
  .changeset/silly-mirrors-boil.md
  .changeset/two-readers-rest.md
Due: none

Remove endIcon, rename startIcon to icon.
  apps/test-app/app/tests/badge/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/badge/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/badge/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/badge/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/badge/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/badge/index.tsx
  packages/bricks/src/Badge.tsx
Due: copyright, format, lint

Remove valid styling to `TextBox` (#1069)
  .changeset/two-readers-rest.md
  packages/bricks/src/TextBox.css
Due: copyright

Revert AI slop.
  packages/bricks/src/Badge.tsx
Due: copyright, format, lint

Updated changeset.
  .changeset/lucky-streets-write.md
Due: none

Decouple select styling from dropdown menu
  packages/bricks/src/Select.css
  packages/bricks/src/Select.tsx
  packages/structures/src/DropdownMenu.css
Due: copyright, format, lint

add `stack` utility class for demos
  src/examples/Text.variants.tsx
  src/pages/examples/[example].astro
Due: copyright, format, lint

rename some files
  astro.config.mjs
  src/components/CustomElements.astro
  src/components/Head.astro
  src/components/example-embed.astro
Due: none

Add ghost aligner to icon
  apps/test-app/app/tests/badge/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/badge/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/badge/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/badge/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/badge/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  packages/bricks/src/Badge.css
  packages/bricks/src/Badge.tsx
Due: copyright, format, lint

Wrap label in Text when icon is present.
  packages/bricks/src/Badge.tsx
Due: copyright, format, lint

Use CSS variable for icon inner glow color.
  packages/bricks/src/Field.tsx
Due: copyright, format, lint

Divider doc (#44)
  src/content/docs/components/Divider.md
  src/examples/Divider.default.tsx
  src/examples/Toolbar.divider.tsx
Due: copyright, format, lint

fix inconsistencies
  src/content/docs/components/Avatar.md
  src/content/docs/components/Divider.md
  src/content/docs/components/Field.md
  src/content/docs/components/Kbd.md
  src/content/docs/components/Label.md
Due: none

Wrap label in Text always.
  packages/bricks/src/Badge.tsx
Due: copyright, format, lint

@mayank99 pseudo icon
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-checkable-controls-1-chromium-linux.png
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-checkable-controls-1-firefox-linux.png
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-checkable-controls-1-webkit-linux.png
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-text-controls-1-chromium-linux.png
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-text-controls-1-firefox-linux.png
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-text-controls-1-webkit-linux.png
  packages/bricks/src/Description.css
  packages/bricks/src/Field.tsx
Due: copyright, format, lint
