Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    copyright:
      glob: "*.{js,ts,jsx,tsx,css,html}"
      run: pnpm lint:copyright {staged_files} --fix
      stage_fixed: true

    format:
      glob: "*.{js,ts,jsx,tsx,json,jsonc}"
      run: pnpm biome format --write {staged_files}
      stage_fixed: true

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm biome lint --write {staged_files}
      stage_fixed: true

    prettier:
      exclude:
        - "*.{js,ts,jsx,tsx,cjs,cts,mjs,mts,json,jsonc}"
      run: pnpm exec prettier {staged_files} --ignore-unknown --write
      stage_fixed: true

Unmount wrapper when unmountOnHide is true.
  packages/structures/src/Dialog.tsx
Due: copyright, format, lint

Position dialog
  apps/test-app/app/tests/dialog/index.tsx
Due: copyright, format, lint

Fix togglePopover order by checking the open prop
  apps/test-app/app/tests/dialog/index.tsx
  packages/structures/src/Dialog.css
  packages/structures/src/Dialog.tsx
Due: copyright, format, lint

Initial commit, unfinished.
  apps/test-app/app/tests/select/index.tsx
  packages/bricks/src/Select.css
  packages/structures/src/DropdownMenu.css
Due: copyright, format, lint

Move inset to Dialog.css
  apps/test-app/app/tests/dialog/index.tsx
  packages/structures/src/Dialog.css
Due: copyright, format, lint

Remove popover={undefined}, since it is now set on a wrapper.
  apps/test-app/app/tests/dialog/index.tsx
Due: copyright, format, lint

Rename DropdownMenu.Root to DropdownMenu.Provider
  apps/test-app/app/sandbox/index.tsx
  apps/test-app/app/tests/dropdown-menu/index.tsx
  apps/test-app/app/tests/root/index.tsx
  packages/compat/src/DropdownMenu.tsx
  packages/structures/src/DropdownMenu.tsx
  packages/structures/src/TreeItem.tsx
Due: copyright, format, lint

Rename Tabs.Root to Tabs.Provider
  apps/test-app/app/sandbox/index.tsx
  apps/test-app/app/tests/tabs/index.tsx
  packages/compat/src/Tabs.tsx
  packages/structures/src/Tabs.tsx
Due: copyright, format, lint

pnpm changeset
  .changeset/whole-comics-doubt.md
  .changeset/wise-beds-cry.md
Due: none

Add orientation prop to Toolbar.Group component.
  apps/test-app/app/tests/toolbar/index.tsx
  packages/structures/src/Toolbar.css
  packages/structures/src/Toolbar.tsx
Due: copyright, format, lint

Handle tooltip placement.
  packages/structures/src/Toolbar.tsx
Due: copyright, format, lint

pnpm changeset
  .changeset/proud-pillows-agree.md
Due: none

Tests
  apps/test-app/app/tests/toolbar/index.spec.ts
  apps/test-app/app/tests/toolbar/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/toolbar/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/toolbar/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/toolbar/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/toolbar/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
Due: copyright, format, lint

Update active icon button style when rendered as a toolbar item.
  apps/test-app/app/tests/toolbar/index.tsx
  packages/bricks/src/Button.css
  packages/structures/src/Toolbar.css
  packages/structures/src/Toolbar.tsx
Due: copyright, format, lint

Tests
  apps/test-app/app/tests/toolbar/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/toolbar/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/toolbar/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/toolbar/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/toolbar/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/toolbar/index.tsx
Due: copyright, format, lint

pnpm changeset
  .changeset/ripe-parks-cross.md
Due: none

Workaround for aria-pressed workaround.
  packages/structures/src/Toolbar.css
Due: copyright

Remove button-border-color wokraround in Button.css
  packages/bricks/src/Button.css
  packages/structures/src/Toolbar.css
Due: copyright

Size and align divider within toolbar.
  apps/test-app/app/tests/toolbar/index.tsx
  packages/bricks/src/Divider.css
  packages/structures/src/Toolbar.css
Due: copyright, format, lint

snaps
  apps/test-app/app/tests/toolbar/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/toolbar/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/toolbar/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/toolbar/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/toolbar/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
Due: none

pnpm changeset
  .changeset/brave-paws-fry.md
Due: none

docs
  packages/structures/src/Toolbar.tsx
Due: copyright, format, lint

Update color of Divider to match latest Figma design
  packages/bricks/src/Divider.css
Due: copyright

pnpm changeset
  .changeset/hip-llamas-pull.md
Due: none

Remove button-bg--ghost-active variable.
  packages/bricks/src/Button.css
  packages/structures/src/Toolbar.css
Due: copyright

Customize bg color in disabled state
  packages/structures/src/Toolbar.css
Due: copyright

Update .changeset/whole-comics-doubt.md
  .changeset/whole-comics-doubt.md
Due: none

Update .changeset/wise-beds-cry.md
  .changeset/wise-beds-cry.md
Due: none

Revert default variant.
  apps/test-app/app/tests/toolbar/index.tsx
Due: copyright, format, lint

Group horizontal tests
  apps/test-app/app/tests/toolbar/index.spec.ts
Due: copyright, format, lint

Run axe on vertical toolbar
  apps/test-app/app/tests/toolbar/index.spec.ts
Due: copyright, format, lint

Rename `DropdownMenu.Root` and `Tabs.Root` components (#900)
  .changeset/whole-comics-doubt.md
  .changeset/wise-beds-cry.md
  apps/test-app/app/sandbox/index.tsx
  apps/test-app/app/tests/dropdown-menu/index.tsx
  apps/test-app/app/tests/root/index.tsx
  apps/test-app/app/tests/tabs/index.tsx
  packages/compat/src/DropdownMenu.tsx
  packages/compat/src/Tabs.tsx
  packages/structures/src/DropdownMenu.tsx
  packages/structures/src/Tabs.tsx
  packages/structures/src/TreeItem.tsx
Due: copyright, format, lint

Add comment about DialogWrapper portaling
  packages/structures/src/Dialog.tsx
Due: copyright, format, lint

Update snaps
  apps/test-app/app/tests/divider/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/divider/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/divider/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/divider/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
Due: none

Use divider-main/cross-axis-margin variables.
  apps/test-app/app/tests/toolbar/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/toolbar/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/toolbar/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/toolbar/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/toolbar/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  packages/bricks/src/Divider.css
  packages/structures/src/Toolbar.css
Due: copyright

Toggle popover: prefer openProp over openState
  packages/structures/src/Dialog.tsx
Due: copyright, format, lint

Default unmountOnHide to true
  apps/test-app/app/tests/dialog/index.tsx
  packages/structures/src/Dialog.tsx
Due: copyright, format, lint

Use hidden attribute
  packages/structures/src/Dialog.tsx
Due: copyright, format, lint

Apply `open` source of truth change
  packages/structures/src/Dialog.tsx
Due: copyright, format, lint

Update `Divider` color (#904)
  .changeset/hip-llamas-pull.md
  apps/test-app/app/tests/divider/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/divider/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/divider/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/divider/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  packages/bricks/src/Divider.css
Due: copyright
