Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

copyright:
  run: pnpm lint:copyright {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm biome format --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm biome lint --write {staged_files}
  stage_fixed: true

update `README.md`
  packages/kiwi-icons/README.md
Due: none

use large icons in Toolbar (#540)
  apps/test-app/app/tests/button/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/button/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/icon-button/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/icon-button/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/select/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/select/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/toolbar/index.spec.ts
  apps/test-app/app/tests/toolbar/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/toolbar/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/toolbar/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/toolbar/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/toolbar/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/toolbar/index.tsx
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-default-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-default-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-description-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-description-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-error-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-error-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-focused-item-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-focused-item-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-overflow-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-overflow-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-selected-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-selected-1-firefox-linux.png
  packages/kiwi-react/src/bricks/Button.css
  packages/kiwi-react/src/bricks/IconButton.internal.tsx
  packages/kiwi-react/src/bricks/IconButton.tsx
  packages/kiwi-react/src/bricks/Toolbar.tsx
Due: copyright, format, lint

Fix `forced-colors` of `<Kbd>` (#518)
  apps/test-app/app/tests/kbd/index.spec.ts
  apps/test-app/app/tests/kbd/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/kbd/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  packages/kiwi-react/src/bricks/Kbd.css
Due: copyright, format, lint

moving to last position
  apps/test-app/app/tests/button/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/button/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/button/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/button/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/button/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/button/index.tsx
Due: copyright, format, lint

updating snapshots
  apps/test-app/app/tests/button/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/button/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
Due: none

update overflow handling
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

move to single visual test
  apps/test-app/app/tests/anchor/index.spec.ts
  apps/test-app/app/tests/anchor/index.spec.ts-snapshot.-visual-button-1-chromium-linux.png
  apps/test-app/app/tests/anchor/index.spec.ts-snapshot.-visual-button-1-firefox-linux.png
  apps/test-app/app/tests/anchor/index.spec.ts-snapshot.-visual-button-1-webkit-linux.png
  apps/test-app/app/tests/anchor/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/anchor/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/anchor/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/anchor/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/anchor/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/anchor/index.spec.ts-snapshot.-visual-forced-colors-button-1-chromium-linux.png
  apps/test-app/app/tests/anchor/index.spec.ts-snapshot.-visual-forced-colors-button-1-firefox-linux.png
  apps/test-app/app/tests/anchor/index.spec.ts-snapshot.-visual-forced-colors-default-1-chromium-linux.png
  apps/test-app/app/tests/anchor/index.spec.ts-snapshot.-visual-forced-colors-default-1-firefox-linux.png
  apps/test-app/app/tests/anchor/index.tsx
Due: copyright, format, lint

move tones
  apps/test-app/app/tests/anchor/index.tsx
Due: copyright, format, lint

update onClick for button
  apps/test-app/app/tests/anchor/index.tsx
Due: copyright, format, lint

Use CanvasText for active tab stripe
  apps/test-app/app/tests/tabs/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/tabs/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  packages/kiwi-react/src/bricks/Tabs.css
Due: copyright

update nonTabPanel props
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

update `README.md` (#541)
  packages/kiwi-icons/README.md
Due: none

fix `ErrorRegion` markup
  packages/kiwi-react/src/bricks/ErrorRegion.tsx
Due: copyright, format, lint

fix `ErrorRegion` markup (#543)
  packages/kiwi-react/src/bricks/ErrorRegion.tsx
Due: copyright, format, lint

fix `tsconfig`
  packages/kiwi-react/tsconfig.json
Due: format

fix `tsconfig` (#544)
  packages/kiwi-react/tsconfig.json
Due: format

create `IconButtonPresentation` helper
  packages/kiwi-react/src/bricks/ErrorRegion.tsx
  packages/kiwi-react/src/bricks/IconButton.css
  packages/kiwi-react/src/bricks/IconButton.internal.tsx
  packages/kiwi-react/src/bricks/IconButton.tsx
  packages/kiwi-react/src/bricks/TreeItem.tsx
Due: copyright, format, lint

add test for `ErrorRegion` forced-colors
  apps/test-app/app/tests/error-region/index.spec.ts
  apps/test-app/app/tests/error-region/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/error-region/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
Due: copyright, format, lint

add custom styling for `<VisuallyHidden>`
  packages/kiwi-react/src/bricks/VisuallyHidden.css
  packages/kiwi-react/src/bricks/VisuallyHidden.tsx
  packages/kiwi-react/src/bricks/styles.css
Due: copyright, format, lint

add custom styling for `<VisuallyHidden>` (#546)
  packages/kiwi-react/src/bricks/VisuallyHidden.css
  packages/kiwi-react/src/bricks/VisuallyHidden.tsx
  packages/kiwi-react/src/bricks/styles.css
Due: copyright, format, lint

visual test for `<Anchor>` as button (#530)
  apps/test-app/app/tests/anchor/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/anchor/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/anchor/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/anchor/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/anchor/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/anchor/index.tsx
Due: copyright, format, lint

create `IconButtonPresentation` helper (#545)
  apps/test-app/app/tests/error-region/index.spec.ts
  apps/test-app/app/tests/error-region/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/error-region/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  packages/kiwi-react/src/bricks/ErrorRegion.tsx
  packages/kiwi-react/src/bricks/IconButton.css
  packages/kiwi-react/src/bricks/IconButton.internal.tsx
  packages/kiwi-react/src/bricks/IconButton.tsx
  packages/kiwi-react/src/bricks/TreeItem.tsx
Due: copyright, format, lint

clean up overflow handling
  apps/test-app/app/sandbox.module.css
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

Adding visual tests for `<Button>` as anchor (#531)
  apps/test-app/app/tests/button/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/button/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/button/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/button/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/button/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/button/index.tsx
Due: copyright, format, lint

Memoize Tree.Item
  apps/test-app/app/tests/tree/index.tsx
  packages/kiwi-react/src/bricks/TreeItem.tsx
Due: copyright, format, lint

Memoize TreeItemActions
  packages/kiwi-react/src/bricks/TreeItem.tsx
Due: copyright, format, lint

Memoize Toolbar of TreeItemActions instead
  packages/kiwi-react/src/bricks/TreeItem.tsx
Due: copyright, format, lint

Split TreeItemContext: remove unused values
  packages/kiwi-react/src/bricks/TreeItem.tsx
Due: copyright, format, lint

Memo TreeItemActions
  packages/kiwi-react/src/bricks/TreeItem.tsx
Due: copyright, format, lint

fix `<table>` width and layout
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-hovered-row-1-chromium-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-hovered-row-1-firefox-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-hovered-row-1-webkit-linux.png
  packages/kiwi-react/src/bricks/Table.css
  packages/kiwi-react/src/foundations/reset.css
Due: copyright

fix `HtmlTable` width and layout (#548)
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-hovered-row-1-chromium-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-hovered-row-1-firefox-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-hovered-row-1-webkit-linux.png
  packages/kiwi-react/src/bricks/Table.css
  packages/kiwi-react/src/foundations/reset.css
Due: copyright

Move ListItem.Decoration into TreeItemActions.
  packages/kiwi-react/src/bricks/TreeItem.tsx
Due: copyright, format, lint

memo ListItemContent
  packages/kiwi-react/src/bricks/~utils.ListItem.tsx
Due: copyright, format, lint

Extract TreeItemNode
  packages/kiwi-react/src/bricks/TreeItem.tsx
Due: copyright, format, lint

Use aria-expanded instead of data-kiwi-expanded
  packages/kiwi-react/src/bricks/TreeItem.css
  packages/kiwi-react/src/bricks/TreeItem.tsx
Due: copyright, format, lint

Initial avatar group.
  apps/test-app/app/components.ts
  apps/test-app/app/tests/avatar-group/index.spec.ts
  apps/test-app/app/tests/avatar-group/index.tsx
  packages/kiwi-react/src/bricks/AvatarGroup.css
  packages/kiwi-react/src/bricks/AvatarGroup.tsx
  packages/kiwi-react/src/bricks/index.ts
  packages/kiwi-react/src/bricks/styles.css
Due: copyright, format, lint

Simplified mask-image
  packages/kiwi-react/src/bricks/AvatarGroup.css
Due: copyright

Tests.
  apps/test-app/app/tests/avatar-group/index.spec.ts
  apps/test-app/app/tests/avatar-group/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/avatar-group/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/avatar-group/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/avatar-group/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/avatar-group/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/avatar-group/index.tsx
Due: copyright, format, lint

Use first / last of type instead of first / last child.
  packages/kiwi-react/src/bricks/AvatarGroup.css
Due: copyright

add yaml file
  .github/workflows/PR.yaml
Due: none

Path conditions:
  copyright: any of: *.{js,ts,jsx,tsx,css,html}
  format: any of: *.{js,ts,jsx,tsx,json,jsonc}
  lint: any of: *.{js,ts,jsx,tsx}
