Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

copyright:
  run: pnpm lint:copyright {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm biome format --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm biome lint --write {staged_files}
  stage_fixed: true

rm unused minBlockSize needed for visual tests
  apps/test-app/app/tests/dropdown-menu/index.tsx
Due: copyright, format, lint

internal: add `useInit()` hook to every component
  packages/bricks/src/Anchor.tsx
  packages/bricks/src/Avatar.tsx
  packages/bricks/src/Badge.tsx
  packages/bricks/src/Button.tsx
  packages/bricks/src/Checkbox.tsx
  packages/bricks/src/Description.tsx
  packages/bricks/src/Divider.tsx
  packages/bricks/src/Field.tsx
  packages/bricks/src/IconButton.tsx
  packages/bricks/src/Kbd.tsx
  packages/bricks/src/Label.tsx
  packages/bricks/src/Progress.tsx
  packages/bricks/src/Radio.tsx
  packages/bricks/src/Select.tsx
  packages/bricks/src/Skeleton.tsx
  packages/bricks/src/Spinner.tsx
  packages/bricks/src/Switch.tsx
  packages/bricks/src/Text.tsx
  packages/bricks/src/TextBox.tsx
  packages/bricks/src/Tooltip.tsx
  packages/bricks/src/VisuallyHidden.tsx
  packages/bricks/src/~utils.useInit.tsx
  packages/foundations/src/Root.internal.tsx
  packages/foundations/src/Root.tsx
  packages/foundations/src/secret-internals.ts
  packages/structures/src/AccordionItem.tsx
  packages/structures/src/Banner.tsx
  packages/structures/src/Chip.tsx
  packages/structures/src/Dialog.tsx
  packages/structures/src/DropdownMenu.tsx
  packages/structures/src/ErrorRegion.tsx
  packages/structures/src/NavigationRail.tsx
  packages/structures/src/Popover.tsx
  packages/structures/src/Table.tsx
  packages/structures/src/Tabs.tsx
  packages/structures/src/Toolbar.tsx
  packages/structures/src/Tree.tsx
  packages/structures/src/~utils.useInit.tsx
Due: copyright, format, lint

internal: add `useInit()` hook to every component (#1085)
  packages/bricks/src/Anchor.tsx
  packages/bricks/src/Avatar.tsx
  packages/bricks/src/Badge.tsx
  packages/bricks/src/Button.tsx
  packages/bricks/src/Checkbox.tsx
  packages/bricks/src/Description.tsx
  packages/bricks/src/Divider.tsx
  packages/bricks/src/Field.tsx
  packages/bricks/src/IconButton.tsx
  packages/bricks/src/Kbd.tsx
  packages/bricks/src/Label.tsx
  packages/bricks/src/Progress.tsx
  packages/bricks/src/Radio.tsx
  packages/bricks/src/Select.tsx
  packages/bricks/src/Skeleton.tsx
  packages/bricks/src/Spinner.tsx
  packages/bricks/src/Switch.tsx
  packages/bricks/src/Text.tsx
  packages/bricks/src/TextBox.tsx
  packages/bricks/src/Tooltip.tsx
  packages/bricks/src/VisuallyHidden.tsx
  packages/bricks/src/~utils.useInit.tsx
  packages/foundations/src/Root.internal.tsx
  packages/foundations/src/Root.tsx
  packages/foundations/src/secret-internals.ts
  packages/structures/src/AccordionItem.tsx
  packages/structures/src/Banner.tsx
  packages/structures/src/Chip.tsx
  packages/structures/src/Dialog.tsx
  packages/structures/src/DropdownMenu.tsx
  packages/structures/src/ErrorRegion.tsx
  packages/structures/src/NavigationRail.tsx
  packages/structures/src/Popover.tsx
  packages/structures/src/Table.tsx
  packages/structures/src/Tabs.tsx
  packages/structures/src/Toolbar.tsx
  packages/structures/src/Tree.tsx
  packages/structures/src/~utils.useInit.tsx
Due: copyright, format, lint

changeset
  .changeset/clever-cars-push.md
Due: none

create unstable `NavigationList` component
  apps/test-app/app/tests/navigation-list/index.tsx
  apps/test-app/app/~meta.ts
  packages/structures/package.json
  packages/structures/src/NavigationList.css
  packages/structures/src/NavigationList.tsx
  packages/structures/src/index.ts
  packages/structures/src/styles.css
Due: copyright, format, lint

forced-colors styling
  packages/structures/src/NavigationList.css
Due: copyright

tests
  apps/test-app/app/tests/navigation-list/index.spec.ts
  apps/test-app/app/tests/navigation-list/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/navigation-list/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/navigation-list/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/navigation-list/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/navigation-list/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/navigation-list/index.tsx
Due: copyright, format, lint

Collapse icon column if no icon is present.
  packages/bricks/src/Select.css
Due: copyright

Demo options have mix of icon & no icon
  apps/test-app/app/tests/select/index.tsx
Due: copyright, format, lint

Changeset
  .changeset/nine-fans-mate.md
Due: none

Revert "Automagically render divider"
  packages/structures/src/DropdownMenu.tsx
Due: copyright, format, lint

CSS solution for dividers
  packages/structures/src/DropdownMenu.css
Due: copyright

Badge doc (#50)
  src/content/docs/components/Badge.md
  src/content/docs/components/Divider.md
  src/examples/Badge.critical.tsx
  src/examples/Badge.tones.tsx
Due: copyright, format, lint

Forces colors
  packages/structures/src/DropdownMenu.css
Due: copyright

Snaps
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
Due: none

create unstable `NavigationList` component (#1075)
  .changeset/clever-cars-push.md
  apps/test-app/app/tests/navigation-list/index.spec.ts
  apps/test-app/app/tests/navigation-list/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/navigation-list/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/navigation-list/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/navigation-list/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/navigation-list/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/navigation-list/index.tsx
  apps/test-app/app/~meta.ts
  packages/structures/package.json
  packages/structures/src/NavigationList.css
  packages/structures/src/NavigationList.tsx
  packages/structures/src/index.ts
  packages/structures/src/styles.css
Due: copyright, format, lint

define `__VERSION__` constant
  apps/test-app/vite.config.ts
  packages/bricks/scripts/build.js
  packages/bricks/types.d.ts
  packages/compat/scripts/build.js
  packages/foundations/scripts/build.js
  packages/foundations/types.d.ts
  packages/structures/scripts/build.js
  packages/structures/types.d.ts
Due: copyright, format, lint

internal: define `__VERSION__` constant (#959)
  apps/test-app/vite.config.ts
  packages/bricks/scripts/build.js
  packages/bricks/types.d.ts
  packages/compat/scripts/build.js
  packages/foundations/scripts/build.js
  packages/foundations/types.d.ts
  packages/structures/scripts/build.js
  packages/structures/types.d.ts
Due: copyright, format, lint

internal: store package versions in Context
  packages/bricks/src/~utils.useInit.tsx
  packages/foundations/src/Root.internal.tsx
  packages/foundations/src/Root.tsx
  packages/structures/src/~utils.useInit.tsx
Due: copyright, format, lint

add missing useInit to NavigationList
  packages/structures/src/NavigationList.tsx
Due: copyright, format, lint

internal: store package versions in Context (#1088)
  packages/bricks/src/~utils.useInit.tsx
  packages/foundations/src/Root.internal.tsx
  packages/foundations/src/Root.tsx
  packages/structures/src/NavigationList.tsx
  packages/structures/src/~utils.useInit.tsx
Due: copyright, format, lint

update versions
  packages/bricks/package.json
  packages/compat/package.json
  packages/foundations/package.json
  packages/structures/package.json
  pnpm-lock.yaml
Due: format

update changelogs
  packages/bricks/CHANGELOG.md
  packages/foundations/CHANGELOG.md
  packages/icons/CHANGELOG.md
  packages/structures/CHANGELOG.md
Due: none

Set data-has-popover-open when dialog is expanded
  packages/structures/src/DropdownMenu.tsx
Due: copyright, format, lint

Skeleton doc (#52)
  src/content/docs/components/Skeleton.md
  src/examples/Skeleton.default.tsx
Due: copyright, format, lint

Playwright a11y tests (#53)
  .github/workflows/CI.yml
  .gitignore
  package.json
  playwright.config.js
  pnpm-lock.yaml
  src/examples/Radio.default.tsx
  tests/a11y.spec.js
Due: copyright, format, lint

Text doc (#51)
  src/content/docs/components/Text.md
  src/examples/Text.default.tsx
Due: copyright, format, lint

Handle checkmark AND icon.
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.DropdownMenu-CheckboxItem-visual-1-chromium-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.DropdownMenu-CheckboxItem-visual-1-firefox-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.DropdownMenu-CheckboxItem-visual-1-webkit-linux.png
  packages/structures/src/DropdownMenu.css
  packages/structures/src/DropdownMenu.tsx
Due: copyright, format, lint

Forgot to remove commented out code
  packages/structures/src/DropdownMenu.css
Due: copyright

Fix issue where checkmark is not paired with icon the gap was not correct
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.DropdownMenu-CheckboxItem-visual-1-chromium-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.DropdownMenu-CheckboxItem-visual-1-firefox-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.DropdownMenu-CheckboxItem-visual-1-webkit-linux.png
  packages/structures/src/DropdownMenu.css
Due: copyright

pressed state and “show” label
  packages/structures/src/NavigationRail.tsx
Due: copyright, format, lint

Add defaultOpen param
  apps/test-app/app/tests/dropdown-menu/index.tsx
Due: copyright, format, lint

Apply code-suggestion by @mayank99
  packages/structures/src/DropdownMenu.css
Due: copyright

Apply spacing correctly
  packages/structures/src/DropdownMenu.css
Due: copyright

Remove double dividers when :has() is not supported
  packages/structures/src/DropdownMenu.css
Due: copyright

Add triangle indicator
  packages/structures/src/DropdownMenu.css
  packages/structures/src/DropdownMenu.tsx
Due: copyright, format, lint

Fix forced-colors
  packages/structures/src/DropdownMenu.css
Due: copyright

Fix in forced colors
  packages/structures/src/DropdownMenu.css
Due: copyright

Revert table CSS.
  packages/structures/src/Table.css
Due: copyright

Path conditions:
  copyright: any of: *.{js,ts,jsx,tsx,css,html}
  format: any of: *.{js,ts,jsx,tsx,json,jsonc}
  lint: any of: *.{js,ts,jsx,tsx}
