Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    copyright:
      glob: "*.{js,ts,jsx,tsx,css,html}"
      run: pnpm lint:copyright {staged_files} --fix
      stage_fixed: true

    format:
      glob: "*.{js,ts,jsx,tsx,json,jsonc}"
      run: pnpm biome format --write {staged_files}
      stage_fixed: true

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm biome lint --write {staged_files}
      stage_fixed: true

    prettier:
      exclude:
        - "*.{js,ts,jsx,tsx,cjs,cts,mjs,mts,json,jsonc}"
      run: pnpm exec prettier {staged_files} --ignore-unknown --write
      stage_fixed: true

fix
  packages/bricks/CHANGELOG.md
  packages/bricks/package.json
  packages/compat/CHANGELOG.md
  packages/compat/package.json
  packages/foundations/CHANGELOG.md
  packages/icons/CHANGELOG.md
  packages/structures/CHANGELOG.md
  packages/structures/package.json
  pnpm-lock.yaml
Due: format

Add PaddedTest variant
  apps/test-app/app/tests/popover/index.tsx
Due: copyright, format, lint

Checkbox: “Don't show again” (#40)
  src/content/docs/components/Checkbox.md
  src/examples/Checkbox.default.tsx
Due: copyright, format, lint

Add placement
  apps/test-app/app/tests/popover/index.tsx
  packages/bricks/src/Popover.tsx
Due: copyright, format, lint

Add data-has-popover-open
  packages/bricks/src/Popover.tsx
Due: copyright, format, lint

Initial commit.
  .changeset/smart-mangos-grab.md
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-checkable-controls-1-chromium-linux.png
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-checkable-controls-1-firefox-linux.png
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-checkable-controls-1-webkit-linux.png
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-text-controls-1-chromium-linux.png
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-text-controls-1-firefox-linux.png
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-text-controls-1-webkit-linux.png
  packages/bricks/src/Description.css
  packages/bricks/src/Field.tsx
Due: copyright, format, lint

Update packages/bricks/src/Select.css
  packages/bricks/src/Select.css
Due: copyright

Disabled icon color uses cyclic toggle
  packages/bricks/src/Select.css
Due: copyright

Remove intermediate variables for hover and pressed states
  packages/bricks/src/Select.css
Due: copyright

Organizing CSS
  packages/bricks/src/Select.css
Due: copyright

Remove outdated comment
  packages/bricks/src/Select.css
Due: copyright

New color variables from #1057
  packages/bricks/src/Select.css
Due: copyright

Initial commit
  .changeset/real-ants-cut.md
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.DropdownMenu-CheckboxItem-visual-1-chromium-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.DropdownMenu-CheckboxItem-visual-1-firefox-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.DropdownMenu-CheckboxItem-visual-1-webkit-linux.png
  packages/structures/src/DropdownMenu.css
  packages/structures/src/DropdownMenu.tsx
  packages/structures/src/~utils.ListItem.css
Due: copyright, format, lint

Make gap a static var
  packages/bricks/src/Select.css
Due: copyright

Tests
  apps/test-app/app/tests/popover/index.spec.ts
  apps/test-app/app/tests/popover/index.tsx
Due: copyright, format, lint

Fix border in forced-colors
  packages/bricks/src/Popover.css
Due: copyright

Use disclosure as default dialog label
  apps/test-app/app/tests/popover/index.tsx
  packages/bricks/src/Popover.tsx
Due: copyright, format, lint

Expose unmountOnHide
  apps/test-app/app/tests/popover/index.tsx
  packages/bricks/src/Popover.tsx
Due: copyright, format, lint

Export as unstable_Popover
  apps/test-app/app/tests/popover/index.tsx
  packages/bricks/package.json
  packages/bricks/src/index.ts
Due: copyright, format, lint

pnpm changeset
  .changeset/swift-eagles-invent.md
Due: none

Move to structures
  .changeset/swift-eagles-invent.md
  apps/test-app/app/tests/popover/index.tsx
  apps/test-app/app/~meta.ts
  packages/bricks/package.json
  packages/bricks/src/index.ts
  packages/bricks/src/styles.css
  packages/structures/package.json
  packages/structures/src/Popover.css
  packages/structures/src/Popover.tsx
  packages/structures/src/index.ts
  packages/structures/src/styles.css
Due: copyright, format, lint

Update pr-labels
  .github/workflows/pr-labels.js
Due: copyright, format, lint

Snaps
  apps/test-app/app/tests/popover/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/popover/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/popover/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/popover/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/popover/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
Due: none

Update --stratakit-shadow-dropdown-base
  packages/structures/src/Popover.css
Due: copyright

Updated code comment
  packages/bricks/src/Select.css
Due: copyright

Render Anchor as button
  apps/test-app/app/tests/popover/index.tsx
Due: copyright, format, lint

WIP
  apps/test-app/app/tests/dropdown-menu/index.tsx
Due: copyright, format, lint

Update packages/bricks/src/Select.tsx
  packages/bricks/src/Select.tsx
Due: copyright, format, lint

SelectArrow in utils.icons.tsx
  packages/bricks/src/Select.tsx
  packages/bricks/src/~utils.icons.tsx
Due: copyright, format, lint

Rename to CaretsUpDown, no wrapper
  packages/bricks/src/Select.tsx
  packages/bricks/src/~utils.icons.tsx
Due: copyright, format, lint

`<Select>` no longer relies on `.🥝Button` for styling (#1018)
  .changeset/twelve-buckets-happen.md
  apps/test-app/app/tests/select/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/select/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/select/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/select/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/select/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/select/index.tsx
  packages/bricks/src/Select.css
  packages/bricks/src/Select.tsx
  packages/bricks/src/~utils.icons.tsx
Due: copyright, format, lint

Restore fallback for option background color
  packages/bricks/src/Select.css
Due: copyright

Add supports
  packages/bricks/src/Select.css
Due: copyright

Gap between select and select picker
  packages/structures/src/DropdownMenu.css
Due: copyright

Add initial `API reference` documentation (#33)
  .vscode/settings.json
  api.json
  api.ts
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/ImportSnippet.astro
  src/components/Jsdoc.astro
  src/components/Sidebar.astro
  src/content.config.ts
  src/pages/reference/[...api].astro
  src/pages/reference/index.astro
Due: copyright, format, lint

Add more select components, rely on dropdown menu for styling
  apps/test-app/app/tests/select/index.tsx
  packages/bricks/src/Select.css
  packages/bricks/src/Select.tsx
  packages/structures/src/DropdownMenu.css
Due: copyright, format, lint
