Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

copyright:
  run: pnpm lint:copyright {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm biome format --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm biome lint --write {staged_files}
  stage_fixed: true

Move base styles to row-root instead of within row-hover
  packages/mui/src/~components/MuiTable.css
Due: copyright

use `role="group"`
  .changeset/tall-dryers-matter.md
  apps/website/src/content/docs/components/mui/Alert.md
  packages/mui/src/~components/MuiAlert.tsx
  packages/mui/src/~createTheme.tsx
Due: copyright, format, lint

replace Page structure with structure
  apps/website/src/content/docs/guides/page-structure.md
  apps/website/src/content/docs/guides/structure.md
Due: none

figures
  apps/website/src/content/docs/guides/structure.md
Due: none

Move TH to first cell but keep labelID
  examples/mui/Table.select.tsx
Due: copyright, format, lint

enable `hover` for `TableRow`
  .changeset/full-yaks-live.md
  apps/website/src/content/docs/components/mui/Table.md
  packages/mui/src/types.ts
  packages/mui/src/~components/MuiTable.tsx
  packages/mui/src/~createTheme.tsx
Due: copyright, format, lint

Add labelPlacement to vertical toolbar
  examples/structures/Toolbar.divider.tsx
Due: copyright, format, lint

Add endIcon prop
  apps/test-app/app/tests/navigation-rail/index.spec.ts
  apps/test-app/app/tests/navigation-rail/index.tsx
  packages/structures/src/NavigationRail.css
  packages/structures/src/NavigationRail.tsx
Due: copyright, format, lint

Avoid nested Icons
  apps/test-app/app/tests/navigation-rail/index.tsx
  packages/structures/src/NavigationRail.css
  packages/structures/src/NavigationRail.tsx
Due: copyright, format, lint

Add comprehensive example
  apps/website/src/content/docs/components/stratakit/NavigationRail.md
  examples/structures/NavigationRail.comprehensive.module.css
  examples/structures/NavigationRail.comprehensive.tsx
  examples/structures/NavigationRail.default.tsx
Due: copyright, format, lint

Add badge
  examples/structures/NavigationRail.comprehensive.tsx
Due: copyright, format, lint

Use endIcon prop
  examples/structures/NavigationRail.comprehensive.tsx
Due: copyright, format, lint

pnpm changeset
  .changeset/early-moose-find.md
Due: none

update table header
  apps/website/src/content/docs/components/mui/Card.md
Due: none

link to CardHeader and move up
  apps/website/src/content/docs/components/mui/Card.md
Due: none

move things around
  apps/website/src/content/docs/components/mui/Card.md
Due: none

add caution
  apps/website/src/content/docs/components/mui/Card.md
Due: none

formatting
  apps/website/src/content/docs/components/mui/Card.md
Due: none

link to Menu
  apps/website/src/content/docs/components/mui/Card.md
Due: none

Remove "Choose a " from all examples
  examples/bricks/Radio.default.tsx
  examples/bricks/Select.default.tsx
  examples/mui/Autocomplete.default.tsx
  examples/mui/NativeSelect.default.tsx
  examples/mui/RadioGroup.default.tsx
  examples/mui/RadioGroup.defaultValue.tsx
  examples/mui/Select.default.tsx
  examples/mui/Select.icon.tsx
Due: copyright, format, lint

Update ButtonGroup from text formatting to file actions
  examples/mui/ButtonGroup.default.tsx
Due: copyright, format, lint

Add `label` back to Select example
  examples/mui/Select.sizes.tsx
Due: copyright, format, lint

Change table sizes to table small & update docs.
  apps/test-app/app/mui.tsx
  apps/website/src/content/docs/components/mui/Table.md
  examples/mui/Table.small.tsx
Due: copyright, format, lint

Split slider sizes into 2 components
  examples/mui/Slider.sizes.tsx
Due: copyright, format, lint

Add `Autocomplete`
  apps/test-app/app/mui.tsx
  examples/mui/Autocomplete._disabled.tsx
Due: copyright, format, lint

Add `Button`
  apps/test-app/app/mui.tsx
  examples/mui/Button._disabled.tsx
Due: copyright, format, lint

Add `Checkbox`
  apps/test-app/app/mui.tsx
  examples/mui/Checkbox._disabled.tsx
Due: copyright, format, lint

Add `Chip`
  apps/test-app/app/mui.tsx
  examples/mui/Chip._disabled.tsx
Due: copyright, format, lint

Add `IconButton`
  apps/test-app/app/mui.tsx
  examples/mui/IconButton._disabled.tsx
Due: copyright, format, lint

Move default export above the rest
  examples/mui/Slider.sizes.tsx
Due: copyright, format, lint

Split select sizes into 2 components
  examples/mui/Select.sizes.tsx
Due: copyright, format, lint

Remove render and scope from checkbox cells
  examples/mui/Table.select.tsx
Due: copyright, format, lint

Avoid empty DOM element
  packages/structures/src/NavigationRail.tsx
Due: copyright, format, lint

Fix test after label rename
  apps/test-app/app/tests/navigation-rail/index.spec.ts
Due: copyright, format, lint

More info on comprehensive example
  apps/website/src/content/docs/components/stratakit/NavigationRail.md
Due: none

Fix Menu origins
  examples/structures/NavigationRail.comprehensive.tsx
Due: copyright, format, lint

Remove "Choose a " from Autocomplete labels
  examples/mui/Autocomplete._disabled.tsx
  examples/mui/Autocomplete.multiple.tsx
Due: copyright, format, lint

docs: fix typos
  apps/website/src/content/docs/components/mui/Autocomplete.md
  apps/website/src/content/docs/components/mui/Divider.md
  apps/website/src/content/docs/components/mui/Skeleton.md
Due: none

update `Card.menu` example to use a clear visible action
  examples/mui/Card.menu.tsx
Due: copyright, format, lint

Add `RadioGroup`
  apps/test-app/app/mui.tsx
  examples/mui/RadioGroup._disabled.tsx
Due: copyright, format, lint

Path conditions:
  copyright: any of: *.{js,ts,jsx,tsx,css,html}
  format: any of: *.{js,ts,jsx,tsx,json,jsonc}
  lint: any of: *.{js,ts,jsx,tsx}
