Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

copyright:
  run: pnpm lint:copyright {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm biome format --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm biome lint --write {staged_files}
  stage_fixed: true

Use background-image for cell / row state color change
  packages/structures/src/Table.css
Due: copyright

Updated changeset.
  .changeset/bold-seals-clap.md
Due: none

Fix picker-icon mask.
  packages/bricks/src/Select.css
Due: copyright

Fix checkmark mask.
  packages/bricks/src/Select.css
Due: copyright

Get rid of Select.SelectedContent
  apps/test-app/app/tests/select/index.tsx
  packages/bricks/src/Select.tsx
Due: copyright, format, lint

Get rid of Select.Option
  apps/test-app/app/tests/select/index.tsx
  packages/bricks/src/Select.css
  packages/bricks/src/Select.tsx
Due: copyright, format, lint

Revert reset.css
  packages/foundations/src/~reset.css
Due: copyright

Group label font-weight
  packages/structures/src/DropdownMenu.css
Due: copyright

Snaps
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
Due: none

reverted label and fixed tests
  apps/test-app/app/tests/navigation-rail/index.spec.ts
  packages/structures/src/NavigationRail.css
  packages/structures/src/NavigationRail.tsx
Due: copyright, format, lint

Structures changeset
  .changeset/little-zebras-decide.md
Due: none

removed radius inheritance
  packages/structures/src/NavigationRail.css
Due: copyright

Update .changeset/little-zebras-decide.md
  .changeset/little-zebras-decide.md
Due: none

Add `DropdownMenu.Group` component (#1078)
  .changeset/three-tools-fry.md
  apps/test-app/app/tests/dropdown-menu/index.spec.ts
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.DropdownMenu-CheckboxItem-visual-1-chromium-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.DropdownMenu-CheckboxItem-visual-1-firefox-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.DropdownMenu-CheckboxItem-visual-1-webkit-linux.png
  apps/test-app/app/tests/dropdown-menu/index.tsx
  packages/structures/src/DropdownMenu.css
  packages/structures/src/DropdownMenu.tsx
Due: copyright, format, lint

Apply suggestion from @mayank99
  packages/structures/src/Table.css
Due: copyright

`NavigationRail.ToggleButton`: use `aria-pressed` instead of `aria-expanded` (#1089)
  .changeset/little-zebras-decide.md
  apps/test-app/app/tests/navigation-rail/index.spec.ts
  packages/structures/src/NavigationRail.css
  packages/structures/src/NavigationRail.tsx
Due: copyright, format, lint

Moved 0 0 out of parentheses.
  packages/structures/src/Table.css
Due: copyright

`Label`: set explicit `line-height`
  .changeset/sour-laws-build.md
  packages/bricks/src/Label.css
Due: copyright

Revert false test images.
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-text-controls-1-webkit-linux.png
  apps/test-app/app/tests/select/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
Due: none

Updated changeset
  .changeset/real-ants-cut.md
Due: none

Use pseudo element for checkmark.
  packages/structures/src/DropdownMenu.css
  packages/structures/src/DropdownMenu.tsx
  packages/structures/src/~utils.ListItem.css
  packages/structures/src/~utils.icons.tsx
Due: copyright, format, lint

Better grid-template-column name for checkmark
  packages/structures/src/DropdownMenu.css
  packages/structures/src/~utils.ListItem.css
Due: copyright

Components with an active + hover state visual changes from Figma (#1074)
  .changeset/bold-seals-clap.md
  packages/structures/src/Table.css
  packages/structures/src/~utils.ListItem.css
Due: copyright

`Label`: set explicit `line-height` (#1094)
  .changeset/sour-laws-build.md
  packages/bricks/src/Label.css
Due: copyright

Remove 2025 Q3 milestone workflow
  .github/workflows/pr-milestone.js
Due: copyright, format, lint

Remove --stratakit-space-x15
  packages/structures/src/~utils.ListItem.css
Due: copyright

SVG is static variable, use combined mask
  packages/structures/src/DropdownMenu.css
Due: copyright

Remove `2025 Q3` GitHub milestone workflow (#1095)
  .github/workflows/pr-milestone.js
Due: copyright, format, lint

Initial commit.
  .changeset/hungry-heads-rescue.md
  apps/test-app/app/tests/tabs/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/tabs/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/tabs/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/tabs/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/tabs/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/tabs/index.tsx
  packages/structures/src/Tabs.css
  packages/structures/src/Tabs.tsx
Due: copyright, format, lint

WIP: wrap DropdownMenu.Item with a Popover.
  apps/test-app/app/tests/dropdown-menu/index.tsx
  packages/structures/src/Popover.tsx
Due: copyright, format, lint

Allow overriding of default role
  .changeset/fiery-streets-rescue.md
  packages/bricks/src/Switch.tsx
Due: copyright, format, lint

Update `API Reference` documentation (#56)
  api.json
Due: format

Fix parsing of `baseElement` (#59)
  api.json
  api.ts
Due: copyright, format, lint

Fix import snippets of `API Reference` (#57)
  src/components/ImportSnippet.astro
Due: none

Update headings of convenience components in `API Reference` (#58)
  src/content/docs/components/Badge.md
  src/content/docs/components/Divider.md
  src/content/docs/components/Skeleton.md
  src/content/docs/components/Text.md
  src/pages/reference/[...api].astro
Due: none

add 4 new icons
  .changeset/two-bugs-rescue.md
  packages/icons/icons/microphone.svg
  packages/icons/icons/scene.svg
  packages/icons/icons/thumbs-down.svg
  packages/icons/icons/thumbs-up.svg
Due: none

add 4 new icons (#1104)
  .changeset/two-bugs-rescue.md
  packages/icons/icons/microphone.svg
  packages/icons/icons/scene.svg
  packages/icons/icons/thumbs-down.svg
  packages/icons/icons/thumbs-up.svg
Due: none

changeset
  .changeset/smart-adults-see.md
Due: none

Path conditions:
  copyright: any of: *.{js,ts,jsx,tsx,css,html}
  format: any of: *.{js,ts,jsx,tsx,json,jsonc}
  lint: any of: *.{js,ts,jsx,tsx}
