Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

copyright:
  run: pnpm lint:copyright {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm biome format --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm biome lint --write {staged_files}
  stage_fixed: true

reset version
  packages/icons/CHANGELOG.md
  packages/icons/package.json
Due: format

update all changelogs
  packages/bricks/CHANGELOG.md
  packages/foundations/CHANGELOG.md
  packages/icons/CHANGELOG.md
Due: none

Leftover
  packages/bricks/src/Banner.css
Due: copyright

Dismiss button left margin
  packages/bricks/src/Banner.css
Due: copyright

`12px` padding
  apps/test-app/app/tests/banner/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/banner/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/banner/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/banner/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/banner/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  packages/bricks/src/Banner.css
Due: copyright

Revert dockerfile
  apps/test-app/scripts/Dockerfile
Due: none

🛫
  apps/test-app/app/compat/kbd.tsx
  apps/test-app/app/components.ts
  packages/compat/src/Kbd.tsx
  packages/compat/src/index.ts
Due: copyright, format, lint

Rename grid columns
  packages/bricks/src/Banner.css
Due: copyright

Changeset
  .changeset/loose-bobcats-doubt.md
  packages/bricks/src/Banner.css
Due: copyright

Update apps/test-app/app/manifest.json
  apps/test-app/app/manifest.json
Due: format

`patch` changeset
  .changeset/loose-bobcats-doubt.md
Due: none

Correct changeset. nit in test.
  .changeset/loose-bobcats-doubt.md
  apps/test-app/app/tests/banner/index.tsx
Due: copyright, format, lint

Add `<Banner>` component (#484)
  .changeset/loose-bobcats-doubt.md
  apps/test-app/app/components.ts
  apps/test-app/app/tests/banner/index.spec.ts
  apps/test-app/app/tests/banner/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/banner/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/banner/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/banner/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/banner/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/banner/index.tsx
  packages/bricks/src/Banner.css
  packages/bricks/src/Banner.tsx
  packages/bricks/src/Chip.tsx
  packages/bricks/src/index.ts
  packages/bricks/src/styles.css
Due: copyright, format, lint

code comment
  packages/bricks/src/ErrorRegion.tsx
Due: copyright, format, lint

changeset
  .changeset/fruity-ants-agree.md
Due: none

Announce only new errors in `ErrorRegion` component (#639)
  .changeset/fruity-ants-agree.md
  apps/test-app/app/sandbox.tsx
  packages/bricks/src/ErrorRegion.tsx
Due: copyright, format, lint

Fix error region layout (again)
  packages/bricks/src/ErrorRegion.css
Due: copyright

changeset
  .changeset/floppy-trains-shake.md
Due: none

Update imports to get build to run
  packages/bricks/src/AvatarGroup.tsx
Due: copyright, format, lint

Remove `title`
  apps/test-app/app/compat/kbd.tsx
Due: copyright, format, lint

Map KbdKeys to Sk predefined symbols
  apps/test-app/app/compat/kbd.tsx
  packages/compat/src/Kbd.tsx
Due: copyright, format, lint

Use JSX instead of createElement
  packages/compat/src/~utils.tsx
Due: copyright, format, lint

Rename As to Element
  packages/compat/src/~utils.tsx
Due: copyright, format, lint

Pick props rather than re-defining.
  packages/compat/src/Anchor.tsx
Due: copyright, format, lint

Add NOT IMPLEMENTED code comments
  packages/compat/src/Anchor.tsx
Due: copyright, format, lint

🛫
  apps/test-app/app/compat/divider.tsx
  apps/test-app/app/components.ts
  packages/compat/src/Divider.tsx
  packages/compat/src/index.ts
Due: copyright, format, lint

Add `Anchor` as initial compatibility component (#644)
  apps/test-app/app/compat/anchor.tsx
  apps/test-app/app/compat/compat.module.css
  apps/test-app/app/compat/compat.tsx
  apps/test-app/app/compat/index.module.css
  apps/test-app/app/compat/index.tsx
  apps/test-app/app/components.ts
  apps/test-app/app/index.tsx
  apps/test-app/app/routes.ts
  packages/compat/package.json
  packages/compat/src/Anchor.tsx
  packages/compat/src/~utils.tsx
  pnpm-lock.yaml
Due: copyright, format, lint

create Text compat component
  apps/test-app/app/compat/text.tsx
  apps/test-app/app/components.ts
  packages/compat/src/Text.tsx
  packages/compat/src/index.ts
Due: copyright, format, lint

add type annotation
  packages/compat/src/Text.tsx
Due: copyright, format, lint

create `Text` compat component (#660)
  apps/test-app/app/compat/text.tsx
  apps/test-app/app/components.ts
  packages/compat/src/Text.tsx
  packages/compat/src/index.ts
Due: copyright, format, lint

Fix error region layout (again) (#659)
  .changeset/floppy-trains-shake.md
  packages/bricks/src/ErrorRegion.css
Due: copyright

create `dependabot.yaml`
  .github/dependabot.yaml
Due: none

fix formatting using gh workflow
  .github/workflows/PR.yaml
Due: none

configure dependabot (#664)
  .github/dependabot.yaml
  .github/workflows/PR.yaml
Due: none

pin pnpm version
  .github/workflows/CI.yaml
  .github/workflows/PR.yaml
  .github/workflows/changeset-release.yaml
  .github/workflows/deploy-gh-pages.yaml
  .github/workflows/publish-npm.yaml
Due: none

Update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

Suggestions
  apps/test-app/app/compat/divider.tsx
  packages/compat/src/Divider.tsx
Due: copyright, format, lint

optimize dependabot workflow
  .github/dependabot.yaml
  .github/workflows/PR.yaml
Due: none

Alphabetical order
  apps/test-app/app/components.ts
  packages/compat/src/index.ts
Due: copyright, format, lint

Path conditions:
  copyright: any of: *.{js,ts,jsx,tsx,css,html}
  format: any of: *.{js,ts,jsx,tsx,json,jsonc}
  lint: any of: *.{js,ts,jsx,tsx}
