Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

copyright:
  run: pnpm lint:copyright {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm biome format --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm biome lint --write {staged_files}
  stage_fixed: true

bump foundations
  packages/bricks/CHANGELOG.md
  packages/bricks/package.json
  packages/compat/package.json
  packages/foundations/CHANGELOG.md
  packages/foundations/package.json
  packages/structures/CHANGELOG.md
  packages/structures/package.json
  pnpm-lock.yaml
Due: format

format pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

Suggestions
  packages/compat/src/ToggleSwitch.tsx
Due: copyright, format, lint

Sandbox: Update `role` and `aria-label` for `TabPanel` when searching is active (#463)
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

github actions automation to add labels + milestones: initial script
  .github/workflows/PR.yaml
Due: none

Remove all specific component CSS, only keep global.
  packages/bricks/src/Anchor.css
  packages/bricks/src/Badge.css
  packages/bricks/src/Description.css
  packages/structures/src/Banner.css
  packages/structures/src/ErrorRegion.css
  packages/structures/src/TreeItem.css
Due: copyright

Missed a line in e71156e
  packages/bricks/src/Badge.css
Due: copyright

Changeset
  .changeset/lemon-areas-type.md
Due: none

Update .changeset/lemon-areas-type.md
  .changeset/lemon-areas-type.md
Due: none

Add global `::selection` styling (#650)
  .changeset/lemon-areas-type.md
  packages/foundations/src/~global.css
Due: copyright

Add component specific ::selection styling.
  .changeset/plenty-grapes-dig.md
  packages/bricks/src/Anchor.css
  packages/bricks/src/Badge.css
  packages/bricks/src/Description.css
  packages/structures/src/Banner.css
  packages/structures/src/ErrorRegion.css
  packages/structures/src/TreeItem.css
Due: copyright

Allow `AccordionItem` button to be wrapped with heading
  .changeset/full-carrots-try.md
  .changeset/old-ghosts-roll.md
  apps/test-app/app/tests/accordion-item/index.spec.ts
  apps/test-app/app/tests/accordion-item/index.tsx
  packages/structures/src/AccordionItem.css
  packages/structures/src/AccordionItem.tsx
Due: copyright, format, lint

Allow `AccordionItem` button to be wrapped with heading (#709)
  .changeset/full-carrots-try.md
  .changeset/old-ghosts-roll.md
  apps/test-app/app/tests/accordion-item/index.spec.ts
  apps/test-app/app/tests/accordion-item/index.tsx
  packages/structures/src/AccordionItem.css
  packages/structures/src/AccordionItem.tsx
Due: copyright, format, lint

Support markers before and decorations after
  apps/test-app/app/tests/accordion-item/index.tsx
  packages/structures/src/AccordionItem.css
Due: copyright, format, lint

create `MenuItem` compat component
  packages/compat/package.json
  packages/compat/src/MenuItem.tsx
  packages/compat/src/index.ts
  pnpm-lock.yaml
Due: copyright, format, lint

🛫
  apps/test-app/app/compat/avatar.tsx
  apps/test-app/app/components.ts
  apps/test-app/package.json
  packages/compat/src/Avatar.tsx
  packages/compat/src/index.ts
  packages/compat/src/~utils.tsx
  pnpm-lock.yaml
Due: copyright, format, lint

add structures to compat
  packages/compat/package.json
  pnpm-lock.yaml
Due: format

Fix size. Better types. All test cases.
  apps/test-app/app/compat/progress-radial.tsx
  packages/compat/src/ProgressRadial.tsx
Due: copyright, format, lint

Initial Tag compat
  apps/test-app/app/compat/tag.tsx
  apps/test-app/app/components.ts
  packages/compat/src/Tag.tsx
  packages/compat/src/index.ts
Due: copyright, format, lint

Add comment
  packages/compat/src/Tag.tsx
Due: copyright, format, lint

Reorder props
  packages/compat/src/Tag.tsx
Due: copyright, format, lint

catch abort errors when fetching icons
  .changeset/eighty-crews-wave.md
  packages/foundations/src/Icon.tsx
Due: copyright, format, lint

Rename `onOpenChange` and `onExpandedChange` to `setOpen`
  .changeset/cuddly-moles-wave.md
  .changeset/metal-clouds-lead.md
  packages/structures/src/AccordionItem.tsx
  packages/structures/src/ErrorRegion.tsx
Due: copyright, format, lint

`indeterminate` is marked as not implemented
  packages/compat/src/ProgressRadial.tsx
Due: copyright, format, lint

nit, leftover, demo improvements
  apps/test-app/app/compat/avatar.tsx
  packages/compat/src/Avatar.tsx
Due: copyright, format, lint

install structures
  packages/compat/package.json
  pnpm-lock.yaml
Due: format

Remove specific variant types.
  packages/compat/src/Tag.tsx
Due: copyright, format, lint

Initial Tabs impl
  apps/test-app/app/compat/tabs.tsx
  apps/test-app/app/components.ts
  packages/compat/src/Tabs.tsx
Due: copyright, format, lint

onTabSelected
  apps/test-app/app/compat/tabs.tsx
  packages/compat/src/Tabs.tsx
Due: copyright, format, lint

activeIndex
  apps/test-app/app/compat/tabs.tsx
  packages/compat/src/Tabs.tsx
Due: copyright, format, lint

focusActivationMode
  apps/test-app/app/compat/tabs.tsx
  packages/compat/src/Tabs.tsx
Due: copyright, format, lint

color
  apps/test-app/app/compat/tabs.tsx
  packages/compat/src/Tabs.tsx
Due: copyright, format, lint

content and tabs class name
  packages/compat/src/Tabs.tsx
Due: copyright, format, lint

wrapperClassName
  apps/test-app/app/compat/tabs.tsx
  packages/compat/src/Tabs.tsx
Due: copyright, format, lint

Undo pnpm lock change
  pnpm-lock.yaml
Due: none

actions
  packages/compat/src/Tabs.tsx
Due: copyright, format, lint

Cleanup props
  packages/compat/src/Tabs.tsx
Due: copyright, format, lint

🛫
  apps/test-app/app/compat/badge.tsx
  apps/test-app/app/components.ts
  packages/compat/src/Badge.tsx
  packages/compat/src/index.ts
Due: copyright, format, lint

More examples. Address the no longer truncation.
  apps/test-app/app/compat/badge.tsx
  packages/compat/src/Badge.tsx
Due: copyright, format, lint

Path conditions:
  copyright: any of: *.{js,ts,jsx,tsx,css,html}
  format: any of: *.{js,ts,jsx,tsx,json,jsonc}
  lint: any of: *.{js,ts,jsx,tsx}
