Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

copyright:
  run: pnpm lint:copyright {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm biome format --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm biome lint --write {staged_files}
  stage_fixed: true

Fix layers applied to imports
  packages/mui/src/styles.css
Due: copyright

Disabled styling
  packages/mui/src/styles.css
Due: copyright

Add `~tokens.css` and `~components.css` imports (#1182)
  packages/mui/src/styles.css
  packages/mui/src/~components.css
  packages/mui/src/~tokens.css
Due: copyright

use stratakit logo
  README.md
  apps/test-app/app/root.tsx
  apps/test-app/public/favicon.ico
  apps/test-app/public/favicon.svg
  apps/website/astro.config.mjs
  apps/website/src/assets/stratakit-logo-dark.svg
  apps/website/src/assets/stratakit-logo.svg
  apps/website/src/styles/overrides.css
  internal/stratakit-logo-dark.svg
  internal/stratakit-logo.svg
Due: copyright, format, lint

use StrataKit logo (#1184)
  README.md
  apps/test-app/app/root.tsx
  apps/test-app/public/favicon.ico
  apps/test-app/public/favicon.svg
  apps/website/astro.config.mjs
  apps/website/src/assets/stratakit-logo-dark.svg
  apps/website/src/assets/stratakit-logo.svg
  apps/website/src/styles/overrides.css
  internal/stratakit-logo-dark.svg
  internal/stratakit-logo.svg
Due: copyright, format, lint

update
  packages/icons/CHANGELOG.md
  packages/mui/CHANGELOG.md
  packages/structures/CHANGELOG.md
  pnpm-lock.yaml
Due: none

Style checkbox & radio.
  .changeset/tiny-foxes-brush.md
  packages/mui/src/createTheme.tsx
  packages/mui/src/~components.css
Due: copyright, format, lint

Separate text field error sample.
  apps/test-app/app/mui.tsx
  examples/mui/TextField.error.tsx
Due: copyright, format, lint

Set font-size and line-height of helper text.
  packages/mui/src/~components.css
Due: copyright

Fix forced-colors regression
  packages/mui/src/~components.css
Due: copyright

fix stylesheet cleanup race condition
  .changeset/shiny-meals-push.md
  packages/foundations/src/styles.internal.ts
Due: copyright, format, lint

fix stylesheet cleanup race condition (#1188)
  .changeset/shiny-meals-push.md
  packages/foundations/src/styles.internal.ts
Due: copyright, format, lint

update
  packages/foundations/CHANGELOG.md
  packages/mui/CHANGELOG.md
  pnpm-lock.yaml
Due: none

add side navigation to test-app
  apps/test-app/app/icons.css
  apps/test-app/app/icons.module.css
  apps/test-app/app/icons.tsx
  apps/test-app/app/index.module.css
  apps/test-app/app/index.tsx
  apps/test-app/app/mui.module.css
  apps/test-app/app/mui.tsx
  apps/test-app/app/root.tsx
  apps/test-app/app/routes.ts
  apps/test-app/app/sandbox/index.module.css
  apps/test-app/app/sandbox/index.tsx
  apps/test-app/app/tests/tests.module.css
  apps/test-app/app/tests/tests.tsx
  apps/test-app/app/tokens.module.css
  apps/test-app/app/tokens.tsx
  apps/test-app/app/~navigation.module.css
  apps/test-app/app/~navigation.tsx
  apps/test-app/app/~utils.module.css
  apps/test-app/app/~utils.tsx
  apps/test-app/package.json
  apps/test-app/playwright.config.ts
  internal/stratakit-logo.svg
  pnpm-lock.yaml
Due: copyright, format, lint

Add private disabled text field sample.
  apps/test-app/app/mui.tsx
  examples/mui/TextField._disabled.tsx
Due: copyright, format, lint

use regular anchors
  apps/test-app/app/~navigation.tsx
Due: copyright, format, lint

remove leftover code
  apps/test-app/app/~navigation.tsx
Due: copyright, format, lint

test-app: add side navigation (#1187)
  apps/test-app/app/icons.css
  apps/test-app/app/icons.module.css
  apps/test-app/app/icons.tsx
  apps/test-app/app/index.module.css
  apps/test-app/app/index.tsx
  apps/test-app/app/mui.module.css
  apps/test-app/app/mui.tsx
  apps/test-app/app/root.tsx
  apps/test-app/app/routes.ts
  apps/test-app/app/sandbox/index.module.css
  apps/test-app/app/sandbox/index.tsx
  apps/test-app/app/tests/tests.module.css
  apps/test-app/app/tests/tests.tsx
  apps/test-app/app/tokens.module.css
  apps/test-app/app/tokens.tsx
  apps/test-app/app/~navigation.module.css
  apps/test-app/app/~navigation.tsx
  apps/test-app/app/~utils.module.css
  apps/test-app/app/~utils.tsx
  apps/test-app/package.json
  apps/test-app/playwright.config.ts
  internal/stratakit-logo.svg
  pnpm-lock.yaml
Due: copyright, format, lint

Changeset
  .changeset/major-paws-battle.md
Due: none

Updated changeset to use canonical component names.
  .changeset/major-paws-battle.md
Due: none

Add disabled & error styling to input (#1181)
  .changeset/major-paws-battle.md
  apps/test-app/app/mui.tsx
  examples/mui/TextField._disabled.tsx
  examples/mui/TextField.error.tsx
  packages/mui/src/~components.css
Due: copyright, format, lint

test-app: fix exampleContainer blocking clicks (#1191)
  apps/test-app/app/mui.module.css
Due: copyright

Add checkbox & radio error styling, add samples.
  apps/test-app/app/mui.tsx
  examples/mui/FormControl.error.tsx
  examples/mui/RadioGroup.error.tsx
  packages/mui/src/~components.css
Due: copyright, format, lint

Fix forced-colors
  .changeset/perky-turtles-watch.md
  packages/mui/src/~components.css
Due: copyright

Add forced-colors import.
  packages/mui/src/styles.css
  packages/mui/src/~components.css
  packages/mui/src/~forced-colors.css
Due: copyright

Prefix variable with underscore
  packages/mui/src/~components.css
Due: copyright

optimistic updates
  apps/test-app/app/~navigation.tsx
Due: copyright, format, lint

test-app: use view transitions when switching pages
  apps/test-app/app/root.css
  apps/test-app/app/root.tsx
  apps/test-app/app/~navigation.module.css
  apps/test-app/app/~navigation.tsx
Due: copyright, format, lint

Target input instead of custom span
  packages/mui/src/createTheme.tsx
  packages/mui/src/~components.css
  packages/mui/src/~forced-colors.css
Due: copyright, format, lint

Remove forced-color media query from file
  packages/mui/src/styles.css
  packages/mui/src/~forced-colors.css
Due: copyright

introduction page
  apps/website/src/content/docs/introduction.md
Due: none

add back `animation: none`
  apps/test-app/app/~navigation.module.css
Due: copyright

Error checkbox & radio hover color changes to red
  packages/mui/src/~components.css
Due: copyright

Use class names on inputs
  packages/mui/src/createTheme.tsx
  packages/mui/src/~components.css
  packages/mui/src/~forced-colors.css
Due: copyright, format, lint

Use :is for multiple subjects
  packages/mui/src/~components.css
  packages/mui/src/~forced-colors.css
Due: copyright

Static variables for SVG masks
  packages/mui/src/~components.css
Due: copyright

Nest separate checkbox and radio under combined subject
  packages/mui/src/~components.css
Due: copyright

Different hover colors, unique hover color for unchecked.
  packages/mui/src/~components.css
Due: copyright

Nah, I didn't like that last one
  packages/mui/src/~components.css
Due: copyright

Focus the input, not the wrapper
  packages/mui/src/~components.css
Due: copyright

Path conditions:
  copyright: any of: *.{js,ts,jsx,tsx,css,html}
  format: any of: *.{js,ts,jsx,tsx,json,jsonc}
  lint: any of: *.{js,ts,jsx,tsx}
