Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    copyright:
      glob: "*.{js,ts,jsx,tsx,css,html}"
      run: pnpm lint:copyright {staged_files} --fix
      stage_fixed: true

    format:
      glob: "*.{js,ts,jsx,tsx,json,jsonc}"
      run: pnpm biome format --write {staged_files}
      stage_fixed: true

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm biome lint --write {staged_files}
      stage_fixed: true

    prettier:
      exclude:
        - "*.{js,ts,jsx,tsx,cjs,cts,mjs,mts,json,jsonc}"
      run: pnpm exec prettier {staged_files} --ignore-unknown --write
      stage_fixed: true

Extract deprecated components
  apps/website/api.json
  apps/website/api.ts
Due: copyright, format, lint

Display API status
  apps/website/src/content.config.ts
  apps/website/src/pages/reference/index.astro
Due: copyright, format, lint

docs: fix history URL
  apps/website/src/components/LastUpdated.astro
Due: none

Add Toolbar.mui example
  apps/test-app/app/mui.tsx
  examples/structures/Toolbar.mui.tsx
Due: copyright, format, lint

Add initial docs
  apps/website/src/content/docs/components/stratakit/ErrorRegion.md
  apps/website/src/content/docs/components/stratakit/NavigationList.md
  apps/website/src/content/docs/components/stratakit/NavigationRail.md
  apps/website/src/content/docs/components/stratakit/Table.md
  apps/website/src/content/docs/components/stratakit/Toolbar.md
  apps/website/src/content/docs/components/stratakit/Tree.md
Due: none

Add align-items attribute
  apps/website/astro.config.mjs
  apps/website/src/components/ExamplePreview.module.css
Due: copyright

Use align-items
  apps/website/src/content/docs/components/stratakit/ErrorRegion.md
  apps/website/src/content/docs/components/stratakit/Tree.md
Due: none

Ability to specify slug via frontmatter
  apps/website/src/content.config.ts
Due: copyright, format, lint

Specify custom slug to avoid clashes
  apps/website/src/content/docs/components/stratakit/Table.md
Due: none

Add border to selected item in forced colors
  packages/mui/src/~forced-colors.css
Due: copyright

Add twin component docs
  apps/website/src/content/docs/components/stratakit/Dialog.md
  apps/website/src/content/docs/components/stratakit/DropdownMenu.md
  apps/website/src/content/docs/components/stratakit/Popover.md
  apps/website/src/content/docs/components/stratakit/Tabs.md
Due: none

Change slugs for better sorting
  apps/website/src/content/docs/components/stratakit/Dialog.md
  apps/website/src/content/docs/components/stratakit/Popover.md
  apps/website/src/content/docs/components/stratakit/Table.md
  apps/website/src/content/docs/components/stratakit/Tabs.md
Due: none

Re-work slug approach
  apps/website/src/content.config.ts
Due: copyright, format, lint

Rm unused slugs
  apps/website/src/content/docs/components/stratakit/Dialog.md
  apps/website/src/content/docs/components/stratakit/Popover.md
  apps/website/src/content/docs/components/stratakit/Table.md
  apps/website/src/content/docs/components/stratakit/Tabs.md
Due: none

update selected states
  .changeset/curvy-donkeys-film.md
  apps/website/src/content/docs/components/mui/Pagination.md
  packages/mui/src/~components.css
  packages/mui/src/~components/MuiAutocomplete.css
  packages/mui/src/~components/MuiList.css
  packages/mui/src/~components/MuiTable.css
  packages/mui/src/~components/MuiToggleButton.css
  packages/mui/src/~forced-colors.css
  packages/mui/src/~tokens.css
Due: copyright

simplification + readability
  apps/website/src/content.config.ts
Due: copyright, format, lint

Keep alphabetical sorting
  apps/website/src/pages/reference/index.astro
Due: none

Render Badge
  apps/website/src/pages/reference/index.astro
Due: none

Add Deprecated badge for each deprecated component
  apps/website/src/content.config.ts
  apps/website/src/pages/reference/[...api].astro
Due: copyright, format, lint

Simplify NavigationRail.default example
  apps/website/src/content/docs/components/stratakit/NavigationRail.md
  examples/structures/NavigationRail.default.module.css
  examples/structures/NavigationRail.default.tsx
Due: copyright, format, lint

Add NavigationList.default example
  apps/website/src/content/docs/components/stratakit/NavigationList.md
  examples/structures/NavigationList.default.tsx
Due: copyright, format, lint

Add Popover.default
  examples/structures/Popover.default.tsx
Due: copyright, format, lint

Make linter happy
  examples/structures/NavigationRail.default.module.css
Due: copyright

update `BottomNavigation` selected state
  .changeset/legal-parks-burn.md
  .changeset/social-doors-wish.md
  apps/website/src/content/docs/components/mui/BottomNavigation.md
  packages/mui/src/createTheme.tsx
  packages/mui/src/~components.css
  packages/mui/src/~components/MuiBottomNavigation.css
  packages/mui/src/~components/MuiBottomNavigation.tsx
  packages/mui/src/~forced-colors.css
Due: copyright, format, lint

reduce `MenuItem` font-size
  .changeset/stale-apes-tap.md
  packages/mui/src/~components.css
  packages/mui/src/~components/MuiMenu.css
Due: copyright

docs: styling tweaks
  apps/website/src/components/PageTitle.astro
  apps/website/src/styles/global.css
  apps/website/src/styles/overrides.css
Due: copyright

update example
  examples/mui/Menu.default.tsx
Due: copyright, format, lint

Move space into condition
  apps/website/src/pages/reference/[...api].astro
Due: none

plural
  apps/website/src/content/docs/components/mui/Divider.md
Due: none

mdn link
  apps/website/src/content/docs/components/mui/Divider.md
Due: none

mdn link aria-orientation
  apps/website/src/content/docs/components/mui/Divider.md
Due: none

Shorten "read migration documentation".
  packages/structures/src/Banner.tsx
Due: copyright, format, lint

Shorter deprecation message in other instances
  packages/structures/src/AccordionItem.tsx
  packages/structures/src/Banner.tsx
  packages/structures/src/Chip.tsx
Due: copyright, format, lint

Start with limited set of components
  apps/website/astro.config.mjs
  apps/website/src/components/ExamplePreview.module.css
  apps/website/src/content.config.ts
  apps/website/src/content/docs/components/stratakit/Dialog.md
  apps/website/src/content/docs/components/stratakit/DropdownMenu.md
  apps/website/src/content/docs/components/stratakit/ErrorRegion.md
  apps/website/src/content/docs/components/stratakit/NavigationList.md
  apps/website/src/content/docs/components/stratakit/NavigationRail.md
  apps/website/src/content/docs/components/stratakit/Popover.md
  apps/website/src/content/docs/components/stratakit/Table.md
  apps/website/src/content/docs/components/stratakit/Tabs.md
  apps/website/src/content/docs/components/stratakit/Tree.md
  examples/structures/NavigationList.default.tsx
  examples/structures/Popover.default.tsx
Due: copyright, format, lint

Add container to ErrorRegion.default example
  examples/structures/ErrorRegion.default.module.css
  examples/structures/ErrorRegion.default.tsx
Due: copyright, format, lint

Use container units cqb in NavigationRail.default
  examples/structures/NavigationRail.default.module.css
  examples/structures/NavigationRail.default.tsx
Due: copyright, format, lint

Make Tree.default scrollable
  apps/website/src/content/docs/components/stratakit/Tree.md
  examples/structures/Tree.default.module.css
  examples/structures/Tree.default.tsx
Due: copyright, format, lint

Move ToolbarMui example to /tests/toolbar route
  apps/test-app/app/mui.tsx
  apps/test-app/app/tests/toolbar/index.tsx
Due: copyright, format, lint
