Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    copyright:
      glob: "*.{js,ts,jsx,tsx,css,html}"
      run: pnpm lint:copyright {staged_files} --fix
      stage_fixed: true

    format:
      glob: "*.{js,ts,jsx,tsx,json,jsonc}"
      run: pnpm biome format --write {staged_files}
      stage_fixed: true

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm biome lint --write {staged_files}
      stage_fixed: true

    prettier:
      exclude:
        - "*.{js,ts,jsx,tsx,cjs,cts,mjs,mts,json,jsonc}"
      run: pnpm exec prettier {staged_files} --ignore-unknown --write
      stage_fixed: true

rework sandbox layout (#229)
  apps/test-app/app/sandbox.module.css
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

bump deps
  .github/workflows/CI.yaml
  Dockerfile
  apps/test-app/package.json
  package.json
  packages/kiwi-react/package.json
  pnpm-lock.yaml
Due: format

bump deps (#230)
  .github/workflows/CI.yaml
  Dockerfile
  apps/test-app/package.json
  package.json
  packages/kiwi-react/package.json
  pnpm-lock.yaml
Due: format

Add `<Spinner>` component (#225)
  apps/test-app/app/components.ts
  apps/test-app/app/tests/spinner/index.spec.ts
  apps/test-app/app/tests/spinner/index.spec.ts-snapshot.-visual-1-chromium-linux.png
  apps/test-app/app/tests/spinner/index.spec.ts-snapshot.-visual-1-firefox-linux.png
  apps/test-app/app/tests/spinner/index.spec.ts-snapshot.-visual-1-webkit-linux.png
  apps/test-app/app/tests/spinner/index.tsx
  packages/kiwi-react/src/bricks/Spinner.css
  packages/kiwi-react/src/bricks/Spinner.tsx
  packages/kiwi-react/src/bricks/index.ts
  packages/kiwi-react/src/bricks/styles.css
Due: copyright, format, lint

fix imports
  apps/test-app/app/sandbox.tsx
  apps/test-app/app/tests/checkbox/index.tsx
  apps/test-app/app/tests/list/index.tsx
  apps/test-app/app/tests/radio/index.tsx
  apps/test-app/app/tests/switch/index.tsx
  apps/test-app/app/tests/tree/index.tsx
  packages/kiwi-react/src/bricks/Spinner.tsx
Due: copyright, format, lint

fix imports (#231)
  apps/test-app/app/sandbox.tsx
  apps/test-app/app/tests/checkbox/index.tsx
  apps/test-app/app/tests/list/index.tsx
  apps/test-app/app/tests/radio/index.tsx
  apps/test-app/app/tests/switch/index.tsx
  apps/test-app/app/tests/tree/index.tsx
  packages/kiwi-react/src/bricks/Spinner.tsx
Due: copyright, format, lint

use toolbar pattern in `Tree.Actions`
  packages/kiwi-react/src/bricks/IconButton.tsx
  packages/kiwi-react/src/bricks/Tree.tsx
Due: copyright, format, lint

use toolbar pattern in `Tree.Actions` (#233)
  packages/kiwi-react/src/bricks/IconButton.tsx
  packages/kiwi-react/src/bricks/Tree.tsx
Due: copyright, format, lint

Enable actions for every node.
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

Move styles to base layer
  packages/kiwi-react/src/bricks/Tree.css
Due: copyright

Make actions visible on hover only.
  packages/kiwi-react/src/bricks/Tree.css
Due: copyright

Visible actions w/ focus-within for keyboard nav.
  packages/kiwi-react/src/bricks/Tree.css
Due: copyright

Controlled visibility state of actions.
  apps/test-app/app/sandbox.tsx
  packages/kiwi-react/src/bricks/Tree.css
  packages/kiwi-react/src/bricks/Tree.tsx
Due: copyright, format, lint

Keep actions visible in touch devices.
  packages/kiwi-react/src/bricks/Tree.css
Due: copyright

Add tests.
  apps/test-app/app/tests/tree/index.spec.ts
  apps/test-app/app/tests/tree/index.tsx
Due: copyright, format, lint

Snapshots
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-focused-item-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-focused-item-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-focused-item-1-webkit-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-hovered-item-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-hovered-item-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-hovered-item-1-webkit-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-overflow-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-selected-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-selected-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-selected-1-webkit-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-visible-actions-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-visible-actions-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-visible-actions-1-webkit-linux.png
Due: none

Use Tabs component in left panel.
  apps/test-app/app/sandbox.module.css
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

Spacing
  apps/test-app/app/sandbox.module.css
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

Define TreeStore for ideal tree..
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

Add filters to TreeStore
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

Filter tree items.
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

Add live region to announce filter changes.
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

Add DropdownMenu.ItemCheckbox
  apps/test-app/app/tests/dropdown-menu/index.tsx
  packages/kiwi-react/src/bricks/DropdownMenu.tsx
Due: copyright, format, lint

Checked state.
  packages/kiwi-react/src/bricks/DropdownMenu.css
  packages/kiwi-react/src/bricks/DropdownMenu.tsx
Due: copyright, format, lint

Add DropdownMenuItemCheck
  packages/kiwi-react/src/bricks/DropdownMenu.css
  packages/kiwi-react/src/bricks/DropdownMenu.tsx
Due: copyright, format, lint

Update sandbox route to use ItemCheckbox
  apps/test-app/app/sandbox.tsx
  packages/kiwi-react/src/bricks/DropdownMenu.tsx
Due: copyright, format, lint

Add tests.
  apps/test-app/app/tests/dropdown-menu/index.spec.ts
  apps/test-app/app/tests/dropdown-menu/index.tsx
  packages/kiwi-react/src/bricks/DropdownMenu.tsx
Due: copyright, format, lint

fix light theme shadows
  internal/theme-light.json
Due: format

Add actionsVisible var.
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

Use negative margin to overlap the border
  apps/test-app/app/sandbox.module.css
Due: copyright

Fix tree vertical scroll
  apps/test-app/app/sandbox.module.css
Due: copyright

Expose focusable prop.
  packages/kiwi-react/src/bricks/~utils.ts
Due: copyright, format, lint

Use Focusable props in Tabs.TabPanel.
  packages/kiwi-react/src/bricks/Tabs.tsx
Due: copyright, format, lint

Render empty tree in Complex Tree tab panel.
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

Add CheckMark icon component.
  packages/kiwi-react/src/bricks/DropdownMenu.css
  packages/kiwi-react/src/bricks/DropdownMenu.tsx
  packages/kiwi-react/src/bricks/Icon.tsx
Due: copyright, format, lint

Rename to CheckboxItem
  apps/test-app/app/sandbox.tsx
  apps/test-app/app/tests/dropdown-menu/index.tsx
  packages/kiwi-react/src/bricks/DropdownMenu.css
  packages/kiwi-react/src/bricks/DropdownMenu.tsx
Due: copyright, format, lint

Add focusable to TabPanel only.
  packages/kiwi-react/src/bricks/Tabs.tsx
  packages/kiwi-react/src/bricks/~utils.ts
Due: copyright, format, lint

Initial Commit for Chip component
  apps/test-app/app/tests/chip/index.spec.ts
  apps/test-app/app/tests/chip/index.tsx
  packages/kiwi-react/src/bricks/Chip.css
  packages/kiwi-react/src/bricks/Chip.tsx
  packages/kiwi-react/src/bricks/index.ts
Due: copyright, format, lint

Add `focusable` prop to `Tabs.TabPanel` component (#240)
  packages/kiwi-react/src/bricks/Tabs.tsx
Due: copyright, format, lint

fix light theme shadows (#239)
  internal/theme-light.json
Due: format
