Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    copyright:
      glob: "*.{js,ts,jsx,tsx,css,html}"
      run: pnpm lint:copyright {staged_files} --fix
      stage_fixed: true

    format:
      glob: "*.{js,ts,jsx,tsx,json,jsonc}"
      run: pnpm biome format --write {staged_files}
      stage_fixed: true

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm biome lint --write {staged_files}
      stage_fixed: true

    prettier:
      exclude:
        - "*.{js,ts,jsx,tsx,cjs,cts,mjs,mts,json,jsonc}"
      run: pnpm exec prettier {staged_files} --ignore-unknown --write
      stage_fixed: true

Remove unneeded union
  examples/composite/TransferList.default.tsx
Due: copyright, format, lint

Add transfer list example under _Composite components_ (#1864)
  apps/website/src/content/docs/components/composite/TransferList.md
  examples/composite/TransferList.default.module.css
  examples/composite/TransferList.default.tsx
Due: copyright, format, lint

Udpate to use useSyncExternalStore
  examples/mui/Snackbar.processing.tsx
Due: copyright, format, lint

Bold Typography in docs
  apps/website/src/content/docs/components/mui/Typography.md
Due: none

More consistent iTwinUI migration guidelines
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

Add "rendered as" to table
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

latest versions instead of minimum supported version
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

Match README ordering, remove required
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

Update migration guide links
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

Casing
  apps/website/src/content/docs/components/composite/RadioTiles.md
Due: none

Revert change that was removed in #1864
  apps/website/astro.config.mjs
  apps/website/src/content/docs/index.md
Due: none

Add RadioTiles example and documentation (#1879)
  apps/website/src/content/docs/components/composite/RadioTiles.md
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
  examples/composite/RadioTiles.default.module.css
  examples/composite/RadioTiles.default.tsx
Due: copyright, format, lint

Keep font files
  .gitattributes
  apps/test-app/app/assets/InterVariable-Italic.woff2
  apps/test-app/app/assets/InterVariable.woff2
  apps/website/src/assets/InterVariable-Italic.woff2
  apps/website/src/assets/InterVariable.woff2
  internal/minimal-template/src/fonts/InterVariable-Italic.woff2
  internal/minimal-template/src/fonts/InterVariable.woff2
Due: none

Use lfs checkout for e2e tests
  .github/workflows/CI.yaml
Due: none

Only store test screenshots in LFS
  .gitattributes
  apps/test-app/public/apple-touch-icon.png
  apps/test-app/public/icon-192-maskable.png
  apps/test-app/public/icon-192.png
  apps/test-app/public/icon-512-maskable.png
  apps/test-app/public/icon-512.png
Due: none

Fix bug with non-clickable menu
  packages/mui/src/~components/MuiDataGrid.css
Due: copyright

Fix up menu display
  packages/mui/src/~components/MuiDataGrid.css
Due: copyright

Update SKILL.md
  skills/stratakit-usage/SKILL.md
Due: none

Add update instruction
  skills/stratakit-usage/README.md
Due: none

add a max size to the dropdown menu dropdown
  packages/structures/src/DropdownMenu.css
Due: copyright

Document IconButton colors
  apps/test-app/app/mui/IconButton.showcase.tsx
  apps/website/src/content/docs/components/mui/IconButton.md
  examples/mui/IconButton.colors.tsx
Due: copyright, format, lint

add changeset
  .changeset/grumpy-brooms-ring.md
Due: none

Revert ability to style nested semantic elements
  apps/website/src/content/docs/components/mui/Typography.md
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
  packages/mui/src/~components/MuiTypography.css
Due: copyright

Update migration guide
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

Make seperate example for Button.loading
  apps/test-app/app/mui/Button.showcase.tsx
  examples/mui/Button.loading.tsx
Due: copyright, format, lint

Add warning to docs to avoid color.
  apps/website/src/content/docs/components/mui/Typography.md
Due: none

Update semantic element usage in accordion examples
  examples/mui/Accordion.marker-placement.tsx
  examples/mui/Accordion.variants.tsx
Due: copyright, format, lint

Fix up lockfile from merge
  pnpm-lock.yaml
Due: none

Optimized output with React compiler (#1830)
  .changeset/public-jeans-camp.md
  internal/esbuild-plugins.js
  internal/package.json
  packages/bricks/scripts/build.js
  packages/foundations/scripts/build.js
  packages/internal-utils/scripts/build.js
  packages/mui/scripts/build.js
  packages/structures/scripts/build.js
  pnpm-lock.yaml
Due: copyright, format, lint

Update GitHub issue templates (#1821)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Update changeset with suggestions
  .changeset/grumpy-brooms-ring.md
Due: none

Update iTwinUI migration guide to link to footer composite component docs.
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

Remove tests
  apps/test-app/app/mui/List.showcase.tsx
  apps/test-app/app/tests/mui/List.spec.ts
  apps/test-app/app/tests/mui/List.spec.ts-snapshot.adds-padding-for-secondary-action-1-chromium-linux.png
  apps/test-app/app/tests/mui/List.spec.ts-snapshot.adds-padding-for-secondary-action-1-firefox-linux.png
Due: copyright, format, lint

add a max size to the dropdown menu dropdown (#1943)
  .changeset/grumpy-brooms-ring.md
  packages/structures/src/DropdownMenu.css
Due: copyright

Align with Figma mockup
  examples/composite/Footer.default.module.css
  examples/composite/Footer.default.tsx
Due: copyright, format, lint

Don't use Typography to render UL
  examples/composite/Footer.default.module.css
  examples/composite/Footer.default.tsx
Due: copyright, format, lint

Align links with Bentley.com
  examples/composite/Footer.default.tsx
Due: copyright, format, lint

Update Link.md
  apps/website/src/content/docs/components/mui/Link.md
Due: none

Update migration-from-itwinui.mdx
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

Remove english prefix from URLs
  examples/composite/Footer.default.tsx
Due: copyright, format, lint
