Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

copyright:
  run: pnpm lint:copyright {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm biome format --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm biome lint --write {staged_files}
  stage_fixed: true

Use ListItem for tree rows
  apps/test-app/app/routes/tests/left-panel/index.module.css
  apps/test-app/app/routes/tests/left-panel/index.tsx
Due: copyright, format, lint

Toggle search
  apps/test-app/app/routes/tests/left-panel/index.tsx
Due: copyright, format, lint

Tree role
  apps/test-app/app/routes/tests/left-panel/index.tsx
Due: copyright, format, lint

Remove padding from tree
  apps/test-app/app/routes/tests/left-panel/index.module.css
Due: copyright

Use DropdownMenu for sorting modes.
  apps/test-app/app/routes/tests/left-panel/index.tsx
Due: copyright, format, lint

Update canvas skeleton
  apps/test-app/app/routes/tests/left-panel/index.module.css
  apps/test-app/app/routes/tests/left-panel/index.tsx
Due: copyright, format, lint

Update explanation
  apps/test-app/app/routes/tests/left-panel/index.tsx
Due: copyright, format, lint

Add overflow to tree
  apps/test-app/app/routes/tests/left-panel/index.module.css
Due: copyright

Use CSS vars
  apps/test-app/app/routes/tests/left-panel/index.module.css
Due: copyright

Move Tree to a separate component.
  apps/test-app/app/routes/tests/left-panel/index.tsx
Due: copyright, format, lint

Rename .app to .appLayout
  apps/test-app/app/routes/tests/left-panel/index.module.css
  apps/test-app/app/routes/tests/left-panel/index.tsx
Due: copyright, format, lint

Move leftPanel style to CSS
  apps/test-app/app/routes/tests/left-panel/index.module.css
  apps/test-app/app/routes/tests/left-panel/index.tsx
Due: copyright, format, lint

Extract SearchButton
  apps/test-app/app/routes/tests/left-panel/index.tsx
Due: copyright, format, lint

Add @knowler as codeowner
  .github/CODEOWNERS
Due: none

Add @knowler as codeowner (#76)
  .github/CODEOWNERS
Due: none

update component CSS to use semantic tokens
  packages/kiwi-react/src/bricks/Anchor.css
  packages/kiwi-react/src/bricks/Button.css
  packages/kiwi-react/src/bricks/Checkbox.css
  packages/kiwi-react/src/bricks/Divider.css
  packages/kiwi-react/src/bricks/DropdownMenu.css
  packages/kiwi-react/src/bricks/Input.css
  packages/kiwi-react/src/bricks/Label.css
  packages/kiwi-react/src/bricks/ListItem.css
  packages/kiwi-react/src/bricks/Switch.css
Due: copyright

Use color & font-size CSS var.
  packages/kiwi-react/src/bricks/Tabs.css
Due: copyright

add styling for icons inside `Button`
  apps/test-app/app/routes/tests/button/index.spec.ts-snapshot.-visual-1-chromium-linux.png
  apps/test-app/app/routes/tests/button/index.spec.ts-snapshot.-visual-1-firefox-linux.png
  apps/test-app/app/routes/tests/button/index.spec.ts-snapshot.-visual-1-webkit-linux.png
  apps/test-app/app/routes/tests/button/index.tsx
  packages/kiwi-react/src/bricks/Button.css
Due: copyright, format, lint

more tests
  apps/test-app/app/routes/tests/button/index.spec.ts-snapshot.-visual-1-chromium-linux.png
  apps/test-app/app/routes/tests/button/index.spec.ts-snapshot.-visual-1-firefox-linux.png
  apps/test-app/app/routes/tests/button/index.spec.ts-snapshot.-visual-1-webkit-linux.png
  apps/test-app/app/routes/tests/button/index.tsx
Due: copyright, format, lint

Rename left-panel route to sandbox and move from tests dir.
  apps/test-app/app/routes/index.tsx
  apps/test-app/app/routes/sandbox.module.css
  apps/test-app/app/routes/sandbox.tsx
Due: copyright, format, lint

Remove checkbox from dropdown menu item.
  apps/test-app/app/routes/sandbox.tsx
Due: copyright, format, lint

Remove search toggling
  apps/test-app/app/routes/sandbox.tsx
Due: copyright, format, lint

Add some icons to platform bar.
  apps/test-app/app/routes/sandbox.module.css
  apps/test-app/app/routes/sandbox.tsx
Due: copyright, format, lint

Remove tree roles
  apps/test-app/app/routes/sandbox.tsx
Due: copyright, format, lint

Formatting
  apps/test-app/app/routes/sandbox.tsx
Due: copyright, format, lint

add styling for `Icon` inside `Button` (#78)
  apps/test-app/app/routes/tests/button/index.spec.ts-snapshot.-visual-1-chromium-linux.png
  apps/test-app/app/routes/tests/button/index.spec.ts-snapshot.-visual-1-firefox-linux.png
  apps/test-app/app/routes/tests/button/index.spec.ts-snapshot.-visual-1-webkit-linux.png
  apps/test-app/app/routes/tests/button/index.tsx
  packages/kiwi-react/src/bricks/Button.css
Due: copyright, format, lint

Add list role
  apps/test-app/app/routes/sandbox.tsx
Due: copyright, format, lint

Replace tests specific handle with meta
  apps/test-app/app/routes/sandbox.tsx
Due: copyright, format, lint

Add visually hidden h1
  apps/test-app/app/routes/sandbox.tsx
Due: copyright, format, lint

Replace to logical CSS properties
  apps/test-app/app/routes/sandbox.module.css
Due: copyright

Implement `<Field>` + `useFieldId` for form controls
  apps/test-app/app/routes/index.tsx
  apps/test-app/app/routes/tests/field/index.tsx
  packages/kiwi-react/src/bricks/Checkbox.tsx
  packages/kiwi-react/src/bricks/Field.tsx
  packages/kiwi-react/src/bricks/Input.tsx
  packages/kiwi-react/src/bricks/Label.tsx
  packages/kiwi-react/src/bricks/Radio.tsx
  packages/kiwi-react/src/bricks/Textarea.tsx
  packages/kiwi-react/src/bricks/index.ts
Due: copyright, format, lint

Remove body padding from root layout
  apps/test-app/app/root.tsx
  apps/test-app/app/routes/index.css
  apps/test-app/app/routes/index.tsx
  apps/test-app/app/routes/sandbox.module.css
  apps/test-app/app/routes/tests.css
  apps/test-app/app/routes/tests.tsx
Due: copyright, format, lint

Use all form controls in `<Field>` examples
  apps/test-app/app/routes/tests/field/index.tsx
Due: copyright, format, lint

Remove body padding from root layout (#79)
  apps/test-app/app/root.tsx
  apps/test-app/app/routes/index.css
  apps/test-app/app/routes/index.tsx
  apps/test-app/app/routes/sandbox.module.css
  apps/test-app/app/routes/tests.css
  apps/test-app/app/routes/tests.tsx
Due: copyright, format, lint

Add tests for `<Field>` label association
  apps/test-app/app/routes/tests/field/index.spec.ts
Due: copyright, format, lint

Initial push.
  apps/test-app/app/routes/tokens.module.css
  apps/test-app/app/routes/tokens.tsx
  apps/test-app/package.json
  internal/visitors.js
Due: copyright, format, lint

Path conditions:
  copyright: any of: *.{js,ts,jsx,tsx,css,html}
  format: any of: *.{js,ts,jsx,tsx,json,jsonc}
  lint: any of: *.{js,ts,jsx,tsx}
