Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

copyright:
  run: pnpm lint:copyright {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm biome format --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm biome lint --write {staged_files}
  stage_fixed: true

Rename ListItem.Content children to label
  apps/test-app/app/tests/list/index.tsx
  packages/kiwi-react/src/bricks/DropdownMenu.tsx
  packages/kiwi-react/src/bricks/ListItem.tsx
  packages/kiwi-react/src/bricks/Tree.tsx
Due: copyright, format, lint

Rename to --ids-
  packages/kiwi-react/src/bricks/ListItem.css
Due: copyright

Move internal Field components to co-located internal-only file
  packages/kiwi-react/src/bricks/Checkbox.tsx
  packages/kiwi-react/src/bricks/Description.tsx
  packages/kiwi-react/src/bricks/Field.internal.tsx
  packages/kiwi-react/src/bricks/Field.tsx
  packages/kiwi-react/src/bricks/Label.tsx
  packages/kiwi-react/src/bricks/Radio.tsx
  packages/kiwi-react/src/bricks/Select.tsx
  packages/kiwi-react/src/bricks/Switch.tsx
  packages/kiwi-react/src/bricks/TextBox.tsx
Due: copyright, format, lint

Add `invalid` prop to `Field` to set `aria-invalid`
  apps/test-app/app/tests/field/index.spec.ts
  apps/test-app/app/tests/field/index.tsx
  packages/kiwi-react/src/bricks/Field.internal.tsx
  packages/kiwi-react/src/bricks/Field.tsx
Due: copyright, format, lint

update a few token names
  internal/theme-dark.json
  internal/theme-light.json
  packages/kiwi-react/src/bricks/DropdownMenu.css
  packages/kiwi-react/src/bricks/TextBox.css
Due: copyright, format

remove `neutral-hover-%` and `neutral-pressed-%`
  internal/theme-dark.json
  internal/theme-light.json
  packages/kiwi-react/src/bricks/ListItem.css
  packages/kiwi-react/src/bricks/Tabs.css
Due: copyright, format

Update to ids variable prefix.
  packages/kiwi-react/src/bricks/Avatar.css
Due: copyright

Remove size & 3 tones, update to ids variables, new test images.
  apps/test-app/app/tests/badge/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/badge/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/badge/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/badge/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/badge/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/badge/index.tsx
  packages/kiwi-react/src/bricks/Badge.css
  packages/kiwi-react/src/bricks/Badge.tsx
Due: copyright, format, lint

rename `@layer kiwi` to `@layer itwinui`
  packages/kiwi-react/src/bricks/styles.css
  packages/kiwi-react/src/foundations/styles.css
Due: copyright

remove `v5` sublayer
  packages/kiwi-react/src/bricks/styles.css
Due: copyright

Initial, unfinished, commit.
  apps/test-app/app/tests/table/index.tsx
  packages/kiwi-react/src/bricks/Table.css
  packages/kiwi-react/src/bricks/Table.tsx
Due: copyright, format, lint

Update packages/kiwi-react/src/bricks/Avatar.tsx
  packages/kiwi-react/src/bricks/Avatar.tsx
Due: copyright, format, lint

rename `@layer kiwi` to `@layer itwinui` (#375)
  packages/kiwi-react/src/bricks/styles.css
  packages/kiwi-react/src/foundations/styles.css
Due: copyright

5.0.0-alpha.6
  packages/kiwi-react/CHANGELOG.md
  packages/kiwi-react/package.json
Due: format

CSS for both table and div role table
  packages/kiwi-react/src/bricks/Table.css
Due: copyright

Fix biome error.
  packages/kiwi-react/src/bricks/Avatar.tsx
Due: copyright, format, lint

Use label and aria-labelledby with visually hidden.
  apps/test-app/app/tests/avatar/index.tsx
  packages/kiwi-react/src/bricks/Avatar.tsx
Due: copyright, format, lint

Added both table types in demo.
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-hovered-row-1-chromium-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-hovered-row-1-firefox-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-hovered-row-1-webkit-linux.png
  apps/test-app/app/tests/table/index.tsx
  packages/kiwi-react/src/bricks/Table.tsx
Due: copyright, format, lint

Partial WIP
  apps/test-app/app/components.ts
  apps/test-app/app/tests/skeleton/index.spec.ts
  apps/test-app/app/tests/skeleton/index.tsx
  packages/kiwi-react/src/bricks/Skeleton.css
  packages/kiwi-react/src/bricks/Skeleton.tsx
  packages/kiwi-react/src/bricks/index.ts
  packages/kiwi-react/src/bricks/styles.css
Due: copyright, format, lint

Switch div to span.
  packages/kiwi-react/src/bricks/Badge.tsx
Due: copyright, format, lint

Use initials instead of abbreviation.
  apps/test-app/app/tests/avatar/index.tsx
  packages/kiwi-react/src/bricks/Avatar.tsx
Due: copyright, format, lint

Bad copy / paste, replaced spinner with avatar.
  packages/kiwi-react/src/bricks/Avatar.tsx
Due: copyright, format, lint

Use … instead of ...
  packages/kiwi-react/src/bricks/Avatar.tsx
Due: copyright, format, lint

allow inheriting `Icon` size
  packages/kiwi-react/src/bricks/Icon.css
  packages/kiwi-react/src/bricks/Icon.tsx
Due: copyright, format, lint

allow inheriting `Icon` size (#378)
  packages/kiwi-react/src/bricks/Icon.css
  packages/kiwi-react/src/bricks/Icon.tsx
Due: copyright, format, lint

Element around initials, 1 initial.
  apps/test-app/app/tests/avatar/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/avatar/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/avatar/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/avatar/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/avatar/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  packages/kiwi-react/src/bricks/Avatar.css
  packages/kiwi-react/src/bricks/Avatar.tsx
Due: copyright, format, lint

Icon size doesn't need to be nested within SVG.
  packages/kiwi-react/src/bricks/Avatar.css
Due: copyright

manually generate fallback for `oklch`
  apps/test-app/vite.config.ts
  internal/package.json
  internal/visitors.js
  package.json
  packages/kiwi-react/scripts/build.js
  packages/kiwi-react/src/foundations/theme.css
  pnpm-lock.yaml
Due: copyright, format, lint

update images
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.DropdownMenu-CheckboxItem-visual-1-webkit-linux.png
  apps/test-app/app/tests/list/index.spec.ts-snapshot.-visual-hovered-1-chromium-linux.png
  apps/test-app/app/tests/list/index.spec.ts-snapshot.-visual-pressed-1-chromium-linux.png
  apps/test-app/app/tests/list/index.spec.ts-snapshot.-visual-pressed-1-firefox-linux.png
  apps/test-app/app/tests/list/index.spec.ts-snapshot.-visual-pressed-1-webkit-linux.png
  apps/test-app/app/tests/switch/index.spec.ts-snapshot.-visual-checked-1-chromium-linux.png
  apps/test-app/app/tests/switch/index.spec.ts-snapshot.-visual-checked-1-firefox-linux.png
  apps/test-app/app/tests/switch/index.spec.ts-snapshot.-visual-checked-1-webkit-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-hovered-row-1-webkit-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-hovered-item-1-chromium-linux.png
Due: none

Update packages/kiwi-react/src/bricks/Badge.css
  packages/kiwi-react/src/bricks/Badge.css
Due: copyright

WIP exploration: Skeleton in Tree
  apps/test-app/app/sandbox.tsx
  packages/kiwi-react/src/bricks/Skeleton.css
  packages/kiwi-react/src/bricks/Skeleton.tsx
  packages/kiwi-react/src/bricks/Tree.css
  packages/kiwi-react/src/bricks/Tree.tsx
  packages/kiwi-react/src/bricks/index.ts
Due: copyright, format, lint

Revert "WIP exploration: Skeleton in Tree"
  apps/test-app/app/sandbox.tsx
  packages/kiwi-react/src/bricks/Skeleton.css
  packages/kiwi-react/src/bricks/Skeleton.tsx
  packages/kiwi-react/src/bricks/Tree.css
  packages/kiwi-react/src/bricks/Tree.tsx
  packages/kiwi-react/src/bricks/index.ts
Due: copyright, format, lint

manually generate fallback for `oklch` (#379)
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.DropdownMenu-CheckboxItem-visual-1-webkit-linux.png
  apps/test-app/app/tests/list/index.spec.ts-snapshot.-visual-hovered-1-chromium-linux.png
  apps/test-app/app/tests/list/index.spec.ts-snapshot.-visual-pressed-1-chromium-linux.png
  apps/test-app/app/tests/list/index.spec.ts-snapshot.-visual-pressed-1-firefox-linux.png
  apps/test-app/app/tests/list/index.spec.ts-snapshot.-visual-pressed-1-webkit-linux.png
  apps/test-app/app/tests/switch/index.spec.ts-snapshot.-visual-checked-1-chromium-linux.png
  apps/test-app/app/tests/switch/index.spec.ts-snapshot.-visual-checked-1-firefox-linux.png
  apps/test-app/app/tests/switch/index.spec.ts-snapshot.-visual-checked-1-webkit-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-hovered-row-1-webkit-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-hovered-item-1-chromium-linux.png
  apps/test-app/vite.config.ts
  internal/package.json
  internal/visitors.js
  package.json
  packages/kiwi-react/scripts/build.js
  packages/kiwi-react/src/foundations/theme.css
  pnpm-lock.yaml
Due: copyright, format, lint

New test images.
  apps/test-app/app/tests/badge/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/badge/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/badge/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/badge/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/badge/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
Due: none

Remove CSS comment, use start instead of left.
  packages/kiwi-react/src/bricks/Table.css
Due: copyright

Fix TS errors
  packages/kiwi-react/src/bricks/Table.tsx
Due: copyright, format, lint

Initial commit.
  apps/test-app/app/tests/checkbox/index.spec.ts-snapshot.-visual-checked-1-chromium-linux.png
  apps/test-app/app/tests/checkbox/index.spec.ts-snapshot.-visual-checked-1-firefox-linux.png
  apps/test-app/app/tests/checkbox/index.spec.ts-snapshot.-visual-checked-1-webkit-linux.png
  apps/test-app/app/tests/checkbox/index.spec.ts-snapshot.-visual-disabled-1-chromium-linux.png
  apps/test-app/app/tests/checkbox/index.spec.ts-snapshot.-visual-disabled-1-firefox-linux.png
  apps/test-app/app/tests/checkbox/index.spec.ts-snapshot.-visual-disabled-1-webkit-linux.png
  apps/test-app/app/tests/checkbox/index.spec.ts-snapshot.-visual-disabled-checked-1-chromium-linux.png
  apps/test-app/app/tests/checkbox/index.spec.ts-snapshot.-visual-disabled-checked-1-firefox-linux.png
  apps/test-app/app/tests/checkbox/index.spec.ts-snapshot.-visual-disabled-checked-1-webkit-linux.png
  apps/test-app/app/tests/checkbox/index.spec.ts-snapshot.-visual-disabled-indeterminate-mixed-1-chromium-linux.png
  apps/test-app/app/tests/checkbox/index.spec.ts-snapshot.-visual-disabled-indeterminate-mixed-1-firefox-linux.png
  apps/test-app/app/tests/checkbox/index.spec.ts-snapshot.-visual-disabled-indeterminate-mixed-1-webkit-linux.png
  apps/test-app/app/tests/checkbox/index.spec.ts-snapshot.-visual-indeterminate-mixed-1-chromium-linux.png
  apps/test-app/app/tests/checkbox/index.spec.ts-snapshot.-visual-indeterminate-mixed-1-firefox-linux.png
  apps/test-app/app/tests/checkbox/index.spec.ts-snapshot.-visual-indeterminate-mixed-1-webkit-linux.png
  apps/test-app/app/tests/checkbox/index.spec.ts-snapshot.-visual-unchecked-1-chromium-linux.png
  apps/test-app/app/tests/checkbox/index.spec.ts-snapshot.-visual-unchecked-1-firefox-linux.png
  apps/test-app/app/tests/checkbox/index.spec.ts-snapshot.-visual-unchecked-1-webkit-linux.png
  apps/test-app/app/tests/checkbox/index.tsx
  apps/test-app/app/tests/radio/index.spec.ts-snapshot.-visual-checked-1-chromium-linux.png
  apps/test-app/app/tests/radio/index.spec.ts-snapshot.-visual-checked-1-firefox-linux.png
  apps/test-app/app/tests/radio/index.spec.ts-snapshot.-visual-checked-1-webkit-linux.png
  apps/test-app/app/tests/radio/index.spec.ts-snapshot.-visual-disabled-1-chromium-linux.png
  apps/test-app/app/tests/radio/index.spec.ts-snapshot.-visual-disabled-1-firefox-linux.png
  apps/test-app/app/tests/radio/index.spec.ts-snapshot.-visual-disabled-1-webkit-linux.png
  apps/test-app/app/tests/radio/index.spec.ts-snapshot.-visual-disabled-checked-1-chromium-linux.png
  apps/test-app/app/tests/radio/index.spec.ts-snapshot.-visual-disabled-checked-1-firefox-linux.png
  apps/test-app/app/tests/radio/index.spec.ts-snapshot.-visual-disabled-checked-1-webkit-linux.png
  apps/test-app/app/tests/radio/index.spec.ts-snapshot.-visual-unchecked-1-chromium-linux.png
  apps/test-app/app/tests/radio/index.spec.ts-snapshot.-visual-unchecked-1-firefox-linux.png
  apps/test-app/app/tests/radio/index.spec.ts-snapshot.-visual-unchecked-1-webkit-linux.png
  apps/test-app/app/tests/radio/index.tsx
  packages/kiwi-react/src/bricks/Checkbox.css
  packages/kiwi-react/src/bricks/Checkbox.tsx
  packages/kiwi-react/src/bricks/Radio.tsx
Due: copyright, format, lint

Add badge description.
  packages/kiwi-react/src/bricks/Badge.tsx
Due: copyright, format, lint

Path conditions:
  copyright: any of: *.{js,ts,jsx,tsx,css,html}
  format: any of: *.{js,ts,jsx,tsx,json,jsonc}
  lint: any of: *.{js,ts,jsx,tsx}
