Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

copyright:
  run: pnpm lint:copyright {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm biome format --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm biome lint --write {staged_files}
  stage_fixed: true

Update apps/website/src/content/docs/components/mui/Accordion.md
  apps/website/src/content/docs/components/mui/Accordion.md
Due: none

Add size demo
  apps/test-app/app/mui/Rating.showcase.tsx
  apps/website/src/content/docs/components/mui/Rating.md
  examples/mui/Rating.sizes.tsx
Due: copyright, format, lint

Add reduced-motion to tab indicator
  packages/mui/src/~components/MuiTabs.css
Due: copyright

Padding variables in prep for different sizes
  packages/mui/src/~components/MuiTabs.css
Due: copyright

CSS variables match class names
  packages/mui/src/~components/MuiTabs.css
Due: copyright

Vertically center tab list within root
  packages/mui/src/~components/MuiTabs.css
Due: copyright

Changeset
  .changeset/tricky-beers-sort.md
Due: none

Docs
  apps/website/src/content/docs/components/mui/Tabs.md
Due: none

Update packages/mui/src/~components/MuiTabs.css
  packages/mui/src/~components/MuiTabs.css
Due: copyright

Fix pseudo element inset block start
  packages/mui/src/~components/MuiTabs.css
Due: copyright

fix `Typography` colors
  .changeset/deep-swans-draw.md
  .changeset/khaki-mails-wonder.md
  .changeset/pretty-roses-appear.md
  apps/test-app/app/mui/Typography.showcase.tsx
  apps/website/src/content/docs/components/mui/Typography.md
  apps/website/src/content/docs/components/stratakit/Icon.md
  examples/mui/Link._colors.tsx
  examples/mui/Typography.colors.tsx
  packages/mui/src/types.ts
  packages/mui/src/~createTheme.tsx
Due: copyright, format, lint

remove "new"
  apps/website/src/content/docs/components/mui/Typography.md
Due: none

fix `Autocomplete` options size
  .changeset/hungry-jokes-rhyme.md
  packages/mui/src/~components/MuiMenu.css
  packages/mui/src/~createTheme.tsx
Due: copyright, format, lint

fix `InputLabel` small size
  .changeset/chubby-schools-allow.md
  packages/mui/src/~components/MuiForm.css
Due: copyright

update examples
  examples/mui/Select.sizes.tsx
Due: copyright, format, lint

Support tabs colors prop
  apps/test-app/app/mui/Tabs.showcase.tsx
  apps/website/src/content/docs/components/mui/Tabs.md
  examples/mui/Tabs.colors.tsx
  packages/mui/src/~components/MuiTabs.css
Due: copyright, format, lint

Fix demo so tabs dont control both examples
  examples/mui/Tabs.colors.tsx
Due: copyright, format, lint

Scope horizontal and vertical orientation styling
  packages/mui/src/~components/MuiTabs.css
Due: copyright

Primary is accent, secondary is neutral
  packages/mui/src/~components/MuiTabs.css
Due: copyright

Deprecate indicatorColor
  apps/website/src/content/docs/components/mui/Tabs.md
  packages/mui/src/types.ts
Due: copyright, format, lint

Remove active static vars because they're the same as hover static vars
  packages/mui/src/~components/MuiTabs.css
Due: copyright

Hover & Selected CSS variable rename
  packages/mui/src/~components/MuiTabs.css
Due: copyright

Rename static hover to selected
  packages/mui/src/~components/MuiTabs.css
Due: copyright

Set secondary as the default textColor, simplify color demo.
  apps/website/src/content/docs/components/mui/Tabs.md
  examples/mui/Tabs.colors.tsx
  packages/mui/src/~createTheme.tsx
Due: copyright, format, lint

add `:target` styling to docs
  apps/website/src/styles/overrides.css
Due: copyright

Fix disabled + active tab stripe in forced-colors
  packages/mui/src/~forced-colors.css
Due: copyright

Revert changing default textColor
  apps/website/src/content/docs/components/mui/Tabs.md
  examples/mui/Tabs.colors.tsx
  packages/mui/src/~createTheme.tsx
Due: copyright, format, lint

Update apps/website/src/content/docs/guides/language-and-labels.md
  apps/website/src/content/docs/guides/language-and-labels.md
Due: none

SPA cautionary note
  apps/website/src/content/docs/guides/language-and-labels.md
Due: none

JSX code blocks and comments
  apps/website/src/content/docs/guides/language-and-labels.md
Due: none

for/id in all cases
  apps/website/src/content/docs/guides/language-and-labels.md
Due: none

reworked placeholder section; added description example
  apps/website/src/content/docs/guides/language-and-labels.md
Due: none

use cases (with AppBar and BottomNavigation)
  apps/website/src/content/docs/components/stratakit/NavigationRail.md
Due: none

pagination use case
  apps/website/src/content/docs/components/stratakit/NavigationRail.md
Due: none

No dynamic vars for states
  packages/mui/src/~components/MuiTabs.css
Due: copyright

custom component labelling select example
  apps/website/src/content/docs/guides/language-and-labels.md
Due: none

Path conditions:
  copyright: any of: *.{js,ts,jsx,tsx,css,html}
  format: any of: *.{js,ts,jsx,tsx,json,jsonc}
  lint: any of: *.{js,ts,jsx,tsx}
