Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    copyright:
      glob: "*.{js,ts,jsx,tsx,css,html}"
      run: pnpm lint:copyright {staged_files} --fix
      stage_fixed: true

    format:
      glob: "*.{js,ts,jsx,tsx,json,jsonc}"
      run: pnpm biome format --write {staged_files}
      stage_fixed: true

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm biome lint --write {staged_files}
      stage_fixed: true

    prettier:
      exclude:
        - "*.{js,ts,jsx,tsx,cjs,cts,mjs,mts,json,jsonc}"
      run: pnpm exec prettier {staged_files} --ignore-unknown --write
      stage_fixed: true

Initial dismiss implementation
  packages/kiwi-react/src/bricks/Chip.tsx
Due: copyright, format, lint

Align labels with baseline of textboxes
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-text-controls-1-chromium-linux.png
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-text-controls-1-firefox-linux.png
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-text-controls-1-webkit-linux.png
  packages/kiwi-react/src/bricks/Field.css
Due: copyright

Unexport ItemContent and ItemActions.
  apps/test-app/app/sandbox.tsx
  apps/test-app/app/tests/tree/index.spec.ts
  apps/test-app/app/tests/tree/index.tsx
  packages/kiwi-react/src/bricks/Tree.tsx
Due: copyright, format, lint

Remove child-selected styling
  packages/kiwi-react/src/bricks/Tree.css
  packages/kiwi-react/src/bricks/Tree.tsx
Due: copyright, format, lint

Add level prop
  apps/test-app/app/tests/tree/index.tsx
  packages/kiwi-react/src/bricks/Tree.tsx
Due: copyright, format, lint

Update snaps
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-selected-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-selected-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-selected-1-webkit-linux.png
Due: none

Add multi selection to a `Tree` (#244)
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-selected-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-selected-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-selected-1-webkit-linux.png
  apps/test-app/app/tests/tree/index.tsx
  packages/kiwi-react/src/bricks/Tree.css
  packages/kiwi-react/src/bricks/Tree.tsx
Due: copyright, format, lint

Remove actionsVisible prop
  apps/test-app/app/sandbox.tsx
  apps/test-app/app/tests/tree/index.spec.ts
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-visible-actions-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-visible-actions-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-visible-actions-1-webkit-linux.png
  apps/test-app/app/tests/tree/index.tsx
  packages/kiwi-react/src/bricks/Tree.tsx
Due: copyright, format, lint

Update APIs of `Tree` components (#246)
  apps/test-app/app/sandbox.tsx
  apps/test-app/app/tests/tree/index.spec.ts
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-visible-actions-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-visible-actions-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-visible-actions-1-webkit-linux.png
  apps/test-app/app/tests/tree/index.tsx
  packages/kiwi-react/src/bricks/Tree.tsx
Due: copyright, format, lint

Use an empty placeholder to fix baseline alignment in Safari
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-text-controls-1-webkit-linux.png
  packages/kiwi-react/src/bricks/TextBox.tsx
  packages/kiwi-react/src/bricks/Textarea.tsx
Due: copyright, format, lint

internal: create `useEventHandlers` hook
  packages/kiwi-react/src/bricks/~hooks.ts
Due: copyright, format, lint

Remove unnecessary code
  packages/kiwi-react/src/bricks/Chip.tsx
Due: copyright, format, lint

internal: create `useEventHandlers` hook (#256)
  packages/kiwi-react/src/bricks/~hooks.ts
Due: copyright, format, lint

workaround for DropdownMenu background-color
  packages/kiwi-react/src/bricks/DropdownMenu.css
  packages/kiwi-react/src/bricks/ListItem.css
Due: copyright

export `Tree`
  packages/kiwi-react/src/bricks/index.ts
Due: copyright, format, lint

add jsdocs
  packages/kiwi-react/src/bricks/Tree.tsx
Due: copyright, format, lint

update failing snapshot
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-1-chromium-linux.png
Due: none

moved attributes around and cleaned up example
  apps/test-app/app/tests/table/index.tsx
  packages/kiwi-react/src/bricks/Table.tsx
Due: copyright, format, lint

workaround for DropdownMenu background-color (#257)
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-1-chromium-linux.png
  packages/kiwi-react/src/bricks/DropdownMenu.css
  packages/kiwi-react/src/bricks/ListItem.css
Due: copyright

export `Tree` publicly (#258)
  packages/kiwi-react/src/bricks/Tree.tsx
  packages/kiwi-react/src/bricks/index.ts
Due: copyright, format, lint

Add `Tabs` component to the left panel (#236)
  apps/test-app/app/sandbox.module.css
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

5.0.0-alpha.2
  packages/kiwi-react/CHANGELOG.md
  packages/kiwi-react/package.json
Due: format

Align labels with baseline of textboxes (#254)
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-text-controls-1-chromium-linux.png
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-text-controls-1-firefox-linux.png
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-text-controls-1-webkit-linux.png
  packages/kiwi-react/src/bricks/Field.css
  packages/kiwi-react/src/bricks/TextBox.tsx
  packages/kiwi-react/src/bricks/Textarea.tsx
Due: copyright, format, lint

Adding the button from Kiwi
  packages/kiwi-react/src/bricks/Chip.css
  packages/kiwi-react/src/bricks/Chip.tsx
Due: copyright, format, lint

Adding dismiss tests
  apps/test-app/app/tests/chip/index.tsx
Due: copyright, format, lint

Adding an aria label for the chip.
  packages/kiwi-react/src/bricks/Chip.tsx
Due: copyright, format, lint

Updating the test coverage
  apps/test-app/app/tests/chip/index.spec.ts
Due: copyright, format, lint

Adding the new visual test images for the dismiss button
  apps/test-app/app/tests/chip/index.spec.ts-snapshot.-visual-chips-dismiss-variants-1-chromium-linux.png
  apps/test-app/app/tests/chip/index.spec.ts-snapshot.-visual-chips-dismiss-variants-1-firefox-linux.png
  apps/test-app/app/tests/chip/index.spec.ts-snapshot.-visual-chips-dismiss-variants-1-webkit-linux.png
Due: none

Fix slow resize of a left panel
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

Continue using checkmark svg instead of checkbox.
  packages/kiwi-react/src/bricks/DropdownMenu.css
  packages/kiwi-react/src/bricks/DropdownMenu.tsx
  packages/kiwi-react/src/bricks/Icon.tsx
Due: copyright, format, lint

Aligning prop name with Figma
  packages/kiwi-react/src/bricks/Chip.tsx
Due: copyright, format, lint

Addding the base styles of outline and solid
  packages/kiwi-react/src/bricks/Chip.css
Due: copyright

Adding the solid abd outline background modifiers
  packages/kiwi-react/src/bricks/Chip.css
Due: copyright

Fixing the cursor
  packages/kiwi-react/src/bricks/Chip.css
Due: copyright

simplified css and example code
  apps/test-app/app/tests/table/index.tsx
  packages/kiwi-react/src/bricks/Table.css
  packages/kiwi-react/src/bricks/Table.tsx
Due: copyright, format, lint

added commnet
  packages/kiwi-react/src/bricks/Table.tsx
Due: copyright, format, lint

Fix slow resize of a left panel (#261)
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

Move state to provider components.
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

Moving to onDimiss terminology
  packages/kiwi-react/src/bricks/Chip.tsx
Due: copyright, format, lint
