Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    copyright:
      glob: "*.{js,ts,jsx,tsx,css,html}"
      run: pnpm lint:copyright {staged_files} --fix
      stage_fixed: true

    format:
      glob: "*.{js,ts,jsx,tsx,json,jsonc}"
      run: pnpm biome format --write {staged_files}
      stage_fixed: true

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm biome lint --write {staged_files}
      stage_fixed: true

    prettier:
      exclude:
        - "*.{js,ts,jsx,tsx,cjs,cts,mjs,mts,json,jsonc}"
      run: pnpm exec prettier {staged_files} --ignore-unknown --write
      stage_fixed: true

Try to simplify day and year button styling
  packages/mui/src/~components/MuiDatePicker.css
Due: copyright

Still simplifying
  packages/mui/src/~components/MuiDatePicker.css
Due: copyright

i just want this to pass
  packages/mui/src/~components/MuiDatePicker.css
Due: copyright

Move this back where it belongs
  packages/mui/src/~components/MuiDatePicker.css
Due: copyright

Remove year button styling
  packages/mui/src/~components/MuiDatePicker.css
Due: copyright

Changesets
  .changeset/shaky-tires-push.md
  .changeset/twenty-lemons-slide.md
Due: none

Only id remap on Linux
  apps/test-app/scripts/Dockerfile
  apps/test-app/scripts/run-tests.ts
Due: copyright, format, lint

Better test performance
  apps/test-app/package.json
  apps/test-app/scripts/Dockerfile
  apps/test-app/scripts/run-tests.ts
Due: copyright, format, lint

Fix casing for testid
  apps/test-app/app/ScreenShotWrapper.tsx
Due: copyright, format, lint

Use .spec.stories.tsx - nest under spec - use plural since file contains multiple stories
  apps/test-app/app/tests/mui/Button.spec.stories.tsx
  apps/test-app/app/tests/mui/index.tsx
Due: copyright, format, lint

Ignore navigation rail for MUI tests
  apps/test-app/app/root.tsx
Due: copyright, format, lint

fix visual test
  apps/test-app/app/tests/select/index.spec.ts
  apps/test-app/app/tests/select/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/select/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
Due: copyright, format, lint

replace `bg-control-slider-track`
  packages/mui/src/~components/MuiSlider.css
Due: copyright

Fixed font size of small inputs.
  .changeset/fiery-papayas-add.md
  packages/mui/src/~components/MuiInput.css
Due: copyright

Remove changeset
  .changeset/fiery-papayas-add.md
Due: none

Apply custom input class name to TablePagination's native select
  packages/mui/src/~createTheme.tsx
Due: copyright, format, lint

Apply the class on MuiInputBase instead of MuiTablePagination's select
  packages/mui/src/~createTheme.tsx
Due: copyright, format, lint

fix `ownerState` being passed to slots
  packages/mui/src/~createTheme.tsx
Due: copyright, format, lint

Add badge test
  apps/test-app/app/VaryProps.spec.ts
  apps/test-app/app/VaryProps.tsx
  apps/test-app/app/generateVisualTests.ts
  apps/test-app/app/tests/mui/Badge.spec.stories.tsx
  apps/test-app/app/tests/mui/Badge.spec.ts
  apps/test-app/app/tests/mui/Badge.spec.ts-snapshot.-visual-dark-1-chromium-linux.png
  apps/test-app/app/tests/mui/Badge.spec.ts-snapshot.-visual-dark-1-firefox-linux.png
  apps/test-app/app/tests/mui/Badge.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/mui/Badge.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/mui/Badge.spec.ts-snapshot.-visual-light-1-chromium-linux.png
  apps/test-app/app/tests/mui/Badge.spec.ts-snapshot.-visual-light-1-firefox-linux.png
Due: copyright, format, lint

update minimal-template
  internal/minimal-template/package.json
Due: format

bump typescript to v7
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Update Popover.md
  apps/website/src/content/docs/components/mui/Popover.md
Due: none

Remove unstable_wrapPortal from Root component
  packages/foundations/src/Root.internal.tsx
  packages/foundations/src/Root.tsx
  packages/foundations/src/secret-internals.ts
  packages/mui/src/Root.tsx
Due: copyright, format, lint

Separate container and getContainer
  packages/foundations/src/Root.internal.tsx
  packages/foundations/src/Root.tsx
  packages/mui/src/~PortalTheme.tsx
  packages/mui/src/~components/MuiDialog.tsx
  packages/mui/src/~components/MuiPopover.tsx
  packages/structures/src/Dialog.tsx
  packages/structures/src/Popover.tsx
Due: copyright, format, lint

Explicitly document deprecated base props in changesets
  .changeset/smooth-meteors-tease.md
  .changeset/tidy-jobs-sell.md
Due: none

Strikethrough inherited ButtonBase props
  packages/mui/src/types.ts
Due: copyright, format, lint

Explicitly document deprecated base props
  apps/website/src/content/docs/components/mui/ToggleButton.md
Due: none

Reorder
  apps/website/src/content/docs/components/mui/ToggleButton.md
Due: none

update deprecation wording (#1684)
  packages/mui/src/types.ts
Due: copyright, format, lint

Separate docs/changesets for ToggleButton/ToggleButtonGroup and ButtonBase
  .changeset/smooth-meteors-tease.md
  .changeset/tidy-jobs-sell.md
  apps/website/src/content/docs/components/mui/Button.md
  apps/website/src/content/docs/components/mui/ToggleButton.md
Due: none

docs and changeset
  .changeset/smooth-meteors-tease.md
  .changeset/whole-taxes-share.md
  apps/website/src/content/docs/components/mui/ToggleButton.md
Due: none

Deprecations
  packages/mui/src/types.ts
Due: copyright, format, lint

Reword: deprecated to not supported
  apps/website/src/content/docs/components/mui/Button.md
  apps/website/src/content/docs/components/mui/ToggleButton.md
Due: none

Disallow all colors except standard
  packages/mui/src/types.ts
Due: copyright, format, lint

Deprecate size
  packages/mui/src/types.ts
Due: copyright, format, lint

Initial commit
  .changeset/hungry-snakes-judge.md
  apps/website/src/content/docs/components/mui/Checkbox.md
  packages/mui/src/types.ts
Due: copyright, format, lint

Update docs and changeset
  .changeset/hungry-snakes-judge.md
  apps/website/src/content/docs/components/mui/Checkbox.md
Due: none

Add disableFocusRipple and disableTouchRipple
  packages/mui/src/types.ts
Due: copyright, format, lint

Change deprecation note
  packages/mui/src/types.ts
Due: copyright, format, lint

Restore disabled color individual values
  packages/mui/src/types.ts
Due: copyright, format, lint
