Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    copyright:
      glob: "*.{js,ts,jsx,tsx,css,html}"
      run: pnpm lint:copyright {staged_files} --fix
      stage_fixed: true

    format:
      glob: "*.{js,ts,jsx,tsx,json,jsonc}"
      run: pnpm biome format --write {staged_files}
      stage_fixed: true

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm biome lint --write {staged_files}
      stage_fixed: true

    prettier:
      exclude:
        - "*.{js,ts,jsx,tsx,cjs,cts,mjs,mts,json,jsonc}"
      run: pnpm exec prettier {staged_files} --ignore-unknown --write
      stage_fixed: true

Better outline styling
  packages/mui/src/~components/MuiChip.css
Due: copyright

pnpm changeset
  .changeset/five-pots-reply.md
Due: none

Fix live examples (#1251)
  apps/website/astro.config.mjs
Due: none

Styled Menu to match the Strata visual design language
  .changeset/bold-wolves-report.md
  packages/mui/src/~components.css
  packages/mui/src/~components/MuiMenu.css
  packages/mui/src/~forced-colors.css
Due: copyright

refactor `example-embed` to use React
  apps/website/astro.config.mjs
  apps/website/src/components/ExampleEmbed.tsx
  apps/website/src/components/example-embed.astro
  apps/website/src/pages/examples/[...example].astro
Due: copyright, format, lint

render examples inline instead of iframe
  apps/website/src/components/ExampleEmbed.tsx
  apps/website/src/components/ExamplePreview.module.css
  apps/website/src/components/ExamplePreview.tsx
  apps/website/src/components/Head.astro
  apps/website/src/components/example-embed.astro
  apps/website/src/components/~utils.ts
  apps/website/src/pages/examples/[...example].astro
  apps/website/src/styles/global.css
Due: copyright, format, lint

reuse a single React tree
  apps/website/src/components/ExamplePreview.tsx
  apps/website/src/components/Head.astro
  apps/website/src/components/StrataKitRoot.tsx
  apps/website/src/components/example-embed.astro
Due: copyright, format, lint

Style Slider to match the Strata visual design language
  .changeset/odd-steaks-press.md
  packages/mui/src/~components.css
  packages/mui/src/~components/MuiSlider.css
  packages/mui/src/~forced-colors.css
Due: copyright

Remove small size.
  packages/mui/src/~components/MuiSwitch.css
Due: copyright

Chain modifiers with subject.
  packages/mui/src/~components/MuiSwitch.css
Due: copyright

Style the actual input
  packages/mui/src/~components/MuiSwitch.css
Due: copyright

create minimal template
  README.md
  apps/website/src/content/docs/getting-started/develop.mdx
  internal/copyright-linter.ts
  internal/minimal-template/.gitignore
  internal/minimal-template/index.html
  internal/minimal-template/package.json
  internal/minimal-template/src/App.tsx
  internal/minimal-template/src/fonts/InterVariable-Italic.woff2
  internal/minimal-template/src/fonts/InterVariable.woff2
  internal/minimal-template/src/main.tsx
  internal/minimal-template/tsconfig.json
  internal/minimal-template/vite.config.js
  packages/mui/README.md
Due: copyright, format, lint

Missing appearance none
  packages/mui/src/~components/MuiSwitch.css
Due: copyright

Checkbox & radio cleanup
  packages/mui/src/~components/MuiCheckbox.css
  packages/mui/src/~forced-colors.css
Due: copyright

Add-back `IconButton` docs (#1204)
  apps/website/src/content/docs/components/IconButton.md
  examples/mui/Badge.default.tsx
Due: copyright, format, lint

Mention defaultChecked, checked and onChange
  apps/website/src/content/docs/components/Switch.md
Due: none

Add-back `Switch` docs (#1205)
  apps/website/src/content/docs/components/Switch.md
Due: none

Prefix components in MuiChip.tsx w/ Mui
  packages/mui/src/createTheme.tsx
  packages/mui/src/~components/MuiChip.tsx
Due: copyright, format, lint

improve readability
  packages/mui/src/~components/MuiChip.tsx
Due: copyright, format, lint

Add deleteLabel prop to Chip
  packages/mui/src/createTheme.tsx
  packages/mui/src/types.ts
  packages/mui/src/~components/MuiChip.tsx
Due: copyright, format, lint

pnpm changeset
  .changeset/early-comics-eat.md
Due: none

Update Chip docs
  .changeset/five-pots-reply.md
  apps/website/src/content/docs/components/Chip.md
Due: none

Add clickable and deletable examples
  apps/test-app/app/mui.tsx
  apps/website/src/content/docs/components/Chip.md
  examples/mui/Chip.clickable.tsx
  examples/mui/Chip.deletable.tsx
Due: copyright, format, lint

Define displayName
  packages/mui/src/~components/MuiChip.tsx
Due: copyright, format, lint

Use focus outline variable
  packages/mui/src/~components/MuiSlider.css
Due: copyright

Use focus outline variable
  packages/mui/src/~components/MuiSwitch.css
Due: copyright

Use Autocomplete clearText when i18n is available
  packages/mui/src/~components/MuiChip.tsx
Due: copyright, format, lint

create minimal template (#1255)
  README.md
  apps/website/src/content/docs/getting-started/develop.mdx
  internal/copyright-linter.ts
  internal/minimal-template/.gitignore
  internal/minimal-template/index.html
  internal/minimal-template/package.json
  internal/minimal-template/src/App.tsx
  internal/minimal-template/src/fonts/InterVariable-Italic.woff2
  internal/minimal-template/src/fonts/InterVariable.woff2
  internal/minimal-template/src/main.tsx
  internal/minimal-template/tsconfig.json
  internal/minimal-template/vite.config.js
  packages/mui/README.md
Due: copyright, format, lint

docs: refactor `::example` embeds (#1240)
  apps/website/astro.config.mjs
  apps/website/src/components/ExamplePreview.module.css
  apps/website/src/components/ExamplePreview.tsx
  apps/website/src/components/Head.astro
  apps/website/src/components/StrataKitRoot.tsx
  apps/website/src/components/example-embed.astro
  apps/website/src/components/~utils.ts
  apps/website/src/pages/examples/[...example].astro
  apps/website/src/styles/global.css
Due: copyright, format, lint

docs: add "View source" link to examples
  apps/website/src/components/ExamplePreview.module.css
  apps/website/src/components/ExamplePreview.tsx
Due: copyright, format, lint

docs: add "View source" link to examples (#1257)
  apps/website/src/components/ExamplePreview.module.css
  apps/website/src/components/ExamplePreview.tsx
Due: copyright, format, lint

Fix subject + modifier pairing. Update sizes.
  packages/mui/src/~components/MuiSlider.css
  packages/mui/src/~forced-colors.css
Due: copyright

Render small delete button
  packages/mui/src/~components/MuiChip.css
  packages/mui/src/~components/MuiChip.tsx
Due: copyright, format, lint

Fix delete btn color
  packages/mui/src/~components/MuiChip.css
Due: copyright

Use grab cursors instead of resize cursors.
  packages/mui/src/~components/MuiSlider.css
Due: copyright

Remove MUI hover, apply the StrataKit active state to hover as well. Touch target size.
  packages/mui/src/~components/MuiSlider.css
Due: copyright

Missed a modifier class not paired with it's subject.
  packages/mui/src/~components/MuiSlider.css
Due: copyright

Small & medium thumb sizes.
  packages/mui/src/~components/MuiSlider.css
Due: copyright

Default to Clear instead of Delete.
  packages/mui/src/types.ts
  packages/mui/src/~components/MuiChip.tsx
Due: copyright, format, lint
