Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

copyright:
  run: pnpm lint:copyright {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm biome format --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm biome lint --write {staged_files}
  stage_fixed: true

Changeset
  .changeset/fresh-toes-start.md
  apps/test-app/app/tests/banner/index.tsx
Due: copyright, format, lint

Fixed JSDocs. Default status icon.
  packages/structures/src/Banner.tsx
Due: copyright, format, lint

update default milestone from Q2 to Q3
  .github/workflows/pr-milestone.js
Due: copyright, format, lint

Tests
  apps/test-app/app/tests/banner/index.spec.ts
  apps/test-app/app/tests/banner/index.tsx
Due: copyright, format, lint

tab: add support for startIcon
  apps/test-app/app/compat/tabs.tsx
  packages/compat/src/Tabs.tsx
Due: copyright, format, lint

Rename menuActions to actions
  .changeset/shiny-lies-slide.md
  apps/test-app/app/sandbox/index.tsx
  apps/test-app/app/tests/tree/index.tsx
  packages/structures/src/TreeItem.tsx
Due: copyright, format, lint

Remove reference to ItemOverflowAction
  packages/structures/src/TreeItem.tsx
Due: copyright, format, lint

Github Actions: Update default milestone (#822)
  .github/workflows/pr-milestone.js
Due: copyright, format, lint

update field visual tests
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-text-controls-1-chromium-linux.png
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-text-controls-1-firefox-linux.png
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-text-controls-1-webkit-linux.png
  apps/test-app/app/tests/field/index.tsx
Due: copyright, format, lint

adjust `Field` alignment (#798)
  .changeset/giant-cooks-trade.md
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-text-controls-1-chromium-linux.png
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-text-controls-1-firefox-linux.png
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-text-controls-1-webkit-linux.png
  apps/test-app/app/tests/field/index.tsx
  apps/test-app/app/tests/text-box/index.spec.ts-snapshot.-visual-focus-outline-input-1-chromium-linux.png
  apps/test-app/app/tests/text-box/index.spec.ts-snapshot.-visual-focus-outline-input-1-firefox-linux.png
  apps/test-app/app/tests/text-box/index.spec.ts-snapshot.-visual-focus-outline-input-1-webkit-linux.png
  packages/bricks/src/Field.css
Due: copyright, format, lint

Initial commit
  internal/primitives.json
  internal/theme-dark.json
  internal/theme-light.json
Due: format

WIP
  apps/test-app/app/tests/tree/index.tsx
  packages/bricks/src/IconButton.tsx
  packages/structures/src/TreeItem.tsx
Due: copyright, format, lint

update LegacyTabProps
  packages/compat/src/Tabs.tsx
Due: copyright, format, lint

Fix tests
  apps/test-app/app/tests/banner/index.spec.ts
Due: copyright, format, lint

Composition API. No label.
  packages/compat/src/Alert.tsx
Due: copyright, format, lint

Simplified default status icon and tests. Generalized JSDocs.
  apps/test-app/app/tests/banner/index.spec.ts
  apps/test-app/app/tests/banner/index.tsx
  packages/structures/src/Banner.tsx
Due: copyright, format, lint

Fix missing status icons
  packages/compat/src/Alert.tsx
Due: copyright, format, lint

Fix code quality
  packages/bricks/CHANGELOG.md
  packages/icons/CHANGELOG.md
  packages/structures/CHANGELOG.md
Due: none

TabIcon changes
  apps/test-app/app/compat/tabs.tsx
  packages/compat/src/Tabs.tsx
  packages/structures/src/Tabs.tsx
Due: copyright, format, lint

🛫
  CONTRIBUTING.md
Due: none

Fix
  CONTRIBUTING.md
Due: none

WIP: TabIcon changes
  packages/compat/src/Tabs.tsx
  packages/structures/src/Tabs.tsx
Due: copyright, format, lint

Update visual tests to include checkbox
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-hovered-row-1-chromium-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-hovered-row-1-firefox-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-hovered-row-1-webkit-linux.png
  apps/test-app/app/tests/table/index.tsx
Due: copyright, format, lint

Add active-hover styling to TreeItem
  packages/structures/src/TreeItem.css
  packages/structures/src/~utils.ListItem.css
Due: copyright

pnpm changeset
  .changeset/beige-poems-carry.md
Due: none

Fix tests
  apps/test-app/app/tests/tree/index.spec.ts
Due: copyright, format, lint

Fix imports
  packages/compat/src/ExpandableBlock.tsx
Due: copyright, format, lint

Fix imports order
  apps/test-app/app/compat/expandable-block.tsx
Due: copyright, format, lint

Remove type assertions
  packages/compat/src/Select.tsx
Due: copyright, format, lint

Fix "Running bespoke commands" docs in `CONTRIBUTING.md` (#833)
  CONTRIBUTING.md
Due: none

Wrap with `Field.Control`
  apps/test-app/app/compat/select.tsx
  packages/compat/src/Select.tsx
Due: copyright, format, lint

update tests
  .changeset/clear-streets-study.md
  .changeset/full-clocks-admire.md
  apps/test-app/app/tests/icon-button/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/icon-button/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/icon-button/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/icon-button/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/icon-button/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/icon-button/index.tsx
  packages/bricks/src/Button.css
  packages/bricks/src/IconButton.tsx
Due: copyright, format, lint

create `IconButton` compat component
  .changeset/flat-berries-watch.md
  apps/test-app/app/compat/icon-button.tsx
  apps/test-app/app/~meta.ts
  packages/compat/src/IconButton.tsx
  packages/compat/src/index.ts
Due: copyright, format, lint

Initial commit.
  .changeset/fresh-dryers-stop.md
  apps/test-app/app/tests/button/index.tsx
  packages/bricks/src/Button.css
  packages/bricks/src/Button.tsx
Due: copyright, format, lint

Test images.
  apps/test-app/app/tests/button/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/button/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/button/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/button/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/button/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
Due: none

update `IconButton` `isActive` prop (#831)
  .changeset/clear-streets-study.md
  .changeset/full-clocks-admire.md
  apps/test-app/app/tests/icon-button/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/icon-button/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/icon-button/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/icon-button/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/icon-button/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/icon-button/index.tsx
  packages/bricks/src/Button.css
  packages/bricks/src/IconButton.tsx
Due: copyright, format, lint

add `unstable_loadStyles` function to foundations
  .changeset/mean-terms-search.md
  .changeset/ten-kids-cross.md
  packages/foundations/package.json
  packages/foundations/src/Root.tsx
  packages/foundations/src/index.ts
  packages/foundations/src/styles.internal.ts
  packages/foundations/src/styles.ts
  packages/foundations/src/~styles.css
  packages/foundations/src/~styles.css.ts
  packages/foundations/src/~utils.tsx
Due: copyright, format, lint

Change release from minor to patch
  .changeset/fresh-dryers-stop.md
Due: none

change span to svg
  packages/compat/src/Tabs.tsx
Due: copyright, format, lint

update TabIcon
  packages/compat/src/Tabs.tsx
Due: copyright, format, lint

Path conditions:
  copyright: any of: *.{js,ts,jsx,tsx,css,html}
  format: any of: *.{js,ts,jsx,tsx,json,jsonc}
  lint: any of: *.{js,ts,jsx,tsx}
