Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    copyright:
      glob: "*.{js,ts,jsx,tsx,css,html}"
      run: pnpm lint:copyright {staged_files} --fix
      stage_fixed: true

    format:
      glob: "*.{js,ts,jsx,tsx,json,jsonc}"
      run: pnpm biome format --write {staged_files}
      stage_fixed: true

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm biome lint --write {staged_files}
      stage_fixed: true

    prettier:
      exclude:
        - "*.{js,ts,jsx,tsx,cjs,cts,mjs,mts,json,jsonc}"
      run: pnpm exec prettier {staged_files} --ignore-unknown --write
      stage_fixed: true

Update snaps
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
Due: none

prepare compat package for publishing (#812)
  README.md
  apps/test-app/package.json
  packages/compat/CHANGELOG.md
  packages/compat/README.md
  packages/compat/package.json
  packages/compat/scripts/build.js
  packages/compat/tsconfig.json
  pnpm-lock.yaml
Due: copyright, format, lint

allow manually publishing all packages
  .github/workflows/publish-npm.yaml
Due: none

reverting to svg
  packages/compat/src/Icon.tsx
Due: copyright, format, lint

Fixing `Textbox.Textarea` padding (#801)
  apps/test-app/app/tests/text-box/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/text-box/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/text-box/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/text-box/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/text-box/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/text-box/index.tsx
  packages/bricks/src/TextBox.css
  packages/bricks/src/TextBox.tsx
Due: copyright, format, lint

WIP: re-use menu store for tree item actions.
  apps/test-app/app/sandbox/index.tsx
  apps/test-app/app/tests/tree/index.tsx
  packages/structures/src/DropdownMenu.tsx
  packages/structures/src/TreeItem.tsx
Due: copyright, format, lint

Leftover
  packages/compat/src/ToggleSwitch.tsx
Due: copyright, format, lint

Removed all JSDocs except docs link
  packages/compat/src/ToggleSwitch.tsx
Due: copyright, format, lint

allow manually publishing all packages (#813)
  .github/workflows/publish-npm.yaml
Due: none

support multiple decorations as children of AccordionItem.Decoration
  apps/test-app/app/tests/accordion-item/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/accordion-item/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/accordion-item/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/accordion-item/index.tsx
  packages/structures/src/AccordionItem.css
  packages/structures/src/AccordionItem.tsx
Due: copyright, format, lint

fix Context usage for React 18
  .changeset/real-ties-go.md
  packages/structures/src/Toolbar.tsx
Due: copyright, format, lint

fix Context usage for React 18 (#815)
  .changeset/real-ties-go.md
  packages/structures/src/Toolbar.tsx
Due: copyright, format, lint

fix versions
  packages/bricks/CHANGELOG.md
  packages/bricks/package.json
  packages/compat/CHANGELOG.md
  packages/compat/package.json
  packages/structures/CHANGELOG.md
  packages/structures/package.json
  pnpm-lock.yaml
Due: format

adjust changelogs
  packages/bricks/CHANGELOG.md
  packages/compat/CHANGELOG.md
  packages/foundations/CHANGELOG.md
  packages/structures/CHANGELOG.md
Due: none

fix lockfile
  pnpm-lock.yaml
Due: none

update playwright everywhere
  .github/workflows/CI.yaml
  apps/test-app/scripts/Dockerfile
Due: none

changing inline to flex
  apps/test-app/app/compat/icon.tsx
Due: copyright, format, lint

Add inlineActions and menuActions props
  apps/test-app/app/tests/tree/index.tsx
  packages/structures/src/DropdownMenu.tsx
  packages/structures/src/TreeItem.css
  packages/structures/src/TreeItem.tsx
Due: copyright, format, lint

manual test template (form) in YAML
  .github/ISSUE_TEMPLATE/MANUAL_A11Y_TEST.yml
Due: none

Tests
  apps/test-app/app/tests/tree/index.spec.ts
  apps/test-app/app/tests/tree/index.tsx
Due: copyright, format, lint

Update changeset
  .changeset/shiny-lies-slide.md
Due: none

Use checked checkbox instead of aria-selected
  .changeset/dull-icons-burn.md
  apps/test-app/app/tests/table/index.tsx
  packages/structures/src/Table.css
  packages/structures/src/Table.tsx
Due: copyright, format, lint

Add `Anchor` composition API (#757)
  .changeset/pretty-bugs-fail.md
  apps/test-app/app/compat/anchor.tsx
  apps/test-app/app/tests/anchor/index.tsx
  packages/bricks/src/Anchor.tsx
Due: copyright, format, lint

Use renderedItems since order is important.
  packages/structures/src/TreeItem.tsx
Due: copyright, format, lint

Fix sandbox
  apps/test-app/app/sandbox/index.tsx
Due: copyright, format, lint

YAML contents
  .github/ISSUE_TEMPLATE/MANUAL_A11Y_TEST.yml
Due: none

move components into `@layer stratakit`
  packages/bricks/src/styles.css
  packages/foundations/src/styles.css
  packages/structures/src/styles.css
Due: copyright

Adding `<Icon>` compat component (#808)
  .github/workflows/pr-labels.js
  apps/test-app/app/compat/icon.tsx
  apps/test-app/app/~meta.ts
  packages/compat/src/Icon.tsx
  packages/compat/src/LabeledInput.tsx
  packages/compat/src/LabeledTextarea.tsx
  packages/compat/src/index.ts
Due: copyright, format, lint

update images
  apps/test-app/app/tests/text-box/index.spec.ts-snapshot.-visual-focus-outline-input-1-chromium-linux.png
  apps/test-app/app/tests/text-box/index.spec.ts-snapshot.-visual-focus-outline-input-1-firefox-linux.png
  apps/test-app/app/tests/text-box/index.spec.ts-snapshot.-visual-focus-outline-input-1-webkit-linux.png
Due: none

adjust `Field` alignment
  .changeset/giant-cooks-trade.md
  packages/bricks/src/Field.css
Due: copyright

🛫
  packages/structures/src/Banner.tsx
  packages/structures/src/Chip.tsx
Due: copyright, format, lint

Update .github/ISSUE_TEMPLATE/MANUAL_A11Y_TEST.yml
  .github/ISSUE_TEMPLATE/MANUAL_A11Y_TEST.yml
Due: none

⛳
  packages/bricks/src/Field.css
Due: copyright

Add `<Anchor.Text>` & `<Anchor.ExternalMarker>` (#800)
  .changeset/itchy-streets-rest.md
  apps/test-app/app/compat/anchor.tsx
  apps/test-app/app/tests/anchor/index.spec.ts
  apps/test-app/app/tests/anchor/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/anchor/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/anchor/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/anchor/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/anchor/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/anchor/index.tsx
  packages/bricks/src/Anchor.css
  packages/bricks/src/Anchor.tsx
  packages/compat/src/Anchor.tsx
Due: copyright, format, lint

minor wording fixes
  .changeset/shy-dingos-itch.md
  packages/structures/src/AccordionItem.tsx
Due: copyright, format, lint

Add missing JSDocs and cleanup
  packages/structures/src/Banner.tsx
  packages/structures/src/Chip.tsx
Due: copyright, format, lint

`Banner.Actions`
  packages/structures/src/Banner.tsx
Due: copyright, format, lint

Test
  apps/test-app/app/tests/banner/index.tsx
  packages/structures/src/Banner.tsx
Due: copyright, format, lint
