Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    copyright:
      glob: "*.{js,ts,jsx,tsx,css,html}"
      run: pnpm lint:copyright {staged_files} --fix
      stage_fixed: true

    format:
      glob: "*.{js,ts,jsx,tsx,json,jsonc}"
      run: pnpm biome format --write {staged_files}
      stage_fixed: true

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm biome lint --write {staged_files}
      stage_fixed: true

    prettier:
      exclude:
        - "*.{js,ts,jsx,tsx,cjs,cts,mjs,mts,json,jsonc}"
      run: pnpm exec prettier {staged_files} --ignore-unknown --write
      stage_fixed: true

Rm ununsed type
  packages/mui/src/types.ts
Due: copyright, format, lint

Changeset downgraded from minor to patch, rephrased.
  .changeset/odd-hats-nail.md
Due: none

Align with RadioProps
  packages/mui/src/types.ts
Due: copyright, format, lint

Add SwitchDeprecatedProps which extends IconButtonDeprecatedProps
  .changeset/odd-hats-nail.md
  apps/website/src/content/docs/components/mui/Switch.md
  packages/mui/src/types.ts
Due: copyright, format, lint

Changeset
  .changeset/odd-hats-nail.md
Due: none

Add disableFocusRipple and disableTouchRipple
  packages/mui/src/types.ts
Due: copyright, format, lint

Restore disabled individual values
  packages/mui/src/types.ts
Due: copyright, format, lint

update text to fix merge conflict
  apps/website/src/content/docs/components/mui/Alert.md
Due: none

Change SwitchOwnProps to SwitchProps
  packages/mui/src/types.ts
Due: copyright, format, lint

Deprecate color
  packages/mui/src/types.ts
Due: copyright, format, lint

Update packages/mui/src/types.ts
  packages/mui/src/types.ts
Due: copyright, format, lint

Correct plural
  apps/website/src/content/docs/components/mui/Autocomplete.md
Due: none

Update apps/website/src/content/docs/components/mui/Autocomplete.md
  apps/website/src/content/docs/components/mui/Autocomplete.md
Due: none

not supported instead of deprecated
  apps/website/src/content/docs/components/mui/Accordion.md
Due: none

Add docs and changeset
  .changeset/dull-readers-worry.md
  apps/website/src/content/docs/components/mui/Autocomplete.md
Due: none

Add-back SwitchImport
  packages/mui/src/types.ts
Due: copyright, format, lint

Deprecate accordion props
  .changeset/rich-bobcats-follow.md
  apps/website/src/content/docs/components/mui/Accordion.md
  packages/mui/src/types.ts
Due: copyright, format, lint

Deprecate props from autocomplete
  packages/mui/src/types.ts
Due: copyright, format, lint

Remove unused import
  packages/mui/src/types.ts
Due: copyright, format, lint

not supported instead of deprecated
  apps/website/src/content/docs/components/mui/Popover.md
Due: none

Deprecate popover props
  .changeset/eleven-sides-laugh.md
  apps/website/src/content/docs/components/mui/Popover.md
  examples/mui/Popover.default.tsx
  packages/mui/src/types.ts
Due: copyright, format, lint

Single line for multiple props
  apps/website/src/content/docs/components/mui/Popover.md
Due: none

Remove testing changes
  examples/mui/Popover.default.tsx
Due: copyright, format, lint

Initial commit
  .changeset/full-mails-follow.md
  apps/website/src/content/docs/components/mui/LinearProgress.md
  packages/mui/src/types.ts
Due: copyright, format, lint

Deprecate table related props
  .changeset/wet-numbers-jam.md
  apps/website/src/content/docs/components/mui/Table.md
  packages/mui/src/types.ts
Due: copyright, format, lint

Deprecate TableCell.size
  .changeset/wet-numbers-jam.md
  packages/mui/src/types.ts
Due: copyright, format, lint

Remove CSS for info color because value is deprecated
  packages/mui/src/~components/MuiLinearProgress.css
Due: copyright

Include size prop deprecation in docs
  apps/website/src/content/docs/components/mui/Table.md
Due: none

Update changeset
  .changeset/wet-numbers-jam.md
Due: none

Mark padding as valid
  apps/website/src/content/docs/components/mui/Table.md
  packages/mui/src/types.ts
Due: copyright, format, lint

Explicitly document deprecated base props in changeset
  .changeset/shiny-coins-jog.md
Due: none

Deprecate ButtonGroup props
  .changeset/mighty-bats-drive.md
  apps/website/src/content/docs/components/mui/ButtonGroup.md
  packages/mui/src/types.ts
Due: copyright, format, lint

Fix build
  packages/mui/src/~createTheme.tsx
Due: copyright, format, lint

"not supported"
  apps/website/src/content/docs/components/mui/Button.md
Due: none

Deprecate Button props
  .changeset/shiny-coins-jog.md
  apps/website/src/content/docs/components/mui/Button.md
  packages/mui/src/types.ts
Due: copyright, format, lint

Deprecate
  .changeset/eager-parts-work.md
  packages/mui/src/types.ts
Due: copyright, format, lint

pnpm changeset
  .changeset/spicy-balloons-attend.md
Due: none

Deprecate IconButton props
  apps/website/src/content/docs/components/mui/IconButton.md
  packages/mui/src/types.ts
Due: copyright, format, lint
