Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    copyright:
      glob: "*.{js,ts,jsx,tsx,css,html}"
      run: pnpm lint:copyright {staged_files} --fix
      stage_fixed: true

    format:
      glob: "*.{js,ts,jsx,tsx,json,jsonc}"
      run: pnpm biome format --write {staged_files}
      stage_fixed: true

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm biome lint --write {staged_files}
      stage_fixed: true

    prettier:
      exclude:
        - "*.{js,ts,jsx,tsx,cjs,cts,mjs,mts,json,jsonc}"
      run: pnpm exec prettier {staged_files} --ignore-unknown --write
      stage_fixed: true

Positive selectors.
  packages/kiwi-react/src/bricks/Table.css
Due: copyright

internal: create `usePopoverApi` hook
  packages/kiwi-react/src/bricks/DropdownMenu.tsx
  packages/kiwi-react/src/bricks/Tooltip.tsx
  packages/kiwi-react/src/bricks/~hooks.ts
Due: copyright, format, lint

remove leftover non-null assertion
  packages/kiwi-react/src/bricks/~hooks.ts
Due: copyright, format, lint

SVG is 100% width, line has pathLength
  packages/kiwi-react/src/bricks/ProgressBar.css
  packages/kiwi-react/src/bricks/ProgressBar.tsx
Due: copyright, format, lint

Lines
  apps/test-app/app/tests/tests.module.css
  apps/test-app/app/tests/tests.tsx
  apps/test-app/app/~utils.tsx
Due: copyright, format, lint

Padding between right and main content
  apps/test-app/app/tests/tests.module.css
  apps/test-app/app/tests/tests.tsx
Due: copyright, format, lint

WIP units
  apps/test-app/app/tests/tests.module.css
Due: copyright

Add a test for accessible description
  apps/test-app/app/tests/tree/index.spec.ts
Due: copyright, format, lint

internal: abstract popover logic into `usePopoverApi` hook (#401)
  packages/kiwi-react/src/bricks/DropdownMenu.tsx
  packages/kiwi-react/src/bricks/Tooltip.tsx
  packages/kiwi-react/src/bricks/~hooks.ts
Due: copyright, format, lint

Add `description` prop to `<Tree.Item>` component (#365)
  apps/test-app/app/sandbox.tsx
  apps/test-app/app/tests/tree/index.spec.ts
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-description-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-description-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-description-1-webkit-linux.png
  apps/test-app/app/tests/tree/index.tsx
  packages/kiwi-react/src/bricks/Tree.css
  packages/kiwi-react/src/bricks/Tree.tsx
Due: copyright, format, lint

Comments set 2
  packages/kiwi-react/src/bricks/Table.tsx
Due: copyright, format, lint

Comments set 1
  apps/test-app/app/tests/table/index.tsx
  packages/kiwi-react/src/bricks/Table.tsx
Due: copyright, format, lint

Comments
  packages/kiwi-react/src/bricks/Table.tsx
Due: copyright, format, lint

Bring back `tbody` and `rowgroup`
  packages/kiwi-react/src/bricks/Table.tsx
Due: copyright, format, lint

Remove `Table.Root`
  apps/test-app/app/tests/table/index.tsx
  packages/kiwi-react/src/bricks/Table.tsx
Due: copyright, format, lint

update `<Anchor>` visuals
  apps/test-app/app/tests/anchor/index.tsx
  packages/kiwi-react/src/bricks/Anchor.css
Due: copyright, format, lint

update license year
  LICENSE.md
Due: none

Remove TableRoot
  packages/kiwi-react/src/bricks/Table.tsx
Due: copyright, format, lint

Change cell padding.
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-hovered-row-1-chromium-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-hovered-row-1-firefox-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-hovered-row-1-webkit-linux.png
  packages/kiwi-react/src/bricks/Table.css
Due: copyright

5.0.0-alpha.8
  packages/kiwi-react/CHANGELOG.md
  packages/kiwi-react/package.json
Due: format

update `<Anchor>` visuals (#406)
  apps/test-app/app/tests/anchor/index.tsx
  packages/kiwi-react/src/bricks/Anchor.css
Due: copyright, format, lint

internal: introduce `GhostAligner` utility
  packages/kiwi-react/src/bricks/Button.css
  packages/kiwi-react/src/bricks/Button.tsx
  packages/kiwi-react/src/bricks/GhostAligner.css
  packages/kiwi-react/src/bricks/GhostAligner.tsx
  packages/kiwi-react/src/bricks/IconButton.css
  packages/kiwi-react/src/bricks/Select.css
  packages/kiwi-react/src/bricks/Tree.css
  packages/kiwi-react/src/bricks/Tree.tsx
  packages/kiwi-react/src/bricks/styles.css
Due: copyright, format, lint

Unset cursor for tree item error
  packages/kiwi-react/src/bricks/Tree.css
Due: copyright

`@layer`
  packages/kiwi-react/src/bricks/GhostAligner.css
Due: copyright

internal: introduce `GhostAligner` utility (#407)
  packages/kiwi-react/src/bricks/Button.css
  packages/kiwi-react/src/bricks/Button.tsx
  packages/kiwi-react/src/bricks/GhostAligner.css
  packages/kiwi-react/src/bricks/GhostAligner.tsx
  packages/kiwi-react/src/bricks/IconButton.css
  packages/kiwi-react/src/bricks/Select.css
  packages/kiwi-react/src/bricks/Tree.css
  packages/kiwi-react/src/bricks/Tree.tsx
  packages/kiwi-react/src/bricks/styles.css
Due: copyright, format, lint

Add Tree.ItemErrorAction
  apps/test-app/app/tests/tree/index.tsx
  packages/kiwi-react/src/bricks/Tree.css
  packages/kiwi-react/src/bricks/Tree.tsx
Due: copyright, format, lint

Render expanders for items w/ errors
  apps/test-app/app/tests/tree/index.tsx
Due: copyright, format, lint

TODOs
  packages/kiwi-react/src/bricks/Tree.css
  packages/kiwi-react/src/bricks/Tree.tsx
Due: copyright, format, lint

Complex error
  apps/test-app/app/tests/tree/index.tsx
  packages/kiwi-react/src/bricks/Tree.css
Due: copyright, format, lint

Last attempt before pivoting.
  packages/kiwi-react/src/bricks/ProgressBar.css
Due: copyright

Remove `xxlarge` and `shape`
  apps/test-app/app/tests/skeleton/index.spec.ts
  apps/test-app/app/tests/skeleton/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/skeleton/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/skeleton/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/skeleton/index.tsx
  packages/kiwi-react/src/bricks/Skeleton.css
  packages/kiwi-react/src/bricks/Skeleton.tsx
Due: copyright, format, lint

`Skeleton.Group`
  apps/test-app/app/tests/skeleton/index.tsx
  packages/kiwi-react/src/bricks/Skeleton.tsx
Due: copyright, format, lint

horizontal scrollbar for overflow + adjust vertical centering
  apps/test-app/app/sandbox.module.css
  packages/kiwi-react/src/bricks/Tabs.css
Due: copyright

Refactor and remove SVG.
  apps/test-app/app/tests/progress-bar/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/progress-bar/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/progress-bar/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/progress-bar/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/progress-bar/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/progress-bar/index.tsx
  packages/kiwi-react/src/bricks/ProgressBar.css
  packages/kiwi-react/src/bricks/ProgressBar.tsx
Due: copyright, format, lint

CSS cleanup.
  packages/kiwi-react/src/bricks/ProgressBar.css
Due: copyright

move `TreeItem` into its own file add missing import to `styles.css` remove redecalarations
  packages/kiwi-react/src/bricks/Tree.css
  packages/kiwi-react/src/bricks/Tree.tsx
  packages/kiwi-react/src/bricks/TreeItem.css
  packages/kiwi-react/src/bricks/TreeItem.tsx
  packages/kiwi-react/src/bricks/styles.css
Due: copyright, format, lint

Add tree item error to sandbox
  apps/test-app/app/sandbox.tsx
  packages/kiwi-react/src/bricks/Tree.tsx
Due: copyright, format, lint

Test for alt
  apps/test-app/app/tests/progress-bar/index.spec.ts
  apps/test-app/app/tests/spinner/index.spec.ts
Due: copyright, format, lint

move `TreeItem` into its own file (#409)
  packages/kiwi-react/src/bricks/Tree.css
  packages/kiwi-react/src/bricks/Tree.tsx
  packages/kiwi-react/src/bricks/TreeItem.css
  packages/kiwi-react/src/bricks/TreeItem.tsx
  packages/kiwi-react/src/bricks/styles.css
Due: copyright, format, lint

import from individual Ariakit entrypoints
  packages/kiwi-react/src/bricks/Anchor.tsx
  packages/kiwi-react/src/bricks/Avatar.tsx
  packages/kiwi-react/src/bricks/Badge.tsx
  packages/kiwi-react/src/bricks/Button.tsx
  packages/kiwi-react/src/bricks/Checkbox.tsx
  packages/kiwi-react/src/bricks/Chip.tsx
  packages/kiwi-react/src/bricks/Divider.tsx
  packages/kiwi-react/src/bricks/DropdownMenu.tsx
  packages/kiwi-react/src/bricks/Field.tsx
  packages/kiwi-react/src/bricks/Icon.tsx
  packages/kiwi-react/src/bricks/IconButton.tsx
  packages/kiwi-react/src/bricks/Kbd.tsx
  packages/kiwi-react/src/bricks/Label.tsx
  packages/kiwi-react/src/bricks/ListItem.tsx
  packages/kiwi-react/src/bricks/Radio.tsx
  packages/kiwi-react/src/bricks/Root.tsx
  packages/kiwi-react/src/bricks/Select.tsx
  packages/kiwi-react/src/bricks/Spinner.tsx
  packages/kiwi-react/src/bricks/Switch.tsx
  packages/kiwi-react/src/bricks/Table.tsx
  packages/kiwi-react/src/bricks/Tabs.tsx
  packages/kiwi-react/src/bricks/Text.tsx
  packages/kiwi-react/src/bricks/TextBox.tsx
  packages/kiwi-react/src/bricks/Tooltip.tsx
  packages/kiwi-react/src/bricks/Tree.tsx
  packages/kiwi-react/src/bricks/TreeItem.tsx
  packages/kiwi-react/src/bricks/VisuallyHidden.tsx
  packages/kiwi-react/src/bricks/~hooks.ts
  packages/kiwi-react/src/bricks/~utils.tsx
Due: copyright, format, lint
