Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

copyright:
  run: pnpm lint:copyright {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm biome format --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm biome lint --write {staged_files}
  stage_fixed: true

Fix playwright tests on the CI (#45)
  .github/workflows/CI.yaml
Due: none

Fixing tests.
  apps/test-app/app/routes/tests/divider/index.spec.ts
  apps/test-app/app/routes/tests/divider/index.spec.ts-snapshot.visual-1-chromium-linux.png
  apps/test-app/app/routes/tests/divider/index.spec.ts-snapshot.visual-1-firefox-linux.png
  apps/test-app/app/routes/tests/divider/index.spec.ts-snapshot.visual-1-webkit-linux.png
  apps/test-app/app/routes/tests/divider/index.tsx
Due: copyright, format, lint

Update packages/kiwi-icons/package.json
  packages/kiwi-icons/package.json
Due: format

Remove script to build symbol sprites from individual SVGs.
  .gitignore
  apps/test-app/app/routes/tests/icon/index.tsx
  packages/kiwi-icons/icons/placeholder.svg
  packages/kiwi-icons/package.json
  packages/kiwi-icons/scripts/icons-list.cts
  packages/kiwi-icons/scripts/icons.cts
  packages/kiwi-icons/svg-icons/2d-large.svg
  packages/kiwi-icons/svg-icons/2d.svg
  packages/kiwi-icons/svg-icons/arrow-large.svg
  packages/kiwi-icons/svg-icons/arrow.svg
Due: copyright, format, lint

Update README.md
  apps/test-app/vite.config.ts
  packages/kiwi-icons/README.md
Due: copyright, format, lint

Update placeholder icons
  apps/test-app/app/routes/tests/icon/index.spec.ts-snapshot.default-1-chromium-linux.png
  apps/test-app/app/routes/tests/icon/index.spec.ts-snapshot.default-1-firefox-linux.png
  apps/test-app/app/routes/tests/icon/index.spec.ts-snapshot.default-1-webkit-linux.png
  apps/test-app/app/routes/tests/icon/index.spec.ts-snapshot.large-1-chromium-linux.png
  apps/test-app/app/routes/tests/icon/index.spec.ts-snapshot.large-1-firefox-linux.png
  apps/test-app/app/routes/tests/icon/index.spec.ts-snapshot.large-1-webkit-linux.png
  apps/test-app/app/routes/tests/icon/index.tsx
  packages/kiwi-icons/icons/placeholder.svg
Due: copyright, format, lint

Remove unused cheerio dep
  packages/kiwi-icons/package.json
  pnpm-lock.yaml
Due: format

Use correctly exported 24x24 placeholder variant
  apps/test-app/app/routes/tests/icon/index.spec.ts-snapshot.large-1-chromium-linux.png
  apps/test-app/app/routes/tests/icon/index.spec.ts-snapshot.large-1-firefox-linux.png
  apps/test-app/app/routes/tests/icon/index.spec.ts-snapshot.large-1-webkit-linux.png
  packages/kiwi-icons/icons/placeholder.svg
Due: none

WIP
  packages/kiwi-react/src/bricks/Tooltip.css
  packages/kiwi-react/src/bricks/Tooltip.tsx
Due: copyright, format, lint

Update .vscode/settings.json
  .vscode/settings.json
Due: format

Add import.meta example to README
  apps/test-app/app/routes/tests/icon/index.tsx
  packages/kiwi-icons/README.md
Due: copyright, format, lint

Add initial `@itwin/kiwi-icons` package (#42)
  .gitignore
  apps/test-app/app/routes/tests/icon/index.spec.ts
  apps/test-app/app/routes/tests/icon/index.spec.ts-snapshot.default-1-chromium-linux.png
  apps/test-app/app/routes/tests/icon/index.spec.ts-snapshot.default-1-firefox-linux.png
  apps/test-app/app/routes/tests/icon/index.spec.ts-snapshot.default-1-webkit-linux.png
  apps/test-app/app/routes/tests/icon/index.spec.ts-snapshot.large-1-chromium-linux.png
  apps/test-app/app/routes/tests/icon/index.spec.ts-snapshot.large-1-firefox-linux.png
  apps/test-app/app/routes/tests/icon/index.spec.ts-snapshot.large-1-webkit-linux.png
  apps/test-app/app/routes/tests/icon/index.tsx
  apps/test-app/package.json
  apps/test-app/vite.config.ts
  packages/kiwi-icons/README.md
  packages/kiwi-icons/icons/placeholder.svg
  packages/kiwi-icons/package.json
  packages/kiwi-icons/scripts/icons-list.cts
  packages/kiwi-react/src/bricks/Icon.css
  packages/kiwi-react/src/bricks/Icon.tsx
  packages/kiwi-react/src/bricks/index.ts
  pnpm-lock.yaml
Due: copyright, format, lint

add links to homepage
  .vscode/settings.json
  apps/test-app/app/routes/index.module.css
  apps/test-app/app/routes/index.spec.ts-snapshot.default-1-chromium-linux.png
  apps/test-app/app/routes/index.spec.ts-snapshot.default-1-firefox-linux.png
  apps/test-app/app/routes/index.spec.ts-snapshot.default-1-webkit-linux.png
  apps/test-app/app/routes/index.tsx
  apps/test-app/vite.config.ts
Due: copyright, format, lint

use remix `Link`
  apps/test-app/app/routes/index.tsx
Due: copyright, format, lint

fix `Styles` component cleanup
  packages/kiwi-react/src/bricks/Root.tsx
Due: copyright, format, lint

Removal of unused sections, increased coverage for Documentation and testing.
  CONTRIBUTING.md
  STYLEGUIDE.md
Due: none

New colors.
  apps/test-app/app/routes/tests/divider/index.spec.ts-snapshot.visual-1-chromium-linux.png
  apps/test-app/app/routes/tests/divider/index.spec.ts-snapshot.visual-1-firefox-linux.png
  apps/test-app/app/routes/tests/divider/index.spec.ts-snapshot.visual-1-webkit-linux.png
  packages/kiwi-react/src/bricks/Divider.css
Due: copyright

update colors (#43)
  apps/test-app/app/routes/index.spec.ts-snapshot.default-1-chromium-linux.png
  apps/test-app/app/routes/index.spec.ts-snapshot.default-1-firefox-linux.png
  apps/test-app/app/routes/index.spec.ts-snapshot.default-1-webkit-linux.png
  apps/test-app/app/routes/tests/anchor/index.spec.ts-snapshot.visual-1-chromium-linux.png
  apps/test-app/app/routes/tests/anchor/index.spec.ts-snapshot.visual-1-firefox-linux.png
  apps/test-app/app/routes/tests/anchor/index.spec.ts-snapshot.visual-1-webkit-linux.png
  apps/test-app/app/routes/tests/button/index.spec.ts-snapshot.visual-1-chromium-linux.png
  apps/test-app/app/routes/tests/button/index.spec.ts-snapshot.visual-1-firefox-linux.png
  apps/test-app/app/routes/tests/button/index.spec.ts-snapshot.visual-1-webkit-linux.png
  apps/test-app/app/routes/tests/input/index.spec.ts-snapshot.visual-1-chromium-linux.png
  apps/test-app/app/routes/tests/input/index.spec.ts-snapshot.visual-1-firefox-linux.png
  apps/test-app/app/routes/tests/input/index.spec.ts-snapshot.visual-1-webkit-linux.png
  apps/test-app/app/routes/tests/root/index.spec.ts-snapshot.popout-chromium-linux.png
  apps/test-app/app/routes/tests/root/index.spec.ts-snapshot.popout-firefox-linux.png
  apps/test-app/app/routes/tests/root/index.spec.ts-snapshot.popout-webkit-linux.png
  apps/test-app/app/routes/tests/root/index.spec.ts-snapshot.shadow-chromium-linux.png
  apps/test-app/app/routes/tests/root/index.spec.ts-snapshot.shadow-firefox-linux.png
  apps/test-app/app/routes/tests/root/index.spec.ts-snapshot.shadow-webkit-linux.png
  apps/test-app/app/routes/tests/textarea/index.spec.ts-snapshot.visual-1-chromium-linux.png
  apps/test-app/app/routes/tests/textarea/index.spec.ts-snapshot.visual-1-firefox-linux.png
  apps/test-app/app/routes/tests/textarea/index.spec.ts-snapshot.visual-1-webkit-linux.png
  packages/kiwi-react/src/bricks/Anchor.css
  packages/kiwi-react/src/bricks/Button.css
  packages/kiwi-react/src/bricks/Input.css
  packages/kiwi-react/src/bricks/Label.css
  packages/kiwi-react/src/bricks/styles.css
  packages/kiwi-react/src/bricks/sublayers.css
Due: copyright

add links to homepage (#46)
  .vscode/settings.json
  apps/test-app/app/routes/index.module.css
  apps/test-app/app/routes/index.spec.ts-snapshot.default-1-chromium-linux.png
  apps/test-app/app/routes/index.spec.ts-snapshot.default-1-firefox-linux.png
  apps/test-app/app/routes/index.spec.ts-snapshot.default-1-webkit-linux.png
  apps/test-app/app/routes/index.tsx
  apps/test-app/vite.config.ts
Due: copyright, format, lint

fix `Root` component cleanup (#47)
  packages/kiwi-react/src/bricks/Root.tsx
Due: copyright, format, lint

Use layers
  packages/kiwi-react/src/bricks/Checkbox.css
Due: copyright

WIP - Review
  apps/test-app/README.md
  packages/kiwi-react/src/bricks/Tooltip.css
  packages/kiwi-react/src/bricks/Tooltip.tsx
  packages/kiwi-react/src/bricks/index.ts
  packages/kiwi-react/src/bricks/styles.css
Due: copyright, format, lint

Add styling for `Divider` (#37)
  apps/test-app/app/routes/tests/divider/index.spec.ts
  apps/test-app/app/routes/tests/divider/index.spec.ts-snapshot.visual-1-chromium-linux.png
  apps/test-app/app/routes/tests/divider/index.spec.ts-snapshot.visual-1-firefox-linux.png
  apps/test-app/app/routes/tests/divider/index.spec.ts-snapshot.visual-1-webkit-linux.png
  apps/test-app/app/routes/tests/divider/index.tsx
  packages/kiwi-react/src/bricks/Divider.css
  packages/kiwi-react/src/bricks/Divider.tsx
  packages/kiwi-react/src/bricks/styles.css
Due: copyright, format, lint

Remove positioning
  packages/kiwi-react/src/bricks/Tooltip.css
Due: copyright

Adding Initial test.
  apps/test-app/app/routes/tests/tooltip/index.spec.ts
  apps/test-app/app/routes/tests/tooltip/index.tsx
Due: copyright, format, lint

bump `express`, `path-to-regexp` and related deps
  pnpm-lock.yaml
Due: none

bump `express` again
  pnpm-lock.yaml
Due: none

Removal of focus calls.
  apps/test-app/app/routes/tests/radio/index.spec.ts
Due: copyright, format, lint

bump `express` and related deps (#50)
  pnpm-lock.yaml
Due: none

Adding a focussed test to the tooltip
  apps/test-app/app/routes/tests/tooltip/index.spec.ts
Due: copyright, format, lint

add styling for `Switch` component
  apps/test-app/app/routes/tests/switch/index.spec.ts
  apps/test-app/app/routes/tests/switch/index.spec.ts-snapshot.visual-checked-1-chromium-linux.png
  apps/test-app/app/routes/tests/switch/index.spec.ts-snapshot.visual-checked-1-firefox-linux.png
  apps/test-app/app/routes/tests/switch/index.spec.ts-snapshot.visual-checked-1-webkit-linux.png
  apps/test-app/app/routes/tests/switch/index.spec.ts-snapshot.visual-disabled-1-chromium-linux.png
  apps/test-app/app/routes/tests/switch/index.spec.ts-snapshot.visual-disabled-1-firefox-linux.png
  apps/test-app/app/routes/tests/switch/index.spec.ts-snapshot.visual-disabled-1-webkit-linux.png
  apps/test-app/app/routes/tests/switch/index.spec.ts-snapshot.visual-disabled-checked-1-chromium-linux.png
  apps/test-app/app/routes/tests/switch/index.spec.ts-snapshot.visual-disabled-checked-1-firefox-linux.png
  apps/test-app/app/routes/tests/switch/index.spec.ts-snapshot.visual-disabled-checked-1-webkit-linux.png
  apps/test-app/app/routes/tests/switch/index.spec.ts-snapshot.visual-unchecked-1-chromium-linux.png
  apps/test-app/app/routes/tests/switch/index.spec.ts-snapshot.visual-unchecked-1-firefox-linux.png
  apps/test-app/app/routes/tests/switch/index.spec.ts-snapshot.visual-unchecked-1-webkit-linux.png
  apps/test-app/app/routes/tests/switch/index.tsx
  packages/kiwi-react/src/bricks/Switch.css
  packages/kiwi-react/src/bricks/Switch.tsx
  packages/kiwi-react/src/bricks/styles.css
Due: copyright, format, lint

fix animation
  packages/kiwi-react/src/bricks/Switch.css
Due: copyright

Bump biomejs version
  package.json
  pnpm-lock.yaml
Due: format

Disable explicit enable of CSS formatter
  biome.jsonc
Due: format

Removing time based tests approach.
  apps/test-app/app/routes/tests/radio/index.spec.ts
Due: copyright, format, lint

fix touch target
  packages/kiwi-react/src/bricks/Switch.css
Due: copyright

Adding focus expectations back in.
  apps/test-app/app/routes/tests/radio/index.spec.ts
Due: copyright, format, lint

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Path conditions:
  copyright: any of: *.{js,ts,jsx,tsx,css,html}
  format: any of: *.{js,ts,jsx,tsx,json,jsonc}
  lint: any of: *.{js,ts,jsx,tsx}
