Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

copyright:
  run: pnpm lint:copyright {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm biome format --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm biome lint --write {staged_files}
  stage_fixed: true

Add invalid prop (used AI)
  apps/test-app/app/tests/text-box/index.tsx
  packages/bricks/src/TextBox.tsx
Due: copyright, format, lint

Missed invalid prop in Field demo
  apps/test-app/app/tests/field/index.tsx
Due: copyright, format, lint

Add `DropdownMenu.Submenu` (#933)
  .changeset/nine-ends-make.md
  apps/test-app/app/tests/dropdown-menu/index.spec.ts
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/dropdown-menu/index.tsx
  packages/structures/src/DropdownMenu.css
  packages/structures/src/DropdownMenu.tsx
  packages/structures/src/TreeItem.tsx
  packages/structures/src/~utils.icons.tsx
Due: copyright, format, lint

update lockfile
  pnpm-lock.yaml
Due: none

update changelogs
  packages/bricks/CHANGELOG.md
  packages/foundations/CHANGELOG.md
  packages/structures/CHANGELOG.md
Due: none

More missed test images
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-text-controls-1-webkit-linux.png
Due: none

Update .changeset/nine-swans-laugh.md
  .changeset/nine-swans-laugh.md
Due: none

Add `!important` to global focus outline (#895)
  .changeset/nine-swans-laugh.md
  packages/bricks/src/TextBox.css
  packages/foundations/src/~global.css
  packages/foundations/src/~sublayers.css
  packages/structures/src/AccordionItem.css
  packages/structures/src/TreeItem.css
Due: copyright

remove `tone="critical"` from `Anchor`
  .changeset/fast-hoops-jog.md
  apps/test-app/app/tests/anchor/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/anchor/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/anchor/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/anchor/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/anchor/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/anchor/index.tsx
  packages/bricks/src/Anchor.css
  packages/bricks/src/Anchor.tsx
Due: copyright, format, lint

Remove invalid prop
  apps/test-app/app/tests/field/index.tsx
  apps/test-app/app/tests/text-box/index.tsx
  packages/bricks/src/TextBox.tsx
Due: copyright, format, lint

Apply suggestion from @mayank99
  .changeset/chatty-pandas-open.md
Due: none

Apply suggestion from @mayank99
  packages/bricks/src/TextBox.css
Due: copyright

Match formatting of commit 82db9da
  packages/bricks/src/TextBox.css
Due: copyright

Disabled also matches formatting of commit 82db9da
  packages/bricks/src/TextBox.css
Due: copyright

Mistakes were made
  packages/bricks/src/TextBox.css
Due: copyright

Stupid formatting
  packages/bricks/src/TextBox.css
Due: copyright

Add invalid styling to `TextBox` (#892)
  .changeset/chatty-pandas-open.md
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-text-controls-1-chromium-linux.png
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-text-controls-1-firefox-linux.png
  apps/test-app/app/tests/field/index.spec.ts-snapshot.-visual-text-controls-1-webkit-linux.png
  apps/test-app/app/tests/text-box/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/text-box/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/text-box/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/text-box/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/text-box/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/text-box/index.tsx
  packages/bricks/src/TextBox.css
Due: copyright, format, lint

fix unrelated typo
  packages/foundations/README.md
Due: none

change `synchronizeColorScheme` default to `true`
  .changeset/light-hands-cry.md
  packages/foundations/README.md
  packages/foundations/src/Root.tsx
Due: copyright, format, lint

`Toolbar`: add "popup indicator"
  .changeset/full-readers-return.md
  apps/test-app/app/tests/toolbar/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/toolbar/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/toolbar/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/toolbar/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/toolbar/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/toolbar/index.tsx
  packages/structures/src/Toolbar.css
Due: copyright, format, lint

`IconButton`: use `aria-current` when rendered as an `active` link
  .changeset/clear-tools-tap.md
  apps/test-app/app/tests/icon-button/index.spec.ts
  apps/test-app/app/tests/icon-button/index.tsx
  packages/bricks/src/Button.css
  packages/bricks/src/IconButton.tsx
Due: copyright, format, lint

fix forced-colors
  packages/bricks/src/Button.css
Due: copyright

`IconButton`: use `aria-current` when rendered as an `active` link (#955)
  .changeset/clear-tools-tap.md
  apps/test-app/app/tests/icon-button/index.spec.ts
  apps/test-app/app/tests/icon-button/index.tsx
  packages/bricks/src/Button.css
  packages/bricks/src/IconButton.tsx
Due: copyright, format, lint

`Toolbar`: add "popup indicator" (#954)
  .changeset/full-readers-return.md
  apps/test-app/app/tests/toolbar/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/toolbar/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/toolbar/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/toolbar/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/toolbar/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/toolbar/index.tsx
  packages/structures/src/Toolbar.css
Due: copyright, format, lint

update things
  packages/bricks/CHANGELOG.md
  packages/compat/CHANGELOG.md
  packages/compat/package.json
  packages/foundations/CHANGELOG.md
  packages/structures/CHANGELOG.md
  pnpm-lock.yaml
Due: format

bump node and pnpm versions
  .github/workflows/CI.yaml
  .github/workflows/PR.yaml
  .github/workflows/changeset-release.yaml
  .github/workflows/deploy-gh-pages.yaml
  .github/workflows/publish-npm.yaml
  apps/test-app/scripts/Dockerfile
  package.json
Due: format

pnpm 10.17.0
  .github/workflows/CI.yaml
  .github/workflows/PR.yaml
  .github/workflows/changeset-release.yaml
  .github/workflows/deploy-gh-pages.yaml
  .github/workflows/publish-npm.yaml
  apps/test-app/scripts/Dockerfile
  package.json
Due: format

add `minimumReleaseAge`
  pnpm-workspace.yaml
Due: none

minor version
  .changeset/light-hands-cry.md
Due: none

bump node and pnpm versions (#949)
  .github/workflows/CI.yaml
  .github/workflows/PR.yaml
  .github/workflows/changeset-release.yaml
  .github/workflows/deploy-gh-pages.yaml
  .github/workflows/publish-npm.yaml
  apps/test-app/scripts/Dockerfile
  package.json
  pnpm-workspace.yaml
Due: format

Tabs: change default value of `selectOnMove` to `false`
  .changeset/cruel-glasses-stay.md
  apps/test-app/app/tests/tabs/index.spec.ts
  packages/compat/src/Tabs.tsx
  packages/structures/src/Tabs.tsx
Due: copyright, format, lint

`Tabs`: change `selectOnMove` default to `false` (#953)
  .changeset/cruel-glasses-stay.md
  apps/test-app/app/tests/tabs/index.spec.ts
  packages/compat/src/Tabs.tsx
  packages/structures/src/Tabs.tsx
Due: copyright, format, lint

add new `rootNode` prop
  .changeset/thick-rooms-clap.md
  apps/test-app/app/tests/root/index.tsx
  packages/foundations/src/Root.internal.tsx
  packages/foundations/src/Root.tsx
Due: copyright, format, lint

Move focus outline styling from global.css into it's own important.css unlayered file.
  packages/foundations/src/~global.css
  packages/foundations/src/~important.css
  packages/foundations/src/~styles.css
Due: copyright

Button content (#4)
  src/content/docs/components/Button.md
Due: none

fixes to Button content
  src/content/docs/components/Button.md
Due: none

fix tables
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/styles/global.css
Due: copyright, format

bump deps
  package.json
  pnpm-lock.yaml
Due: format

reword "Related" to "Associated" (#5)
  src/components/PageTitle.astro
  src/content.config.ts
  src/content/docs/components/Button.md
  src/content/docs/components/Switch.md
Due: copyright, format, lint

add changelog page
  astro.config.mjs
  src/content/docs/changelog.md
Due: none

Path conditions:
  copyright: any of: *.{js,ts,jsx,tsx,css,html}
  format: any of: *.{js,ts,jsx,tsx,json,jsonc}
  lint: any of: *.{js,ts,jsx,tsx}
