Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

copyright:
  run: pnpm lint:copyright {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm biome format --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm biome lint --write {staged_files}
  stage_fixed: true

update navigation-rail snapshot
  apps/test-app/app/tests/structures/navigation-rail/index.spec.ts-snapshot.-visual-default-2-chromium-linux.png
Due: none

update lockfile
  pnpm-lock.yaml
Due: none

update changelog
  packages/icons/CHANGELOG.md
  packages/mui/CHANGELOG.md
Due: none

"composite component" in links
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

Each section has at minimum a link to our docs or MUI docs
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

Add Modal content
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

ListItemText replaced with 2 Typographys
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

Added link to the new section in step 4
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

indentation
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

Move semantic elements section to the bottom.
  apps/website/src/content/docs/components/mui/Typography.md
Due: none

Allow for nesting kbd within typography
  apps/website/src/content/docs/components/mui/Typography.md
  packages/mui/src/~components/MuiTypography.css
Due: copyright

More guidance on Flex -> Stack
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

comment about missing Header and Footer functionality
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

Add mapping for IconButton styleType
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

Render MenuList as Paper
  examples/composite/TransferList.default.module.css
  examples/composite/TransferList.default.tsx
Due: copyright, format, lint

Reuse snackbar
  examples/mui/Snackbar.processing.tsx
Due: copyright, format, lint

Fix bug with Circular progress color
  .changeset/green-humans-smash.md
  packages/mui/src/~components/MuiCircularProgress.css
Due: copyright

Add tests for CircularProgress color bug
  apps/test-app/app/mui/Button.showcase.tsx
  apps/test-app/app/mui/CircularProgress.showcase.tsx
  apps/test-app/app/tests/mui/Button.spec.ts
  apps/test-app/app/tests/mui/Button.spec.ts-snapshot.loading-indicator-1-chromium-linux.png
  apps/test-app/app/tests/mui/Button.spec.ts-snapshot.loading-indicator-1-firefox-linux.png
  apps/test-app/app/tests/mui/CircularProgress.spec.ts
  apps/test-app/app/tests/mui/CircularProgress.spec.ts-snapshot.renders-secondary-color-for-unsupported-colors-1-chromium-linux.png
  apps/test-app/app/tests/mui/CircularProgress.spec.ts-snapshot.renders-secondary-color-for-unsupported-colors-1-firefox-linux.png
  examples/mui/Button.default.tsx
Due: copyright, format, lint

Better loading
  apps/website/src/components/ExamplePreview.module.css
  apps/website/src/components/ExamplePreview.tsx
Due: copyright, format, lint

Better error display
  apps/website/src/components/ExamplePreview.module.css
  apps/website/src/components/ExamplePreview.tsx
Due: copyright, format, lint

Minor changes to IconButton
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

Fix capitalization
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

Don't suggest solution for AvatarGroup animated
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

Don't suggest solution for Avatar background color
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

Typos
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

Add skip link to iTwinUI migration guide
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

Update iTwinUI migration guide with new kbd docs
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

Update iTwinUI migration guide with new code docs
  apps/website/src/content/docs/getting-started/migration-from-itwinui.mdx
Due: none

Revert "CI: skip docs deployment until released (#1918)"
  .github/workflows/CI.yaml
  .github/workflows/changeset-release.yaml
  .github/workflows/deploy-gh-pages.yaml
Due: none

PR feedback on use case
  apps/website/src/content/docs/components/composite/TransferList.md
Due: none

Revert changes that were superceeeded by #1896
  apps/website/astro.config.mjs
  apps/website/src/content/docs/index.md
Due: none

Fix casing on title
  apps/website/src/content/docs/components/composite/TransferList.md
Due: none

move main export first
  examples/composite/TransferList.default.tsx
Due: copyright, format, lint

add API reference link
  apps/website/src/content/docs/components/composite/TransferList.md
Due: none

update shadow values
  packages/foundations/src/~shadow.css
Due: copyright

Use inverted theme instead of -emphasis var for Snackbar
  packages/mui/src/~components/MuiSnackbar.css
  packages/mui/src/~components/MuiSnackbar.tsx
Due: copyright, format, lint

add second stroke layer
  packages/foundations/src/~shadow.css
Due: copyright

replace second stroke with extra blur layer
  packages/foundations/src/~shadow.css
Due: copyright

improve disabled contrast (#1928)
  .changeset/huge-hats-rescue.md
  apps/test-app/app/tests/bricks/button/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/bricks/button/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/bricks/checkbox/index.spec.ts-snapshot.-visual-disabled-checked-1-chromium-linux.png
  apps/test-app/app/tests/bricks/checkbox/index.spec.ts-snapshot.-visual-disabled-checked-1-firefox-linux.png
  apps/test-app/app/tests/bricks/checkbox/index.spec.ts-snapshot.-visual-disabled-indeterminate-mixed-1-chromium-linux.png
  apps/test-app/app/tests/bricks/checkbox/index.spec.ts-snapshot.-visual-disabled-indeterminate-mixed-1-firefox-linux.png
  apps/test-app/app/tests/bricks/icon-button/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/bricks/icon-button/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/bricks/radio/index.spec.ts-snapshot.-visual-disabled-checked-1-chromium-linux.png
  apps/test-app/app/tests/bricks/radio/index.spec.ts-snapshot.-visual-disabled-checked-1-firefox-linux.png
  apps/test-app/app/tests/bricks/select/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/bricks/select/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/bricks/switch/index.spec.ts-snapshot.-visual-disabled-1-chromium-linux.png
  apps/test-app/app/tests/bricks/switch/index.spec.ts-snapshot.-visual-disabled-1-firefox-linux.png
  apps/test-app/app/tests/bricks/switch/index.spec.ts-snapshot.-visual-disabled-checked-1-chromium-linux.png
  apps/test-app/app/tests/bricks/switch/index.spec.ts-snapshot.-visual-disabled-checked-1-firefox-linux.png
  apps/test-app/app/tests/bricks/text-box/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/bricks/text-box/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/structures/dropdown-menu/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/structures/dropdown-menu/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/structures/navigation-list/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/structures/navigation-list/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/structures/navigation-rail/index.spec.ts-snapshot.-visual-default-2-chromium-linux.png
  apps/test-app/app/tests/structures/tabs/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/structures/tabs/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  internal/theme-dark.json
  internal/theme-light.json
Due: format

Path conditions:
  copyright: any of: *.{js,ts,jsx,tsx,css,html}
  format: any of: *.{js,ts,jsx,tsx,json,jsonc}
  lint: any of: *.{js,ts,jsx,tsx}
