Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    copyright:
      glob: "*.{js,ts,jsx,tsx,css,html}"
      run: pnpm lint:copyright {staged_files} --fix
      stage_fixed: true

    format:
      glob: "*.{js,ts,jsx,tsx,json,jsonc}"
      run: pnpm biome format --write {staged_files}
      stage_fixed: true

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm biome lint --write {staged_files}
      stage_fixed: true

    prettier:
      exclude:
        - "*.{js,ts,jsx,tsx,cjs,cts,mjs,mts,json,jsonc}"
      run: pnpm exec prettier {staged_files} --ignore-unknown --write
      stage_fixed: true

Update apps/website/src/content/docs/guides/structure.md
  apps/website/src/content/docs/guides/structure.md
Due: none

Set icon color
  packages/mui/src/~components/MuiTabs.css
Due: copyright

update `CardContent` color
  .changeset/swift-friends-juggle.md
  examples/mui/Card.actions.tsx
  examples/mui/Card.default.tsx
  examples/mui/Card.menu.tsx
  packages/mui/src/~components/MuiCard.css
Due: copyright, format, lint

Default icon position to start, add icon + label demo
  apps/test-app/app/mui/Tabs.showcase.tsx
  apps/website/src/content/docs/components/mui/Tabs.md
  examples/mui/Tabs.icon.tsx
  packages/mui/src/~createTheme.tsx
Due: copyright, format, lint

Add icon only demo.
  apps/test-app/app/mui/Tabs.showcase.tsx
  examples/mui/Tabs.icon-only.tsx
Due: copyright, format, lint

Add tooltip to icon only demo
  examples/mui/Tabs.icon-only.tsx
Due: copyright, format, lint

Update JSDocs with iconPosition default change
  packages/mui/src/types.ts
Due: copyright, format, lint

Root docs
  apps/website/src/content/docs/components/stratakit/Root.md
Due: none

Update apps/website/src/content/docs/guides/language-and-labels.md
  apps/website/src/content/docs/guides/language-and-labels.md
Due: none

HTML and JSX mix
  apps/website/src/content/docs/guides/language-and-labels.md
Due: none

fix merge conflict
  apps/website/src/content/docs/guides/language-and-labels.md
Due: none

fix code snippets
  apps/website/src/content/docs/guides/language-and-labels.md
Due: none

small edits to "Forms" section
  apps/website/src/content/docs/guides/language-and-labels.md
Due: none

Remove textColor inherit
  apps/website/src/content/docs/components/mui/Tabs.md
  packages/mui/src/types.ts
Due: copyright, format, lint

Link tooltip to tabs
  examples/mui/Tabs.icon-only.tsx
Due: copyright, format, lint

Add icon demos to docs.
  apps/website/src/content/docs/components/mui/Tabs.md
Due: none

Change the default portal container
  .changeset/little-times-heal.md
  apps/website/src/content/docs/components/mui/Autocomplete.md
  apps/website/src/content/docs/components/mui/Dialog.md
  apps/website/src/content/docs/components/mui/Drawer.md
  apps/website/src/content/docs/components/mui/Menu.md
  apps/website/src/content/docs/components/mui/Popover.md
  apps/website/src/content/docs/components/mui/Select.md
  apps/website/src/content/docs/components/mui/Tooltip.md
  packages/mui/src/Root.tsx
  packages/mui/src/~createTheme.tsx
Due: copyright, format, lint

Change icon gap.
  packages/mui/src/~components/MuiTabs.css
Due: copyright

Improved styling of adjacent Accordions.
  .changeset/easy-peas-jog.md
  packages/mui/src/~components/MuiAccordion.css
Due: copyright

Fix focus outline clipping in responsive demo.
  examples/mui/Accordion.responsive.module.css
Due: copyright

Updated demo to show 3 accordions to test all possible border radii.
  examples/mui/Accordion.variants.tsx
Due: copyright, format, lint

Updated wording for docs
  apps/website/src/content/docs/components/mui/Tabs.md
Due: none

Add changesets
  .changeset/cool-sites-sort.md
  .changeset/shaky-snakes-warn.md
Due: none

Update apps/website/src/content/docs/components/mui/Tabs.md
  apps/website/src/content/docs/components/mui/Tabs.md
Due: none

update `README`
  README.md
Due: none

Add full width knob
  apps/test-app/app/mui/Tabs.showcase.tsx
  examples/mui/Tabs.colors.module.css
  examples/mui/Tabs.colors.tsx
  examples/mui/Tabs.default.module.css
  examples/mui/Tabs.default.tsx
  examples/mui/Tabs.icon-only.module.css
  examples/mui/Tabs.icon-only.tsx
  examples/mui/Tabs.icon.module.css
  examples/mui/Tabs.icon.tsx
Due: copyright, format, lint

update `RadioGroup` spacing
  .changeset/funny-llamas-leave.md
  apps/test-app/app/mui/RadioGroup.showcase.tsx
  packages/mui/src/~components/MuiForm.css
Due: copyright, format, lint

portalContainer as undefined initially
  packages/mui/src/Root.tsx
Due: copyright, format, lint

Rm body link
  .changeset/little-times-heal.md
Due: none

Remove `prefers-color-scheme` pattern from h3
  apps/website/src/content/docs/components/stratakit/Root.md
Due: none

Link to prefers-color-scheme in Do
  apps/website/src/content/docs/components/stratakit/Root.md
Due: none

Link to `getRoodNode`
  apps/website/src/content/docs/components/stratakit/Root.md
Due: none

Include shadow root in the Don't
  apps/website/src/content/docs/components/stratakit/Root.md
Due: none

Add guidance around ThemeProvider, CssBaseline to Don't
  apps/website/src/content/docs/components/stratakit/Root.md
Due: none

Move h3s to h2s
  apps/website/src/content/docs/components/stratakit/Root.md
Due: none
