Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    copyright:
      glob: "*.{js,ts,jsx,tsx,css,html}"
      run: pnpm lint:copyright {staged_files} --fix
      stage_fixed: true

    format:
      glob: "*.{js,ts,jsx,tsx,json,jsonc}"
      run: pnpm biome format --write {staged_files}
      stage_fixed: true

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm biome lint --write {staged_files}
      stage_fixed: true

    prettier:
      exclude:
        - "*.{js,ts,jsx,tsx,cjs,cts,mjs,mts,json,jsonc}"
      run: pnpm exec prettier {staged_files} --ignore-unknown --write
      stage_fixed: true

Link to Autocomplete
  apps/website/src/content/docs/components/mui/Radio.md
Due: none

Add ToggleButton to use cases
  apps/website/src/content/docs/components/mui/Radio.md
Due: none

Remove default value from RadioGroup.error example
  examples/mui/RadioGroup.error.tsx
Due: copyright, format, lint

Update name attributes in RadioGroup.error
  examples/mui/RadioGroup.error.tsx
Due: copyright, format, lint

Add RadioGroup.defaultValue example (and update RadioGroup.default example)
  apps/website/src/content/docs/components/mui/Radio.md
  examples/mui/RadioGroup.defaultValue.tsx
Due: copyright, format, lint

Avoid passing props to a Fragment
  packages/mui/src/createTheme.tsx
Due: copyright, format, lint

pnpm changeset
  .changeset/fast-beds-greet.md
Due: none

fix `CardMedia` render prop
  .changeset/whole-pets-drive.md
  examples/mui/Card.actions.tsx
  examples/mui/Card.default.tsx
  examples/mui/Card.header.tsx
  packages/mui/src/createTheme.tsx
  packages/mui/src/~components/MuiCard.css
  packages/mui/src/~components/MuiCard.tsx
Due: copyright, format, lint

Mention render prop
  apps/website/src/content/docs/components/mui/Typography.md
Due: none

Add missing examples heading
  apps/website/src/content/docs/components/mui/Tooltip.md
Due: none

Add describeChild under modifications
  apps/website/src/content/docs/components/mui/Tooltip.md
Due: none

Fix describeChild in types.ts
  packages/mui/src/types.ts
Due: copyright, format, lint

Add Tooltip.label example
  apps/website/src/content/docs/components/mui/Tooltip.md
  examples/mui/Tooltip.label.tsx
Due: copyright, format, lint

pnpm changeset
  .changeset/witty-mugs-hide.md
Due: none

Add default tag
  packages/mui/src/types.ts
Due: copyright, format, lint

Revert "Fix describeChild in types.ts"
  packages/mui/src/types.ts
Due: copyright, format, lint

Some more donts
  apps/website/src/content/docs/components/stratakit/Icon.md
Due: none

Icon.inline -> Icon.custom
  apps/website/src/content/docs/components/stratakit/Icon.md
  examples/mui/Icon.custom.tsx
Due: copyright, format, lint

emphasis -> larger spaces
  apps/website/src/content/docs/components/stratakit/Icon.md
Due: none

Add Icon.color example
  apps/website/src/content/docs/components/stratakit/Icon.md
  examples/mui/Icon.color.module.css
  examples/mui/Icon.color.tsx
Due: copyright, format, lint

Rm alts
  examples/mui/Icon.custom.tsx
  examples/mui/Icon.default.tsx
Due: copyright, format, lint

Update reference after #1364
  apps/website/src/content/docs/components/stratakit/Icon.md
Due: none

update border-radii
  .changeset/better-kids-guess.md
  .changeset/seven-poems-cry.md
  apps/website/src/content/docs/components/mui/Pagination.md
  packages/mui/src/createTheme.tsx
  packages/mui/src/~components/MuiInput.css
  packages/mui/src/~components/MuiPaper.css
Due: copyright, format, lint

Use small global size for both densities
  packages/mui/src/~components/MuiMenu.css
Due: copyright

More forced-color adjustments
  packages/mui/src/~forced-colors.css
Due: copyright

Checkmark to the left instead of the right
  packages/mui/src/~components.css
  packages/mui/src/~components/MuiMenu.css
Due: copyright

bump `astro` and related deps
  apps/website/package.json
  pnpm-lock.yaml
Due: format

bump transitive deps
  pnpm-lock.yaml
Due: none

dedupe
  pnpm-lock.yaml
Due: none

Not needed anymore
  packages/mui/src/~components/MuiMenu.css
Due: copyright

backplate comment
  packages/mui/src/~forced-colors.css
Due: copyright

the
  apps/website/src/pages/reference/[...api].astro
Due: none

User profile
  examples/mui/Tooltip.label.tsx
Due: copyright, format, lint

Anchor -> Link
  apps/website/src/content/docs/components/mui/Tooltip.md
Due: none

Reword Tooltip "don't"
  apps/website/src/content/docs/components/mui/Tooltip.md
Due: none

Link to describeChild
  apps/website/src/content/docs/components/mui/Tooltip.md
Due: none

Italic
  apps/website/src/content/docs/components/mui/Tooltip.md
Due: none

_not_
  apps/website/src/content/docs/components/mui/Tooltip.md
Due: none

Use error.svg
  examples/mui/Icon.color.tsx
Due: copyright, format, lint
