Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    copyright:
      glob: "*.{js,ts,jsx,tsx,css,html}"
      run: pnpm lint:copyright {staged_files} --fix
      stage_fixed: true

    format:
      glob: "*.{js,ts,jsx,tsx,json,jsonc}"
      run: pnpm biome format --write {staged_files}
      stage_fixed: true

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm biome lint --write {staged_files}
      stage_fixed: true

    prettier:
      exclude:
        - "*.{js,ts,jsx,tsx,cjs,cts,mjs,mts,json,jsonc}"
      run: pnpm exec prettier {staged_files} --ignore-unknown --write
      stage_fixed: true

Fix test route
  apps/test-app/app/tests/tree/index.tsx
Due: copyright, format, lint

API development
  apps/test-app/app/tests/banner/index.tsx
  packages/kiwi-react/src/bricks/Banner.tsx
Due: copyright, format, lint

Use Dialog instead of Popover
  packages/kiwi-react/src/bricks/ErrorRegion.tsx
Due: copyright, format, lint

Add dismiss button to sandbox
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

Docs.
  packages/kiwi-react/src/bricks/ErrorRegion.tsx
Due: copyright, format, lint

Docs
  packages/kiwi-react/src/bricks/ErrorRegion.tsx
Due: copyright, format, lint

Revert merge quirks
  packages/kiwi-react/src/bricks/Tree.tsx
  packages/kiwi-react/src/bricks/TreeItem.css
Due: copyright, format, lint

Add tests/error-region route
  apps/test-app/app/components.ts
  apps/test-app/app/tests/error-region/index.tsx
  apps/test-app/app/tests/tree/index.tsx
Due: copyright, format, lint

Tests
  apps/test-app/app/tests/error-region/index.spec.ts
  apps/test-app/app/tests/error-region/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/error-region/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/error-region/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/error-region/index.tsx
Due: copyright, format, lint

fixing select overflow
  packages/kiwi-react/src/bricks/Select.css
Due: copyright

Fixing select option background
  packages/kiwi-react/src/bricks/Select.css
Due: copyright

moving to layer base
  packages/kiwi-react/src/bricks/Select.css
Due: copyright

Fixing Select component overflow (#506)
  packages/kiwi-react/src/bricks/Select.css
Due: copyright

Fixing Select component options background (#507)
  packages/kiwi-react/src/bricks/Select.css
Due: copyright

Add layers to divider.
  packages/kiwi-react/src/bricks/Divider.css
Due: copyright

Initial commit.
  apps/test-app/app/sandbox.module.css
  apps/test-app/app/tests/dropdown-menu/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/list/index.css
  apps/test-app/app/tests/list/index.spec.ts
  apps/test-app/app/tests/list/index.spec.ts-snapshot.-visual-forced-colors-active-1-chromium-linux.png
  apps/test-app/app/tests/list/index.spec.ts-snapshot.-visual-forced-colors-active-1-firefox-linux.png
  apps/test-app/app/tests/list/index.spec.ts-snapshot.-visual-forced-colors-default-1-chromium-linux.png
  apps/test-app/app/tests/list/index.spec.ts-snapshot.-visual-forced-colors-default-1-firefox-linux.png
  apps/test-app/app/tests/list/index.spec.ts-snapshot.-visual-forced-colors-hovered-1-chromium-linux.png
  apps/test-app/app/tests/list/index.spec.ts-snapshot.-visual-forced-colors-hovered-1-firefox-linux.png
  apps/test-app/app/tests/list/index.spec.ts-snapshot.-visual-forced-colors-pressed-1-chromium-linux.png
  apps/test-app/app/tests/list/index.spec.ts-snapshot.-visual-forced-colors-pressed-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-default-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-default-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-description-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-description-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-error-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-error-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-focused-item-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-focused-item-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-hovered-item-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-hovered-item-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-overflow-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-overflow-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-selected-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-selected-1-firefox-linux.png
  packages/kiwi-react/src/bricks/TreeItem.css
  packages/kiwi-react/src/bricks/~utils.ListItem.css
Due: copyright, format, lint

Remove active state visual tests from list.
  apps/test-app/app/tests/list/index.css
  apps/test-app/app/tests/list/index.spec.ts
  apps/test-app/app/tests/list/index.spec.ts-snapshot.-visual-active-1-chromium-linux.png
  apps/test-app/app/tests/list/index.spec.ts-snapshot.-visual-active-1-firefox-linux.png
  apps/test-app/app/tests/list/index.spec.ts-snapshot.-visual-active-1-webkit-linux.png
  apps/test-app/app/tests/list/index.spec.ts-snapshot.-visual-forced-colors-active-1-chromium-linux.png
  apps/test-app/app/tests/list/index.spec.ts-snapshot.-visual-forced-colors-active-1-firefox-linux.png
  apps/test-app/app/tests/list/index.tsx
Due: copyright, format, lint

Avoid conditional rendering in ErrorRegion
  packages/kiwi-react/src/bricks/ErrorRegion.css
  packages/kiwi-react/src/bricks/ErrorRegion.tsx
Due: copyright, format, lint

Allow overriding label of a section
  apps/test-app/app/sandbox.tsx
  packages/kiwi-react/src/bricks/ErrorRegion.tsx
Due: copyright, format, lint

Remove label and reset role
  apps/test-app/app/tests/error-region/index.spec.ts
  packages/kiwi-react/src/bricks/ErrorRegion.tsx
Due: copyright, format, lint

Remove Divider
  packages/kiwi-react/src/bricks/ErrorRegion.css
  packages/kiwi-react/src/bricks/ErrorRegion.tsx
Due: copyright, format, lint

Remove unused forced-color tests, add styles for tree node with error.
  apps/test-app/app/tests/list/index.spec.ts
  apps/test-app/app/tests/list/index.spec.ts-snapshot.-visual-forced-colors-hovered-1-chromium-linux.png
  apps/test-app/app/tests/list/index.spec.ts-snapshot.-visual-forced-colors-hovered-1-firefox-linux.png
  apps/test-app/app/tests/list/index.spec.ts-snapshot.-visual-forced-colors-pressed-1-chromium-linux.png
  apps/test-app/app/tests/list/index.spec.ts-snapshot.-visual-forced-colors-pressed-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts
  packages/kiwi-react/src/bricks/TreeItem.css
Due: copyright, format, lint

Fix issue where tests weren't running, add updated test images.
  apps/test-app/app/tests/list/index.tsx
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-error-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-forced-colors-error-1-firefox-linux.png
Due: copyright, format, lint

make context local to TreeItem
  packages/kiwi-react/src/bricks/DropdownMenu.internal.tsx
  packages/kiwi-react/src/bricks/DropdownMenu.tsx
  packages/kiwi-react/src/bricks/TreeItem.tsx
Due: copyright, format, lint

fix arrow key handling
  packages/kiwi-react/src/bricks/TreeItem.tsx
Due: copyright, format, lint

Use where instead of is & forced-colors at the bottom.
  packages/kiwi-react/src/bricks/Divider.css
Due: copyright

Use `@layer`s and `:where` instead of `:is` in `<Divider>` (#511)
  packages/kiwi-react/src/bricks/Divider.css
Due: copyright

Fix `forced-colors` of `<Switch>` (#504)
  apps/test-app/app/tests/switch/index.spec.ts
  apps/test-app/app/tests/switch/index.spec.ts-snapshot.-visual-forced-colors-checked-1-chromium-linux.png
  apps/test-app/app/tests/switch/index.spec.ts-snapshot.-visual-forced-colors-checked-1-firefox-linux.png
  apps/test-app/app/tests/switch/index.spec.ts-snapshot.-visual-forced-colors-disabled-1-chromium-linux.png
  apps/test-app/app/tests/switch/index.spec.ts-snapshot.-visual-forced-colors-disabled-1-firefox-linux.png
  apps/test-app/app/tests/switch/index.spec.ts-snapshot.-visual-forced-colors-disabled-checked-1-chromium-linux.png
  apps/test-app/app/tests/switch/index.spec.ts-snapshot.-visual-forced-colors-disabled-checked-1-firefox-linux.png
  apps/test-app/app/tests/switch/index.spec.ts-snapshot.-visual-forced-colors-unchecked-1-chromium-linux.png
  apps/test-app/app/tests/switch/index.spec.ts-snapshot.-visual-forced-colors-unchecked-1-firefox-linux.png
  packages/kiwi-react/src/bricks/Switch.css
Due: copyright, format, lint

Move focus on dismiss
  packages/kiwi-react/src/bricks/ErrorRegion.tsx
Due: copyright, format, lint

update `README.md`
  packages/kiwi-react/README.md
Due: none

update `README.md` (#514)
  packages/kiwi-react/README.md
Due: none

Update label to: Dismiss [error message]
  packages/kiwi-react/src/bricks/ErrorRegion.tsx
Due: copyright, format, lint

Disable autoFocusOnShow
  packages/kiwi-react/src/bricks/ErrorRegion.tsx
Due: copyright, format, lint

Fix `forced-colors` of `<Checkbox>` & `<Radio>` (#503)
  apps/test-app/app/tests/checkbox/index.spec.ts
  apps/test-app/app/tests/checkbox/index.spec.ts-snapshot.-visual-forced-colors-checked-1-chromium-linux.png
  apps/test-app/app/tests/checkbox/index.spec.ts-snapshot.-visual-forced-colors-checked-1-firefox-linux.png
  apps/test-app/app/tests/checkbox/index.spec.ts-snapshot.-visual-forced-colors-disabled-1-chromium-linux.png
  apps/test-app/app/tests/checkbox/index.spec.ts-snapshot.-visual-forced-colors-disabled-1-firefox-linux.png
  apps/test-app/app/tests/checkbox/index.spec.ts-snapshot.-visual-forced-colors-disabled-checked-1-chromium-linux.png
  apps/test-app/app/tests/checkbox/index.spec.ts-snapshot.-visual-forced-colors-disabled-checked-1-firefox-linux.png
  apps/test-app/app/tests/checkbox/index.spec.ts-snapshot.-visual-forced-colors-disabled-indeterminate-mixed-1-chromium-linux.png
  apps/test-app/app/tests/checkbox/index.spec.ts-snapshot.-visual-forced-colors-disabled-indeterminate-mixed-1-firefox-linux.png
  apps/test-app/app/tests/checkbox/index.spec.ts-snapshot.-visual-forced-colors-indeterminate-mixed-1-chromium-linux.png
  apps/test-app/app/tests/checkbox/index.spec.ts-snapshot.-visual-forced-colors-indeterminate-mixed-1-firefox-linux.png
  apps/test-app/app/tests/checkbox/index.spec.ts-snapshot.-visual-forced-colors-unchecked-1-chromium-linux.png
  apps/test-app/app/tests/checkbox/index.spec.ts-snapshot.-visual-forced-colors-unchecked-1-firefox-linux.png
  apps/test-app/app/tests/radio/index.spec.ts
  apps/test-app/app/tests/radio/index.spec.ts-snapshot.-visual-forced-colors-checked-1-chromium-linux.png
  apps/test-app/app/tests/radio/index.spec.ts-snapshot.-visual-forced-colors-checked-1-firefox-linux.png
  apps/test-app/app/tests/radio/index.spec.ts-snapshot.-visual-forced-colors-disabled-1-chromium-linux.png
  apps/test-app/app/tests/radio/index.spec.ts-snapshot.-visual-forced-colors-disabled-1-firefox-linux.png
  apps/test-app/app/tests/radio/index.spec.ts-snapshot.-visual-forced-colors-disabled-checked-1-chromium-linux.png
  apps/test-app/app/tests/radio/index.spec.ts-snapshot.-visual-forced-colors-disabled-checked-1-firefox-linux.png
  apps/test-app/app/tests/radio/index.spec.ts-snapshot.-visual-forced-colors-unchecked-1-chromium-linux.png
  apps/test-app/app/tests/radio/index.spec.ts-snapshot.-visual-forced-colors-unchecked-1-firefox-linux.png
  packages/kiwi-react/src/bricks/Checkbox.css
Due: copyright, format, lint

Remove unused fallback
  packages/kiwi-react/src/bricks/ErrorRegion.css
Due: copyright

Add `position: relative`
  packages/kiwi-react/src/bricks/ErrorRegion.css
Due: copyright

Revert tabPanel css
  apps/test-app/app/sandbox.module.css
Due: copyright

Revert onDismiss changes
  packages/kiwi-react/src/bricks/ErrorRegion.tsx
Due: copyright, format, lint

Padding as static var
  packages/kiwi-react/src/bricks/ErrorRegion.css
Due: copyright
