Repository iTwin/stratakit: changes, and which lefthook commands are due for each by the changed paths.
All: copyright, format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    copyright:
      glob: "*.{js,ts,jsx,tsx,css,html}"
      run: pnpm lint:copyright {staged_files} --fix
      stage_fixed: true

    format:
      glob: "*.{js,ts,jsx,tsx,json,jsonc}"
      run: pnpm biome format --write {staged_files}
      stage_fixed: true

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm biome lint --write {staged_files}
      stage_fixed: true

    prettier:
      exclude:
        - "*.{js,ts,jsx,tsx,cjs,cts,mjs,mts,json,jsonc}"
      run: pnpm exec prettier {staged_files} --ignore-unknown --write
      stage_fixed: true

hash instead of `useId` for deduping
  packages/kiwi-react/src/bricks/Icon.tsx
  packages/kiwi-react/src/bricks/~utils.tsx
Due: copyright, format, lint

cleanup
  packages/kiwi-react/src/bricks/Root.internal.tsx
  packages/kiwi-react/src/bricks/~utils.tsx
Due: copyright, format, lint

refactor
  packages/kiwi-react/src/bricks/Icon.tsx
Due: copyright, format, lint

Add shimmer animation to `<Skeleton>` (#448)
  packages/kiwi-react/src/bricks/Skeleton.css
Due: copyright

internal: add `zustand` and wrapper hooks
  packages/kiwi-react/package.json
  packages/kiwi-react/src/bricks/DropdownMenu.tsx
  packages/kiwi-react/src/bricks/Field.tsx
  packages/kiwi-react/src/bricks/Tooltip.tsx
  packages/kiwi-react/src/bricks/~hooks.ts
  pnpm-lock.yaml
Due: copyright, format, lint

readability
  packages/kiwi-react/src/bricks/Icon.tsx
  packages/kiwi-react/src/bricks/Root.tsx
  packages/kiwi-react/src/bricks/~utils.tsx
Due: copyright, format, lint

Destructure icon as iconProp
  packages/kiwi-react/src/bricks/TreeItem.tsx
Due: copyright, format, lint

Set list-item-color var instead of color property in modifier.
  packages/kiwi-react/src/bricks/TreeItem.css
  packages/kiwi-react/src/bricks/~utils.ListItem.css
Due: copyright

Re-use tree-item-color for description.
  packages/kiwi-react/src/bricks/TreeItem.css
Due: copyright

Comments
  packages/kiwi-react/src/bricks/Table.css
  packages/kiwi-react/src/bricks/Table.tsx
Due: copyright, format, lint

Comments
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

Comments
  apps/test-app/app/~utils.module.css
  apps/test-app/app/~utils.tsx
Due: copyright, format, lint

Remove `user-select: none`
  apps/test-app/app/~utils.module.css
Due: copyright

Use Disclosure pattern
  packages/kiwi-react/src/bricks/TreeError.css
  packages/kiwi-react/src/bricks/TreeError.tsx
Due: copyright, format, lint

Make TreeError uncontrolled
  apps/test-app/app/sandbox.tsx
  apps/test-app/app/tests/tree/index.tsx
  packages/kiwi-react/src/bricks/TreeError.tsx
Due: copyright, format, lint

Add accent tone to badge
  apps/test-app/app/tests/badge/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/badge/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/badge/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/badge/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/badge/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/badge/index.tsx
  packages/kiwi-react/src/bricks/Badge.css
  packages/kiwi-react/src/bricks/Badge.tsx
Due: copyright, format, lint

Use Popover pattern
  packages/kiwi-react/src/bricks/TreeError.css
  packages/kiwi-react/src/bricks/TreeError.tsx
Due: copyright, format, lint

Remove sticky behavior
  apps/test-app/app/sandbox.module.css
  apps/test-app/app/tests/tree/index.tsx
  packages/kiwi-react/src/bricks/TreeError.css
Due: copyright, format, lint

Add `accent` tone to `<Badge>` (#477)
  apps/test-app/app/tests/badge/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/badge/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/badge/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/badge/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/badge/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/badge/index.tsx
  packages/kiwi-react/src/bricks/Badge.css
  packages/kiwi-react/src/bricks/Badge.tsx
Due: copyright, format, lint

Caption height and vertical centering
  packages/kiwi-react/src/bricks/Table.css
Due: copyright

Images
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-default-1-chromium-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-default-1-firefox-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-default-1-webkit-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-forced-colors-1-chromium-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-forced-colors-1-firefox-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-hovered-row-1-chromium-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-hovered-row-1-firefox-linux.png
  apps/test-app/app/tests/table/index.spec.ts-snapshot.-visual-hovered-row-1-webkit-linux.png
Due: none

Move styles up
  packages/kiwi-react/src/bricks/Table.css
Due: copyright

Fixed current page styling
  apps/test-app/app/~utils.module.css
Due: copyright

Use anchor in tree item message
  apps/test-app/app/sandbox.tsx
  apps/test-app/app/tests/tree/index.tsx
Due: copyright, format, lint

rework caching
  packages/kiwi-react/src/bricks/Icon.tsx
  packages/kiwi-react/src/bricks/Root.tsx
  packages/kiwi-react/src/bricks/~utils.tsx
Due: copyright, format, lint

Add Tree.ErrorItemAnchor
  apps/test-app/app/sandbox.tsx
  apps/test-app/app/tests/tree/index.tsx
  packages/kiwi-react/src/bricks/Tree.tsx
  packages/kiwi-react/src/bricks/TreeError.tsx
Due: copyright, format, lint

remove memoization
  packages/kiwi-react/src/bricks/Icon.tsx
Due: copyright, format, lint

IIFE
  packages/kiwi-react/src/bricks/Icon.tsx
Due: copyright, format, lint

implement runtime fallback for `<Icon>` URLs (#455)
  apps/test-app/app/tests/icon/index.spec.ts
  apps/test-app/app/tests/icon/index.spec.ts-snapshot.-visual-data-uri-fallback-1-chromium-linux.png
  apps/test-app/app/tests/icon/index.spec.ts-snapshot.-visual-data-uri-fallback-1-firefox-linux.png
  apps/test-app/app/tests/icon/index.spec.ts-snapshot.-visual-data-uri-fallback-1-webkit-linux.png
  apps/test-app/app/tests/icon/index.tsx
  apps/test-app/app/tests/tree/index.tsx
  packages/kiwi-icons/README.md
  packages/kiwi-react/src/bricks/Icon.tsx
  packages/kiwi-react/src/bricks/Root.internal.tsx
  packages/kiwi-react/src/bricks/Root.tsx
  packages/kiwi-react/src/bricks/~utils.tsx
Due: copyright, format, lint

Fix build issue
  packages/kiwi-react/src/bricks/TreeError.tsx
Due: copyright, format, lint

Update apps/test-app/app/sandbox.module.css
  apps/test-app/app/sandbox.module.css
Due: copyright

Add Skeleton in sandbox example (#451)
  apps/test-app/app/sandbox.module.css
  apps/test-app/app/sandbox.tsx
Due: copyright, format, lint

UI for variants of demo pages (#394)
  apps/test-app/app/tests/tests.module.css
  apps/test-app/app/tests/tests.tsx
  apps/test-app/app/~utils.module.css
  apps/test-app/app/~utils.tsx
  apps/test-app/playwright.config.ts
Due: copyright, format, lint

Initial commit, unfinished.
  apps/test-app/app/tests/banner/index.spec.ts
  apps/test-app/app/tests/banner/index.tsx
  packages/kiwi-react/src/bricks/Banner.css
  packages/kiwi-react/src/bricks/Banner.tsx
  packages/kiwi-react/src/bricks/Icon.tsx
  packages/kiwi-react/src/bricks/index.ts
  packages/kiwi-react/src/bricks/styles.css
Due: copyright, format, lint

Caption has no min-block-size
  packages/kiwi-react/src/bricks/Table.css
Due: copyright

Format
  packages/kiwi-react/src/bricks/Table.css
Due: copyright

Move --🥝list-item-color
  packages/kiwi-react/src/bricks/~utils.ListItem.css
Due: copyright

Add `error` prop to `<Tree.Item>` component (#466)
  apps/test-app/app/tests/tree/index.spec.ts
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-error-1-chromium-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-error-1-firefox-linux.png
  apps/test-app/app/tests/tree/index.spec.ts-snapshot.-visual-error-1-webkit-linux.png
  apps/test-app/app/tests/tree/index.tsx
  packages/kiwi-react/src/bricks/Icon.tsx
  packages/kiwi-react/src/bricks/TreeItem.css
  packages/kiwi-react/src/bricks/TreeItem.tsx
  packages/kiwi-react/src/bricks/~utils.ListItem.css
Due: copyright, format, lint

isolate changes for tab overflow handling
  packages/kiwi-react/src/bricks/Tabs.css
Due: copyright
